@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: black;
  color: white;
  display: flex;
  position: relative;

  h1 {
    position: absolute;
    left: 100px;
    top: 100px;
    font-family: A DAY WITHOUT SUN;
    font-size: 1920px;
    font-weight: normal;
    line-height: 2000px;
  }

  video {
    position: absolute;
    width: 341px;
    height: 316px;
    top: 1150px;
    left: 1620px;
  }

  h3 {
    position: absolute;
    width: 1041px;
    height: 59px;
    left: 52px;
    top: 1451px;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    transform: rotate(270deg);
    transform-origin: 0 0;
  }
}