@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: black;
  overflow: scroll;
  color: white;
  display: flex;
  position: relative;

  h1.desktop {
    position: absolute;
    left: 100px;
    top: 100px;
    font-family: A DAY WITHOUT SUN;
    font-size: 1920px;
    font-weight: normal;
    line-height: 2000px;
  }

  .mobile h1:nth-child(1) {
    position: absolute;
    left: 400px;
    top: 200px;
    font-family: A DAY WITHOUT SUN;
    font-size: 600px;
    font-weight: normal;
    line-height: 1000px;
  }

  .mobile h1:nth-child(2) {
    position: absolute;
    left: 400px;
    top: 700px;
    font-family: A DAY WITHOUT SUN;
    font-size: 600px;
    font-weight: normal;
    line-height: 1000px;
  }

  .mobile h1:nth-child(3) {
    position: absolute;
    left: 400px;
    top: 1200px;
    font-family: A DAY WITHOUT SUN;
    font-size: 600px;
    font-weight: normal;
    line-height: 1000px;
  }

  .mobile h1:nth-child(4) {
    position: absolute;
    left: 400px;
    top: 1700px;
    font-family: A DAY WITHOUT SUN;
    font-size: 600px;
    font-weight: normal;
    line-height: 1000px;
  }

  video {
    position: absolute;
    width: 341px;
    height: 316px;
    top: 1150px;
    left: 1620px;
  }

  h3 {
    position: absolute;
    width: 1041px;
    height: 59px;
    left: 52px;
    top: 1451px;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    transform: rotate(270deg);
    transform-origin: 0 0;
  }
}

.desktop {
  display: block;
}
.mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .wrapper {
    video {
      position: absolute;
      width: 500px;
      height: 500px;
      top: 2400px;
      left: 250px;
      transform: rotate(90deg);
    }
  }
}