@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: black;
  color: white;
  display: flex;
  position: relative;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  .backImage {
    width: 960px;
    height: 1497px;
    left: 0px;
    top: 0px;
  }

  .backImage2 {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 960px;
    top: 0px;
  }

  .section1 {
    position: absolute;
    width: 789px;
    height: 651px;
    left: 83px;
    top: 68px;

    font-family: Aldrich;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
  }

  h1 {
    position: absolute;
    height: 443.05px;
    left: 6.42%;
    right: 54.78%;
    top: calc(50% - 443.05px/2 + 250.03px);

    font-family: Internal Rainbows;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    transform: rotate(3deg);
  }

  .section2 {
    position: absolute;
    width: 789px;
    height: 178px;
    left: 78px;
    top: 1266px;

    font-family: Aldrich;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
  }

  .section3 {
    position: absolute;
    width: 851px;
    height: 160.35px;
    left: 930px;
    top: 118.17px;

    font-style: normal;
    font-weight: normal;
    font-family: Aldrich;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    transform: rotate(-5deg);

    span {
      font-family: Acme;
      font-size: 23px;
    }
  }

  .section4 {
    position: absolute;
    width: 851px;
    height: 895px;
    left: 990px;
    top: 546px;
    font-family: Aldrich;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
  }
}