@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background: #E5E5E5;

  .backImage1 {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 0px;
    top: 0px;
  }

  .backImage2 {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 960px;
    top: 0px;
  }

  .textBack1 {
    position: absolute;
    width: 816px;
    height: 342px;
    left: 75px;
    top: 69px;
    background: #003172;
  }

  .textBack2 {
    position: absolute;
    width: 816px;
    height: 1028px;
    left: 75px;
    top: 435px;
    
    background: #C96634;    
  }

  .textBack3 {
    position: absolute;
    width: 816px;
    height: 908px;
    left: 1032px;
    top: 40px;

    background: #003172;
  }

  .textBack4 {
    position: absolute;
    width: 816px;
    height: 497px;
    left: 1032px;
    top: 966px;
    
    background: #C96634;    
  }

  p {
    font-family: Chilanka;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 28.5px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;

    span {
      font-family: Chivo;
    }

    &.text1 {
      width: 670px;
      height: 178px;
      left: 148px;
      top: 135px;
    }

    &.text2 {
      width: 670px;
      height: 922px;
      left: 148px;
      top: 473px;
    }
    
    &.text3 {
      width: 670px;
      height: 851px;
      left: 1108px;
      top: 75px;
      font-size: 18px;
      line-height: 27px;
    }

    &.text4 {
      width: 670px;
      height: 178px;
      left: 1111px;
      top: 1009px;
    }
  }


}