@import './styles.module.scss';

.wrapper {
    @include magazineWrapper();    

    .background {
        position: absolute;
        width: 1920px;
        height: 1497px;
        left: 0px;
        top: 0px;
    }

    .link {
        position: absolute;
        width: 108px;
        height: 33px;
        bottom: 100px;
        right: 50px;

        font-family: Gayathri;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 150%;
        /* or 15px */


        color: #0044F3;
    }
}