@import './styles.module.scss';

.wrapper {
    @include magazineWrapper();    
    background: #E5E5E5;

    .background {
        position: absolute;
        width: 960px;
        height: 1497px;
        left: 0px;
        top: 0px;
    }

    .right {
        position: absolute;
        width: 960px;
        height: 1497px;
        left: 960px;
        top: 0px;
    }

    .defiGems {
        position: absolute;
        width: 599px;
        height: 132px;
        left: 15px;
        top: 136px;

        font-family: Empirez;
        font-style: normal;
        font-weight: normal;
        font-size: 120px;
        line-height: 110%;
        /* identical to box height, or 132px */
    }

    .diamond2 {
        position: absolute;
        width: 152px;
        height: 152px;
        left: 462px;
        top: 16px;
    }

    .diamond4 {
        position: absolute;
        width: 346px;
        height: 346px;
        left: 579px;
        top: 16px;
    }

    .diamond1 {
        position: absolute;
        width: 96px;
        height: 96px;
        left: 859px;
        top: 0px;
    }

    .text {
        position: absolute;
        width: 564.71px;
        height: 857.49px;
        left: 161px;
        top: 317.22px;
        
        // font-family: Think Thick;
        font-style: normal;
        font-weight: 100;
        font-size: 13px;
        line-height: 110%;
        /* or 33px */
        
        
        color: #FAD3F0;

        .textTitle {
            font-size: 30px;
            font-family: Cool Chaos;
        }

        
        transform: rotate(-5deg);
    }
    .twitter1 {
        position: absolute;
        width: 28px;
        height: 28px;
        left: 261px;
        top: 321px;
    }

    .twitter2 {
        position: absolute;
        width: 28px;
        height: 28px;
        left: 336px;
        top: 581px;
    }

    .twitter3 {
        position: absolute;
        width: 28px;
        height: 28px;
        left: 273px;
        top: 840px;
    }

    .diamond3 {
        position: absolute;
        width: 443px;
        height: 418px;
        left: 355px;
        top: 1057px;
    }

    .diamondHa {
        position: absolute;
        left: 596px;
        top: 1387px;

        font-family: Empirez;
        font-style: normal;
        font-weight: normal;
        font-size: 80px;
        line-height: 110%;
        /* identical to box height, or 88px */
    }

    .rightText {
        position: absolute;
        width: 851px;
        height: 116px;
        left: 1069px;
        top: 36px;

        font-family: DIN Alternate;
        font-style: normal;
        font-weight: bold;
        font-size: 105px;
        line-height: 110%;
        /* identical to box height, or 116px */
        @include stroke(5px, black);

        color: #FFFFFF;
    }

    .rightText1 {
        position: absolute;
        width: 392px;
        height: 792px;
        left: 1007px;
        top: 179px;

        font-family: DIN Alternate;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 110%;
        /* or 18px */

        color: #FFFFFF;
    }

    .rightText2 {
        position: absolute;
        width: 396px;
        height: 68.22px;
        left: 1484.95px;
        top: 200px;

        font-family: Bungee Inline;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 110%;
        /* or 33px */


        color: #6900BC;
        @include stroke(1px, #6900BC);

        box-sizing: border-box;
        transform: rotate(5deg);
    }

    .rightText3 {
        position: absolute;
        width: 392px;
        height: 486px;
        left: 1482.36px;
        top: 277px;

        font-family: DIN Alternate;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 110%;
        /* or 18px */


        color: #FFFFFF;

        transform: rotate(5deg);
    }
}