.container {
  display: flex;
  flex-direction: column;
  background: #f7f7f7;
  overflow: overlay;

  @media (max-width: 576px) {
    width: calc(100vw - 2rem);
  }
}

.headers {
  display: flex;
  div {
    border: 0.5px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 37px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bold;
    cursor: pointer;
    span {
      font-size: 7px;
    }
    &.active {
      background: #e4e4e4;
    }
  }

  .header {
    position: relative;
    text-align: center;

    .tooltip {
      position: absolute;
      display: none;
      background-color: black;
      color: #fff;
      text-align: center;
      padding: 5px 5px;
      border-radius: 6px;
      top: 2rem;
    }

    &:hover .tooltip{
      display: block!important;
    }
  }

}

.bridge {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 100%;
}

.bridgeWrapper {
  width: 648px;
  height: 417px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 3rem;
  position: relative;

  @media (max-width: 768pax) and (min-width: 568px) {
    width: 400px!important;
  }

  @media (max-width: 568px) {
    width: 100% !important;
  }

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tabTitle {
    font-weight: 600;
    font-size: 11px;
    color: #999999;
  }
  .underline {
    width: 478px;
    height: 1px;
    background: #e6e6e6;
    margin-top: 11px;
    margin-bottom: 48px;
  }
  .flexRow {
    display: flex;
    flex-direction: row;
    .actionButton721 {
      height: 36px;
      font-size: 10px;
      &:first-child {
        margin-right: 40px;
      }
    }
  }
  .bridgeTable {
    .header {
      display: flex;
      justify-content: space-between;
      padding-right: 15px;
      width: 478px;
      color: #999999;
      font-size: 11px;
      span:first-child {
        margin-right: 90px;
      }
    }
  }
}

.bridgeTitle {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 29px;
  margin-bottom: 20px;
}

.helperText {
  font-style: normal;
  font-weight: 900;
  font-size: 0.5625rem;
  line-height: 11px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #b6b6b6;
}

.amount {
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 39px;
  text-align: center;
}

.transferButton,
.actionButton {
  width: 168px;
  height: 41px;
  background: #111111;
  border: 1px solid #000000;
  box-sizing: border-box;
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.transferButton {
  height: 44px;
  margin-left: auto;
  margin-right: auto;
}

.actionText {
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 1px 1px #000000;
  margin: auto;
}

.orText {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 24px;
  text-transform: uppercase;
  color: #999999;
  margin-top: 52px;
  margin-bottom: 20px;
}

.ethColor {
  color: #4f2dea;
}

.maticColor {
  color: #ea882d;
}

.withdrawalWrapper {
  background: #f7f7f7;
  width: 650px;
  padding: 30px 20px;
  text-align: center;
  @media (max-width:540px) {
    width: 350px;
    margin-bottom: 110px;
  }
}

.withdrawalRow {
  display: flex;
  height: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  border-style: none none dashed;
  margin-top: 6px;
}

.withdrawalHeader {
  display: flex;
  color: #4f2dea;
  height: 40px;
}

.withdrawalRowItem {
  width: 25%;
  text-align: center;
}

.withdrawButton {
  width: 168px;
  height: 28px;
  background: #111111;
  border: 1px solid #000000;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.withdrawText {
  font-weight: bold;
  font-size: 0.625rem;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #ffffff;
  margin: auto;
}

.depositWithdrawWrapper {
  position: relative;
  text-align: center;
  width: 648px;
  height: 471px;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.backButton {
  position: absolute;
  width: 103px;
  height: 22px;
  left: 26px;
  bottom: 17px;
  font-size: 8px;
  color: white;
  background: #777777;
  padding: 0;
  border: none;
}

.loader {
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableBody {
  width: 478px;
  height: 262px;
  overflow-y: auto;
  margin-top: -30px;
}

.nftRow {
  display: flex;
  height: 200px;
  position: relative;
  .item {
    transform: translate(calc(-50% + 52px), calc(-50% + 27px)) scale(0.26, 0.28);
  }
  span:nth-child(2) {
    position: absolute;
    left: 220px;
    top: 20px;
    color: #EA882D;
  }
  .nftCheckWrapper {
    position: absolute;
    left: 165px;
  }
}

.scroll::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}
.scroll::-webkit-scrollbar-button {
  display: none;
}

.scroll::-webkit-scrollbar-thumb {
  min-height: 28px;
  background: #E6E6E6;
  background-clip: padding-box;
  border: 1px solid rgba(192, 192, 192, 0.5);
  border-radius: 2px;
}

.scroll::-webkit-scrollbar-track {
  background: none;
  border-radius: 2px;
}

.confirmButton721 {
  height: 20px;
  padding: 0px 8px;
  font-size: 7px;
  margin-top: 22px;
}

.erc721Wrapper {
  padding-top: 30px;
}