.magazinePageWrapper {
  width: 960px;
  height: 1497px;
  overflow: hidden;
  .contentWrapper {
    width: 1920px;
    height: 1497px;
    transform-origin: 0 0;
    transform: scale(calc(640 / 1920));

    &.secondPart {
      margin-left: -100%;
    }

    @media (min-width: 1481px) {
      transform: scale(calc(1400 / 1920));
    }
  
    @media (min-width: 1281px) and (max-width: 1480px) {
      transform: scale(calc(1200 / 1920));
    }
  
    @media (min-width: 961px) and (max-width: 1280px) {
      transform: scale(calc(850 / 1920));
    }
  
    @media (min-width: 641px) and (max-width: 960px) {
      transform: scale(calc(640 / 1920));
    }
  }
}