.webViewerWrapper {
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  overflow-x: scroll;
  background-color: black;
  position: relative;
  min-height: 100%;

  .contentWrapper {
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .zoomViewer {
    position: absolute;
    left: 0;
    top: 0;
    color: red;
  }
}