@import "../../../assets/scss/helpers/grid.scss";
@import "../../../assets/scss/helpers/variables.scss";

.wrapper {
  @include wrapper();
  margin-bottom: 25px;
  margin-top: 118px;
  margin-left: 0;
  margin-right: 0;
  padding: 0 20px;
  @media screen and (min-width: 1320px) {
    max-width: 1320px;
    min-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

.title {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 3rem;
  line-height: 58px;
}

.info {
  background: #FAFAFA;
  padding: 35px 22px 22px 50px;
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 1024px) {
    flex-direction: column;
    .leftSection {
      margin-bottom: 20px;
    }
  }
}

.leftSection {
  padding-top: 10px;
}

.list {
  margin-top: 20px;
}

.item {
  line-height: 32px;
  width: 230px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}

.value {
  font-weight: 700;
}

.chartBottomText {
  font-size: 0.625rem;
  line-height: 24px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  color: $darkGray3;
}