.mainWrapper {
    padding-top: 80px;
    background: url("/images/blue_sky.png");
    background-size: cover;
  
    .wrapper {
      color: white;
      width: 100%;
      font-family: "Inter";
      margin-top: 50px;
      padding: 64px;
      position: relative;
    }
  }
  