.bottomLine {
  text-transform: uppercase;
  display: flex;
  background: #E5E5E5;
  font-family: "Inter";
  color: black;
  font-size: 16px;
  height: 105px;
  padding: 24px 64px;
  justify-content: space-between;
	align-items: center;

	&.transparent {
		background: transparent;
		border: 2px solid black;
	}
}
