.bottomLine {
  width: 100%;
  border: 2px solid;
}

.bottomItem {
  padding: 1rem 0;
  background: transparent;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
