.mapItemWrapper {
  position: absolute;
  width: 5%;
  background: transparent;

  @media (max-width: 640px)  {
    width: 60px;
  }
}
.mapItem {
  // position: absolute;
  // width: 5%;
  // @media (max-width: 640px)  {
  //   width: 60px;
  // }
  width: 100%;
}