@import '../../../../../assets/scss/helpers/variables.scss';
@import '../../../../../assets/scss/helpers/helpers.scss';

.wrapper {
  background-color: $lightGray1;
  padding: 34px 18px;
}

.titleWrapper {
  margin-bottom: 23px;
}

.title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  margin-right: 8px;
  display: inline-block;
}

.titleValue {
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
}

.headerTitle {
  display: grid;
  grid-template-columns: 70px 215fr 100fr 135fr;
  column-gap: 20px;
  border-bottom: 1px solid #E6E6E6;
}

.headerTitleItem {
  font-size: 10px;
  line-height: 24px;
  color:$darkGray3;
  font-weight: bold;
  padding-bottom: 9px;
  text-transform: uppercase;

  &:nth-child(3) {
    margin-left: auto;
    min-width: 80px;
    max-width: max-content;
    text-align: center;
  }

  &:nth-child(4) {
    min-width: 132px;
    max-width: max-content;
    text-align: center;
  }
}

.materialLine {
  max-height: 456px;
  overflow-y: auto;
  @include grayScroll();
}
