.wrapper {
  position: absolute;
  width: 960px;
  height: 330px;
  left: 960px;
  top: 599px;
  
  background: rgba(145, 0, 113, 0.8);
}

.title {
  position: absolute;
  width: 487px;
  height: 36px;
  left: 1196px;
  top: 640px;

  font-family: Courier;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 120.53%;
  color: #FFFFFF;
}

.description {
  position: absolute;
  width: 621px;
  height: 72px;
  left: 1129px;
  top: 699px;
  
  font-family: Courier;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 120.53%;
  /* or 18px */
  
  text-align: center;
  
  color: #FFFFFF;  
}

.unlock {
  position: absolute;
  width: 153px;
  height: 44px;
  left: 1363px;
  top: 812px;

  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 120.53%;
  text-align: center;
  color: #FFFFFF;

  background: rgba(145, 0, 113, 0.8);  

  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to bottom, white, black);
  &:hover {
    border-image-source: linear-gradient(to bottom, black, white);
  }
  &:active {
    background: rgba(145, 50, 113, 1); 
  }
}