@import '../../../assets/scss/helpers/grid.scss';

.wrapper {
  .productsSection {
    position: relative;
    margin-bottom: -5px;
    overflow: hidden;

    .backVideo {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .gamePad {
      position: absolute;
      width: 250px;
      left: 0rem;
      top: -3rem;
    }

    .body {
      display: grid;
      padding: 2rem;
      grid-template-columns: 1fr;
      align-items: flex-end;
      gap: 5rem;

      @include sm-width {
        padding: 5rem 3rem;
      }

      @include lg-width {
        grid-template-columns: repeat(2, 1fr);
      }

      @include md-width {
        padding: 7.5rem 0;
      }

      @include xl-width {
        padding: 7.5rem 5rem;
      }
    }
  }
}
