@import '../../assets/scss/helpers/grid.scss';

@keyframes scrolling {
  0% {
    transform: translateX(-1342px);
  }
  100% {
    transform: translateX(0px);
  }
}

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: transparent;

  .animationForm {
    display: flex;
    animation: scrolling 12s linear infinite;

    .node {
      display: flex;
      align-items: center;

      .toptext{
        width: 800px;
      }

      .text {
        text-transform: uppercase;
        text-align: center;
        color: transparent;
        font-weight: 600;
        font-family: m12;
        padding: 1.5rem 3rem;
        -webkit-text-stroke: 1px rgb(125, 254, 220);
        word-break: unset;
        white-space: nowrap;

        @media (min-width: 1440px) {
          font-size: 70px;
        }

        @media (max-width: 1440px) {
          font-size: 70px;
        }

        @media (max-width: 1200px) {
          font-size: 70px;
        }

        @media (max-width: 920px) {
          font-size: 70px;
        }
      }
    }
  }
}

.wrapper2 {
  width: 100%;
  background-color: black;
  height: 70px;
  z-index: 2;

  .node{
    margin: auto;
    z-index: 2;
    position: absolute;
    margin-left: auto;
    margin-right: auto;      
    left: 0;
    right: 0;
    text-align: center;
    width: 600px;
    margin-top: 10px;
    @include xs-width {
      width: 300px;
    }
  }

  img{
    width: 600px;

    @include xs-width {
      width: 300px;
    }
  }
}
