.wrapper {
    flex-grow: 1;

    .title {
        font-weight: 900;
        font-size: 45px;
        color: black;
        margin-bottom: 2rem;
    }

    .body {
        width: 100%;
        color: black;
        margin-bottom: 1rem;
    }

    .price {
        color: #999999;
        font-size: 27px;
        font-weight: normal;
        margin-bottom: 1rem;
    }

    .actionGroup {
        display: flex;
        .showHiddenButton {
            margin-left: 1rem;
        }

        .showHiddenButton:hover {
            opacity: 0.7;
        }

    }
}