.wrapper {
  position: absolute;
  background: #f7f7f7;
  width: 650px;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  padding: 30px 70px 80px;
  text-align: center;
}

.swapTitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 45px;
}

.swapText {
  font-weight: 900;
  font-size: 9px;
  line-height: 11px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #b6b6b6;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 60px;
}

.swapIcon {
  margin: 20px;
}

.balance {
  color: #999999;
  text-align: right;
}

.actionButton {
  width: 50%;
  margin-left: 25%;
  margin-top: 10px;
  height: 48px;
  background: #111111;
  border: 1px solid #000000;
  box-sizing: border-box;
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.actionText {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 1px 1px #000000;
  margin: auto;
}
