.textCenter {
  text-align: center;
}

.tableWrapper {
  max-height: 300px;
  overflow: auto;
}

.historyTable {
  width: 100%;
  color: white;
  text-align: center;

  th,
  tr,
  td {
    padding: 0.5rem;
    text-align: center;
    cursor: pointer;

    .ownerAvatar {
      width: 52px;
      height: 52px;
      border-radius: 50%;
    }
  }
}
