@import './styles.module.scss';

@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(-605px); }
}


.wrapper {
  @include magazineWrapper();
  height: 3090px;
  background-color: white;
  color: black;
  position: relative;
  
  .image2 {
    position: absolute;
    width: 320px;
    height: 3018px;
    left: 28px;
    top: 35px;
    
    background: #9F95DB;
  }
  .text4 {
    position: absolute;
    width: 276px;
    height: 120px;
    left: 50px;
    top: 77px;
    
    font-family: Nella Sue Demo;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 120.53%;
    /* or 60px */
    
    text-align: center;
    
    color: #FFFFFF;
  }
  .text5 {
    position: absolute;
    width: 250px;
    height: 339px;
    left: 63px;
    top: 231px;
    
    font-family: Jockey One;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */
    
    text-align: center;
    
    color: #FFFFFF;
  }
  .text6 {
    position: absolute;
    width: 250px;
    height: 767px;
    left: 63px;
    top: 892px;
    
    font-family: Jacques Francois;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */
    
    text-align: center;
    
    color: #FFFFFF;
  }
  .text7 {
    position: absolute;
    width: 250px;
    height: 772px;
    left: 61px;
    top: 1962px;
    
    font-family: Jacques Francois;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */
    
    text-align: center;
    
    color: #FFFFFF;
  }
}