@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 3171px;
  background-color: white;
  color: white;
  position: relative;

  .video {
    position: absolute;
    height: 100%;
    left: -40px;
    top: 0px;
    .video1 {
      position: absolute;
      left: -870px;
      height: 100%;
    }
  }
  .image1 {
    position: absolute;
    height: 1497px;
    left: 960px;
    top: 0px;
  }

  .image2 {
    position: absolute;
    width: 375px;
    height: 910px;
    left: 0px;
    top: 119px;
    
    background: #FFA800;
    border: 10px solid #FFFFFF;
    box-sizing: border-box;
  }

  .image3 {
    position: absolute;
    width: 375px;
    height: 318px;
    left: 0px;
    top: 1232px;
    
    background: #0076CB;
    border: 10px solid #FFFFFF;
    box-sizing: border-box;
  }

  .image4 {
    position: absolute;
    width: 375px;
    height: 390px;
    left: 0px;
    top: 1631px;
    
    background: #CB009E;
    border: 10px solid #FFFFFF;
    box-sizing: border-box;
  }

  .image5 {
    position: absolute;
    width: 375px;
    height: 459px;
    left: 0px;
    top: 2223px;
    
    background: #7F920E;
    border: 10px solid #FFFFFF;
    box-sizing: border-box;
  }

  .image6 {
    position: absolute;
    width: 375px;
    height: 249px;
    left: 0px;
    top: 2922px;
    
    background: #518CFF;
    border: 10px solid #FFFFFF;
    box-sizing: border-box;
  }

  .text1 {
    position: absolute;
    width: 547px;
    height: 169px;
    left: 1021px;
    top: 77px;
    
    font-family: Archie Websters;
    font-style: normal;
    font-weight: normal;
    font-size: 130px;
    line-height: 110%;
    /* or 143px */
    
    
    color: #FFFFFF;
  }

  .text2 {
    position: absolute;
    width: 700px;
    height: 66px;
    left: 1395px;
    top: 1032px;
    
    font-family: Archie Websters;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 110%;
    /* or 110px */
    
    
    color: #FFFFFF;
  }

  .text3 {
    position: absolute;
    width: 700px;
    height: 66px;
    left: 1387px;
    top: 1171px;

    font-family: Archie Websters;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 110%;
    /* or 110px */


    color: #FFFFFF;
  }

  .text4 {
    position: absolute;
    width: 23px;
    height: 630px;
    left: 1042px;
    top: 462px;

    font-family: Archie Websters;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 110%;
    /* or 88px */
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -20px;
    color: #FFFFFF;
  }

  .text5 {
    position: absolute;
    width: 135px;
    height: 51px;
    left: 28px;
    top: 217px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 110%;
    /* or 15px */
    
    
    color: #FFFFFF;
  }
  .text22 {
    position: absolute;
    width: 747px;
    height: 212px;
    left: 1118px;
    top: 282px;
    
    font-family: Mad Galaxy Demo;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 110%;
    /* or 19px */
    
    
    color: #FFFFFF;
    .text23 {
      font-family: Mada;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 16.5px;
    }
  }

  .text6 {
    position: absolute;
    width: 192px;
    height: 267px;
    left: 28px;
    top: 362px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 110%;
    /* or 15px */
    
    
    color: #FFFFFF;
  }

  .text7 {
    position: absolute;
    width: 316px;
    height: 51px;
    left: 28px;
    top: 637px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 110%;
    /* or 15px */
    
    
    color: #FFFFFF;
  }

  .text8 {
    position: absolute;
    width: 324px;
    height: 77px;
    left: 28px;
    top: 746px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 110%;
    /* or 15px */
    
    
    color: #FFFFFF;
  }
  .image7 {
    position: absolute;
    width: 211px;
    height: 211px;
    left: 168.72px;
    top: 106.72px;
    transform: rotate(10deg);
  }

  .image8 {
    position: absolute;
    width: 214px;
    height: 292.93px;
    left: 210.9px;
    top: 187.88px;
    transform: rotate(-30deg);
  }
  .text21 {
    position: absolute;
    width: 321px;
    height: 96px;
    left: 28px;
    top: 512px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 110%;
    /* or 15px */
    
    
    color: #FFFFFF;
  }
  .text9 {
    position: absolute;
    width: 324px;
    height: 138px;
    left: 36px;
    top: 1273px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 110%;
    /* or 15px */
    
    
    color: #FFFFFF;
  }
  
  .text10 {
    position: absolute;
    width: 308px;
    height: 208px;
    left: 34px;
    top: 1342px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 110%;
    /* or 15px */
    
    
    color: #FFFFFF;
  }
  
  .text11 {
    position: absolute;
    width: 309px;
    height: 51px;
    left: 33px;
    top: 1676px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 110%;
    /* or 15px */
    
    
    color: #FFFFFF;
  }
  .text12 {
    position: absolute;
    width: 309px;
    height: 77px;
    left: 30px;
    top: 1715px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 110%;
    /* or 15px */
    
    
    color: #FFFFFF;
  }

  .text13 {
    position: absolute;
    width: 376px;
    height: 62px;
    left: -4px;
    top: 2043px;
    
    font-family: Thunder Trooper;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 110%;
    /* or 55px */
    
    text-align: center;
    
    color: #FFFFFF;
  }
  .text14 {
    position: absolute;
    width: 705px;
    height: 51px;
    left: 33px;
    top: 2262px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 110%;
    /* or 15px */
    
    
    color: #FFFFFF;
  }

  .text15 {
    position: absolute;
    width: 291px;
    height: 77px;
    left: 33px;
    top: 2291px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 110%;
    /* or 15px */
    
    
    color: #FFFFFF;
  }

  .image9 {
    position: absolute;
    width: 252px;
    height: 365px;
    left: 112px;
    top: 2453px;
  }

  .text16 {
    position: absolute;
    width: 372px;
    height: 69px;
    left: -4px;
    top: 2975px;
    
    font-family: Prompt;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 110%;
    /* or 33px */
    
    text-align: center;
    
    color: #FFFFFF;
  }

  .text17 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 212px;
    height: 29px;
    left: 78px;
    top: 3072px;
    
    background: #EE5050;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px #000000;
    border-radius: 10px;
    font-family: Prompt;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 110%;
    /* or 17px */

    text-align: center;

    color: #FFFFFF;
    transition: transform .2s;
    &:hover {
      transform: scale(1.1);
    }
  }

  .text18 {
    position: absolute;
    width: 992px;
    height: 169px;
    left: -309px;
    top: 34px;
    
    font-family: Thunder Trooper;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 110%;
    /* or 55px */
    
    text-align: center;
    
    color: #FFFFFF;
    transition: transform .2s;
    &:hover {
        transform: scale(1.1);
    }
  }
  .image16 {
    position: absolute;
    width: 170px;
    height: 170px;
    left: 1568px;
    top: 421px;
  }
  .image10 {
    position: absolute;
    width: 79px;
    height: 79px;
    left: 1528px;
    top: 38px;
    transition: transform .2s;
    &:hover {
      transform: scale(1.1);
    }
  }
  .text19 {
    position: absolute;
    width: 376px;
    height: 62px;
    left: -4px;
    top: 2088px;
    
    font-family: Thunder Trooper;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 110%;
    /* or 55px */
    
    text-align: center;
    
    color: #FFFFFF;
  }
  .text20 {
    position: absolute;
    width: 376px;
    height: 62px;
    left: -4px;
    top: 2133px;
    
    font-family: Thunder Trooper;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 110%;
    /* or 55px */
    
    text-align: center;
    
    color: #FFFFFF;
  }
}
