@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: white;
  color: black;
  position: relative;

  .blackBack {
    background-color: black;
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 0px;
    top: 0px;
  }

  .leftImage {
    position: absolute;
    width: 262px;
    height: 1640px;
    left: -48px;
    top: -2px;
  }

  video {
    position: absolute;
    width: 858px;
    height: 871.25px;
    left: 21px;
    top: -369px;
  }

  .palaceImage {
    position: absolute;
    width: 1353px;
    height: 966px;
    left: 284px;
    top: 692px;
  }

  .rightImage {
    position: absolute;
    width: 950px;
    height: 793px;
    left: 1073px;
    top: 702px;
  }
}