@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 100vh;
  overflow: scroll;
  background-color: white;
  color: black;
  display: flex;
  position: relative;

  img {
    object-fit: fill;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
  }

  a {
    position: absolute;
    width: 231px;
    height: 66px;
    left: 0px;
    top: 10px;

    font-family: Gayathri;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 150%;
    /* or 15px */
    color: #0044F3; 
    border-bottom: 1px solid;
    span {
      text-decoration: underline;
    }

    &:hover {
      color: #0044F3;
    }
  }
}
