@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.wrapper {
  @include magazineWrapper();

  height: 100vh;
  overflow: scroll;
  background-color: white;
  color: white;
  display: flex;
  position: relative;
  white-space: normal;
  text-align: left;

  .innerWrapper {
    position: absolute;
    top: 0;
    img {
        width: 100%;
        margin-bottom: 26px;
    }
  }
}
