@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.wrapper {
  height: 100vh;
  overflow: scroll;
  background-color: white;
  color: white;
  display: flex;
  position: relative;
  white-space: normal;
  text-align: left;

  .innerWrapper {
    position: absolute;
    top: 0;
    img {
        width: 100%;
        margin-bottom: 26px;
    }
  }
}

@media only screen and (max-width: 768px){
  .wrapper {
    width: 768px;
  }
}

@media only screen and (max-width: 425px){
  .wrapper {
    width: 425px;
  }
}

@media only screen and (max-width: 375px){
  .wrapper {
    width: 375px;
  }
}

@media only screen and (max-width: 320px){
  .wrapper {
    width: 320px;
  }
}