@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.wrapper {
  @include magazineWrapper();

  height: 2784px;
  overflow: scroll;
  background-color: black;
  color: white;
  display: flex;
  position: relative;
  white-space: normal;
  text-align: left;

  .backImage {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2800px;
  }

  .innerWrapper {
    position: absolute;
    height: 2800px;
    overflow-x: hidden;
    top: 0;
    .headTitle {
        margin: 40px 30px;
        h1 {
            font-family: Digital Dare;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 110%;
        }
        
    }
    .imgSection {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 20px;
        img:nth-child(4) {
            position: absolute;
            width: 100px;
            right: 40px;
            top: calc(100vw - 170px);
        }
        h5 {
            position: absolute;
            top: calc(100vw - 160px);
            right: 120px;
            width: 110px;
            font-family: Finger Paint;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 110%;
            text-align: center;
        }

        .arrow {
            position: absolute;
            top: calc(100vw - 180px);
            left: calc(100vw - 300px);
            width: 160px;
            transform: rotate(90deg);
        }
    }

    .section1 {
        margin-top: 200px;
        width: 280px;
        margin-left: auto;
        margin-right: auto;
        p {
            font-family: Biryani;
            font-style: normal;
            font-weight: normal;
            font-size: 11px;
            line-height: 110%;
            margin-bottom: 20px;
        }
    }
    .title1 {
        font-family: Blacker Display;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 110%;
        margin: 30px auto;
        width: 260px;
    }
    .section2 {
        width: 260px;
        margin: 30px auto;
        font-family: Biryani;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 110%;
    }
    .section3 {
        position: relative;
        margin-bottom: 100px;
        width: 280px;
        margin-left: auto;
        margin-right: auto;
        .icon {
            width: 30px;
            height: auto;
        }
        .arrow {
            position: absolute;
            top: -50px;
            left: 60px;
            width: 100px;
            transform: rotate(125deg);
        }
        p {
            position: absolute;
            top: 20px;
            right: 10px;
            width: 160px;
            font-family: Finger Paint;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 110%;
            text-align: center;
            transform: rotate(-30deg);
        }
    }

    .section4 {
        font-family: 'Blacker Display';
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 110%;
        width: 280px;
        margin-left: auto;
        margin-right: auto;
        h4 {
            font-family: 'Blacker Display';
            font-weight: bolder;
        }
        ul {
            list-style: disc;
            margin-left: 30px;
        }
    }

    .section5 {
        margin-top: 60px;
        font-family: 'Blacker Display';
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 110%;
        width: 280px;
        margin-left: auto;
        margin-right: auto;
        h4 {
            font-family: 'Blacker Display';
            font-weight: bolder;
        }
        ul {
            list-style: disc;
            margin-left: 30px;
            margin-bottom: 30px;
        }

    }

  }
}
