@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 3963;
  background-color: black;
  color: white;
  position: relative;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  .backImage {
    width: 375px;
    height: 3963;
    left: 0px;
    top: 0px;
  }

  .section3 {
    position: absolute;
    width: 261.83px;
    height: 160.35px;
    left: 14.21px;
    top: 69.43px;
    
    font-style: normal;
    font-weight: normal;
    white-space: normal;
    font-family: Aldrich;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    /* or 34px */
    text-align: center;
    color: #FFFFFF;
    transform-origin: 0 0;
    transform: rotate(-4deg);

    span {
      font-family: Acme;
      font-size: 23px;
    }
  }
  .section4 {
    position: absolute;
    width: 261.83px;
    height: 895px;
    left: 56px;
    top: 1274px;
    
    font-family: Aldrich;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    
    text-align: center;
  }
}
