@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 100vh;
  overflow: scroll;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .backImage {
    position: absolute;
    height: 100vh;
    min-height: 600px;
    left: 0px;
    top: 0px;
  }
}