@import './styles.module.scss';

.wrapper {
  height: 100vh;
  overflow: scroll;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .backImage {
    position: absolute;
    height: 2100px;
    left: 0px;
    top: 0px;
  }

  .innerWrapper {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    white-space: normal;
    text-align: left;
    .title {
      font-family: Fresca;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 100%;
      margin-left: 20px;
    }
    .titleImage {
      display: block;
      width: 280px;
      margin-top: 60px;
      margin-left: auto;
      margin-right: auto;
    }
    .subtitle {
      margin-top: 20px;
      margin-bottom: 30px;
      font-family: Trocchi;
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 100%;
      text-align: center;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .section1 {
      margin-bottom: 100px;
      h1 {
        font-family: Fresca;
        font-style: normal;
        font-weight: normal;
        width: 260px;
        margin-left: auto;
        margin-right: auto;
        font-size: 50px;
        line-height: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      img {
        display: block;
        border: 2px solid #FFFFFF;
        width: 260px;
        margin-right: auto;
        margin-left: auto;
      }
    }
    .section2 {
      margin-bottom: 100px;
      h1 {
        font-family: Fresca;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 100%;
        text-align: right;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
      }
      img {
        display: block;
        border: 2px solid #FFFFFF;
        width: 260px;
        margin-left: auto;
      }
    }
    .section3 {
      margin-bottom: 100px;
      margin-left: 10px;
      h1 {
        font-family: Fresca;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      img {
        display: block;
        border: 2px solid #FFFFFF;
        width: 260px;
      }
    }
    .section4 {
      margin-bottom: 100px;
      margin-right: 20px;
      h1 {
        font-family: Fresca;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 100%;
        text-align: right;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      img {
        display: block;
        border: 2px solid #FFFFFF;
        width: 260px;
        margin-left: auto;
      }
    }
    .section5 {
      padding: 0 20px;
      margin-bottom: 100px;
      h1 {
        font-family: Fresca;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 100%;
        text-align: left;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      img {
        display: block;
        border: 2px solid #FFFFFF;
        width: 260px;
        margin-right: auto;
      }
    }
  }

}

@media only screen and (max-width: 768px){
  .wrapper {
    width: 768px;
    img {
      width: 768px;
    }
  }
}

@media only screen and (max-width: 425px){
  .wrapper {
    width: 425px;
    img {
      width: 425px;
    }
  }
}

@media only screen and (max-width: 375px){
  .wrapper {
    width: 375px;
    img {
      width: 375px;
    }
  }
}

@media only screen and (max-width: 320px){
  .wrapper {
    width: 320px;
    img {
      width: 320px;
    }
  }
}