@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 2443px;
  overflow: hidden;
  background-color: white;
  color: black;
  display: flex;
  position: relative;
  
  .header1{
    position: absolute;
    width: 599px;
    height: 77px;
    left: 22px;
    top: 141px;
    font-family: Empirez;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 110%;
    /* identical to box height, or 77px */
    
    
    color: #3A6B6B;
    text-shadow: -3px 0 #FFFFFF, 0 3px #FFFFFF, 3px 0 #FFFFFF, 0 -3px #FFFFFF;     
  }

  .header2{
    position: absolute;
    width: 966px;
    height: 88px;
    left: 0px;
    top: 2355px;

    font-family: Empirez;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 110%;
    /* identical to box height, or 88px */


    color: #3A6B6B;
    text-shadow: -3px 0 #FFFFFF, 0 3px #FFFFFF, 3px 0 #FFFFFF, 0 -3px #FFFFFF;
  }

  .header3{
    position: absolute;
    width: 626.04px;
    height: 49.61px;
    left: 126px;
    top: 2105.56px;

    font-family: Cool Chaos;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 110%;
    /* or 33px */


    color: #FAD3F0;

    transform-origin: 0 0;
    transform: rotate(-5deg);
  }
  
   
  .rectImg{
    position: absolute;
    width: 841px;
    height: 2064px;
    left: -138px;
    top: 180px;
  }

  .artImg{
    position: absolute;
    width: 1338px;
    height: 3818px;
    left: -229px;
    top: -55px;
  }

  .diamond1Img{
    position: absolute;
    width: 152px;
    height: 152px;
    left: -22px;
    top: -11px;

    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .diamond2Img{
    position: absolute;
    width: 96px;
    height: 96px;
    left: 234px;
    top: 45px;
        
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .diamond3Img{
    position: absolute;
    width: 305px;
    height: 305px;
    left: 130px;
    top: 218px;
     
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .diamond4Img{
    position: absolute;
    width: 443px;
    height: 418px;
    left: 86px;
    top: 2122px;

    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .manImg{
    position: absolute;
    width: 190px;
    height: 191px;
    left: 0px;
    top: 2075px;
  }

  .text{
    position: absolute;
    width: 225.74px;
    height: 857.49px;
    left: 36.65px;
    top: 521.7px;

    
    font-style: normal;
    font-weight: normal;
    font-size: 5.8px;
    line-height: 16.2px;
    /* or 33px */

     
    font-family: Think Thick;

    color: #FAD3F0;
    transform-origin: 0 0;
    transform: rotate(-3deg);
    
    span {
      font-family: Cool Chaos;
      font-size: 30px;
      line-height: 44%;
    }
  }

 
  .twitter_1{
    position: absolute;
    width: 28px;
    height: 28px;
    left: 173px;
    top: 509px;
  }

  .twitter_2{
    position: absolute;
    width: 28px;
    height: 28px;
    left: 254px;
    top: 1087px;

  }

  .twitter_3{
    position: absolute;
    width: 28px;
    height: 28px;
    left: 201px;
    top: 1620px;
  }

  .twitter_4{
    position: absolute;
    width: 20.15px;
    height: 20.15px;
    left: 286.76px;
    top: 2101px;


    transform: rotate(5deg);
  }

}
