.wrapper {
    background-image: url('../../../../public/magazine/1/images/90_back.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 2rem;

    .textWrapper {
        padding: 2rem 1rem;
        background: rgba(0, 0, 0, 0.6);

        .title1 {
            font-family: Anton;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 150%;
            text-align: center;
            color: white;
        }

        .text1 {
            color: white;
            text-align: center;
            white-space: normal;
            font-size: 19px;
            font-family: Antic Didone;
        }

        .title2 {
            font-family: Anton;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 150%;
            text-align: center;
            color: white;
        }

        .text2 {
            color: white;
            text-align: center;
            white-space: normal;
            font-size: 19px;
            font-family: Antic Didone;
        }

        .title3 {
            font-family: Anton;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 150%;
            text-align: center;
            color: white;
        }

        .text3 {
            color: white;
            text-align: center;
            white-space: normal;
            font-size: 19px;
            font-family: Antic Didone;
        }

        .title4 {
            font-family: Anton;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 150%;
            text-align: center;
            color: white;
        }

        .text4 {
            color: white;
            text-align: center;
            white-space: normal;
            font-size: 19px;
            font-family: Antic Didone;
        }
    }
}