@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 629px;
  overflow: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .backImage {
    position: absolute;
    height: 720px;
    left: 0px;
    top: 0px;
  }

  .section1{
    position: absolute;
    width: 169px;
    height: 340px;
    left: 198px;
    top: 108px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 110%;
    /* or 11px */


    color: #FFFFFF;
  }
  .title1{
    position: absolute;
    width: 337px;
    height: 23px;
    left: 198px;
    top: 27px;

    font-family: Knife Princess;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 110%;
    /* or 22px */
    color: #FD0000;  
    text-shadow: -2px 0 #000000, 0 2px #000000, 2px 0 #000000, 0 -2px #000000;
  }

  .title2{
    position: absolute;
    width: 337px;
    height: 22px;
    left: 198px;
    top: 40px;

    font-family: Knife Princess;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 110%;
    /* or 22px */
    color: #FD0000;  
    text-shadow: -2px 0 #000000, 0 2px #000000, 2px 0 #000000, 0 -2px #000000;
  }

  .title3{
    position: absolute;
    width: 337px;
    height: 23px;
    left: 198px;
    top: 51px;

    font-family: Knife Princess;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 110%;
    /* or 22px */
    color: #FD0000;  
    text-shadow: -2px 0 #000000, 0 2px #000000, 2px 0 #000000, 0 -2px #000000;
  }

  .title4{
    position: absolute;
    width: 337px;
    height: 21px;
    left: 198px;
    top: 63px;
    

    font-family: Knife Princess;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 110%;
    /* or 22px */
    color: #FD0000;  
    text-shadow: -2px 0 #000000, 0 2px #000000, 2px 0 #000000, 0 -2px #000000;
  }
  .title5{
    position: absolute;
    width: 337px;
    height: 23px;
    left: 198px;
    top: 75px;

    font-family: Knife Princess;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 110%;
    /* or 22px */
    color: #FD0000;  
    text-shadow: -2px 0 #000000, 0 2px #000000, 2px 0 #000000, 0 -2px #000000;
  }

  .image2{
    position: absolute;
    width: 179px;
    height: 120px;
    left: 19px;
    top: 486px;
   
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
  }
}
