@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 629px;
  overflow: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .backImage {
    object-fit: fill;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
  }

  .title{
    position: absolute;
    width: 206px;
    height: 99px;
    left: 179px;
    top: 31px;
    
    font-family: Blacker Display;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 110%;
    /* or 33px */
    
    
    color: #FFFFFF;

  }

  .text{
    position: absolute;
    width: 155px;
    height: 60px;
    left: 179px;
    top: 137px;

    font-family: Blacker Display;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 110%;
    /* or 12px */


    color: #FFFFFF;
  }
  
}