@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 1812px;
  overflow: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;
 
  .img1{
    position: absolute;
    width: 100%;
    height: 3193px;    
  }

  .img2{
    position: absolute;
    width: 100%;
    height: 869px;  
    top: 0px;
  }

  .img3{
    position: absolute;
    width: 100%;
    height: 1002px;
     
    top: 749px;
  }
  .img4{
    position: absolute;
    width: 582px;
    height: 444px;
    left: -141px;
    top: 840px;

  }

  h1{
    font-family: "Pixel Berry 08/84 Ltd.Edition";
    font-style: normal;
    font-weight: normal;
    font-size: 120px;
    line-height: 100%;
    
  }
  .title1{
    position: absolute;
    width: 1431px;
    height: 120px;
    left: -300px;
    top: 727px;         
    color: #CE479C;
  }

  .title2{
    position: absolute;
    width: 1431px;
    height: 120px;
    left: -334px;
    top: 1110px;
 
    color: #D29033;
  }

  .title3{
    position: absolute;
    width: 1431px;
    height: 120px;
    left: 68px;
    top: 1397px; 

    color: #62B744;
  }

  h2{
    
    font-family: "Pixel Berry 08/84 Ltd.Edition";
    font-style: normal;
    font-weight: normal;
    font-size: 120px;
    line-height: 100%;
    color: #FFFFFF;
  }

  .title4{
    position: absolute;
    width: 452px;
    height: 120px;
    left: -158px;
    top: 358px;
  }
  .title5{
    position: absolute;
    width: 452px;
    height: 120px;
    left: -141px;
    top: 1758px;
  }
  .title6{
    position: absolute;
    width: 452px;
    height: 120px;
    left: -37px;
    top: 689px;
  }
  .title7{
    position: absolute;
    width: 452px;
    height: 120px;
    left: 486px;
    top: 869px;
  }
  .title8{
    position: absolute;
    width: 452px;
    height: 120px;
    left: 164px;
    top: 1537px;
  }
}
