@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.wrapper {
  @include magazineWrapper();

  height: 100vh;
  overflow: scroll;
  background-color: white;
  color: white;
  display: flex;
  position: relative;
  white-space: normal;
  text-align: left;

  .backImage {
    position: absolute;
    width: 100%;
    height: 2900px;
    left: 0px;
    top: 0px;
  }

  .innerWrapper {
    position: absolute;
    top: 236px;
    text-align: center;
    h1 {
        margin-left: 20px;
        margin-right: 20px;
        font-family: Rockabye;
        font-style: normal;
        font-weight: normal;
        font-size: 68px;
        line-height: 80%;
        color: #B1223B;
        margin-bottom: 57px;
        text-shadow: 0px 4px 4px rgba(255, 187, 232, 0.53), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    img {
        width: 200px;
    }

    h4 {
        margin-left: 20px;
        margin-right: 20px;
        font-family: Rosario;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 120%;
        color: #E19CE9;
        box-sizing: border-box;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 36px;
    }
    .flex {
        display: flex;
        .justifyRight {
            justify-content: right;
        }

        .justifyLeft {
            justify-content: left;
        }
    }
    p {
        margin-left: 20px;
        margin-right: 20px;
        text-align: left;
        margin-bottom: 30px;
        &.text1 {
            font-family: Sanchez;
            font-style: italic;
            font-weight: normal;
            font-size: 15px;
            line-height: 120%;
            font-style: normal;
        }
        &.text2 {
            font-family: B612;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 120%;
        }
        &.text3 {
            font-family: Nunito Sans;
            font-style: italic;
            font-weight: normal;
            font-size: 15px;
            line-height: 120%;
        }
        &.text4 {
            font-family: Nunito Sans;
            font-style: italic;
            font-weight: normal;
            font-size: 15px;
            line-height: 120%;
            text-align: right;
        }
    }
    .image1 {
        margin-left: auto;
        margin-bottom: 57px;
    }
  }
}
