@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;500;600;700&display=swap');

.wrapper {
  @include magazineWrapper();

  height: 2785px;
  overflow: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;
  
  .bg_section{
    .backImage1{
      position: absolute;
      width: 100%;
      height: 2785px;
     
      top: 0px;
    }     
    .backImage3{
      position: absolute;
      width: 100%;
      height: 1060px;
      
      top: 1060px;
    }
    .backImage4{
      position: absolute;
      width: 100%;
      height: 1060px;
     
      top: 0px;
    }
    .backImage5{
      position: absolute;
      width: 100%;
      height: 665px;
      
      top: 2120px;
    }
    .img1{
      position: absolute;
      width: 100%;
      height: 326px;
      left: 0px;
      top: 410px;
    }
    .img2{
      position: absolute;
      width: 100%;
      height: 282px;
      left: 0px;
      top: 1616px;
    }
    .sound{
      position: absolute;
      width: 480px;
      height: 240px;
      left: -69px;
      top: 816px;
    }

    .ep1{
      position: absolute;
      width: 32px;
      height: 32px;
      left: 248px;
      top: 791px;

      background: transparent;
      
      text-shadow: -3px 0 #7F43FF, 0 3px #7F43FF, 3px 0 #7F43FF, 0 -3px #7F43FF;     
      box-sizing: border-box;
    }

    .ep2{
      position: absolute;
      width: 49px;
      height: 49px;
      left: 251px;
      top: 1395px;
      background: transparent;      
      text-shadow: -3px 0 #43A5FF, 0 3px #43A5FF, 3px 0 #43A5FF, 0 -3px #43A5FF; 
       
      box-sizing: border-box;
    }

    .ep3{
      position: absolute;
      width: 49px;
      height: 49px;
      left: 309px;
      top: 2030px;

      background: transparent;      
      text-shadow: -3px 0 #43A5FF, 0 3px #43A5FF, 3px 0 #43A5FF, 0 -3px #43A5FF;
      box-sizing: border-box;
    }

    .ep4{
      position: absolute;
      width: 49px;
      height: 49px;
      left: 196px;
      top: 2430px;

      background: transparent;      
      text-shadow: -3px 0 #43A5FF, 0 3px #43A5FF, 3px 0 #43A5FF, 0 -3px #43A5FF;
      box-sizing: border-box;
    }
 
    .arrow1{
      position: absolute;
      width: 18px;
      height: 16px;
      left: 272px;
      top: 798px;
      
      background:transparent;
      transform-origin: 0 0;
      transform: rotate(90deg);
    }

    .arrow2{
      position: absolute;
      width: 27px;
      height: 25px;
      left: 288px;
      top: 1406px;

      background:transparent;
      transform-origin: 0 0;
      transform: rotate(90deg);
    }

    .arrow3{
      position: absolute;
      width: 27px;
      height: 25px;
      left: 346px;
      top: 2041px;
      
      background:transparent;
      transform-origin: 0 0;
      transform: rotate(90deg);
    }

    .arrow4{
      position: absolute;
      width: 27px;
      height: 25px;
      left: 233px;
      top: 2441px;
      
      background:transparent;
      transform-origin: 0 0;
      transform: rotate(90deg);
    }
    
  }

  .title_section {
    font-family: Barlow;
    font-style: normal;

    .title1{
      position: absolute;
      width: 266px;
      height: 290px;
      left: 61px;
      top: 69px;   
      font-family: Barlow;
      font-weight: 400;      
      font-size: 30px;
      line-height: 32px;
              
      /* or 55px */
      color: #FFFFFF;
      span {
        font-weight: 900;     
        font-size: 50px;
        line-height: 55px;
      }
    }


    .title2{
      font-family: Barlow;
      position: absolute;
      width: 266px;
      height: 42px;
      left: 31px;
      top: 792px;      
      font-weight: normal;
      font-size: 30px;
      line-height: 110%;
      /* or 33px */
      color: #FFFFFF;
    }
    .title3{
      font-family: Barlow;
      position: absolute;
      width: 281px;
      height: 24px;
      left: 31px;
      top: 827px;     
      font-style: normal;      
      font-size: 18px;
      line-height: 110%;
      /* or 22px */

      color: #7F43FF;
    }

    .title4{
      position: absolute;
      width: 651px;
      height: 290px;
      left: 0px;
      top: 942px;
      
      font-family: FresHot_DEMO;
      font-style: normal;
      font-weight: normal;
      font-size: 300px;
      line-height: 110%;
      /* or 330px */
      
      
      color: #FFFFFF;
    }

    .title5{
      position: absolute;
      width: 651px;
      height: 307px;
      left: 50px;
      top: 957px;

      font-family: FresHot_DEMO;
      font-style: normal;
      font-weight: normal;
      font-size: 400px;
      line-height: 110%;
      /* or 440px */


      color: rgba(255, 255, 255, 0.3);
      transform: matrix(1, 0, 0, -1, 0, 0);
    }

    
  }

  .title_section_1{

    font-family: DIN Alternate;
    font-style: normal;
    font-weight: bold;
    text-decoration-line: underline;      
    color: #FFFFFF;
    .title6{
      position: absolute;
      width: 158px;
      height: 59px;
      left: 29px;
      top: 1212px;
      font-size: 50px;
      line-height: 110%;
      /* or 55px */
     
    text-decoration-line: underline;      
   
    }

    .title7{
      position: absolute;
      width: 337px;
      height: 59px;
      left: 93px;
      top: 2090px;
      font-size: 40px;
      line-height: 110%;
      /* or 44px */            
      text-decoration-line: underline;            
    }

    .title8{
      position: absolute;
      width: 158px;
      height: 59px;
      left: 21px;
      top: 2423px;     
      font-size: 50px;
      line-height: 110%;
      /* or 55px */              
      text-decoration-line: underline;   
    }
    
  }

  .title_section_2{
    .title9{
      position: absolute;
      width: 163.44px;
      height: 56px;
      left: 187px;
      top: 1346.38px;
      
      font-family: Parabolic;
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 110%;
      /* or 28px */
      
      text-align: center;
      
      color: #0094FF;
      
      transform: rotate(-10deg);
      
    }
    .title10{
      position: absolute;
      width: 163.44px;
      height: 56px;
      left: 187px;
      top: 1346.38px;

      font-family: Parabolic;
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 110%;
      /* or 28px */

      text-align: center;

      color: #0094FF;

      transform: rotate(-10deg);
    }

    .title11{
      position: absolute;
      width: 226.91px;
      height: 28px;
      left: 135px;
      top: 2017.4px;

      font-family: Parabolic;
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 110%;
      /* identical to box height, or 28px */

      text-align: center;

      color: #0094FF;

      transform: rotate(-10deg);
    }

    .title12{
      position: absolute;
      width: 140.74px;
      height: 56px;
      left: 196px;
      top: 2374.44px;

      font-family: Parabolic;
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 110%;
      /* or 28px */

      text-align: center;

      color: #0094FF;

      transform: rotate(-10deg);
    }
  }

  .text_section{

    font-family: Jura;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 110%;
    color: #FFFFFF;
    .text1{
      position: absolute;
      width: 193px;
      height: 220px;
      left: 25px;
      top: 1277px;      
      /* or 17px */     
    }

    .text2{
      position: absolute;
      width: 279px;
      height: 220px;
      left: 79px;
      top: 2137px;    
      /* or 17px */
      text-align: right;
    }
    .text3{
      position: absolute;
      width: 269px;
      height: 208px;
      left: 21px;
      top: 2486px;
    }
  }

  .backImage {
    position: absolute;
    height: 2900px;
    width: 100%;
    left: 0px;
    top: 0px;
  }

  .innerWrapper {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    white-space: normal;
    text-align: left;
    .playImage {
      width: 50px;
      height: 50px;
    }
    h1 {
      font-family: Barlow;
      font-weight: 900;
      font-style: normal;
      font-size: 50px;
      line-height: 55px;
      margin-bottom: 30px;
    }
    h2 {
      font-family: Barlow;
      font-weight: 400;
      font-style: normal;
      font-size: 30px;
      line-height: 33px;
      margin-bottom: 60px;
    }
    h4 {
      font-family: Barlow;
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 110%;
      margin-top: 60px;
      margin-bottom: 10px;
      .playImage {
        width: 30px;
        height: 30px;
      }
    }
    h5 {
      font-family: Barlow;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 110%;
      color: #7F43FF;
    }
    .title1 {
      font-family: FresHot_DEMO;
      font-style: normal;
      font-weight: normal;
      font-size: 300px;
      line-height: 110%;
      margin: 0;
    }
    .section1 {
      width: 300px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      margin-bottom: 40px;
      .playImage {
        position: absolute;
        right: 60px;
        top: 200px;
      }
      .arrowDown {
        position: absolute;
        right: 50px;
        top: 270px;
        width: 140px;
        transform: rotateY(180deg) rotateZ(12deg);
      }
      h1 {
        font-family: DIN Alternate;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 110%;
        text-decoration-line: underline;
      }
      p {
        width: 180px;
        font-family: Jura;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 110%;
      }
      h4 {
        position: absolute;
        right: 30px;
        top: 80px;
        width: 100px;
        font-family: Parabolic;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 110%;
        text-align: center;
        color: #0094FF;
        transform: rotate(-10deg);
      }
    }
    .section2 {
      width: 280px;
      margin-left: auto;
      text-align: right;
      margin-right: 20px;
      margin-top: 40px;
      h1 {
        font-family: Parabolic;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 110%;
        text-align: center;
        color: #0094FF;
        transform: rotate(-10deg);
        margin-bottom: 10px;
      }
      h4 {
        margin-top: 20px;
        font-family: DIN Alternate;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 110%;
        text-decoration-line: underline;
      }
      p {
        font-family: Jura;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 110%;
        margin-bottom: 50px;
      }
    }
    .section3 {
      width: 290px;
      margin-left: auto;
      margin-right: auto;
      h1 {
        font-family: DIN Alternate;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 110%;
        text-decoration-line: underline;
      }
      p {
        font-family: Jura;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 110%;
      }
    }
  }
  .container {
    width: 80%;
    margin: auto;
  }
}
