@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 800px;
  background-color: white;
  color: black;
  position: relative;

  img {
    position: absolute;
    left: 0px;
    top: 0px;
  }
}
