@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 100vh;
  overflow: scroll;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .backImage {
    position: absolute;
    height: 3300px;
    left: 0px;
    top: 0px;
  }

  .innerWrapper {
    position: absolute;
    top: 60px;
    width: 280px;
    left: calc((100vw - 280px) / 2);
    white-space: normal;
    text-align: left;
    .title {
      font-family: Knife Princess;
      font-style: normal;
      font-weight: normal;
      width: 200px;
      font-size: 60px;
      line-height: 100%;
      color: #26D9F9;
    }
    .section1 {
      margin-top: 20px;
      p {
        font-family: Basic;
        font-style: normal;
        font-weight: normal;
        white-space: normal;
        font-size: 20px;
        line-height: 110%;
      }
    }
    .section2 {
      margin-top: 40px;
      margin-bottom: 40px;
      h1 {
        font-family: Barlow;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 110%;
        margin-bottom: 10px;
      }
      p {
        font-family: Basic;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 110%;
      }
    }
    .card {
      margin-bottom: 80px;
      h1 {
        font-family: Courier Prime;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 110%;
        margin-bottom: 10px;
      }
      h2 {
        font-family: Courier Prime;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 110%;
        margin-bottom: 20px;
      }
    }
  }

}
