@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.wrapper {
  @include magazineWrapper();
  height: 2505px;
  background-color: black;
  position: relative;
  white-space: normal;
  text-align: left;

  video {
    position: absolute;
    width: 858px;
    height: 871.25px;
    left: -333px;
    top: -356px;    
  }

  .leftImage {
    position: absolute;
    width: 230px;
    height: 1481px;
    left: -25px;
    top: 556px;    
  }

  .palaceImage {
    position: absolute;
    width: 602px;
    height: 430px;
    left: -114px;
    top: 2076px;    
  }

  h1 {
    position: absolute;
    width: 718px;
    height: 185px;
    left: 324px;
    top: 549px;
    
    font-family: 'THIS FONT IS EMPTY1';
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 100%;
    /* or 80px */
    
    
    color: #FFFFFF;
    transform-origin: 0 0;
    transform: rotate(90deg);
  }

  h2 {
    position: absolute;
    width: 149px;
    height: 611px;
    left: 250px;
    top: 1500px;
    font-family: 'THIS FONT IS EMPTY1';
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    line-height: 100%;
    color: #E55329;
    // border: 3px solid #F19737;
    text-shadow: -4px 0 #F19737, 0 4px #F19737, 4px 0 #F19737, 0 -4px #F19737;
    // text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: blur(2px);
  }
}
