@import './styles.module.scss';

.wrapper {
  width: 320px;
  height: 1497px;
  overflow-x: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .pageBack1 {
    position: absolute;
    width: 260px;
    height: 1420px;
    left: 30px;
    top: 30px;
    background: #DBCF95;
  }

  .pathImage {
    position: absolute;
    width: 400px !important;
    height: auto;
    left: -10px;
    top: 0px;
  }
  
  .manImage {
    position: absolute;
    width: 600px !important;
    height: auto;
    left: -180px;
    top: 200px;
  }

  .textDiv1 {
    position: absolute;
    width: 321px;
    height: 68px;
    left: 586px;
    top: 303px;

    font-family: Nella Sue Demo;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 120.53%;

    color: #FFFFFF;
  }

  .pageBack2 {
    position: absolute;
    width: 883px;
    height: 1420px;
    left: 999px;
    top: 38px;

    background: #DBCF95;
  }

  h1 {
    position: absolute;
    left: calc((100vw - 170px) / 2);
    width: 170px;
    top: 892px;

    font-family: PLAYPULL;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    text-align: center;
    color: #EC761D;

    .impact1 {
      font-family: Rugsnatcher DEMO;
      color: #DA283E;
    }

    .impact2 {
      color: #DA283E;
    }

    .impact3 {
      font-family: Rugrats;
      color: #F28C27;
    }
  }

  h2 {
    position: absolute;
    left: calc((100vw - 200px)/ 2);
    width: 200px;
    top: 1057px;
    font-family: Mervale Script;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    text-align: center;
    color: #000000;
  }

  h3 {
    position: absolute;
    left: calc((100vw - 200px)/ 2);
    width: 200px;
    top: 1100px;
    width: 200px;
    font-family: Beth Ellen;
    font-style: normal;
    font-weight: normal;
    white-space: normal;
    font-size: 17px;
    line-height: 150%;
  }

  h4 {
    position: absolute;
    width: 800px;
    height: 102px;
    left: 1041px;
    top: 97px;

    font-family: Nella Sue Demo;
    font-style: normal;
    font-weight: normal;
    font-size: 85px;
    line-height: 120.53%;
  }

  h5 {
    position: absolute;
    width: 800px;
    height: 312px;
    left: 1041px;
    top: 215px;
    
    font-family: Jockey One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    
    text-align: center;
  }

  p {
    font-family: Jacques Francois;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    &.leftSideText {
      position: absolute;
      width: 348px;
      height: 850px;
      left: 1063px;
      top: 527px;
    }

    &.rightSideText {
      position: absolute;
      width: 348px;
      height: 850px;
      left: 1463px;
      top: 527px;
    }
  }
}

@media only screen and (max-width: 768px){
  .wrapper {
    width: 768px;
    .pageBack1 {
      width: 708px;
      left: 30px;
    }
  }
}

@media only screen and (max-width: 425px){
  .wrapper {
    width: 425px;
    .pageBack1 {
      width: 365px;
      left: 30px;
    }
  }
}

@media only screen and (max-width: 375px){
  .wrapper {
    width: 375px;
    .pageBack1 {
      width: 315px;
      left: 30px;
    }
  }
}

@media only screen and (max-width: 320px){
  .wrapper {
    width: 320px;
    .pageBack1 {
      width: 260px;
      left: 30px;
    }
  }
}