@import './styles.module.scss';

.wrapper {
  width: 320px;
  height: 2000px;
  background-color: white;
  color: #FFFFFF;
  display: flex;
  position: relative;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  .innerWrapper {
    width: 280px;
    position: absolute;
    top: 100px;
    left: 20px;
  }
  .backImage {
    width: 100%;
    height: 2000px;
    position: absolute;
  }
  p {
    font-family: Aldrich;
    font-style: normal;
    font-weight: normal;
    white-space: normal;
    font-size: 20px;
    display: block;
    text-align: center;
    margin-bottom: 40px;

    &.section1 {
   
      transform: rotate(5deg);
    }


    &.section3 {
      span {
        font-family: Acme;
        font-size: 23px;
      }
    }
  }

  .dollarSign {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 30px;
  }

}

@media only screen and (max-width: 768px){
  .wrapper {
    width: 768px;
    .innerWrapper {
      width: 728px;
    }
  }
}

@media only screen and (max-width: 425px){
  .wrapper {
    width: 425px;
    .innerWrapper {
      width: 385px;
    }
  }
}

@media only screen and (max-width: 375px){
  .wrapper {
    width: 375px;
    .innerWrapper {
      width: 335px;
    }
  
  }
}

@media only screen and (max-width: 320px){
  .wrapper {
    width: 320px;
    .innerWrapper {
      width: 280px;
    }
  }
}