@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.wrapper {
  @include magazineWrapper();

  height: 100vh;
  overflow: scroll;
  background-color: white;
  color: black;
  display: flex;
  position: relative;
  white-space: normal;
  text-align: left;

  .backImage {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0px;
    top: 0px;
  }
}
