@import './styles.module.scss';

@media only screen and (max-width: 768px) {
  .wrapper {
    width: 768px;
    height: 1497px;
  }
}

@media only screen and (max-width: 425px) {
  .wrapper {
    width: 425px;
    height: 1497px;
  }
}

@media only screen and (max-width: 375px) {
  .wrapper {
    width: 375px;
    height: 1497px;
  }
}

@media only screen and (max-width: 320px) {
  .wrapper {
    width: 320px;
    height: 1497px;
  }
}
.wrapper {
  background-color: black;
  overflow: scroll;
  color: white;
  display: flex;
  position: relative;
  padding-bottom: 50px;

  h1:nth-child(1) {
    position: absolute;
    left: 130px;
    top: 100px;
    font-family: A DAY WITHOUT SUN;
    font-size: 400px;
    font-weight: normal;
  }

  h1:nth-child(2) {
    position: absolute;
    left: 130px;
    top: 500px;
    font-family: A DAY WITHOUT SUN;
    font-size: 400px;
    font-weight: normal;
  }

  h1:nth-child(3) {
    position: absolute;
    left: 130px;
    top: 900px;
    font-family: A DAY WITHOUT SUN;
    font-size: 400px;
    font-weight: normal;
  }

  h1:nth-child(4) {
    position: absolute;
    left: 130px;
    top: 1300px;
    font-family: A DAY WITHOUT SUN;
    font-size: 400px;
    font-weight: normal;
  }

  video {
    position: absolute;
    width: 341px;
    height: 316px;
    top: 1150px;
    left: 1620px;
  }

  h3 {
    position: absolute;
    width: 80px;
    white-space: nowrap;
    height: 59px;
    left: 38px;
    top: 1451px;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    transform: rotate(270deg);
    transform-origin: 0 0;
  }
}


@media only screen and (max-width: 768px) {
  .wrapper {
    video {
      position: absolute;
      width: 170px;
      height: auto;
      top: 1700px;
      left: calc((768px - 120px) / 2);
      transform: rotate(90deg);
      padding-right: 50px;
    }
  }
}

@media only screen and (max-width: 425px) {
  .wrapper {
    video {
      position: absolute;
      width: 170px;
      height: auto;
      top: 1700px;
      left: calc((425px - 120px) / 2);
      transform: rotate(90deg);
      padding-right: 50px;
    }
  }
}

@media only screen and (max-width: 375px) {
  .wrapper {
    video {
      position: absolute;
      width: 170px;
      height: auto;
      top: 1700px;
      left: calc((375px - 120px) / 2);
      transform: rotate(90deg);
      margin-bottom: 50px;
      padding-right: 50px;
    }
  }
}

@media only screen and (max-width: 320px) {
  .wrapper {
    video {
      position: absolute;
      width: 120px;
      height: auto;
      top: 1700px;
      left: 90px;
      transform: rotate(90deg);
    }
  }
}