@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.wrapper {
  height: 100vh;
  overflow: scroll;
  background-color: white;
  color: black;
  display: flex;
  position: relative;
  white-space: normal;
  text-align: left;

  .backImage {
    position: absolute;
    width: 100%;
    height: 3000px;
    left: 0px;
    top: 0px;
  }

  .innerWrapper {
    position: absolute;
    top: 46px;
    left: 20px;
    width: 260px;
    text-align: center;
    h1 {
        font-family: Damion;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 100%;
        text-align: left;
        color: #8308FE;
        margin-bottom: 25px;
    }
    h2 {
        font-family: Digital Dare;
        font-style: normal;
        font-weight: normal;
        font-size: 54px;
        line-height: 100%;
        color: #000000;
        margin-bottom: 13px;
    }
    h5 {
        font-family: DigitalRiver;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 100%;
        text-align: right;
        color: #8308FE;
        margin-bottom: 20px;
    }
    p {
        font-family: Single Day;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: right;
        margin-bottom: 30px;
    }
  }
}

@media only screen and (max-width: 768px){
  .wrapper {
    width: 768px;
    .backImage {
      width: 768px;
    }
  }
}

@media only screen and (max-width: 425px){
  .wrapper {
    width: 425px;
    .backImage {
      width: 425px;
    }
  }
}

@media only screen and (max-width: 375px){
  .wrapper {
    width: 375px;
    .backImage {
      width: 375px;
    }
  }
}

@media only screen and (max-width: 320px){
  .wrapper {
    width: 320px;
    .backImage {
      width: 320px;
    }
  }
}