@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.wrapper {
  @include magazineWrapper();
  height: 5794px;
  background-color: white;
  color: black;
  position: relative;
  text-align: left;

  .purpleBox {
    background: #9A77B9;
    width: 375px;
    height: 168px;
    left: 0;
    top: 0;
    border-bottom: 9px solid black;
  }

  .text1 {
    position: absolute;
    width: 283px;
    height: 544px;
    left: 62px;
    top: 35px;
    
    font-family: Artypa;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 52px;
    
    color: #FFFFFF;
    
  }

  .image1 {
    position: absolute;
    width: 335px;
    height: 347px;
    left: 20px;
    top: 182px;
  }

  .image2 {
    position: absolute;
    width: 375px;
    height: 290px;
    left: 0px;
    top: 543px;
  }

  .image3 {
    position: absolute;
    width: 398px;
    height: 385px;
    left: 0px;
    top: 884px;
  }

  .blueBox {
    position: absolute;
    width: 370px;
    height: 748px;
    left: -156px;
    top: 1269px;
    
    background: #5350FF;   
    border-bottom: 9px solid black; 
    border-right: 9px solid black; 
  }

  .line1 {
    position: absolute;
    width: 375px;
    height: 748px;
    left: 0;
    top: 1269px;
    
    border-bottom: 9px solid black; 
  }

  .text2 {
    position: absolute;
    width: 414px;
    height: 49px;
    left: 247px;
    top: 1658px;
    
    font-family: B612 Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 120.53%;
    
    transform-origin: 0 0;
    transform: rotate(-90deg);    
  }

  .text3 {
    position: absolute;
    width: 298px;
    height: 86px;
    left: 224px;
    top: 1998px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 150%;
    transform-origin: 0 0;
    transform: rotate(-90deg);    
  }

  .text4 {
    position: absolute;
    width: 390px;
    height: 45px;
    left: 310px;
    top: 1998px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 150%;
    transform-origin: 0 0;    
    transform: rotate(-90deg);    
  }

  .image4 {
    position: absolute;
    width: 409px;
    height: 547px;
    left: -17px;
    top: 2038px;    
  }

  .line2 {
    position: absolute;
    width: 375px;
    height: 151px;
    left: 0px;
    top: 2625px;
    border-top: 9px solid black; 
    border-bottom: 9px solid black; 
  }

  .text5 {
    position: absolute;
    width: 309px;
    height: 29px;
    left: 29px;
    top: 2651px;
    
    font-family: 'Pixel Berry 08/84 Ltd.Edition';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 120.53%;
    color: #E15800;
  }

  .text6 {
    position: absolute;
    width: 309px;
    height: 29px;
    left: 29px;
    top: 2690px;
    
    font-family: TS Block;
    font-size: 25px;
    line-height: 120.53%;
    color: #4A4440;        
  }

  .text7 {
    position: absolute;
    width: 205px;
    height: 18px;
    left: 208px;
    top: 2690px;
    
    font-family: B612 Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 120.53%;
    
    text-align: center;
  }

  .image5 {
    position: absolute;
    width: 328px;
    height: 416px;
    left: 23px;
    top: 2816px;    
  }

  .text8 {
    position: absolute;
    width: 241px;
    height: 103px;
    left: 27px;
    top: 3272px;
    
    font-family: Delius;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 120.53%;
    color: #E75F64;
    text-shadow: -1px 0 #9C5C87, 0 1px #9C5C87, 1px 0 #9C5C87, 0 -1px #9C5C87;
  }

  .text9 {
    position: absolute;
    width: 237px;
    height: 33px;
    left: 31px;
    top: 3393px;
    
    font-family: Delius;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 120.53%;

    color: #443B3B;
    text-shadow: -1px 0 #9C5C87, 0 1px #9C5C87, 1px 0 #9C5C87, 0 -1px #9C5C87;
  }

  .text10 {
    position: absolute;
    width: 205px;
    height: 18px;
    left: 171px;
    top: 3345px;
    
    font-family: B612 Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120.53%;

    text-align: center;    
  }

  .line3 {
    position: absolute;
    width: 192px;
    height: 185px;
    left: 0;
    top: 3461px;
    
    border-top: 9px solid #000000;    
    border-bottom: 9px solid #000000;    
    border-right: 9px solid #000000;    
  }
  
  .line4 {
    position: absolute;
    width: 192px;
    height: 185px;
    left: 192px;
    top: 3461px;
    
    border-top: 9px solid #000000;    
  }

  .image6 {
    position: absolute;
    width: 383px;
    height: 422px;
    left: 1px;
    top: 3655px;    
  }

  .text11 {
    position: absolute;
    width: 277px;
    height: 42px;
    left: 29px;
    top: 4077px;
    
    font-family: B612 Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 120.53%;
  }

  .text12 {
    position: absolute;
    width: 354px;
    height: 40px;
    left: 30px;
    top: 4114px;
    
    font-family: Haarlem Deco DEMO;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 120.53%;    
  }

  .text13 {
    position: absolute;
    width: 186px;
    height: 23px;
    left: 29px;
    top: 4182px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;    
  }

  .line4 {
    width: 520px;
    height: 0px;
    left: -44px;
    top: 4245px;
    
    border-top: 9px solid #000000;    
  }

  .text14 {
    position: absolute;
    width: 174px;
    height: 25px;
    left: 13px;
    top: 4280px;
    
    font-family: B612 Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120.53%;
    
    text-align: center;
  }

  .text15 {
    position: absolute;
    width: 205px;
    height: 18px;
    left: 1px;
    top: 4309px;
    
    font-family: B612 Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 120.53%;
    /* identical to box height, or 18px */
    
    text-align: center;
  }

  .text16 {
    position: absolute;
    width: 174px;
    height: 25px;
    left: 173px;
    top: 4275px;
    
    font-family: B612 Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 120.53%;
    /* or 60px */
    
    text-align: center;  
  }

  .image7 {
    position: absolute;
    width: 389px;
    height: 500px;
    left: -14px;
    top: 4410px;    
  }

  .image8 {
    position: absolute;
    width: 47px;
    height: 47px;
    left: 13px;
    top: 4335px;    
  }

  .image9 {
    position: absolute;
    width: 47px;
    height: 47px;
    left: 46px;
    top: 4335px;    
  }

  .line6 {
    position: absolute;
    width: 187px;
    height: 815px;
    left: 0px;
    top: 4910px;
    border-right: 9px solid #000000;   
  }
  
  .line7 {
    position: absolute;
    width: 375px;
    height: 815px;
    left: 0px;
    top: 4910px;
    border-bottom: 9px solid #000000;   
  }

  .text17 {
    position: absolute;
    width: 1018px;
    height: 84px;
    left: 46px;
    top: 5670px;
    
    font-family: Maker Van;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 120.53%;
    /* or 72px */
    
    
    color: #000000;
    transform-origin: 0 0;
    transform: rotate(-90deg);    

    span {
      font-family: Arthure;
    }
  }

  .text18 {
    position: absolute;
    width: 1018px;
    height: 84px;
    left: 244px;
    top: 5670px;
    
    font-family: Maker Van;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 120.53%;
    /* or 72px */
    
    
    color: #000000;
    transform-origin: 0 0;
    transform: rotate(-90deg);    

    span {
      font-family: Arthure;
    }
  }
}
