@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 100vh;
  overflow: scroll;
  background-color: white;
  color: black;
  display: flex;
  position: relative;

  img {
    position: absolute;
    height: 800px;
    left: 0px;
    top: 0px;
  }
}