@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 3963px;
  background-color: black;
  color: white;
  position: relative;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  .backImage {
    position: absolute;
    width: 375px;
    height: 3963px;
    left: 0px;
    top: 0px;
  }
  
  .section4 {
    position: absolute;
    width: 262px;
    height: 4729px;
    left: 56px;
    top: 72px;
    
    font-family: Aldrich;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    
    text-align: center;
    
    color: #FFFFFF;
  }
}
