@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 2800px;
  background-color: black;
  color: white;
  display: flex;
  position: relative;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  .backImage {
    width: 320px;
    height: 2800px;
    left: 0px;
    top: 0px;
  }

  .backImage2 {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 960px;
    top: 0px;
  }

  .section3 {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: normal;
    white-space: normal;
    font-family: Aldrich;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    transform: rotate(-5deg);

    span {
      font-family: Acme;
      font-size: 23px;
    }
  }
  .innerWrapper {
    position: absolute;
    top: 100px;
    left: 30px;
    width: 260px;
  }
  .section4 {
    margin-top: 40px;
    width: 100%;
    font-family: Aldrich;
    font-style: normal;
    font-weight: normal;
    white-space: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
  }
}

@media only screen and (max-width: 768px){
    .wrapper {
      width: 768px;
      .innerWrapper {
        width: 708px;
      }
      .backImage, .backImage2 {
        width: 768px;
      }
    }
  }
  
  @media only screen and (max-width: 425px){
    .wrapper {
      width: 425px;
      .innerWrapper {
        width: 465px;
      }
      .backImage, .backImage2 {
        width: 425px;
      }
    }
  }
  
  @media only screen and (max-width: 375px){
    .wrapper {
      width: 375px;
      .innerWrapper {
        width: 315px;
      }
      .backImage, .backImage2 {
        width: 375px;
      }
    }
  }
  
  @media only screen and (max-width: 320px){
    .wrapper {
      width: 320px;
      .innerWrapper {
        width: 260px;
      }
      .backImage, .backImage2 {
        width: 320px;
      }
    }
  }