@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 100vh;
  overflow: scroll;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .backImage {
    position: absolute;
    height: 1800px;
    left: 0px;
    top: 0px;
  }

  .innerWrapper {
    position: absolute;
    top: 0;
    width: 280px;
    left: calc((100vw - 280px) / 2);
    white-space: normal;
    text-align: left;
    .section1 {
      margin-top: 320px;
      p {
        font-family: Days One;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 100%;
      }
    }
    .section2 {
      margin-top: 600px;
      p {
        font-family: Days One;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 100%;
        margin-bottom: 40px;
      }
    }
  }
}
