@import './styles.module.scss';

.wrapper {
  width: 320px;
  height: 2300px;
  background-color: black;
  color: white;
  display: flex;
  position: relative;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  .backImage {
    position: absolute;
    width: 320px;
    height: 2300px;
    left: 0px;
    top: 0;
  }

  .innerWrapper {
    position: absolute;
    top: 200px;
    left: 0;
  }
  
  .dollarSign {
    width: 100%;
    height: auto;
  }

  .lawrence {
    font-family: Aldrich;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    margin-left: 30px;
    font-size: 21px;
    line-height: 150%;
    margin-bottom: 60px;
  }
  .shadow {
    position: relative;
    height: 200px;
    margin-top: 60px;
  }
  h1 {
    position: absolute;
    left: 1.39%;
    right: 73.69%;
    top: 0;
    width: 300px;

    font-family: Internal Rainbows;
    font-style: normal;
    font-weight: normal;
    white-space: normal;
    font-size: 26px;
    line-height: 35px;
    text-align: center;
    transform: rotate(3deg);

    &.shadow1 {
      position: absolute;
      left: -2.49%;
      right: 73.23%;
      top: 0;
      color: #F90498;
    }

    &.shadow2 {
      position: absolute;
      left: -1.18%;
      right: 73.02%;
      top: 0;
      color: #F90498;
    }

    &.shadow3 {
      position: absolute;
      left: -0.02%;
      right: 72.76%;
      top: 0;
      color: #F90498;
    }

  }
  .section1 {
    width: 300px;
    font-family: Aldrich;
    font-style: normal;
    font-weight: normal;
    white-space: normal;
    margin-left: auto;
    margin-right: auto;
    font-size: 21px;
    text-align: center;
    transform: rotate(-3deg);
    margin-bottom: 50px;
  }

  .section2 {
    margin-top: 70px;
    width: 254px;
    margin-left: auto;
    margin-right: auto;
    font-family: Aldrich;
    font-style: normal;
    font-weight: normal;
    white-space: normal;
    font-size: 21px;
    text-align: center;
  }

  .section3 {
    margin-top: 80px;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    font-family: Aldrich;
    font-style: normal;
    font-weight: normal;
    white-space: normal;
    font-size: 23px;
    text-align: center;
    transform: rotate(7deg);
  }
}

@media only screen and (max-width: 768px){
  .wrapper {
    width: 768px;
    .backImage, .backImage2 {
      width: 768px;
    }
  }
}

@media only screen and (max-width: 425px){
  .wrapper {
    width: 425px;
    .backImage, .backImage2 {
      width: 425px;
    }
  }
}

@media only screen and (max-width: 375px){
  .wrapper {
    width: 375px;
    .backImage, .backImage2 {
      width: 375px;
    }
  }
}

@media only screen and (max-width: 320px){
  .wrapper {
    width: 320px;
    .backImage, .backImage2 {
      width: 320px;
    }
  }
}