.wrapper {
    background-image: url('../../../../public/magazine/1/images/91_back.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8rem 0rem;

    .textWrapper {
        padding: 2rem 1rem;
        background: rgba(0, 0, 0, 0.6);

        .text1 {
            font-family: Anton;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 150%;
            text-align: center;
            color: white;
            white-space: normal;
            padding: 1.5rem;
        }

        .text2 {
            color: white;
            text-align: center;
            white-space: normal;
            font-size: 19px;
            padding: 1.5rem;
            font-family: Antic Didone;
        }
    }
}