@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 2017px;
  overflow: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;
  
  .img1{
    position: absolute;
    width: 100%;
    height: 1194px;    
    top: 71px;
  }

  h1{
    position: absolute;
    width: 303px;
    height: 34px;
    left: 50px;
    top: 81px;

    font-family: Courier;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 120.53%;
    /* identical to box height, or 34px */


    color: #000000;
  }

  p{
    position: absolute;
    width: 272px;
    height: 1738px;
    left: 50px;
    top: 140px;

    font-family: Courier New;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120.53%;
    /* or 22px */


    color: #000000;

    span{
      font-weight: 700;
    }
  }

  h2{
    position: absolute;
    width: 288px;
    height: 22px;
    left: 62px;
    top: 1871px;

    font-family: Courier New;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120.53%;
    /* identical to box height, or 22px */


    color: #000000;
  }
}
