@import './styles.module.scss';

.wrapper {
  height: 100vh;
  overflow: scroll;
  background-color: white;
  color: black;
  display: flex;
  position: relative;

  .backgroundImage {
    position: absolute;
    height: fit-content;
    left: 0px;
    top: 0px;
  }

  h2 {
    position: absolute;
    left: calc((100vw - 270px) / 2);
    top: 40px;
    width: 270px;
    font-family: Nella Sue Demo;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    /* identical to box height, or 181px */
    color: #FFFFFF;
  }

  h3 {
    position: absolute;
  }

  .content2 {

    left: 8px;
    top: 140px;

    font-family: Sweetly Broken;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    /* or 48px */
    text-align: center;

    color: #FFFFFF;
  }

  .content3 {
    right: 26px;
    top: 140px;
    font-family: Sweetly Broken;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    /* or 48px */

    text-align: center;

    color: #FFFFFF;
  }

  .content4 {
    left: 48px;
    top: 400px;
    font-family: Sweetly Broken;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    /* or 48px */

    text-align: center;

    color: #FFFFFF;
  }

  .content5 {
    right: 26px;
    top: 400px;
    font-family: Sweetly Broken;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    /* or 48px */

    text-align: center;

    color: #FFFFFF;
  }

  .content6 {
    left: 10px;
    top: 600px;

    font-family: Sweetly Broken;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    /* or 48px */

    text-align: center;

    color: #FFFFFF;
  }

  .content7 {
    right: 26px;
    top: 600px;
    
    font-family: Sweetly Broken;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    /* or 48px */
    
    text-align: center;
    
    color: #FFFFFF;
  }

  .content8 {
    left: 10px;
    top: 800px;

    font-family: Sweetly Broken;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    /* or 48px */

    text-align: center;

    color: #FFFFFF;
  }

  .content9 {
    right: 26px;
    top: 800px;

    font-family: Sweetly Broken;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    /* or 48px */

    text-align: center;

    color: #FFFFFF;
  }
}

@media only screen and (max-width: 768px){
  .wrapper {
    width: 768px;
    .backgroundImage {
      width: 768px;
    }
  }
}

@media only screen and (max-width: 425px){
  .wrapper {
    width: 425px;
    .backgroundImage {
      width: 425px;
    }
  }
}

@media only screen and (max-width: 375px){
  .wrapper {
    width: 375px;
    .backgroundImage {
      width: 375px;
    }
  }
}

@media only screen and (max-width: 320px){
  .wrapper {
    width: 320px;
    .backgroundImage {
      width: 320px;
    }
  }
}
