@import './styles.module.scss';

.wrapper {
  width: 320px;
  height: 3200px;
  background-color: white;
  color: black;
  display: flex;
  position: relative;
  
  .backImage1 {
    position: absolute;
    width: 320px;
    height: 3200px;
    left: 0px;
    top: -22px;
  }

  .backImage2 {
    position: absolute;
    width: 320px;
    height: 1497px;
    left: 0px;
    top: 0px;
  }

  .topSideFrame {
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0px;
    top: 0px;
    background-color: rgb(0 249 58);
    border-top: 10px solid black;
    border-bottom: 10px solid black;
  }

  .bottomSideFrame {
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0px;
    bottom: 0px;
    background-color: rgb(0 249 58);
    border-top: 10px solid black;
    border-bottom: 10px solid black;
  }

  .topTextImage {
    position: absolute;
    width: 320px;
    left: 0px;
    top: 30px;
  }

  .bottomTextImage {
    position: absolute;
    width: 320px;
    left: 0px;
    bottom: 30px;
  }

  h1 {
    font-family: Lusitana;
    font-style: normal;
    font-weight: bold;
    white-space: normal;
    font-size: 15px;
    margin-bottom: 100px;
  }

  h2 {
    font-family: Medula One;
    font-style: normal;
    font-weight: normal;
    white-space: normal;
    font-size: 24px;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 40px;
  }

  .innerWrapper {
    position: absolute;
    top: 200px;
    width: 320px;
    left: calc((100vw - 320px) / 2);
    z-index: 1000;
    text-align: center;
  }

  p {
    font-family: Lexend Zetta;
    font-style: normal;
    font-weight: normal;
    white-space: normal;
    font-size: 12px;
    display: block;
    margin-bottom: 30px;
    
  }

  .artby {
    position: absolute;
    width: 260px;
    height: 18px;
    left: 1472px;
    top: 1084px;

    font-family: Aldrich;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 150%;
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
  }
}

@media only screen and (max-width: 768px){
  .wrapper {
    width: 768px;
    .backImage1, .backImage2 {
      width: 768px;
    }
  }
}

@media only screen and (max-width: 425px){
  .wrapper {
    width: 425px;
    .backImage1, .backImage2 {
      width: 425px;
    }
  }
}

@media only screen and (max-width: 375px){
  .wrapper {
    width: 375px;
    .backImage1, .backImage2 {
      width: 375px;
    }
  }
}

@media only screen and (max-width: 320px){
  .wrapper {
    width: 320px;
    .backImage1, .backImage2 {
      width: 320px;
    }
  }
}