@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 2535px;
  overflow: hidden;
  background-color: white;
  color: black;
  display: flex;
  position: relative;

  img {
    position: absolute;
    height: 2600px;
    left: 0px;
    top: 0px;
  }

  .textBack1{
    position: absolute;
    width: 331px;
    height: 795px;
    left: 22px;
    top: 61px;
    background: rgba(255, 255, 255, 0.7);
  }

  .textBack2{
    position: absolute;
    width: 331px;
    height: 916px;
    left: 22px;
    top: 886px;
    background: rgba(255, 255, 255, 0.7);
  }

  .textBack3{
    position: absolute;
    width: 331px;
    height: 635px;
    left: 22px;
    top: 1824px;
    background: rgba(255, 255, 255, 0.7);
  }

  p {
    position: absolute;
    font-family: Arapey;
    font-style: normal;
    font-weight: normal;
    white-space: normal;
    font-size: 16px;
    line-height: 110%;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    &.section1{
      width: 258px;
      height: 262px;
      left: 58px;
      top: 101px; 
    }

    &.section2{
      width: 258px;
      height: 262px;
      left: 58px;
      top: 921px;
    }

    &.section3{
      width: 258px;
      height: 262px;
      left: 58px;
      top: 1859px; 
    }
  }
  
}
