@import './styles.module.scss';

.wrapper {
  width: 320px;
  height: 1497px;
  background-color: white;
  color: black;
  display: flex;
  position: relative;
  text-align: left;

  .firstPartWrapper {
    width: 320px;
    height: 1497px;
    overflow: scroll;
    position: relative;
    color: #000000;
    padding-top: 100px;


    .backImage1 {
      position: absolute;
      width: 320px;
      height: 1500px;
      left: 0px;
      top: 0;
      transform-origin: 0 0;
      transform: scale(1.05, 2.4);
    }

    p {
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      white-space: normal;
      font-size: 15px;
      line-height: 160%;
      width: 280px;
      margin-left: auto;
      margin-right: auto;
      span {
        font-weight: 700;
      }
    }
  }

  .section {
    font-family: Mada;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 110%;
    color: #FFFFFF;

    span {
      font-family: Mad Galaxy Demo;
      font-size: 17px;
    }
  }

  h2 {
    position: absolute;
    width: 700px;
    height: 66px;
    font-family: Archie Websters;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 110%;
    color: white;

    &.first {
      left: 1025px;
      top: 1199px;
    }

    &.second {
      left: 1025px;
      top: 1316px;
    }
  }

  h3 {
    position: absolute;
    word-wrap: break-word;
    width: 23px;
    height: 630px;
    left: 1572px;
    top: 620px;

    font-family: Archie Websters;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 110%;
    /* or 88px */


    color: #FFFFFF;
  }
}

@media only screen and (max-width: 768px){
  .wrapper {
    width: 768px;
    .firstPartWrapper {
      width: 768px;
      .backImage1 {
        width: 768px;
      }
    }
  }
}

@media only screen and (max-width: 425px){
  .wrapper {
    width: 425px;
    .firstPartWrapper {
      width: 425px;
      .backImage1 {
        width: 425px;
      }
    }
  }
}

@media only screen and (max-width: 375px){
  .wrapper {
    width: 375px;
    .firstPartWrapper {
      width: 375px;
      .backImage1 {
        width: 375px;
      }
    }
  }
}

@media only screen and (max-width: 320px){
  .wrapper {
    width: 320px;
    .firstPartWrapper {
      width: 320px;
      .backImage1 {
        width: 320px;
      }
    }
  }
}