@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 3700px;
  background-color: black;
  color: white;
  display: flex;
  position: relative;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  .backImage {
    position: absolute;
    width: 960px;
    height: 1518px;
    left: 0px;
    top: -21px;
  }
  
  .backImage2 {
    position: absolute;
    width: 320px;
    height: 3700px;
    left: 0px;
    top: 0px;
  }

  .section4 {
    position: absolute;
    width: 280px;
    left: calc((100vw - 280px)/ 2);
    top: 95px;

    font-family: Aldrich;
    font-style: normal;
    font-weight: normal;
    white-space: normal;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */

    text-align: center;

    span {
      font-size: 23px;
    }
  }
}

@media only screen and (max-width: 768px){
  .wrapper {
    width: 768px;
    .backImage, .backImage2 {
      width: 768px;
    }
  }
}

@media only screen and (max-width: 425px){
  .wrapper {
    width: 425px;
    .backImage, .backImage2 {
      width: 425px;
    }
  }
}

@media only screen and (max-width: 375px){
  .wrapper {
    width: 375px;
    .backImage, .backImage2 {
      width: 375px;
    }
  }
}

@media only screen and (max-width: 320px){
  .wrapper {
    width: 320px;
    .backImage, .backImage2 {
      width: 320px;
    }
  }
}