@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 3412px;
  overflow: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;
  .img1{
    position: absolute;
    width: 100%;
    height: 3412px;     
    top: 0px;
  }

  .img2{
    position: absolute;
    width: 100%;
    height: 3412px;
    left: 0px;
    top: 0px;

  }

  .img3{
    position: absolute;
    width: 243px;
    height: 247px;
    left: 36px;
    top: 2013px;
  }

  .img4{
    position: absolute;
    width: 379.92px;
    height: 247px;
    left: 2px;
    top: 2495px;
  }

  .img5{
    position: absolute;
    width: 320px;
    height: 84.95px;
    left: 452.6px;
    top: 2121px; 
  
  }

  .img6{
    position: absolute;
    width: 320px;
    height: 137px;
    left: -47px;
    top: 2778.45px;
    transform-origin: 0 0;
    transform: rotate(-20deg);
  }

  h1{
     
    font-family: Neon Nanoborg;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 69px;
    text-align: right;   
  }
  .title1{
    position: absolute;
    width: 617px;
    height: 137px;
    left: -268px;
    top: 97px;
    color: #FFFFFF;
  }
  .title2{
    position: absolute;
    width: 617px;
    height: 137px;
    left: -281px;
    top: 73px;
    color: #FF7A00;
  }

  .title3{
    position: absolute;
    width: 617px;
    height: 137px;
    left: -293px;
    top: 57px;
    color: #9E00FF;
  }

  h2{     
    font-family: Neon Nanoborg;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 27px;

    color: #FFFFFF;
  }

  .title4{
    position: absolute;
    width: 320px;
    height: 71.92px;
    top: 414px;
    left: 27px;
  }
  .title5{
    position: absolute;
    width: 320px;
    height: 71.92px;
    left: 21px;
    top: 977.89px;
 
    transform: rotate(-5deg);
  }
  .title6{
    position: absolute;
    width: 320px;
    height: 34.42px;
    left: 27px;
    top: 1239px;

    
    transform: rotate(5deg);
  }
  .title7{
    position: absolute;
    width: 320px;
    height: 71.92px;
    left: 39.76px;
    top: 1573px;
 
    transform: rotate(3deg);
  }
  h3{
    position: absolute;
    width: 383px;
    height: 27px;
    left: 102px;
    top: 166px;

    font-family: Neon Nanoborg;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 21px;

    color: #FFFFFF;
  }

  h6{    
    font-family: Neucha;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;

    color: #FFFFFF;
  }
  .text6{
    position: absolute;
    width: 300px;
    height: 141px;
    left: 36px;
    top: 2962px;    
  }
  .text5{
    position: absolute;
    width: 266.03px;
    height: 164.34px;
    left: 35.6px;
    top: 1632px;
 
    transform: rotate(3deg);
  }
  .text4{
    position: absolute;
    width: 286.11px;
    height: 83.58px;
    left: 58.09px;
    top: 1274.94px;
 
    transform: rotate(5deg);
  }
  .text3{
    position: absolute;
    width: 299.72px;
    height: 83.58px;
    left: 26.53px;
    top: 1067.79px; 
    transform: rotate(-5deg);
  }
  .text2{
    position: absolute;
    width: 317px;
    height: 455px;
    top: 486px;
    left: 27px;
  }
  .text1{
    position: absolute;
    width: 227.67px;
    height: 79.5px;
    left: 15px;
    top: 273.54px;
 
    transform: rotate(-10deg);
  }

  p{
    
    font-family: Neucha;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 13px;
    
    color: #FFFFFF;
  }

  .text7{
    position: absolute;
    width: 142px;
    height: 170px;
    left: 216px;
    top: 2277px;
    
  }

  .text8{
    position: absolute;
    width: 233px;
    height: 81px;
    left: 91px;
    top: 2833px;
  }
}
