@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 2883px;
  overflow: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .img1{
    position: absolute;
    width: 375px;
    height: 3257px;
    left: 0px;
    top: 0px;
  }

  .img2{
    position: absolute;
    width: 313px;
    height: 2441px;
    left: 31px;
    top: 326px;
  }

  p{
    position: absolute;
    width: 235px;
    height: 2398px;
    left: 70px;
    top: 369px;

    font-family: Crafty Girls;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 110%;
    /* or 22px */


    color: #FFFFFF;
  }

  h1{
    position: absolute;
    width: 348px;
    height: 240px;
    left: 35px;
    top: 30px;
    font-family: Cinzel Decorative;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 120.53%;
    /* or 60px */


    color: #FFFFFF;

    mix-blend-mode: normal;     
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
   
}
