@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 2377px;
  overflow: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;
  
  .img1{
    position: absolute;
    width: 375px;
    height: 2377px;
    left: 0px;
    top: 0px;

  }

  .img2{
    position: absolute;
    width: 304px;
    height: 178.72px;
    left: 50px;
    top: 1550px;
    
    border: 10px solid #FFFFFF;
    box-sizing: border-box;
  }

  .img3{
    position: absolute;
    width: 304px;
    height: 209.2px;
    left: 12px;
    top: 1202px;
 
    border: 10px solid #FFFFFF;
    box-sizing: border-box;
  }

  .img4{
    position: absolute;
    width: 336px;
    height: 192px;
    left: 41px;
    top: 821px;
 
    border: 10px solid #FFFFFF;
    box-sizing: border-box;
  }

  .img5{        
    position: absolute;
    width: 275px;
    height: 220px;
    left: 41px;
    top: 387px;
 
    border: 10px solid #FFFFFF;
    box-sizing: border-box;
  }

  .img6{
    position: absolute;
    width: 304px;
    height: 178px;
    left: 21px;
    top: 1973px;
 
    border: 10px solid #FFFFFF;
    box-sizing: border-box;
  }

  p{
    position: absolute;
    width: 101px;
    height: 20px;
    left: 25px;
    top: 33px;

    font-family: Fresca;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
    /* identical to box height, or 20px */

    text-align: center;

    color: #FFFFFF;
  }
  h1{
   
    font-family: Trocchi;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    /* or 50px */

    text-align: center;   
     
  }

  .title1{
    position: absolute;
    width: 333px;
    height: 150px;
    left: 21px;
    top: 120px;
    color: #FFFFFF;   
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25); 
  }
  .title2{
    position: absolute;
    width: 333px;
    height: 150px;
    left: 21px;
    top: 117px;
     
  }
  .title3{
    position: absolute;
    width: 333px;
    height: 150px;
    left: 21px;
    top: 113px;
    
  }

  h3{
    font-family: Fresca;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    /* or 50px */


    color: #FFFFFF;
  }

  .title4{
    position: absolute;
    width: 275px;
    height: 100px;
    left: 50px;
    top: 623px;

    
  }

  .title5{
    
    position: absolute;
    width: 224px;
    height: 50px;
    left: 142px;
    top: 1029px;

     

  }

  .title6{
    position: absolute;
    width: 220px;
    height: 50px;
    left: 12px;
    top: 1152px;
 
  }

  .title7{
    position: absolute;
    width: 278px;
    height: 50px;
    left: 52px;
    top: 1739px;

    
  }

  .title8{
    position: absolute;
    width: 302px;
    height: 50px;
    left: 21px;
    top: 1912px;

    
  }

  h2{
    position: absolute;
    width: 604px;
    height: 25px;
    left: -124px;
    top: 286px;

    font-family: Trocchi;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 100%;
    /* identical to box height, or 25px */

    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

}
