@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 100vh;
  overflow: scroll;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .backImage {
    position: absolute;
    height: 720px;
    left: 0px;
    top: 0px;
  }

  .innerWrapper {
      position: absolute;
      right: 10px;
      top: 30px;
      width: 180px;
      text-align: left;
      h1 {
        font-family: Didot;
        font-style: normal;
        white-space: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 110%;
        margin-bottom: 20px;
      }
      p {
        font-family: Dhurjati;
        font-style: normal;
        white-space: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 110%;
        margin-bottom: 20px;
        color: #FFA959;
      }
  }
}
