@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 1943px;
  overflow: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;
  .img1{
    position: absolute;
    width: 100%;
    height: 2243px;
    left: 0px;
    top: 0px;
  }
  .img2{
    position: absolute;
    width: 516px;
    height: 523px;
    left: -49px;
    top: 0px;
    border-radius: 1000px;
  }
  .img3{
    position: absolute;
    width: 268px;
    height: 268px;
    left: 0px;
    top: 474px;
 
    border: 8px solid rgba(0, 208, 196, 0.28);
    box-sizing: border-box;
    border-radius: 2000px;
  }
  .img4{
    position: absolute;
    width: 430px;
    height: 430px;
    left: 96px;
    top: 638px;
 
    border-radius: 1000px;
  }
  .img5{
    position: absolute;
    width: 345px;
    height: 345px;
    left: -49px;
    top: 968px;
 
    border-radius: 289.5px;
  }
  .img6{
    position: absolute;
    width: 346px;
    height: 345px;
    left: 15px;
    top: 1551px;
 
  }

  h1{
     
    font-family: Rose Cake - Personal Use;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 100%;
    /* or 60px */
    
    
    color: #FFFFFF;
  }

  .title1{
    position: absolute;
    width: 441px;
    height: 87px;
    left: 15px;
    top: 1464px;
     
  }

  .title2{
    position: absolute;
    width: 441px;
    height: 87px;
    left: 15px;
    top: 1418px;
  }
  .title3{
    position: absolute;
    width: 441px;
    height: 87px;
    left: 15px;
    top: 1369px;
  }
  .title4{
    
    position: absolute;
    width: 452px;
    height: 120px;
    left: -141px;
    top: 1758px;

    font-family: "Pixel Berry 08/84 Ltd.Edition";
    font-style: normal;
    font-weight: normal;
    font-size: 120px;
    line-height: 100%;
    /* identical to box height, or 120px */


    color: #FFFFFF;
  }
}
