@import './styles.module.scss';

.wrapper {
  width: 320px;
  height: 3600px;
  background-color: black;
  color: white;
  display: flex;
  position: relative;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  .backImage {
    width: 320px;
    height: 3600px;
    left: 0px;
    top: 0px;
  }

  .backImage2 {
    position: absolute;
    width: 960px;
    height: 3300px;
    left: 960px;
    top: 0px;
  }

  .section1 {
    position: absolute;
    width: 260px;
    left: 30px;
    top: 68px;

    font-family: Aldrich;
    font-style: normal;
    font-weight: normal;
    white-space: normal;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
  }

  h1 {
    position: absolute;
    width: 260px;
    left: 30px;
    right: 54.78%;
    top: 2000px;

    font-family: Internal Rainbows;
    font-style: normal;
    font-weight: normal;
    white-space: normal;
    font-size: 26px;
    line-height: 35px;
    text-align: center;
    transform: rotate(3deg);

    &.shadow1 {
      position: absolute;
      height: 432.95px;
      left: 11.18%;
      right: 55.02%;
      top: 2000px;
      color: #F90498;
    }

    &.shadow2 {
      height: 432.95px;
      left: 12.39%;
      right: 54.81%;
      top: 2000px;
      color: #F90498;
    }

    &.shadow3 {
      height: 432.95px;
      left: 13.65%;
      right: 54.55%;
      top: 2000px;
      color: #F90498;
    }
  }

  .section2 {
    position: absolute;
    width: 300px;
    left: 10px;
    top: 3200px;

    font-family: Aldrich;
    font-style: normal;
    font-weight: normal;
    white-space: normal;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
  }

  .section3 {
    position: absolute;
    width: 300px;
    height: 160.35px;
    left: 10px;
    top: 1700px;

    font-style: normal;
    font-weight: normal;
    white-space: normal;
    font-family: Aldrich;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    transform: rotate(-5deg);

    span {
      font-family: Acme;
      font-size: 23px;
    }
  }

  .section4 {
    position: absolute;
    width: 851px;
    height: 895px;
    left: 990px;
    top: 546px;
    font-family: Aldrich;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
  }
}

@media only screen and (max-width: 768px){
  .wrapper {
    width: 768px;
    .innerWrapper {
      width: 708px;
    }
    .backImage, .backImage2 {
      width: 768px;
    }
  }
}

@media only screen and (max-width: 425px){
  .wrapper {
    width: 425px;
    .innerWrapper {
      width: 465px;
    }
    .backImage, .backImage2 {
      width: 425px;
    }
  }
}

@media only screen and (max-width: 375px){
  .wrapper {
    width: 375px;
    .innerWrapper {
      width: 315px;
    }
    .backImage, .backImage2 {
      width: 375px;
    }
  }
}

@media only screen and (max-width: 320px){
  .wrapper {
    width: 320px;
    .innerWrapper {
      width: 260px;
    }
    .backImage, .backImage2 {
      width: 320px;
    }
  }
}