@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 629px;
  overflow: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .backImage {
    position: absolute;
    height: 629px;
    width: 100%;
    min-height: 600px;
    left: 0px;
    top: 0px;
  }

  .title{
    position: absolute;
    width: 338px;
    height: 33px;
    left: 251px;
    top: 571px;

    font-family: Asdonuts;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 110%;
    /* identical to box height, or 33px */


    color: #FFFFFF;
  }
}
