@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 977px;
  background-color: white;
  color: black;
  position: relative;
  overflow: hidden;

  .backgroundImage {
    position: absolute;
    width: 375px;
    height: 1070px;
    left: 0px;
    top: 0px;
  }

  .innerWrapper {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 200px;
  }

  .flex {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
  }

  h2 {
    position: absolute;
    width: 270px;
    height: 72px;
    left: 77px;
    top: 61px;

    font-family: Nella Sue Demo;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 120.53%;
    color: #FFFFFF;
  }

  h3 {
    font-family: Sweetly Broken;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;    
    text-align: center;
    color: #FFFFFF;
    position: absolute;

    &.content1 {
      width: 387px;
      height: 168px;
      left: -83px;
      top: 170px;
    }

    &.content2 {
      width: 387px;
      height: 192px;
      left: 97px;
      top: 170px;
    }

    &.content3 {
      width: 387px;
      height: 192px;
      left: -85px;
      top: 391px;      
    }

    &.content4 {
      width: 387px;
      height: 168px;
      left: 92px;
      top: 398px;      
    }

    &.content5 {
      width: 387px;
      height: 120px;
      left: -96px;
      top: 583px;
    }

    &.content6 {
      width: 387px;
      height: 168px;
      left: 92px;
      top: 580px;      
    }

    &.content7 {
      width: 387px;
      height: 144px;
      left: -96px;
      top: 748px;      
    }

    &.content8 {
      width: 387px;
      height: 192px;
      left: 94px;
      top: 755px;      
    }
  }
}
