@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 3400px;
  background-color: white;
  color: black;
  display: flex;
  position: relative;
  
  .backImage1 {
    position: absolute;
    width: 320px;
    height: 3200px;
    left: 0px;
    top: 100px;
  }

  .backImage2 {
    position: absolute;
    width: 808px;
    height: 1497px;
    left: 960px;
    top: 0px;
  }

  .topSideFrame {
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0px;
    top: 0px;
    background-color: rgb(0 249 58);
    border-top: 10px solid black;
    border-bottom: 10px solid black;
  }

  .bottomSideFrame {
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0px;
    bottom: 0px;
    background-color: rgb(0 249 58);
    border-top: 10px solid black;
    border-bottom: 10px solid black;
  }

  .topTextImage {
    position: absolute;
    width: 320px;
    left: 0px;
    top: 30px;
  }

  .bottomTextImage {
    position: absolute;
    width: 320px;
    left: 0px;
    bottom: 30px;
  }

}

@media only screen and (max-width: 768px){
  .wrapper {
    width: 768px;
    .backImage1, .backImage2 {
      width: 768px;
    }
  }
}

@media only screen and (max-width: 425px){
  .wrapper {
    width: 425px;
    .backImage1, .backImage2 {
      width: 425px;
    }
  }
}

@media only screen and (max-width: 375px){
  .wrapper {
    width: 375px;
    .backImage1, .backImage2 {
      width: 375px;
    }
  }
}

@media only screen and (max-width: 320px){
  .wrapper {
    width: 320px;
    .backImage1, .backImage2 {
      width: 320px;
    }
  }
}