@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 100vh;
  overflow: scroll;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .backImage {
    position: absolute;
    height: 720px;
    left: 0px;
    top: 0px;
  }

  .innerWrapper {
      position: absolute;
      right: 0;
      top: 30px;
      width: 100%;
      text-align: left;
      div {
        width: 180px;
        margin-left: auto;
        margin-right: 40px;
        margin-bottom: 50px;
        p {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            white-space: normal;
            font-size: 12px;
            line-height: 110%;
            margin-bottom: 20px;
        }
      }
      img {
          width: 180px;
          margin-left: 40px;
      }
  }
}
