@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 3677px;
  overflow: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .img1{
    position: absolute;
    width: 100%;
    height: 3766px;
     
    top: 0px;
  }
  .img2{
    position: absolute;
    width: 100%;
    height: 3865px;     
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .img3{
    position: absolute;
    width: 100%;
    height: 3766px;    
    top: 0px;
    background: rgba(63, 30, 122, 0.7);
    mix-blend-mode: darken;
  }
  .img4{
    position: absolute;
    width: 304px;
    height: 389px;
    left: 34px;
    top: 1493px;   
  }

  .img5{
    position: absolute;
    width: 304px;
    height: 389.56px;
    left: 34px;
    top: 2037px;
  }
  .img6{
    position: absolute;
    width: 303.81px;
    height: 389px;
    left: 34px;
    top: 3125px;
  }
  .img7{
    position: absolute;
    width: 303.81px;
    height: 389px;
    left: 34px;
    top: 2580px;
  }
  h1{    
    position: absolute;
    width: 341px;
    height: 140px;

    font-family: Knife Princess;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 100%;
    /* or 70px */
    color: #26D9F9;
  }

  p{     
    font-family: Basic;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 110%;
    /* or 22px */
    color: #FFFFFF;
  }

  .text1{
    position: absolute;
    width: 246px;
    height: 748px;
    top: 170px;
    left: 60px;       
  }

  .text2{
    position: absolute;
    width: 252px;
    height: 308px;
    left: 68px;
    top: 1064px;
 
  }

  h2{
    position: absolute;
    width: 216px;
    height: 26px;
    left: 68px;
    top: 1031px;

    font-family: Barlow;
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 110%;
    /* or 26px */
    color: #FFFFFF;
  }

  h3{
    
    font-family: Courier Prime;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 110%;
    /* or 24px */
    color: #FFFFFF;
  }

  .name1{
    position: absolute;
    width: 227px;
    height: 24px;
    top: 1433px;
    left: 35px;     
  }   

  .name2{
    position: absolute;
    width: 227px;
    height: 24px;
    top: 1957px;
    left: 35px;     
  }   

  .name3{
    position: absolute;
    width: 227px;
    height: 24px;
    top: 2500px;
    left: 35px;     
  }   

  .name4{
    position: absolute;
    width: 227px;
    height: 24px;
    top: 3045px;
    left: 35px;     
  }   
  
  

  .subtitle1{
    position: absolute;
    width: 325px;
    height: 22px;
    top: 1463px;
    left: 35px; 
    font-family: Courier Prime;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 110%;
    color: #FFFFFF;
  }

  .subtitle2{
    position: absolute;
    width: 325px;
    height: 22px;
    top: 1987px;
    left: 35px; 
    font-family: Courier Prime;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 110%;
    color: #FFFFFF;
  }

  .subtitle3{
    position: absolute;
    width: 325px;
    height: 22px;
    top: 2530px;
    left: 35px; 
    font-family: Courier Prime;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 110%;
    color: #FFFFFF;
  }

  .subtitle4{
    position: absolute;
    width: 325px;
    height: 22px;
    top: 3075px;
    left: 35px; 
    font-family: Courier Prime;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 110%;
    color: #FFFFFF;
  }
}
