@import '../../assets/scss/helpers/grid.scss';

.productInfoCardwrapper {
  margin: auto;
  width: calc(100vw - 4rem);

  @include sm-width {
    width: 400px;
  }

  @include md-width {
    width: 500px;
  }

  @include lg-width {
    width: 350px;
  }

  @include xl-width {
    width: 400px;
  }

  @include xxl-width {
    width: 500px;
  }

  .infoCardWrapper {
    margin: auto;
    width: 100%;
  }

  .imageWrapper {
    margin-bottom: 2rem;
  }

  .infoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.flexRow {
      flex-direction: row;
      justify-content: center;
      align-items: normal;

      &>:first-child {
        width: 40%;
        margin-right: 1%;
      }
      margin-bottom: 1rem;
    }

    a {
      margin-top: 0.5rem;
      width: 60%;
    }

    button {
      width: 100%;
      min-width: unset;
    }

    p {
      color: white !important;
    }
  }

  .buttonWrapper {
    margin: auto;
    text-align: center;

    button {
      width: 60%;
      min-width: unset;
    }
  }
}
