  @font-face {
    font-family: "inter";
    font-display: swap;
    src: url("/fonts/inter-400.woff2") format("woff2"),
      url("/fonts/inter-400.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "inter";
    font-display: swap;
    src: url("/fonts/inter-600.woff2") format("woff2"),
      url("/fonts/inter-600.woff") format("woff");
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: "inter";
    font-display: swap;
    src: url("/fonts/inter-700.woff2") format("woff2"),
      url("/fonts/inter-700.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "inter";
    font-display: swap;
    src: url("/fonts/inter-800.woff2") format("woff2"),
      url("/fonts/inter-800.woff") format("woff");
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: "inter";
    font-display: swap;
    src: url("/fonts/inter-900.woff2") format("woff2"),
      url("/fonts/inter-900.woff") format("woff");
    font-weight: 900;
    font-style: normal;
  }
