  @font-face {
    font-family: "inter";
    font-display: swap;
    src: url("./../../../../public/fonts/inter-400.woff2") format("woff2"),
    url("./../../../../public/fonts/inter-400.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  } 

  @font-face {
    font-family: "inter";
    font-display: swap;
    src: url("./../../../../public/fonts/inter-600.woff2") format("woff2"),
    url("./../../../../public/fonts/inter-600.woff") format("woff");
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: "inter";
    font-display: swap;
    src: url("./../../../../public/fonts/inter-700.woff2") format("woff2"),
      url("./../../../../public/fonts/inter-700.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "inter";
    font-display: swap;
    src: url("./../../../../public/fonts/inter-800.woff2") format("woff2"),
      url("./../../../../public/fonts/inter-800.woff") format("woff");
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: "inter";
    font-display: swap;
    src: url("./../../../../public/fonts/inter-900.woff2") format("woff2"),
      url("./../../../../public/fonts/inter-900.woff") format("woff");
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: "Internal Rainbows";
    src: url("./../../../../public/fonts/Internal Rainbows.otf");
    font-weight: 400;
  }

  @font-face {
    font-family: "Gilroy";
    src: url("./../../../../public/fonts/Gilroy-Light.otf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: "Gilroy";
    src: url("./../../../../public/fonts/Gilroy-ExtraBold.otf");
    font-weight: 700;
  }
  
  @font-face {
    font-family: "Gilroy";
    src: url("./../../../../public/fonts/Gilroy-ExtraBold.otf");
    font-weight: 900;
  }

  @font-face {
    font-family: Armata-Regular;
    src: url("./../../../../public/fonts/Armata-Regular.ttf");
    font-weight: 400;
  }

  @font-face {
    font-family: "Animosa";
    src: url("./../../../../public/fonts/Animosa-Regular.otf");
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "A DAY WITHOUT SUN";
    src: url("./../../../../public/fonts/A DAY WITHOUT SUN.otf");
    font-weight: 400;
  }

  @font-face {
    font-family: 'Abel';
    src: url("./../../../../public/fonts/Abel-Regular.ttf");
    font-weight: 400;
  }

  @font-face {
    font-family: 'Nella Sue Demo';
    src: url("./../../../../public/fonts/NellaSueDEMO.ttf");
    font-weight: 400;
  }

  @font-face {
    font-family: 'Sweetly Broken';
    src: url("./../../../../public/fonts/Sweetly Broken.ttf");
    font-weight: 400;
  }

  @font-face {
    font-family: 'Sweetly Broken';
    src: url("./../../../../public/fonts/Sweetly Broken SemiBold.ttf");
    font-weight: 700;
  }

  @font-face {
    font-family: 'Sweetly Broken';
    src: url("./../../../../public/fonts/Sweetly Broken Bold.ttf");
    font-weight: 900;
  }

  @font-face {
    font-family: 'Artisual Deco DEMO';
    src: url("./../../../../public/fonts/ArtisualDeco-Regular.ttf");
    font-weight: 400;
  }

  @font-face {
    font-family: 'Mad Galaxy Demo';
    src: url("./../../../../public/fonts/MadGalaxyDemoRegular.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Archie Websters';
    src: url("./../../../../public/fonts/Archie Websters.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Rugrats';
    src: url("./../../../../public/fonts/RugratS.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Rugsnatcher DEMO';
    src: url("./../../../../public/fonts/rugsnatcher DEMO.otf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Beth Ellen';
    src: url("./../../../../public/fonts/Beth-Ellen-2.0.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Jockey One';
    src: url("./../../../../public/fonts/JockeyOne-Regular.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Jacques Francois';
    src: url("./../../../../public/fonts/JacquesFrancois-Regular.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Lexend Tera';
    src: url("./../../../../public/fonts/LexendTera-Regular.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Lexend Zetta';
    src: url("./../../../../public/fonts/LexendZetta-Regular.ttf");
    font-weight: 400;
  }

  @font-face {
    font-family: 'Medula One';
    src: url("./../../../../public/fonts/MedulaOne-Regular.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Aldrich';
    src: url("./../../../../public/fonts/Aldrich-Regular.ttf");
    font-weight: 400;
  }

  @font-face {
    font-family: 'Cool Chaos';
    src: url("./../../../../public/fonts/Cool Chaos.otf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Heaven Wanders DEMO';
    src: url("./../../../../public/fonts/Heaven_Wanders_DEMO.otf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Comics Tricks';
    src: url("./../../../../public/fonts/Comics Tricks.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Habbo';
    src: url("./../../../../public/fonts/HabboFont.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Ayuthaya';
    src: url("./../../../../public/fonts/ayuthaya-webfont.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Arima Madurai';
    src: url("./../../../../public/fonts/ArimaMadurai-Bold.ttf");
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'Mada';
    src: url("./../../../../public/fonts/Mada-Regular.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Mervale Script';
    src: url("./../../../../public/fonts/MervaleScript-Regular.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'PLAYPULL';
    src: url("./../../../../public/fonts/PLAYPULL_Demo.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Acme';
    src: url("./../../../../public/fonts/Acme-Regular.ttf");
    font-weight: 400;
  }

  @font-face {
    font-family: 'Blacker Display';
    src: url("./../../../../public/fonts/Blacker-Display-Regular-trial.ttf");
  }

  @font-face {
    font-family: 'Arapey';
    src: url("./../../../../public/fonts/Arapey-Regular.ttf");
  }

  @font-face {
    font-family: 'EB Garamond';
    src: url("./../../../../public/fonts/EBGaramond-VariableFont_wght.ttf");
  }

  @font-face {
    font-family: 'Julietta Messie Demo';
    src: url("./../../../../public/fonts/FontsFree-Net-Julietta-Messie-Demo.ttf");
    font-weight: 400;
  }

  @font-face {
    font-family: 'Asdonuts';
    src: url("./../../../../public/fonts/Asdonuts.ttf");
  }

  @font-face {
    font-family: 'Olivia & Kevin';
    src: url("./../../../../public/fonts/Olivia & Kevin.ttf");
  }

  @font-face {
    font-family: 'Knife Princess';
    src: url("./../../../../public/fonts/Knife Princess.ttf");
  }

  @font-face {
    font-family: 'Sen';
    src: url("./../../../../public/fonts/Sen-Regular.ttf");
  }

  @font-face {
    font-family: 'Digital Dare';
    src: url("./../../../../public/fonts/Digital Dare.ttf");
  }

  @font-face {
    font-family: 'Didot';
    src: url("./../../../../public/fonts/GFSDidot-Regular.ttf");
  }

  @font-face {
    font-family: 'Dhurjati';
    src: url("./../../../../public/fonts/Dhurjati-Regular.ttf");
  }

  @font-face {
    font-family: 'Bahiana';
    src: url("./../../../../public/fonts/Bahiana-Regular.ttf");
  }
  
  @font-face {
    font-family: 'DM Mono';
    src: url("./../../../../public/fonts/DMMono-Regular.ttf");
  }

  @font-face {
    font-family: 'Masterblast';
    src: url("./../../../../public/fonts/Masterblast.otf");
  }
  
  @font-face {
    font-family: 'Carter One';
    src: url("./../../../../public/fonts/CarterOne-Regular.ttf");
  }

  @font-face {
    font-family: 'Baloo Tamma 2';
    src: url("./../../../../public/fonts/BalooTamma2-Regular.ttf");
  }

  @font-face {
    font-family: 'Covered By Your Grace';
    src: url("./../../../../public/fonts/CoveredByYourGrace-Regular.ttf");
  }

  @font-face {
    font-family: 'Boldfinger';
    src: url("./../../../../public/fonts/Boldfinger.ttf");
  }

  @font-face {
    font-family: 'Crafty Girls';
    src: url("./../../../../public/fonts/CraftyGirls-Regular.ttf");
  }

  @font-face {
    font-family: 'Cinzel Decorative';
    src: url("./../../../../public/fonts/CinzelDecorative-Regular.ttf");
  }
  
  @font-face {
    font-family: 'Trocchi';
    src: url("./../../../../public/fonts/Trocchi-Regular.ttf");
  }

  @font-face {
    font-family: 'Fresca';
    src: url("./../../../../public/fonts/Fresca-Regular.ttf");
  }

  @font-face {
    font-family: 'Empirez';
    src: url("./../../../../public/fonts/Empirez.ttf");
  }

  @font-face {
    font-family: 'Mouse Deco';
    src: url("./../../../../public/fonts/Mouse_Deco.ttf");
  }

  @font-face {
    font-family: 'Neucha';
    src: url("./../../../../public/fonts/Neucha-Regular.ttf");
  }

  @font-face {
    font-family: 'Neon Nanoborg';
    src: url("./../../../../public/fonts/Neon Nanoborg.otf");
  }
  
  @font-face {
    font-family: 'Rose Cake-Personal Use';
    src: url("./../../../../public/fonts/Rose Cake - Personal Use.woff");
  }

  @font-face {
    font-family: 'Courier Prime';
    src: url("./../../../../public/fonts/CourierPrime-Regular.ttf");
  }
  
  @font-face {
    font-family: 'Minecrafter';
    src: url("./../../../../public/fonts/Minecrafter.Reg.ttf");
  }
  
  @font-face {
    font-family: 'ZCOOL KuaiLe';
    src: url("./../../../../public/fonts/ZCOOLKuaiLe-Regular.ttf");
  }
    
  @font-face {
    font-family: 'Finger Paint';
    src: url("./../../../../public/fonts/FingerPaint-Regular.ttf");
  }
     
  @font-face {
    font-family: 'Finger Paint';
    src: url("./../../../../public/fonts/FingerPaint-Regular.ttf");
  }
    
  @font-face {
    font-family: 'B612 Mono';
    src: url("./../../../../public/fonts/B612Mono-Regular.ttf");
  }
      
  @font-face {
    font-family: 'Biryani';
    src: url("./../../../../public/fonts/Biryani-Regular.ttf");
  }
       
  @font-face {
    font-family: 'Capriola';
    src: url("./../../../../public/fonts/Capriola-Regular.ttf");
  }

  @font-face {
    font-family: 'Barlow';
    src: url("./../../../../public/fonts/Barlow-Regular.ttf");
  }

  @font-face {
    font-family: 'FresHot_DEMO';
    src: url("./../../../../public/fonts/FresHot_DEMO.ttf");
  }

  @font-face {
    font-family: 'Jura';
    src: url("./../../../../public/fonts/Jura-VariableFont_wght.ttf");
  }

  @font-face {
    font-family: 'Parabolic';
    src: url("./../../../../public/fonts/Parabolic.ttf");
  }

  @font-face {
    font-family: 'Days One';
    src: url("./../../../../public/fonts/DaysOne-Regular.ttf");
  }