  @font-face {
    font-family: "inter";
    font-display: swap;
    src: url("./../../../../public/fonts/inter-400.woff2") format("woff2"),
    url("./../../../../public/fonts/inter-400.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  } 

  @font-face {
    font-family: "inter";
    font-display: swap;
    src: url("./../../../../public/fonts/inter-600.woff2") format("woff2"),
    url("./../../../../public/fonts/inter-600.woff") format("woff");
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: "inter";
    font-display: swap;
    src: url("./../../../../public/fonts/inter-700.woff2") format("woff2"),
      url("./../../../../public/fonts/inter-700.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "inter";
    font-display: swap;
    src: url("./../../../../public/fonts/inter-800.woff2") format("woff2"),
      url("./../../../../public/fonts/inter-800.woff") format("woff");
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: "inter";
    font-display: swap;
    src: url("./../../../../public/fonts/inter-900.woff2") format("woff2"),
      url("./../../../../public/fonts/inter-900.woff") format("woff");
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: "Internal Rainbows";
    src: url("./../../../../public/fonts/Internal Rainbows.otf");
    font-weight: 400;
  }

  @font-face {
    font-family: "Gilroy";
    src: url("./../../../../public/fonts/Gilroy-Light.otf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: "Gilroy";
    src: url("./../../../../public/fonts/Gilroy-ExtraBold.otf");
    font-weight: 700;
  }
  
  @font-face {
    font-family: "Gilroy";
    src: url("./../../../../public/fonts/Gilroy-ExtraBold.otf");
    font-weight: 900;
  }

  @font-face {
    font-family: Armata-Regular;
    src: url("./../../../../public/fonts/Armata-Regular.ttf");
    font-weight: 400;
  }

  @font-face {
    font-family: "Animosa";
    src: url("./../../../../public/fonts/Animosa-Regular.otf");
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "A DAY WITHOUT SUN";
    src: url("./../../../../public/fonts/A DAY WITHOUT SUN.otf");
    font-weight: 400;
  }

  @font-face {
    font-family: 'Abel';
    src: url("./../../../../public/fonts/Abel-Regular.ttf");
    font-weight: 400;
  }

  @font-face {
    font-family: 'Nella Sue Demo';
    src: url("./../../../../public/fonts/NellaSueDEMO.ttf");
    font-weight: 400;
  }

  @font-face {
    font-family: 'Sweetly Broken';
    src: url("./../../../../public/fonts/Sweetly Broken.ttf");
    font-weight: 400;
  }

  @font-face {
    font-family: 'Sweetly Broken';
    src: url("./../../../../public/fonts/Sweetly Broken SemiBold.ttf");
    font-weight: 700;
  }

  @font-face {
    font-family: 'Sweetly Broken';
    src: url("./../../../../public/fonts/Sweetly Broken Bold.ttf");
    font-weight: 900;
  }

  @font-face {
    font-family: 'Artisual Deco DEMO';
    src: url("./../../../../public/fonts/ArtisualDeco-Regular.ttf");
    font-weight: 400;
  }

  @font-face {
    font-family: 'Mad Galaxy Demo';
    src: url("./../../../../public/fonts/MadGalaxyDemoRegular.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Archie Websters';
    src: url("./../../../../public/fonts/Archie Websters.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Rugrats';
    src: url("./../../../../public/fonts/RugratS.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Rugsnatcher DEMO';
    src: url("./../../../../public/fonts/rugsnatcher DEMO.otf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Beth Ellen';
    src: url("./../../../../public/fonts/Beth-Ellen-2.0.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Jockey One';
    src: url("./../../../../public/fonts/JockeyOne-Regular.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Jacques Francois';
    src: url("./../../../../public/fonts/JacquesFrancois-Regular.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Lexend Tera';
    src: url("./../../../../public/fonts/LexendTera-Regular.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Lexend Zetta';
    src: url("./../../../../public/fonts/LexendZetta-Regular.ttf");
    font-weight: 400;
  }

  @font-face {
    font-family: 'Medula One';
    src: url("./../../../../public/fonts/MedulaOne-Regular.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Aldrich';
    src: url("./../../../../public/fonts/Aldrich-Regular.ttf");
    font-weight: 400;
  }

  @font-face {
    font-family: 'Cool Chaos';
    src: url("./../../../../public/fonts/Cool Chaos.otf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Heaven Wanders DEMO';
    src: url("./../../../../public/fonts/Heaven_Wanders_DEMO.otf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Comics Tricks';
    src: url("./../../../../public/fonts/Comics Tricks.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Habbo';
    src: url("./../../../../public/fonts/HabboFont.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Ayuthaya';
    src: url("./../../../../public/fonts/ayuthaya-webfont.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Arima Madurai';
    src: url("./../../../../public/fonts/ArimaMadurai-Bold.ttf");
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'Mada';
    src: url("./../../../../public/fonts/Mada-Regular.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Mervale Script';
    src: url("./../../../../public/fonts/MervaleScript-Regular.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'PLAYPULL';
    src: url("./../../../../public/fonts/PLAYPULL_Demo.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Acme';
    src: url("./../../../../public/fonts/Acme-Regular.ttf");
    font-weight: 400;
  }

  @font-face {
    font-family: 'Blacker Display';
    src: url("../../../../public/fonts/Blacker-Display-Regular-trial.ttf");
  }
  
  @font-face {
    font-family: 'Rochester';
    src: url("./../../../../public/fonts/Rochester-Regular.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Nunito Sans';
    src: url("./../../../../public/fonts/NunitoSans-Regular.ttf");
    font-weight: 400;
  }
