.wrapper {
  position: relative;
  padding: 2rem;
  border-radius: 2rem;
  height: 80vw;
  display: flex;
  flex-direction: column;
  // border: 3px solid #FFFFFF;
  // box-shadow: inset 0px 4px 30px 10px #ffffff, 0px 4px 25px 10px #ffffff
  z-index: 100;
  border: 3px solid #C2EABA;
  &:before {
    content: "";
    position: absolute;
    border-radius: 2rem;
    background: linear-gradient(319deg, #C2EABA 0%, #C5F4E0 37%, #EFC2CF 100%);
    z-index: -1;
    left: -2%;
    top: -2%;
    height: 104%;
    width: 104%;
    filter: blur(15px);
  }
  &:after {
    content: "";
    position: absolute;
    border-radius: 2rem;
    background: black;
    z-index: -1;
    left: 2%;
    top: 2%;
    height: 96%;
    width: 96%;
    filter: blur(10px);
  }
  

  .videoItem {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .photoItem {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .viewFashion {
    width: 100%;
    position: relative;
    background: transparent;
    border: none;
    transition: 0.3s all;
    position: absolute;
    top: 90%;
    left: -0.5vw;

    &:hover {
      transition: 0.3s all;
      transform: scale(1.1);
    }

    img {
      width: 60%;
    }

    div {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;

      font-family: Gilroy;
      font-weight: 800;
      font-size: 1.5vw;
      letter-spacing: 0.12em;
      text-transform: uppercase;

      @media (max-width: 767px) {
        font-size: 14px;
      }
    }
  }
}