.wrapper {
  position: relative;
  padding: 2rem;
  border-radius: 2rem;
  height: 80vw;
  border: 2px solid #9c28ff;
  box-shadow: inset 0px 0px 30px 20px rgb(197 32 129 / 50%), 0px 0px 30px 20px rgb(197 32 129 / 50%);
  display: flex;
  flex-direction: column;

  .videoItem {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .photoItem {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .viewFashion {
    width: 100%;
    position: relative;
    background: transparent;
    border: none;
    transition: 0.3s all;
    position: absolute;
    top: 90%;
    left: -0.5vw;

    &:hover {
      transition: 0.3s all;
      transform: scale(1.1);
    }

    img {
      width: 60%;
    }

    div {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;

      font-family: Gilroy;
      font-weight: 800;
      font-size: 1.5vw;
      letter-spacing: 0.12em;
      text-transform: uppercase;

      @media (max-width: 767px) {
        font-size: 14px;
      }
    }
  }
}