.wrapper {
  position: absolute;
  width: 375px;
  height: 461px;
  left: 0px;
  top: 97px;
  
  background: rgba(145, 0, 113, 0.8);
}

.title {
  position: absolute;
  height: 24px;
  left: 25px;
  top: 151px;

  font-family: Courier;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 120.53%;
  color: #FFFFFF;
}

.description {
  position: absolute;
  width: 267px;
  height: 222px;
  left: 54px;
  top: 205px;
  
  font-family: Courier;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 120.53%;
  
  text-align: center;
  
  color: #FFFFFF;
}

.unlock {
  position: absolute;
  width: 153px;
  height: 44px;
  left: 111px;
  top: 437px;

  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 120.53%;
  text-align: center;
  color: #FFFFFF;

  background: rgba(145, 0, 113, 0.8);  

  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to bottom, white, black);
  &:hover {
    border-image-source: linear-gradient(to bottom, black, white);
  }
  &:active {
    background: rgba(145, 50, 113, 1); 
  }
}