@import '@assets/scss/helpers/variables.scss';

.isDefault {
  font-size: 1.5rem;
  line-height: 29px;
  font-weight: 900;

  .dots {
    transform: translateY(-2px);
    display: inline-block;
  }
}

.isLarge {
  font-weight: 400;
  font-size: 3rem;
  line-height: 58px;

  .item {
    &:not(:first-child) {
      margin-left: 15px;
    }
  
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  .dots {
    transform: translateY(-4px);
  }
}

.isSmall {
  font-size: 1rem;
  line-height: 19px;
  font-weight: bold;
}
