@import "../../assets/scss/helpers/grid.scss";
@import "../../assets/scss/helpers/variables.scss";

.wrapper {
  @include wrapper();
  margin-bottom: 25px;
  margin-top: 68px;
}

.title {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}
