@import '../../../../../assets/scss/helpers/variables.scss';
@import '../../../../../assets/scss/helpers/helpers.scss';

.wrapper {
  background: $lightGray1;
  padding: 15px 25px 30px 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footerWrapper {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #e6e6e6;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.espaLink {
  display: flex;
  font-size: 12px;
  color: #111111;
  a {
    text-decoration: underline;
  }
}

.leftFooter {
  display: block;
}

.youReceiveText {
  font-size: 14px;
  line-height: 17px;
  font-weight: 900;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.estimateApyTextWrapper {
  min-height: 24px;
  align-items: center;
  display: inline-flex;
  font-size: 17px;
}

.estimateWrapper {
  display: flex;
  position: relative;
  align-items: flex-end;
}

.estimateApyText {
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  margin-right: 5px;
}

.estimateApy {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  margin-left: 12px;
  order: 1;
  color: #111111;
}

.questionMark {
  width: 15px;
  height: 15px;
  border: 1px solid #e6e6e6;
  border-radius: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  line-height: 11px;
  font-weight: 600;
  transform: translateY(-9px);
  background: #fff;
  cursor: pointer;
}

.hint {
  display: none;
  position: absolute;
  width: 165px;
  padding: 4px;
  border: 0.5px solid #000000;
  background: #fff;
  font-size: 9px;
  line-height: 120%;
  top: -47px;
}

.questionMark:hover + .hint {
  display: block;
}

.gameTable {
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;
}

.col1 {
  flex: 4;
}

.col2 {
  flex: 2;
}

.col3 {
  flex: 4;
}

.header {
  display: flex;
  font-size: 10px;
  font-weight: 700;
  color: #999999;
  line-height: 24px;
  margin-bottom: 11px;
}

.body {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #111111;

  .row {
    display: flex;
    .col1 {
      display: flex;
      flex-direction: column;
      span {
        font-weight: 700;
      }
    }
  }
}
