@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 2557px;
  background-color: white;
  color: black;
  display: flex;
  position: relative;

  .image3 {
    position: absolute;
    width: 960px;
    height: 1458px;
    left: -285px;
    top: 0px;
  }
  .text3 {
    position: absolute;
    width: 278px;
    height: 168px;
    left: 52px;
    top: 14px;
    
    font-family: Cormorant Infant;
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 120.53%;
    /* or 84px */
    
    
    color: #FFFFFF;
  }
  .image4 {
    position: absolute;
    width: 91px;
    height: 99px;
    left: 226px;
    top: 14px;
  }
  .image2 {
    position: absolute;
    width: 92px;
    height: 92px;
    left: 258px;
    top: 113px;
  }
  .text4 {
    position: absolute;
    width: 348px;
    height: 189px;
    left: 52px;
    top: 182px;
    
    font-family: Counter-Strike;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 90%;
    /* or 63px */
    
    
    color: #B00000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    -webkit-text-fill-color: #b00000;
  }
  .text5 {
    position: absolute;
    width: 279px;
    height: 120px;
    left: 48px;
    top: 385px;
    
    font-family: Chilanka;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 120.53%;
    /* or 20px */
    
    
    color: #FFFFFF;
  }
  .text6 {
    position: absolute;
    width: 263px;
    height: 93px;
    left: 48px;
    top: 520px;
    
    font-family: Chilanka;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 120.53%;
    /* or 31px */
    
    
    color: #FFFFFF;
  }
  .image5 {
    position: absolute;
    width: 278px;
    height: 363px;
    left: 0px;
    top: 642px;
  }
  .image1 {
    position: absolute;
    width: 224px;
    height: 224px;
    left: 232px;
    top: 599px;
  }
  .image9 {
    position: absolute;
    width: 309px;
    height: 387px;
    left: 66px;
    top: 1005px;
    overflow: hidden;
    .image10 {
      position: absolute;
      width: 100%;
    }
  }
  .image13 {
    position: absolute;
    width: 375px;
    height: 253px;
    left: 0px;
    top: 1458px;
    .image14 {
      width: 100%;
    }
  }
  .image6 {
    position: absolute;
    width: 375px;
    height: 4104px;
    left: 0px;
    top: 0px;
  }
  .text7 {
    position: absolute;
    width: 278px;
    height: 180px;
    left: 48px;
    top: 1777px;
    
    font-family: Coda Caption;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 120.53%;
    /* or 36px */
    
    
    color: #FF0000;
  }
  .image15 {
    position: absolute;
    width: 459px;
    height: 534px;
    left: -9px;
    top: 2023px;
    .image16 {
      width: 100%;
    }
  }
}
