@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.wrapper {
  @include magazineWrapper();
  height: 3659px;
  background-color: black;
  position: relative;
  white-space: normal;
  text-align: left;

  .video1 {
    position: absolute;
    width: 375px;
    height: 4840px;
    left: 0px;
    top: 0px;
  }
  .text6 {
    position: absolute;
    width: 311px;
    height: 60px;
    left: 32px;
    top: 70px;
    
    font-family: Cochin;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 100%;
    /* identical to box height, or 60px */
    
    
    color: #FFFFFF;
  }
  .text7 {
    position: absolute;
    width: 311px;
    height: 60px;
    left: 32px;
    top: 145px;
    
    font-family: Cochin;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 100%;
    /* identical to box height, or 60px */
    
    
    color: #FFFFFF;
  }
  .text8 {
    position: absolute;
    width: 311px;
    height: 60px;
    left: 32px;
    top: 217px;
    
    font-family: Cochin;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 100%;
    /* identical to box height, or 60px */
    
    
    color: #FFFFFF;
  }
  .text9 {
    position: absolute;
    width: 290px;
    height: 1792px;
    left: 43px;
    top: 311px;
    
    font-family: Ayuthaya;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 150%;
    /* or 25px */
    
    
    color: #FFFFFF;
  }
  .text1 {
    position: absolute;
    width: 311px;
    height: 60px;
    left: 11.88px;
    top: 2729.38px;
    
    font-family: Cochin;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 100%;
    /* identical to box height, or 60px */
    
    
    color: rgba(255, 255, 255, 0.4);
    transform: rotate(-20deg);
  }
  .text2 {
    position: absolute;
    width: 311px;
    height: 60px;
    left: 32.77px;
    top: 2786.75px;
    
    font-family: Cochin;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 100%;
    /* identical to box height, or 60px */
    
    
    color: rgba(255, 255, 255, 0.4);
    transform: rotate(-20deg);
  }
  .text3 {
    position: absolute;
    width: 311px;
    height: 60px;
    left: 53.77px;
    top: 2847.75px;
    
    font-family: Cochin;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 100%;
    /* identical to box height, or 60px */
    
    
    color: rgba(255, 255, 255, 0.4);
    transform: rotate(-20deg);
  }
  .text4 {
    position: absolute;
    width: 311px;
    height: 60px;
    left: -9.12px;
    top: 2949.38px;
    
    font-family: Cochin;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 100%;
    /* identical to box height, or 60px */
    
    
    color: rgba(255, 255, 255, 0.4);
    transform: rotate(-20deg);
  }
  .text5 {
    position: absolute;
    width: 311px;
    height: 60px;
    left: 11.77px;
    top: 3006.75px;
    
    font-family: Cochin;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 100%;
    /* identical to box height, or 60px */
    
    
    color: rgba(255, 255, 255, 0.4);
    transform: rotate(-20deg);
  }
  .text10 {
    position: absolute;
    width: 311px;
    height: 60px;
    left: 32.77px;
    top: 3067.75px;
    
    font-family: Cochin;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 100%;
    /* identical to box height, or 60px */
    
    
    color: rgba(255, 255, 255, 0.4);
    transform: rotate(-20deg);
  }
  .image3 {
    position: absolute;
    width: 116px;
    height: 423px;
    left: 130px;
    top: 3236px;
  }
}
