@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 4279px;
  background-color: black;
  color: white;
  position: relative;

  .image1 {
    position: absolute;
    width: 375px;
    height: 4279px;
    left: 0px;
    top: 0px;    
  }
  .image2 {
    position: absolute;
    width: 420px;
    height: 564px;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .image3 {
      width: 100%;
    }
   }
   .image6 {
    position: absolute;
    width: 185px;
    height: 185px;
    left: 46px;
    top: 580px;
   }
   .text1 {
    position: absolute;
    width: 377px;
    height: 49px;
    left: -50px;
    top: 772px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    
    color: #FFFFFF;
   }
   .image4 {
    position: absolute;
    width: 355px;
    height: 473px;
    left: 139px;
    top: 620px;
   }
   .image5 {
    position: absolute;
    width: 370px;
    height: 494px;
    left: -67px;
    top: 846px;
   }
   .image7 {
    position: absolute;
    width: 379px;
    height: 355px;
    left: 0px;
    top: 1361px;
    
    background: rgba(96, 37, 155, 0.8);
   }
   .text2 {
    position: absolute;
    width: 282px;
    height: 273px;
    left: 47px;
    top: 1392px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    
    color: #FFFFFF;
   }
   .image8 {
    position: absolute;
    width: 374px;
    height: 232px;
    left: 0px;
    top: 1726px;
    border: 7px solid #5F2F96;
    box-sizing: border-box;
   }
   .image15 {
    position: absolute;
    width: 249px;
    height: 249px;
    left: 30px;
    top: 2077px;
   }
   .text4 {
    position: absolute;
    width: 377px;
    height: 127px;
    left: -34px;
    top: 2344px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    
    color: #FFFFFF; 
   }
   .image16 {
    position: absolute;
    width: 157px;
    height: 360px;
    left: 217px;
    top: 2387px;
   }
   .image17 {
    position: absolute;
    width: 211px;
    height: 375px;
    left: 6px;
    top: 2452px;
   }
   .image20 {
    position: absolute;
    width: 272px;
    height: 360px;
    left: 102px;
    top: 2841px;
    
    background: rgba(0, 0, 0, 0.76);
   }
   .text5 {
    position: absolute;
    width: 255px;
    height: 312px;
    left: 110px;
    top: 2876px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
    color: #AB22FF;
   }
   .image19 {
    position: absolute;
    width: 272px;
    height: 321px;
    left: 0px;
    top: 3201px;
   }
   .image21 {
    position: absolute;
    width: 319px;
    height: 360px;
    left: 28px;
    top: 3535px;
    
    background: rgba(0, 0, 0, 0.76);
   }
   .text6 {
    position: absolute;
    width: 301px;
    height: 336px;
    left: 38px;
    top: 3558px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    
    color: #AB22FF;
   }
   .image22 {
    position: absolute;
    width: 357px;
    height: 218px;
    left: 10px;
    top: 3953px;
   }
}