@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 583px;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .text5 {
    position: absolute;
    width: 159px;
    height: 44px;
    left: 200px;
    top: 17px;
    
    font-family: Just Another Hand;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 110%;
    /* identical to box height, or 88px */
    
    text-align: right;
    
    color: #FFFFFF;
    transition: transform .2s;
    &:hover {
        transform: scale(1.1);
    }
  }
  .text6 {
    position: absolute;
    width: 91px;
    height: 229px;
    left: 266px;
    top: 52px;
    
    font-family: Just Another Hand;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 110%;
    /* or 13px */
    
    text-align: right;
    
    color: #FFFFFF;
  }
}
