@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.wrapper {
  @include magazineWrapper();
  height: 1970px;
  background-color: white;
  color: white;
  position: relative;
  white-space: normal;
  text-align: left;

  .image1 {
    position: absolute;
    width: 375px;
    height: 1970px;
    left: 0px;
    top: 0px;
  }
  .image3 {
    position: absolute;
    width: 651px;
    height: 622px;
    left: -8px;
    top: -311px;
  }
  .text1 {
    position: absolute;
    width: 268px;
    height: 180px;
    left: 120px;
    top: 24px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 60px;
    
    color: #FFFFFF;    
  }
  .image6 {
    position: absolute;
    width: 364.84px;
    height: 227px;
    left: 6px;
    top: 407px;
  }
  .image7 {
    position: absolute;
    width: 364.84px;
    height: 227px;
    left: 6px;
    top: 658px;
  }
  .image8 {
    position: absolute;
    width: 364.84px;
    height: 227px;
    left: 6px;
    top: 909px;    
  }
  .image9 {
    position: absolute;
    width: 364.84px;
    height: 227px;
    left: 6px;
    top: 1160px;
  }
  .image10 {
    position: absolute;
    width: 364.84px;
    height: 227px;
    left: 6px;
    top: 1411px;
  }
  .image11 {
    position: absolute;
    width: 364.84px;
    height: 227px;
    left: 6px;
    top: 1662px;
  }
  .image5 {
    position: absolute;
    width: 996px;
    height: 1659px;
    left: -274px;
    top: 311px;
  }
  .text2 {
    position: absolute;
    width: 288px;
    height: 130px;
    left: 44px;
    top: 448px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    
    color: #FFFFFF;
    .bold {
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 25px;
    }
  }
  .text3 {
    position: absolute;
    width: 310px;
    height: 156px;
    left: 33px;
    top: 686px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    
    color: #FFFFFF;
    .bold {
      font-weight: bold;
    }
  }
  .text4 {
    position: absolute;
    width: 290px;
    height: 161px;
    left: 38px;
    top: 934px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    
    color: #FFFFFF;
    .bold {
      font-weight: bold;
    }
  }
  .text5 {
    position: absolute;
    width: 288px;
    height: 161px;
    left: 44px;
    top: 1185px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    
    color: #FFFFFF;
    .bold {
      font-weight: bold;
    }
  }
  .text6 {
    position: absolute;
    width: 297px;
    height: 161px;
    left: 38px;
    top: 1436px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    
    color: #FFFFFF;
    .bold {
      font-weight: bold;
    }
  }
  .text7 {
    position: absolute;
    width: 295px;
    height: 160px;
    left: 38px;
    top: 1690px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    
    color: #FFFFFF;
    .bold {
      font-weight: bold;
    }
  }
  .image12 {
    position: absolute;
    width: 215px;
    height: 217px;
    left: 220px;
    top: 296px;
  }
  .image15 {
    position: absolute;
    width: 157px;
    height: 157px;
    left: -30px;
    top: 804px;
  }
  .image13 {
    position: absolute;
    width: 178px;
    height: 179px;
    left: 237px;
    top: 1063px;
  }
  .image14 {
    position: absolute;
    width: 178px;
    height: 179px;
    left: -56px;
    top: 1578px;
  }
  .image16 {
    position: absolute;
    width: 216px;
    height: 216px;
    left: 224px;
    top: 1785px;
  }
}
