@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 583px;
  background-color: white;
  color: white;
  position: relative;

  font-family: Days One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;

  .image2 {
    position: absolute;
    width: 375px;
    height: 583px;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .image3 {
      position: absolute;
      height: 100%;
    }
  }
  .text2 {
    position: absolute;
    width: 137px;
    height: 154px;
    left: 17px;
    top: 388px;
    
    font-family: Space Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 6px;
    line-height: 110%;
    /* or 7px */
    
    
    color: #FFFFFF;
  }
  .text3 {
    position: absolute;
    width: 632px;
    height: 22px;
    left: 17px;
    top: 544px;
    
    font-family: Space Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 110%;
    /* identical to box height, or 66px */
    
    
    color: #FFFFFF;
    transition: transform .2s;
      &:hover {
          transform: scale(1.1);
      }
  }
}
