@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 8352px;
  overflow: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;
  
 
}
