@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.wrapper {
  @include magazineWrapper();
  height: 3398px;
  color: white;
  background-color: #27AFF7;
  position: relative;
  white-space: normal;
  text-align: left;

  .image11 {
    position: absolute;
    width: 1522px;
    height: 0px;
    left: -630px;
    top: 736px;
    
    border-bottom: 20px solid #FFCB71;
    transform: rotate(90deg);
  }

  .image12 {
    position: absolute;
    width: 1522px;
    height: 0px;
    left: -595px;
    top: 736px;
    
    border-bottom: 20px solid #FFCB71;
    transform: rotate(90deg);
  }

  .image13 {
    position: absolute;
    width: 1522px;
    height: 0px;
    left: -560px;
    top: 736px;
    
    border-bottom: 20px solid #FFCB71;
    transform: rotate(90deg);
  }
  .image2 {
    position: absolute;
    width: 3150px;
    height: 0px;
    left: -1516px;
    top: 1518px;

    border-bottom: 20px solid #FFA370;
    transform: rotate(90deg);
    background-color: #FFA370;
  }
  .text1 {
    position: absolute;
    width: 499px;
    height: 90px;
    left: 29px;
    top: 36px;
    
    font-family: Do Hyeon;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 120.53%;
    /* or 84px */
    
    
    color: #FFFFFF;
    
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;
  }
  .text3 {
    position: absolute;
    width: 318px;
    height: 90px;
    left: 29px;
    top: 116px;
    
    font-family: Lalezar;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 120.53%;
    /* or 84px */
    
    
    color: #FFFFFF;
    
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;
  }
  .text10 {
    position: absolute;
    width: 298px;
    height: 66px;
    left: 29px;
    top: 263px;
    
    font-family: Lalezar;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120.53%;
    /* or 22px */
    
    
    color: #FB6574;
  }
  .text11 {
    position: absolute;
    width: 318px;
    height: 216px;
    left: 29px;
    top: 329px;
    
    font-family: Krungthep;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 120.53%;
    /* or 18px */
    
    
    color: #FFFFFF;
  }
  .image19 {
    position: absolute;
    width: 219px;
    height: 278px;
    left: 68px;
    top: 698px;
  }
  .text12 {
    position: absolute;
    width: 141.13px;
    height: 79.57px;
    left: 23.35px;
    top: 773.46px;
    
    font-family: Lalezar;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 120.53%;
    /* or 28px */
    
    
    color: #27AFF7;
    transform: rotate(-20deg);
    text-shadow: rgb(255, 255, 255) 1px 0px 0px, rgb(255, 255, 255) 0.540302px 0.841471px 0px, rgb(255, 255, 255) -0.416147px 0.909297px 0px, rgb(255, 255, 255) -0.989992px 0.14112px 0px, rgb(255, 255, 255) -0.653644px -0.756802px 0px, rgb(255, 255, 255) 0.283662px -0.958924px 0px, rgb(255, 255, 255) 0.96017px -0.279415px 0px;
  }
  .image25 {
    position: absolute;
    width: 207.04px;
    height: 290.81px;
    left: -9.04px;
    top: 1005.8px;
    transform: rotate(55deg);
  }
  .image23 {
    position: absolute;
    width: 266px;
    height: 373px;
    left: 154px;
    top: 976px;
  }
  .image21 {
    position: absolute;
    width: 266px;
    height: 371px;
    left: 21px;
    top: 1269px;
  }
  .image26 {
    position: absolute;
    width: 378px;
    height: 294px;
    left: -4px;
    top: 1353px;
  }
  .image27 {
    position: absolute;
    width: 887px;
    height: 1751px;
    left: -256px;
    top: 1647px;
    
    background: #29D5F9;
    border: 14px solid #99FFBD;
    box-sizing: border-box;
  }
  .text13 {
    position: absolute;
    width: 275px;
    height: 66px;
    left: 47px;
    top: 1699px;
    
    font-family: Lalezar;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120.53%;
    /* or 22px */
    
    
    color: #FFCB71;   
  }
  .text14 {
    position: absolute;
    width: 280px;
    height: 511px;
    left: 45px;
    top: 1771px;
    
    font-family: Krungthep;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 120.53%;
    /* or 18px */
    
    
    color: #FFFFFF;
  }
  .text16 {
    position: absolute;
    width: 282px;
    height: 216px;
    left: 45px;
    top: 2334px;
    
    font-family: Lalezar;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 120.53%;
    /* or 18px */
    
    
    color: #9F59F9;
  }
  .text17 {
    position: absolute;
    width: 284px;
    height: 288px;
    left: 45px;
    top: 2561px;
    
    font-family: Krungthep;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 120.53%;
    /* or 18px */
    
    
    color: #FFFFFF;
  }
  .image5 {
    position: absolute;
    width: 355px;
    height: 355px;
    left: -233px;
    top: 3131px;
    
    border-radius: 100%;
    background: #AFF3FE;
  }
  .image6 {
    position: absolute;
    width: 129px;
    height: 129px;
    left: 117px;
    top: 3144px;
    border-radius: 100%;
    background: #F5FBFF;
  }
  .image7 {
    position: absolute;
    width: 69px;
    height: 69px;
    left: 122px;
    top: 3298px;
    border-radius: 100%;
    background: #F5FBFF;
  }
  .image8 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 218px;
    top: 3259px;
    border-radius: 100%;
    background: #AFF3FE;
  }
  .image32 {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 248px;
    top: 3148px;
  }
  .image31 {
    position: absolute;
    width: 54px;
    height: 54px;
    left: 182px;
    top: 3348px;
  }
}
