@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 1812px;
  overflow: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

 
}
