@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 2725px;
  overflow: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

 .image1 {
  position: relative;
  width: 375px;
  height: 2725px;
 }
 .image2 {
  position: absolute;
  width: 308px;
  height: 2582px;
  left: 33px;
  top: 68px;
  
  background: #01D195;
 }
 .text1 {
  position: absolute;
  width: 245px;
  height: 1119px;
  left: 65px;
  top: 127px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  
  color: #FFFFFF;
 }
}
