@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 3972px;
  background-color: black;
  color: white;
  position: relative;
  white-space: normal;
  text-align: left;

  .image2 {
    position: absolute;
    width: 375px;
    height: 112px;
    left: 0px;
    top: 0px;
    
    background: #BA0C76;
  }
  .image3 {
    position: absolute;
    width: 375px;
    height: 113px;
    left: 0px;
    top: 111px;
    
    background: #A500FD;
  }
  .image4 {
    position: absolute;
    width: 375px;
    height: 112px;
    left: 0px;
    top: 224px;
    
    background: #000000;
  }
  .image5 {
    position: absolute;
    width: 375px;
    height: 3636px;
    left: 0px;
    top: 336px;
  }
  .text1 {
    position: absolute;
    width: 337px;
    height: 60px;
    left: 19px;
    top: 30px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    
    color: #FFFFFF;
  }
  .text2 {
    position: absolute;
    width: 1433px;
    height: 30px;
    left: -529px;
    top: 153px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    
    text-align: center;
    
    color: #FFFFFF;
  }
  .text3 {
    position: absolute;
    width: 341px;
    height: 60px;
    left: 17px;
    top: 250px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    
    color: #FFFFFF;
  }
  .text4 {
    position: absolute;
    width: 278px;
    height: 456px;
    left: 49px;
    top: 377px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 37px;
    text-align: center;
    
    color: #FFFFFF;
  }
  .text10 {
    position: absolute;
    width: 418px;
    height: 45px;
    left: 62px;
    top: 440px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */
    
    
    color: #FF9533;
  }
  .text15 {
    position: absolute;
    width: 182px;
    height: 45px;
    left: 117px;
    top: 1291px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */
    
    
    color: #FF00C7;
  }
  .text16 {
    position: absolute;
    width: 240px;
    height: 45px;
    left: 76px;
    top: 2136px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */
    
    
    color: #817EFF;
  }
  .text8 {
    position: absolute;
    width: 271px;
    height: 45px;
    left: 52px;
    top: 3043px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */
    
    text-align: center;
    
    color: #4AFF88;
  }
  .image12 {
    position: absolute;
    width: 223px;
    height: 225px;
    left: 76px;
    top: 495px;
    border: 5px solid #FF9533;
    box-sizing: border-box
  }
  .image13 {
    position: absolute;
    width: 223px;
    height: 225px;
    left: 76px;
    top: 753px;
    
    border: 5px solid #FF9533;
    box-sizing: border-box;
  }
  .image18 {
    position: absolute;
    width: 223px;
    height: 225.27px;
    left: 76px;
    top: 1336px;
    
    border: 5px solid #FF00C7;
    box-sizing: border-box;
  }
  .image19 {
    position: absolute;
    width: 223px;
    height: 225.27px;
    left: 76px;
    top: 1594px;
    
    border: 5px solid #FF00C7;
    box-sizing: border-box;
  }
  .image22 {
    position: absolute;
    width: 223px;
    height: 225px;
    left: 76px;
    top: 2192px;
    
    border: 5px solid #817EFF;
    box-sizing: border-box;
  }
  .image23 {
    position: absolute;
    width: 223px;
    height: 225px;
    left: 76px;
    top: 2458px;
    
    border: 5px solid #817EFF;
    box-sizing: border-box;
  }
  .image8 {
    position: absolute;
    width: 223px;
    height: 225px;
    left: 76px;
    top: 3108px;
    
    border: 5px solid #4AFF88;
    box-sizing: border-box;
  }
  .image9 {
    position: absolute;
    width: 223px;
    height: 225px;
    left: 76px;
    top: 3374px;
    
    border: 5px solid #4AFF88;
    box-sizing: border-box;
  }
  .image26 {
    position: absolute;
    width: 110px;
    height: 110px;
    left: 133px;
    top: 1011px;
    
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px 10px #FF00F5;
    border-radius: 64.5px;
  }
  .image32 {
    position: absolute;
    width: 110px;
    height: 110px;
    left: 133px;
    top: 1852px;
    
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px 10px #FF00F5;
    border-radius: 100px;
  }
  .image34 {
    position: absolute;
    width: 110px;
    height: 110px;
    left: 133px;
    top: 2724px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px 10px #FF00F5;
    border-radius: 100px;
  }
  .image36 {
    position: absolute;
    width: 110px;
    height: 110px;
    left: 133px;
    top: 3653px;
    
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px 10px #FF00F5;
    border-radius: 130px;
  }
}
