@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;500;600;700&display=swap');

.wrapper {
  @include magazineWrapper();

  height: 583px;
  overflow: hidden;
  background-color: black;
  color: white;
  display: flex;
  position: relative;
  
  .image1 {
    position: absolute;
    width: 375px;
    height: 583px;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .image2 {
      position: absolute;
      height: 100%;
    }
  }
  .text1 {
    position: absolute;
    width: 143px;
    height: 22px;
    left: 271px;
    top: 22px;
    
    font-family: Trykker;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 110%;
    /* identical to box height, or 88px */
    
    
    color: #1B8F43;
    transition: transform .2s;
    &:hover {
        transform: scale(1.1);
    }
  }
  .text2 {
    position: absolute;
    width: 122px;
    height: 13px;
    left: 271px;
    top: 44px;
    
    font-family: Trykker;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 110%;
    /* or 13px */
    
    
    color: #1B8F43;
  }
}
