@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 4294px;
  overflow: hidden;
  background-color: #010103 ;
  color: white;
  display: flex;
  position: relative;
  
 .image1 {
  position: absolute;
  width: 375px;
  height: 4294px;
  left: 0px;
  top: 0px;
 }
 .image10 {
  position: absolute;
  width: 243px;
  height: 432px;
  left: 66px;
  top: 44px;
  
  border: 7px solid #BDFF00;
  box-sizing: border-box;
 }
 .image12 {
  position: absolute;
  width: 234px;
  height: 613px;
  left: 66px;
  top: 476px;
  
  background: #265F72;
 }
 .text9 {
  position: absolute;
  width: 209px;
  height: 570px;
  left: 79px;
  top: 493px;
  
  font-family: Shojumaru;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  /* or 15px */
  
  text-align: center;
  
  color: #FFFFFF;
 }
 .image11 {
  position: absolute;
  width: 258px;
  height: 405px;
  left: 30px;
  top: 1106px;
  border: 7px solid #BDFF00;
  box-sizing: border-box;
 }
 .image2 {
  position: absolute;
  width: 269px;
  height: 257px;
  left: 40px;
  top: 1568px;
  display: flex;  
  align-items: center;
  justify-content: center;
  border: 7px solid #000000;
  box-sizing: border-box;
  overflow: hidden;
  .image3 {
    width: 100%;
  }
}
 .image16 {
    position: absolute;
    width: 375px;
    height: 358px;
    left: 0px;
    top: 1926px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 7px solid #000000;
    box-sizing: border-box;
    overflow: hidden;
    .image17 {
      height: 100%;
    }
  }
  .image18 {
    position: absolute;
    width: 269px;
    height: 257px;
    left: 19px;
    top: 2330px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 7px solid #000000;
    box-sizing: border-box;
    overflow: hidden;
    .image19 {
      width: 100%;
    }
  }
  .image13 {
    position: absolute;
    width: 376px;
    height: 289px;
    left: 0px;
    top: 2696px;
    
    background: rgba(88, 20, 99, 0.65);
  }
  .text10 {
    position: absolute;
    width: 334px;
    height: 240px;
    left: 24px;
    top: 2722px;
    
    font-family: Smythe;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 100%;
    /* or 15px */
    
    text-align: center;
    
    color: #FFFFFF;
  }
  .image14 {
    position: absolute;
    width: 383px;
    height: 373px;
    left: -8px;
    top: 3392px;
    
    background: #FF42D5;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
  }
  .text11 {
    position: absolute;
    width: 317px;
    height: 315px;
    left: 22px;
    top: 3411px;
    
    font-family: Smythe;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 100%;
    /* or 15px */
    
    text-align: center;
    
    color: #FFFFFF;
  }
  .image20 {
    position: absolute;
    width: 321px;
    height: 307px;
    left: 66px;
    top: 3002px;
    
    border: 7px solid #000000;
    box-sizing: border-box;
    overflow: hidden;
    .image21 {
      height: 100%;
    }
  }
  .image22 {
    position: absolute;
    width: 366px;
    height: 736px;
    left: 64px;
    top: 3726px;
  }
  .image23 {
    position: absolute;
    width: 269px;
    height: 257px;
    left: 19px;
    top: 3974px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 7px solid #000000;
    box-sizing: border-box;
    overflow: hidden;
    .image24 {
      height: 100%;
    }
  }
}
