@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: #000000;
  display: flex;
  height: 3332px;
  position: relative;

 .image1 {
  position: absolute;
  width: 1141px;
  height: 3604px;
  left: -196px;
  top: 0px;
 }
 .image7 {
  position: absolute;
  width: 370px;
  height: 154.56px;
  left: 0px;
  top: 51px;
 }
 .image8 {
  position: absolute;
  width: 370px;
  height: 154.56px;
  left: 0px;
  top: 206px;
 }
 .image9 {
  position: absolute;
  width: 221px;
  height: 188px;
  left: 63px;
  top: 397px;
 }
 .image4 {
  position: absolute;
  width: 374px;
  height: 454px;
  left: 1px;
  top: 776px;
  
  background: linear-gradient(180deg, #E430CC 0%, #437C65 100%);
 }
 .text1 {
  position: absolute;
  width: 323px;
  height: 192px;
  left: 30px;
  top: 1349px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  
  color: #FFFFFF;
 }
 .text2 {
  position: absolute;
  width: 345px;
  height: 400px;
  left: 19px;
  top: 801px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  
  color: #FFFFFF;
 }
 .image5 {
  position: absolute;
  width: 377px;
  height: 239px;
  left: -2px;
  top: 1329px;
  
  background: linear-gradient(180deg, #F9C5FA 0%, #4527D9 100%);
 }
 .text4 {
  position: absolute;
  width: 328px;
  height: 448px;
  left: 21px;
  top: 1667px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 16px;
  
  color: #FFFFFF;
  .title {
    color: #1EF1FF;
  }
}
.image6 {
  position: absolute;
  width: 375px;
  height: 540px;
  left: 1px;
  top: 2214px;
  
  background: linear-gradient(180deg, #5DA7F3 0%, #FAC209 100%);
}
.text3 {
  position: absolute;
  width: 337px;
  height: 476px;
  left: 21px;
  top: 2242px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
  
  color: #FFFFFF;
}
.text5 {
  position: absolute;
  width: 312px;
  height: 304px;
  left: 21px;
  top: 2853px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 16px;
  
  color: #FFFFFF;
  .title {
    color: #1EF1FF;
  }
}
}
