@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 1960px;
  background-color: #000000;
  color: black;
  display: flex;
  position: relative;

  .image1 {
    position: absolute;
    width: 324px;
    height: 329px;
    left: 15px;
    top: -82px;
    .image17 {
      width: 100%;
    }
  }
  .image2 {
    position: absolute;
    width: 251px;
    height: 1628px;
    left: -110px;
    top: -65px;
  }
  .text1 {
    position: absolute;
    width: 718px;
    height: 185px;
    left: -89.5px;
    top: 518.5px;
    
    font-family: THIS FONT IS EMPTY1;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 100%;
    /* or 80px */
    
    
    color: #FFFFFF;
    transform: rotate(-90deg);
  }
  .text2 {
    position: absolute;
    width: 149px;
    height: 733px;
    left: 55px;
    top: 1032px;
    
    font-family: THIS FONT IS EMPTY1;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 0;
    /* or 100px */
    
    
    color: #0500FF;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #0400ff;
    -webkit-text-fill-color: #0400ff;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -48px;
    filter: blur(2px);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .image8 {
    position: absolute;
    width: 410px;
    height: 259px;
    left: -22px;
    top: 1726px;
  }
}
