@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.wrapper {
  @include magazineWrapper();
  height: 3398px;
  background-color: #27AFF7;
  color: black;
  position: relative;
  white-space: normal;
  .image11 {
    position: absolute;
    width: 960px;
    height: 0px;
    left: -105px;
    top: 28px;
    
    border-bottom: 50px solid #FFCB71;
  }

  .image12 {
    position: absolute;
    width: 960px;
    height: 0px;
    left: -105px;
    top: 94px;
    
    border-bottom: 50px solid #FFCB71;
  }

  .image13 {
    position: absolute;
    width: 960px;
    height: 0px;
    left: -105px;
    top: 160px;
    
    border-bottom: 50px solid #FFCB71;
  }
  .image20 {
    position: absolute;
    width: 266px;
    height: 371px;
    left: 29px;
    top: 24px;
  }
  .image34 {
    position: absolute;
    width: 104px;
    height: 105px;
    left: 243px;
    top: 227px;
  }
  .text18 {
    position: absolute;
    width: 271px;
    height: 330px;
    left: 52px;
    top: 431px;
    
    font-family: Lalezar;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120.53%;
    /* or 22px */
    
    
    color: #99FFBD;
  }
  .text19 {
    position: absolute;
    width: 258px;
    height: 246px;
    left: 52px;
    top: 746px;
    
    font-family: Krungthep;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 120.53%;
    /* or 18px */
    
    
    color: #FFFFFF;
  }
  .text20 {
    position: absolute;
    width: 283px;
    height: 154px;
    left: 53px;
    top: 1501px;
    
    font-family: Lalezar;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120.53%;
    /* or 22px */
    
    
    color: #FFCB71;
  }
  .text21 {
    position: absolute;
    width: 271px;
    height: 170px;
    left: 53px;
    top: 1646px;
    
    font-family: Krungthep;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 120.53%;
    /* or 18px */
    
    
    color: #FFFFFF;
  }
  .text22 {
    position: absolute;
    width: 282px;
    height: 198px;
    left: 47px;
    top: 2130px;
    
    font-family: Lalezar;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120.53%;
    /* or 22px */
    
    text-align: right;
    
    color: #FB6574;
  }
  .text23 {
    position: absolute;
    width: 285px;
    height: 216px;
    left: 47px;
    top: 2333px;
    
    font-family: Krungthep;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 120.53%;
    /* or 18px */
    
    text-align: right;
    
    color: #FFFFFF;;
  }
  .text24 {
    position: absolute;
    width: 293px;
    height: 154px;
    left: 47px;
    top: 2623px;
    
    font-family: Lalezar;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120.53%;
    /* or 22px */
    
    
    color: #9F59F9;    
  }
  .text25 {
    position: absolute;
    width: 282px;
    height: 186px;
    left: 47px;
    top: 2762px;
    
    font-family: Krungthep;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 120.53%;
    /* or 18px */
    
    
    color: #FFFFFF;
  }
  .image1 {
    position: absolute;
    width: 129px;
    height: 129px;
    left: 199px;
    top: 2953px;
    border-radius: 100%;
    background: #F5FBFF;
  }
  .image2 {
    position: absolute;
    width: 68px;
    height: 68px;
    left: 115px;
    top: 2996px;
    border-radius: 100%;
    background: #AFF3FE;
  }
  .image3 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: -51px;
    top: 3148px;
    border-radius: 100%;
    background: #AFF3FE;
  }
  .image35 {
    position: absolute;
    width: 150px;
    height: 150px;
    left: -21px;
    top: 3037px;
  }
  .image36 {
    position: absolute;
    width: 344px;
    height: 346px;
    left: 83px;
    top: 3095px;
  }
}
