@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 585px;
  overflow: hidden;
  background-color: black;
  color: white;
  display: flex;
  position: relative;

  .image3 {
    position: absolute;
    width: 375px;
    height: 585px;
    left: 0px;
    top: 0px
  }
  .text3 {
    position: absolute;
    width: 82px;
    height: 38px;
    left: 9px;
    top: 500px;
    
    font-family: Joti One;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 110%;
    /* or 19px */
    
    
    color: #000000;
  }
  .text4 {
    position: absolute;
    width: 82px;
    height: 19px;
    left: 9px;
    top: 538px;
    
    font-family: Joti One;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 110%;
    /* identical to box height, or 19px */
    
    
    color: #000000;
  }
}
