@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 1559px;
  background-color: #000000;
  color: black;
  position: relative;
  text-align: left;

  .image1 {
    position: absolute;
    width: 829px;
    height: 865px;
    left: -227px;
    top: -796px;
  }
  .image2 {
    position: absolute;
    width: 829px;
    height: 865px;
    left: -454px;
    top: 1452px;
  }

  .image4 {
    position: absolute;
    width: 64px;
    height: 55px;
    left: 107px;
    top: 1473px;
  }
  .text1 {
    position: absolute;
    width: 208px;
    height: 1129px;
    left: 83px;
    top: 97px;
    
    font-family: Asap;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 120.53%;
    /* or 14px */
    
    text-align: center;
    
    color: #FFFFFF;
  }
}
