@import '../../assets/scss/helpers/variables.scss';

.wrapper {
  margin-bottom: 80px;
}
.headerTitle {
  display: grid;
  grid-template-columns: 335fr 390fr 390fr 205fr;
  align-items: center;
}

.headerTitleItem {
  color: $darkGray3;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 24px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.loading {
  padding-top: 24px;
}