@import "../../../assets/scss/helpers/variables.scss";

.wrapper {
	display: flex;
	margin-top: 50px;
	margin-bottom: 84px;
	@media only screen and (max-width: 1200px) {
		flex-direction: column;
		align-items: center;
	}
}
