.wrapper {
  background: url('/images/back3.png');
  background-size: cover;
  canvas {
    width: 100%;
  }
}
.wrapperSquareItems {
  position: absolute;
  top: 0;
  height: 100vh;

  canvas {
    width: 100%;
  }
}
