@import '../../../assets/scss/helpers/grid.scss';
@import '../../../assets/scss/helpers/variables.scss';
@import '../../../assets/scss/helpers/helpers.scss';

.wrapper {
  @include wrapper();
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 50px;
  background-color: #fff;
  transition: 0.2s;
  z-index: 99;

  @media screen and (max-width: 1320px) {
  }
  @media screen and (max-width: 1200px) {
    align-items: baseline;
  }

  @media (max-width: $sm-width) {
    padding: 20px 20px;
    flex-direction: column;
  }
}


.collapseIcon{
  display: none;
}

.floatingNav {
  border-radius: 2px;
  box-shadow: 0px 1px 10px #999;
}

.leftBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.goToMaticButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  height: 32px;
  background: #6eb2f1;
  border: 1px solid #767676;
  box-sizing: border-box;
  border-radius: 10px;
  color: white;
  font-size: 0.75rem;
  font-weight: 700;
  margin-left: 40px;
  margin-top: -20px;
  white-space: nowrap;

  &:hover {
    color: white;
    background: #95c6f3;
  }
}

@keyframes scale {
  0% {transform: scale(0.8)}
  100% {transform: scale(1.0)}
}

.arrow {
  margin-left: 4px;
  @media screen and (max-width: 640px) {
    margin-left: -130px;
    margin-top: 50px;
  }
  margin-top: 30px;
  position: relative;
  width: 60px;
  height: 43px;
  animation: scale 1s ease-in-out infinite alternate;
}

.arrowDesc {
  width: 155px;
  font-weight: 800;
  font-size: 0.9375rem;
  color: #843BFA;
  border: 0.3px solid #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 12px;
  left: 54px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;

  @media screen and (min-width: 1200px) {
    justify-content: flex-end;
  }
  @media screen and (max-width: 640px) {
    flex-direction: row;
    justify-content: flex-end;
    // margin: 0;
    a {
      display: none;
    }

   .collapseIcon {
      position: absolute;
      display: block;
      top: 27px;
      right: 27px;
    }
  }  
}

.rightBox {
  width: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.link {
  @include active();
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 17px;
  color: $black;
  text-transform: uppercase;
  margin-right: 26px;

  &:focus {
    outline: none;
  }

  @media screen and (max-width: 640px) {
    text-align: center;
    line-height: 30px;
  }
}

.signBtn{
  @media screen and (max-width: 640px) {
      margin-right: 20px;
      position: absolute;
      top: 10px;
      right: 40px;

      .buttonWrapper {
        position: relative;
        padding-top: 7px;
      }
  }
}


.buttonWrapper {
  position: relative;
}

.menuWrapper {
  position: absolute;
  margin-top: 10px;
}

.menuButton {
  @include reset-button();
  @include active();
  border: 1px solid #e6e6e6;
  background-color: white;
  border-radius: 0;
  box-shadow: none;
  padding: 10px 16px;
  width: 100%;
  top: 100%;
}

.hashAddress {
  :global {
    .smallPhotoWithText__hashAddress {
      max-width: 94px;
    }
  }
}

.arrowBottom {
  display: flex;
  align-items: center;
  @include reset-button();
  @include active();

  .arrowBottomImg {
    padding: 8px 0 8px 8px;
  }
}

.expandedMenu{
  display: block;
  margin-top: 30px;
  a {
    float: none;
    display: block;
    text-align: center;
  }
}