@import '../../../assets/scss/helpers/grid.scss';
@import '../../../assets/scss/helpers/variables.scss';
@import '../../../assets/scss/helpers/helpers.scss';

.wrapper {
  @include wrapper();
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.backToMainNetButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 187px;
  height: 32px;
  background: #fd6553;
  border: 1px solid #767676;
  box-sizing: border-box;
  border-radius: 10px;
  color: white;
  font-size: 12px;
  font-weight: 700;
  margin-left: 40px;
  margin-top: -20px;

  &:hover {
    color: white;
    background: #ec978d;
  }
}

.rightBox {
  min-height: 47px;
  display: flex;
  align-items: center;
}

.link {
  @include active();
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: $black;
  text-transform: uppercase;
  margin-right: 52px;

  &:focus {
    outline: none;
  }
}

.buttonWrapper {
  min-width: 167px;
  position: relative;
}

.menuWrapper {
  position: absolute;
  margin-top: 10px;
}

.menuButton {
  @include reset-button();
  @include active();
  border: 1px solid #e6e6e6;
  background: white;
  border-radius: 0;
  box-shadow: none;
  padding: 10px 16px;
  width: 100%;
  top: 100%;
  &:hover {
    opacity: 1;
  }
}

.hashAddress {
  :global {
    .smallPhotoWithText__hashAddress {
      max-width: 94px;
    }
  }
}

.arrowBottom {
  display: flex;
  align-items: center;
  @include reset-button();
  @include active();

  .arrowBottomImg {
    padding: 8px 0 8px 8px;
  }
}

.notification {
  position: fixed;
  top: 10px;
  text-align: center;
  width: 100%;
  left: 0;
  color: red;
}
.monaBalance {
  position: absolute;
  left: 100%;
  top: 0;
  width: fit-content;
  height: 36px;
  line-height: 36px;
}
