@import '../../../assets/scss/helpers/grid.scss';
@import '../../../assets/scss/helpers/helpers.scss';

.button {
  position: relative;
  color: white;
  background: transparent;
  width: 150px;
  min-width: 150px;
  border: none;
  outline: none;
  color: white;

  @include transition();

  @include sm-width {
    width: 200px;
    min-width: 200px;
  }

  img {
    width: 100%;
  }

  span {
    text-transform: uppercase;
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Oswald';
    line-height: 120%;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 48%;
    z-index: 10;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }

  &[disabled] {
    cursor: not-allowed;
    span {
      opacity: 0.6;
    }
  }

  &:hover:not([disabled]) {
    @include scale();
    @include transition();
  }
}
