@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background: #FFFFFF;

  .image1 {
    position: absolute;
    width: 564px;
    height: 362px;
    left: 320px;
    top: 82px;
  }

  .image2 {
    position: absolute;
    width: 577px;
    height: 362px;
    left: 1017px;
    top: 82px;
  }

  .image3 {
    position: absolute;
    width: 577px;
    height: 362px;
    left: 1017px;
    top: 489px;    
  }
  
  .rect1 {
    position: absolute;
    width: 478px;
    height: 362px;
    left: 59px;
    top: 82px;
    
    background: rgba(65, 37, 121, 0.63);     
  }
  
  .rect2 {
    position: absolute;
    width: 584.78px;
    height: 442.86px;
    left: 1181px;
    top: 609.5px;
    
    background: rgba(65, 37, 121, 0.63);
    transform: rotate(-45deg);

    transform-origin: 0 0;
  }
  
  .rect3 {
    position: absolute;
    width: 584.78px;
    height: 442.86px;
    left: 1690.43px;
    top: 726px;
    
    background: rgba(65, 37, 121, 0.63);
    transform: rotate(30deg);
    transform-origin: 0 0;
  }

  .text1 {
    position: absolute;
    width: 371px;
    height: 940px;
    left: 59px;
    top: 511px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;    
    color: #8775AA;
  }

  .text2 {
    position: absolute;
    width: 371px;
    height: 741px;
    left: 488px;
    top: 511px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

    color: #8775AA;
  }

  .text3 {
    position: absolute;
    width: 448px;
    height: 741px;
    left: 1017px;
    top: 906px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    
    color: #8775AA;
  }
}