@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background: #fff;

  .backgroundImage {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 960px;
    top: 0px;
  }
}