@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: #FFFFFF;

  .back {
    position: absolute;
    width: 1920x;
    height: 1497px;
    left: 0px;
    top: 0px;
  }
  
  .back2 {
    position: absolute;
    width: 936px;
    height: 1098px;
    left: 24px;
    top: 399px;
    
  }
}
