@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');


.wrapper {
  @include magazineWrapper();    
  background: #FFFFFF;

  a {
    div, img {
      transition: transform .2s;
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .back1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 960px;
    height: 1497px;
  }

  .back2 {
    position: absolute;
    left: 960px;
    top: 0;
    width: 960px;
    height: 1497px;
  }

  .image1 {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 368px;
    height: 512px;
  }

  .image2 {
    position: absolute;
    width: 248px;
    height: 248px;
    left: 191px;
    top: 8px;
  }

  .text1 {
    position: absolute;
    left: 18.33%;
    right: 46.67%;
    top: 2.54%;
    bottom: 93.05%;
    
    font-family: Writers original;
    font-size: 80px;
    line-height: 120.53%;

    text-align: center;
    
    color: #A700AA;
    
    text-shadow: 3px 0 white, -3px 0 white, 0 3px white, 0 -3px white;
  }

  .text2 {
    position: absolute;
    left: 24.11%;
    right: 52.5%;
    top: 8.82%;
    bottom: 88.78%;
    
    font-family: Writers original;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 120.53%;
    /* or 36px */
    
    text-align: center;
    
    color: #DB00FF;
  }

  .text3 {
    position: absolute;
    left: -3.7%;
    right: 78.75%;
    top: 78.02%;
    bottom: 17.17%;
    
    font-family: Writers original;
    font-size: 60px;
    line-height: 120.53%;
    text-align: center;
    color: #DD0FFF;
  }

  .text4 {
    position: absolute;
    left: 8.8%;
    right: 66.25%;
    top: 78.16%;
    bottom: 17.03%;
    
    font-family: Writers original;
    font-size: 50px;
    line-height: 120.53%;
    text-align: center;
    color: #A700AA;
  }

  .text5 {
    position: absolute;
    left: 25.1%;
    right: 49.95%;
    top: 77.69%;
    bottom: 17.5%;
    
    font-family: Writers original;
    font-size: 100px;
    line-height: 120.53%;
    text-align: center;
    color: #A700AA;
  }

  .text6 {

    position: absolute;
    left: -4.95%;
    right: 65.42%;
    top: 83.63%;
    bottom: 6.68%;
    
    font-family: Writers original;
    font-size: 120px;
    line-height: 120.53%;
    text-align: center;
    color: #FFFFFF;
  }

  .text7 {
    position: absolute;
    left: 17.81%;
    right: 42.66%;
    top: 85.44%;
    bottom: 7.35%;
    
    font-family: Writers original;
    font-size: 90px;
    line-height: 120.53%;
    text-align: center;
    color: #FFFFFF;
    
  }

  .text8 {
    position: absolute;
    left: -1.2%;
    right: 86.04%;
    top: 93.32%;
    bottom: 3.47%;
    
    font-family: Writers original;
    font-size: 40px;
    line-height: 120.53%;
    text-align: center;
    color: #FFFFFF;
  }

  .text9 {
    position: absolute;
    left: 11.72%;
    right: 68.39%;
    top: 91.72%;
    bottom: 1.07%;
    
    font-family: Writers original;
    font-size: 90px;
    line-height: 120.53%;
    text-align: center;
    color: #FFFFFF;
  }

  .text10 {
    position: absolute;
    left: 32.34%;
    right: 52.5%;
    top: 92.65%;
    bottom: 1.94%;
    
    font-family: Writers original;
    font-size: 67px;
    line-height: 120.53%;    
    text-align: center;
    
    color: #FFFFFF;
  }
  
  .text3_2 {
    position: absolute;
    left: 46.56%;
    right: 28.49%;
    top: 78.02%;
    bottom: 17.17%;
    
    font-family: Writers original;
    font-size: 60px;
    line-height: 120.53%;
    text-align: center;
    color: #DD0FFF;
  }

  .text4_2 {
    position: absolute;
    left: 59.06%;
    right: 15.99%;
    top: 78.16%;
    bottom: 17.03%;
    
    font-family: Writers original;
    font-size: 50px;
    line-height: 120.53%;
    text-align: center;
    color: #A700AA;
  }

  .text5_2 {
    position: absolute;
    left: 75.36%;
    right: -0.31%;
    top: 77.69%;
    bottom: 17.5%;
    
    font-family: Writers original;
    font-size: 100px;
    line-height: 120.53%;
    text-align: center;
    color: #A700AA;
  }

  .text6_2 {
    position: absolute;
    left: 45.31%;
    right: 15.16%;
    top: 83.63%;
    bottom: 6.68%;
    
    font-family: Writers original;
    font-size: 120px;
    line-height: 120.53%;
    text-align: center;
    color: #FFFFFF;
  }

  .text7_2 {
    position: absolute;
    left: 68.07%;
    right: -7.6%;
    top: 85.44%;
    bottom: 7.35%;
    
    font-family: Writers original;
    font-size: 90px;
    line-height: 120.53%;
    text-align: center;
    color: #FFFFFF;
    
  }

  .text8_2 {
    position: absolute;
    left: 49.06%;
    right: 35.78%;
    top: 93.32%;
    bottom: 3.47%;
    
    font-family: Writers original;
    font-size: 40px;
    line-height: 120.53%;
    text-align: center;
    color: #FFFFFF;
  }

  .text9_2 {
    position: absolute;
    left: 61.98%;
    right: 18.12%;
    top: 91.72%;
    bottom: 1.07%;
    
    font-family: Writers original;
    font-size: 90px;
    line-height: 120.53%;
    text-align: center;
    color: #FFFFFF;
  }

  .text10_2 {
    position: absolute;
    left: 82.6%;
    right: 2.24%;
    top: 92.65%;
    bottom: 1.94%;
    
    font-family: Writers original;
    font-size: 67px;
    line-height: 120.53%;    
    text-align: center;
    
    color: #FFFFFF;
  }

  .text11 {
    position: absolute;
    left: 423px;
    top: 193px;
    width: 368px;
    height: 200px;
    
    font-family: Julee;
    font-size: 17px;
    line-height: 120.53%;
    text-align: center;
    
    color: #9600DC;    
  }

  .text12 {
    position: absolute;
    width: 587px;
    height: 93px;
    top: 411px;
    left: 313px;

    font-family: Julee;
    font-size: 17px;
    line-height: 120.53%;
    text-align: center;
    
    color: #9600DC;        
  }

  .text13 {
    position: absolute;
    width: 828px;
    height: 540px;
    top: 513px;
    left: 72px;

    font-family: Julee;
    font-size: 17px;
    line-height: 120.53%;
    text-align: center;
    
    color: #9600DC;  
  }

  .text14 {
    position: absolute;
    width: 554px;
    height: 400px;
    top: 144px;
    left: 1164px;

    font-family: Julee;
    font-size: 21px;
    line-height: 120.53%;
    text-align: center;
    
    color: #9600DC;  
  }

  .text15 {
    position: absolute;
    width: 825px;
    height: 93px;
    top: 579px;
    left: 1028px;
    
    font-family: Julee;
    font-size: 21px;
    line-height: 120.53%;
    text-align: center;
    
    color: #9600DC;  
  }

  .text16 {
    position: absolute;
    width: 787px;
    height: 275px;
    top: 816px;
    left: 1047px;
    
    font-family: Julee;
    font-size: 21px;
    line-height: 120.53%;
    text-align: center;
    
    color: #9600DC;  
  }

  .image4 {
    position: absolute;
    width: 334px;
    height: 291px;
    left: 1558px;
    top: 1170px;
  }
}