@import './styles.module.scss';

.wrapper {
    @include magazineWrapper(); 
    .image1 {
        position: absolute;
        width: 1920px;
        height: 1498px;
        left: 0px;
        top: -1px;
      }
}