@import './styles.module.scss';
@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(-1400px); }
}
.wrapper {
  @include magazineWrapper();
  background-color: #1D1916;
  color: black;
  display: flex;
  position: relative;
}