@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background: linear-gradient(180deg, #3F40BF 0%, rgba(54, 55, 157, 0.9) 100%);
  color: black;
  display: flex;
  position: relative;

  .text1 {
    position: absolute;
    width: 789px;
    height: 1113px;
    left: 85px;
    top: 70px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;

    background: -webkit-linear-gradient(#FF9153, #FF00B8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h1 {
    position: absolute;
    width: 930px;
    height: 597px;
    left: 73px;
    top: 997px;
    
    font-family: Impact;
    font-style: normal;
    font-weight: 900;
    font-size: 250px;
    line-height: 230px;
    
    background: -webkit-linear-gradient(#FFC700, #FF5C00 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .image1 {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 960px;
    top: 0px;
  }

  h2 {
    position: absolute;
    width: 547px;
    height: 169px;
    left: 1021px;
    top: 77px;
    
    font-family: Archie Websters;
    font-size: 130px;
    line-height: 110%;
    
    color: #FFFFFF;    
  }

  .text2 {
    position: absolute;
    width: 266px;
    height: 87px;
    left: 1611px;
    top: 73px;
    
    font-family: Mada;
    font-size: 15px;
    line-height: 110%;
    color: #FFFFFF;
    
    span {
      font-family: Mad Galaxy Demo;
      font-size: 17px;
    }
  }

  .text3 {
    position: absolute;
    width: 364px;
    height: 107px;
    left: 1522px;
    top: 163px;
    
    font-family: Mada;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 110%;
    /* or 17px */
    
    
    color: #FFFFFF;
  }

  .text4 {
    position: absolute;
    width: 266px;
    height: 372px;
    left: 1203px;
    top: 573px;
    
    font-family: Mada;
    font-size: 15px;
    line-height: 110%;
    color: #FFFFFF;
    
    span {
      font-family: Mad Galaxy Demo;
      font-size: 17px;
    }
  }

  .text5 {
    position: absolute;
    width: 266px;
    height: 442px;
    left: 1596px;
    top: 573px;
    
    font-family: Mada;
    font-size: 15px;
    line-height: 110%;
    color: #FFFFFF;
    
    span {
      font-family: Mad Galaxy Demo;
      font-size: 17px;
    }
  }

  .text6 {
    position: absolute;
    width: 700px;
    height: 66px;
    left: 1003px;
    top: 1041px;
    
    font-family: Archie Websters;
    font-size: 100px;
    line-height: 110%;
    
    color: #FFFFFF;
  }

  .text7 {
    position: absolute;
    width: 700px;
    height: 52px;
    left: 1546px;
    top: 1041px;
    
    font-family: Archie Websters;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 110%;
    /* or 110px */
    
    
    color: #FFFFFF;
  }

  .text8 {
    position: absolute;
    width: 700px;
    height: 52px;
    left: 991px;
    top: 1183px;
    
    font-family: Archie Websters;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 110%;
    /* or 110px */
    
    
    color: #FFFFFF;
  }

  .text9 {
    position: absolute;
    width: 427px;
    height: 128px;
    left: 1467px;
    top: 1343px;
    
    font-family: Mada;
    font-size: 15px;
    line-height: 110%;
    color: #FFFFFF;
    
    span {
      font-family: Mad Galaxy Demo;
      font-size: 17px;
    }
  }

  .image2 {
    position: absolute;
    width: 79px;
    height: 79px;
    left: 1515px;
    top: 70px;    
  }

  .image3 {
    position: absolute;
    width: 79px;
    height: 79px;
    left: 1105px;
    top: 573px;
  }

  .image4 {
    position: absolute;
    width: 79px;
    height: 79px;
    left: 1374px;
    top: 1334px;
  }
}