@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background: linear-gradient(180deg, #3F40BF 0%, rgba(54, 55, 157, 0.9) 100%);
  color: black;
  display: flex;
  position: relative;

  .text1 {
    position: absolute;
    width: 789px;
    height: 1113px;
    left: 85px;
    top: 70px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;

    background: -webkit-linear-gradient(#FF9153, #FF00B8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h1 {
    position: absolute;
    width: 930px;
    height: 597px;
    left: 73px;
    top: 997px;
    
    font-family: Impact;
    font-style: normal;
    font-weight: 900;
    font-size: 250px;
    line-height: 230px;
    
    background: -webkit-linear-gradient(#FFC700, #FF5C00 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .image1 {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 960px;
    top: 0px;
  }
}