@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

.wrapper {
  @include magazineWrapper();  
  background-color: #FFFFFF;

  .image1 {
    position: absolute;
    width: 961px;
    height: 1497px;
    left: 0px;
    top: 0px;    
  }

  .video1 {
    position: absolute;
    width: 959px;
    height: 1497px;
    left: 961px;
    top: 0px;
    object-fit: fill; 
  }
  
  .image2 {
    position: absolute;
    width: 1636px;
    height: 1497px;
    left: 0px;
    top: 0px;
  }
  
  .image3 {
    position: absolute;
    width: 627px;
    height: 716px;
    left: 960px;
    top: 0px;
  }
  
  .image4 {
    position: absolute;
    width: 512px;
    height: 584px;
    left: 1408px;
    top: 927px;
  }

  .text1 {
    position: absolute;
    width: 503px;
    height: 51px;
    left: 24px;
    top: 1081px;
    
    font-family: Indie Flower;
    font-size: 60px;
    line-height: 60px;
    color: #FFA114;
    
    -webkit-text-stroke: 1px #00FFFF;
    text-shadow: 0px 4px 4px #490055;    
  }

  .text2 {
    position: absolute;
    width: 629px;
    height: 111px;
    left: 24px;
    top: 1149px;
    
    font-family: Indie Flower;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 60px;
    color: #FFA114;
    
    -webkit-text-stroke: 1px #00FFFF;
    text-shadow: 0px 4px 4px #490055;    
  }

  .text3 {
    position: absolute;
    width: 629px;
    height: 111px;
    left: 24px;
    top: 1245px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 85px;
    
    color: #FFFFFF;
    text-shadow: 0px -1px black, -1px 0px black, 1px 0px black, 0px 1px black;
  }

  .text4 {
    position: absolute;
    width: 393px;
    height: 240px;
    left: 998px;
    top: 669px;
    
    font-family: Jura;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 80px;
    color: #FFFFFF;    
  }

  .text5 {
    position: absolute;
    width: 393px;
    height: 240px;
    left: 998px;
    top: 909px;

    font-family: Jura;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 80px;
    color: #FFFFFF;
  }

  .text6 {
    position: absolute;
    width: 393px;
    height: 240px;
    left: 998px;
    top: 1149px;
    
    font-family: Jura;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 80px;
    color: #FFFFFF;    
  }

  .text7 {
    position: absolute;
    width: 393px;
    height: 240px;
    left: 998px;
    top: 1389px;
    
    font-family: Jura;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 80px;
    color: #FFFFFF;    
  }

  .text8 {
    position: absolute;
    width: 393px;
    height: 240px;
    left: 1501px;
    top: -51px;
    
    font-family: Jura;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 80px;
    /* or 114% */
    
    
    color: #FF0000;
        
  }

  .text9 {
    position: absolute;
    width: 393px;
    height: 240px;
    left: 1501px;
    top: 189px;
    
    font-family: Jura;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 80px;
    color: #FF0000;
  }

  .text10 {
    position: absolute;
    width: 393px;
    height: 240px;
    left: 1501px;
    top: 429px;
    
    font-family: Jura;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 80px;
    color: #FF0000;
  }

  .text11 {
    position: absolute;
    width: 393px;
    height: 240px;
    left: 1501px;
    top: 669px;
    
    font-family: Jura;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 80px;

    color: #FF0000;    
  }

  .rect1 {
    position: absolute;
    width: 419px;
    height: 149px;
    left: 24px;
    top: 1330px;
    background-color: #1a212c;    
  }

  .audioPanel {
    position: absolute;
    width: 419px;
    height: 149px;
    left: 24px;
    top: 1330px;
  }
}