@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

.wrapper {
  @include magazineWrapper();  
  background: black;
  
  .image1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 1920px;
    height: 1497px;
  }

  .text1 {
    position: absolute;
    width: 362px;
    height: 113px;
    left: 37px;
    top: 36px;
    
    font-family: UnifrakturMaguntia;
    font-size: 50px;
    line-height: 100%;
    color: #000000;
    
    text-shadow: -1px 0 #00E0FF, 0, -1px #00E0FF, 1px 0 #00E0FF, 0 1px #00E0FF;
        
  }
}