@import "../../assets/scss/base/responsive.scss";

.wrapper {
  background: url("/images/hidden_content_background.png");
  background-size: cover;
  
  .bodyWrapper {
    width: 100%;
    padding: 30px;
    padding-top: 100px;

    @include media-md {
      padding: 64px;
      padding-top: 175px;
    }
  
    .panel {
      background: #F7F7F7;
      position: relative;
      text-align: center;
      padding: 2rem;
      
      @include media-md {
        padding: 75px;
        margin-bottom: 350px;
      }
  
      .mediumTitle {
        font: 'Inner';
        font-weight: 900;
        font-size: 15px;
        margin-bottom: 1rem;

        @include media-md {
          font-size: 25px;
        }
      }
  
      .largeTitle {
        font: 'Inner';
        font-weight: 900;
        font-size: 25px;

        @include media-md {
          font-size: 40px;
        }
      }
  
      .smallTitle {
        font: 'Inner';
        font-size: 16px;
        margin-bottom: 3rem;
      }
    }
  }
}