@import '../../../assets/scss/helpers/variables.scss';

.item {
  display: grid;
  grid-template-columns: 156px 355px repeat(4, 172px);
  column-gap: 24px;
  padding-top: 24px;

  &:not(:last-child) {
    padding-bottom: 46px;
    border-bottom: 1px solid #e6e6e6;
  }
}

.imageWrapper {
  width: 156px;
  height: 184px;
  padding: 14px 18px;
  background-color: $lightGray1;
}

.img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.clothesName {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  max-width: 320px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}

.clothesHashAddress {
  font-size: 16px;
  line-height: 19px;
  max-width: 320px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.boldText {
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
}

.boldTextGray {
  color: $darkGray3;
}
