@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  .backImage {
    position: absolute;
    width: 1928px;
    height: 1497px;
    left: 0px;
    top: 0px;
  }

  .leftBack {
    position: absolute;
    width: auto;
    height: 1497px;
    left: 0;
    top: 0px;
  }

  .rightBack {
    position: absolute;
    width: auto;
    height: 1497px;
    left: 960px;
    top: 0px;
    z-index: 99;
  }

  .text1 {
    position: absolute;
    width: 337px;
    height: 44px;
    top: 17px;
    left: 19px;
    font-family: Knife Princess;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 110%;
    /* identical to box height, or 44px */


    color: #0038FF;

    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 2px;
    transition: transform .4s;
    &:hover {
      transform: scale(1.1);
    }
  }

  .text2 {
    position: absolute;
    width: 586px;
    height: 44px;
    top: 1410px;
    left: 31px;
    font-family: Jungle;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 110%;
    /* identical to box height, or 44px */
    color: #FFFFFF;
    -webkit-text-stroke: #0066FF;
    -webkit-text-stroke-width: 2px;
  }

  .text3 {
    position: absolute;
    width: 166px;
    height: 20px;
    left: 1018px;
    top: 72px;

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    /* identical to box height, or 20px */
    z-index: 100;

    color: #FF9D9D;
  }

  .text4 {
    position: absolute;
    width: 205px;
    height: 249px;
    left: 1018px;
    top: 110px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
    /* or 20px */
    z-index: 100;

    color: #FF9D9D;
  }

  .text5 {
    position: absolute;
    width: 241px;
    height: 44px;
    left: 1670px;
    top: 40px;
    font-family: Kohinoor Devanagari;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 110%;
    /* identical to box height, or 44px */

    z-index: 100;
    color: #FFFFFF;
    -webkit-text-stroke: #FF9900;
    -webkit-text-stroke-width: 2px;
    transition: transform .4s;
    &:hover {
      transform: scale(1.1);
    }
  }

  .secondBack {
    position: absolute;
    width: 890px;
    height: 1320px;
    left: 992px;
    top: 63px;

    background: rgba(0, 0, 0, 0.6);
  }

  .secondPageText {
    position: absolute;
    width: 825px;
    height: 1398px;
    left: 1028px;
    top: 128px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */

    text-align: center;

    color: #FFFFFF;

    span {
      font-family: Anton;
    }
  }
}