@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .back {
    width: 100%;
    height: 100%;
  }

  .text1 {
    position: absolute;
    width: 707px;
    height: 596px;
    left: 130px;
    top: 95px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
    /* or 20px */
    
    
    color: #FFFFFF;
  }

}