@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background: #BEFFC5;

  .image1 {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 0px;
    top: 0px;
  }

  .image2 {
    position: absolute;
    width: 963px;
    height: 540px;
    left: 957px;
    top: 158px;
  }

  .image3 {
    position: absolute;
    width: 367px;
    height: 744px;
    left: 988px;
    top: 717px;
  }

  .image4 {
    position: absolute;
    width: 427px;
    height: 816px;
    left: 960px;
    top: 681px;
  }

  .image5 {
    position: absolute;
    width: 427px;
    height: 816px;
    left: 1493px;
    top: 681px;
  }

  .image6 {
    position: absolute;
    width: 383px;
    height: 744px;
    left: 1515px;
    top: 717px;
  }

  .text1 {
    position: absolute;
    width: 725px;
    height: 120px;
    left: 113px;
    top: 20px;

    font-family: Public Secret DEMO;
    font-style: normal;
    font-weight: normal;
    font-size: 120px;
    line-height: 100%;
    /* identical to box height, or 120px */

    text-align: center;

    color: #8219B4;
    transition: transform .4s;
    &:hover {
      transform: scale(1.1);
    }
  }

  .text2 {
    position: absolute;
    width: 249px;
    height: 59px;
    left: 1640px;
    top: 21px;

    font-family: Public Secret DEMO;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    /* or 50px */

    text-align: right;

    color: #003789;
  }

  .text3 {
    position: absolute;
    width: 338px;
    height: 59px;
    left: 1551px;
    top: 88px;

    font-family: Minecrafter;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    /* or 50px */

    text-align: right;

    color: #003789;
  }
}