@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background: #BEFFC5;

  .image1 {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 0px;
    top: 0px;
  }

  .image2 {
    position: absolute;
    width: 961px;
    height: 1497px;
    left: 960px;
    top: 0px;
  }

  .image3 {
    position: absolute;
    width: 367px;
    height: 744px;
    left: 988px;
    top: 717px;
  }

  .image4 {
    position: absolute;
    width: 427px;
    height: 816px;
    left: 960px;
    top: 681px;
  }

  .image5 {
    position: absolute;
    width: 427px;
    height: 816px;
    left: 1493px;
    top: 681px;
  }

  .image6 {
    position: absolute;
    width: 383px;
    height: 744px;
    left: 1515px;
    top: 717px;
  }

  .text1 {
    position: absolute;
    width: 510px;
    height: 218px;
    left: 21px;
    top: 23px;
    
    font-family: Jacques Francois;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 100%;
    /* or 60px */
    -webkit-text-stroke: #FFFFFF;
    -webkit-text-stroke-width: 1px;
    
    color: #BD00FF;
    box-sizing: border-box;
  }

  .text2 {
    position: absolute;
    width: 284px;
    height: 30px;
    left: 21px;
    top: 152px;
    
    font-family: Jacques Francois;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 100%;
    /* identical to box height, or 30px */
    
    -webkit-text-stroke: #FFFFFF;
    -webkit-text-stroke-width: 1px;
    color: #BD00FF;
    box-sizing: border-box;
  }

  .text3 {
    position: absolute;
    width: 567px;
    height: 70px;
    left: 22px;
    top: 1403px;
    
    font-family: Saira;
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 100%;
    /* identical to box height, or 70px */
    
    
    color: #BD00FF;
    -webkit-text-stroke: #FFFFFF;
    -webkit-text-stroke-width: 1px;
    box-sizing: border-box;
    transition: transform .4s;
    &:hover {
      transform: scale(1.1);
    }
  }

  .text4 {
    position: absolute;
    width: 362px;
    height: 128px;
    left: 1519px;
    top: 1334px;

    font-family: Jacques Francois Shadow;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    /* or 50px */

    text-align: right;

    color: #FA00FF;
    transition: transform .4s;
    &:hover {
      transform: scale(1.1);
    }
  }
}