@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  .backImage {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 0px;
    top: 0px;
  }

  .leftBack {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 0px;
    top: 0px;

    background: #889DA9;
  }

  .left1 {
    position: absolute;
    width: 348px;
    height: 426px;
    left: 84px;
    top: 49px;

    border: 2px solid #FF4B4B;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 20px #FF0000);
  }

  .rightBack {
    position: absolute;
    width: 1404px;
    height: 1497px;
    left: 960px;
    top: 0px;
    z-index: 99;
  }

  video {
    position: absolute;
    width: 959px;
    height: 1495px;
    left: 961px;
    top: 0px;
    object-fit: fill;
  }
}