@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background: #E5E5E5;

  .image1 {
    position: absolute;
    width: 1920px;
    height: 1498px;
    left: 0px;
    top: 0px;
  }
}