@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  
  .back {
    width: 100%;
    height: 100%; 
  }

  .link1 {
    position: absolute;
    width: 392px;
    height: 493px;
    left: 113px;
    top: 242px;
  }

  .text1 {
    position: absolute;
    width: 1190px;
    height: 151px;
    left: -130px;
    top: 0px;

    font-family: Artypa;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 104px;
    text-align: center;

    color: #9AB014;
  }

  .text2 {
    position: absolute;
    width: 398px;
    height: 141px;
    left: 176px;
    top: 101px;

    font-family: The ART;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 115px;

    color: #2B5F5B;
  }

  .text3 {
    position: absolute;
    width: 333px;
    height: 178px;
    left: 541px;
    top: 90px;

    font-family: Arthure;
    font-style: normal;
    font-weight: normal;
    font-size: 200px;
    line-height: 266px;

    color: #2B5F5B;
  }

  .text4 {
    position: absolute;
    width: 236px;
    height: 47px;
    left: 535px;
    top: 279px;

    font-family: B612 Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 120.53%;
    /* or 84px */


    color: #D600FE;
  }

  .text5 {
    position: absolute;
    width: 257px;
    height: 96px;
    left: 445px;
    top: 559px;

    font-family: Habbo;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 120.53%;
    /* or 48px */


    color: #000000;

    transform: rotate(-90deg);
  }

  .link2 {
    position: absolute;
    left: 790px;
    top: 90px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 150%;
    /* or 45px */

    text-align: center;

    color: #000000;
  }

  .text6 {
    position: absolute;
    width: 179px;
    height: 52px;
    left: 791px;
    top: 629px;

    font-family: Medula One;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 150%;
    /* or 52px */


    color: #FF702B;
  }

  .text7 {
    position: absolute;
    width: 448px;
    height: 72px;
    left: 860px;
    top: 667px;

    font-family: Maker Van;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 120.53%;
    /* or 72px */


    color: #000000;
  }

  .text8 {
    position: absolute;
    width: 172px;
    height: 144px;
    left: 1350px;
    top: 590px;
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 120.53%;
    /* or 48px */


    color: #000000;
  }

  .text9 {
    position: absolute;
    width: 385px;
    height: 40px;
    left: 1519px;
    top: 564px;

    font-family: Baloo Tammudu;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 120.53%;
    /* or 60px */


    color: #000000;
  }

  .link6 {
    position: absolute;
    width: 513px;
    height: 510px;
    left: 1391px;
    top: 34px;
  }

  .text10 {
    position: absolute;
    width: 308px;
    height: 39px;
    left: 1596px;
    top: 611px;

    font-family: B612 Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120.53%;
    /* or 24px */


    color: #000000;
  }

  .text11 {
    position: absolute;
    width: 423px;
    height: 90px;
    left: 51px;
    top: 850px;

    font-family: Atures 900 PERSONAL USE ONLY;
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 120.53%;
    /* or 84px */

    text-shadow: -3px 0 #00F0FF, 0 3px #00F0FF, 3px 0 #00F0FF, 0 -3px #00F0FF;
    color: #BD00FF;
  }

  .text12 {
    position: absolute;
    width: 265px;
    height: 95px;
    left: 465px;
    top: 847px;

    font-family: B612 Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 120.53%;
    /* or 36px */


    color: #000000;
  }

  .link3 {
    position: absolute;
    width: 433px;
    height: 578px;
    left: 755px;
    top: 773px;
  }

  .text13 {
    position: absolute;
    width: 345px;
    height: 60px;
    left: 755px;
    top: 1351px;

    font-family: Miltonian;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 120.53%;
    /* or 60px */


    color: #000000;
  }

  .text14 {
    position: absolute;
    width: 267px;
    height: 52px;
    left: 755px;
    top: 1406px;

    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 150%;
    /* or 60px */


    color: #FF702B;
  }

  .link4 {
    position: absolute;
    width: 680px;
    height: 510px;
    left: 39px;
    top: 948px;
  }


  .text16 {
    position: absolute;
    width: 280px;
    height: 121px;
    left: 1228px;
    top: 1376px;

    font-family: Arthure;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 120.53%;
    /* identical to box height, or 121px */


    color: #000000;
  }

  .text17 {
    position: absolute;
    width: 280px;
    height: 121px;
    left: 1528px;
    top: 1376px;

    font-family: Arthure;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 120.53%;
    /* identical to box height, or 121px */


    color: #000000;
  }

  .text18 {
    position: absolute;
    width: 280px;
    height: 121px;
    left: 1834px;
    top: 1376px;

    font-family: Arthure;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 120.53%;
    /* identical to box height, or 121px */


    color: #000000;
  }

  .link5 {
    position: absolute;
    width: 585px;
    height: 580px;
    left: 1235px;
    top: 770px;
  }
}