@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background: #FFFF;

  .image1 {
    position: absolute;
    width: 1496px;
    height: 1496px;
    left: -220px;
    top: 0px;
  }

  .image2 {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 960px;
    top: 0px;
  }

  .image3 {
    position: absolute;
    width: 262px;
    height: 371px;
    left: 990px;
    top: 25px;
  }

  .image4 {
    position: absolute;
    width: 262px;
    height: 371px;
    left: 990px;
    top: 420px;
  }

  .image5 {
    position: absolute;
    width: 262px;
    height: 371px;
    left: 990px;
    top: 815px;
  }

  .image6 {
    position: absolute;
    width: 383px;
    height: 744px;
    left: 1515px;
    top: 717px;
  }

  .text1 {
    position: absolute;
    width: 237px;
    height: 100px;
    left: 48px;
    top: 25px;
    
    font-family: Kurale;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 100%;
    /* identical to box height, or 100px */
    
    text-align: center;
    
    color: #FFFFFF;
    transition: transform .4s;
    &:hover {
      transform: scale(1.1);
    }
  }

  .text2 {
    position: absolute;
    width: 375px;
    height: 60px;
    left: 990px;
    top: 1406px;
    
    font-family: Kavoon;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    /* identical to box height, or 50px */
    background: -webkit-linear-gradient(#FF00B8, #A40031);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    transition: transform .4s;
    &:hover {
      transform: scale(1.1);
    }
  }

  .text3 {
    position: absolute;
    width: 338px;
    height: 59px;
    left: 1551px;
    top: 88px;

    font-family: Minecrafter;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    /* or 50px */

    text-align: right;

    color: #003789;
  }
}