@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .back {
    width: 100%;
    height: 100%;
  }

  .text1 {
    position: absolute;
    width: 514px;
    height: 200px;
    left: 420px;
    top: 194px;
    
    font-family: 'Post No Bills Colombo';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 100%;
    /* or 50px */
    
    text-align: right;
    
    color: #FFFFFF;
  }

  .text2 {
    position: absolute;
    width: 707px;
    height: 951px;
    left: 232px;
    top: 386px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 100%;
    /* or 20px */
    
    
    color: #FFFFFF;
  }

  .text3 {
    position: absolute;
    width: 669px;
    height: 1151px;
    left: 1100px;
    top: 138px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
    /* or 20px */
    
    
    color: #FFFFFF;
  }
}