@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: #2D5D72;
  color: white;
  display: flex;
  position: relative;

  .back {
    width: 100%;
    height: 100%;
  }

  .image2 {
    position: absolute;
    width: 669px;
    height: 376px;
    left: 16px;
    top: 10px;
  }
  .image3 {
    position: absolute;
    width: 275px;
    height: 323px;
    left: 685px;
    top: 270px;
  }
  .image4 {
    position: absolute;
    width: 392px;
    height: 244px;
    left: 960px;
    top: 0px;
  }
  .image5 {
    position: absolute;
    width: 602px;
    height: 279px;
    left: 1348px;
    top: 25px;
  }
  .image6 {
    position: absolute;
    width: 454px;
    height: 457px;
    left: 852px;
    top: 347px;
  }
  .image7 {
    position: absolute;
    width: 644px;
    height: 644px;
    left: 1598px;
    top: 221px;
  }
  .image8 {
    position: absolute;
    width: 669px;
    height: 218px;
    left: 16px;
    top: 403px;
    
    background: #63A1FF;
  }
  .image9 {
    position: absolute;
    width: 258px;
    height: 413px;
    left: 1124px;
    top: 375px;
    
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
  }
  .image10 {
    position: absolute;
    width: 375px;
    height: 249px;
    left: 1391px;
    top: 319px;
    
    background: #1C32FF;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
  }
  .image11 {
    position: absolute;
    width: 315px;
    height: 154px;
    left: 1427px;
    top: 650px;
    
    background: #31B5AD;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
  }
  .image12 {
    position: absolute;
    width: 200px;
    height: 685px;
    left: 33px;
    top: 444px;
    transform: rotate(10deg);
  }
  .image13 {
    position: absolute;
    width: 555px;
    height: 523px;
    left: 197px;
    top: 576px;
  }
  .image14 {
    position: absolute;
    width: 443px;
    height: 443px;
    left: 464px;
    top: 582px;
    
    background: #000000;
    border-radius: 100%;
  }
  .image15 {
    position: absolute;
    width: 319px;
    height: 421px;
    left: 606px;
    top: 1025px;
  }
  .image16 {
    position: absolute;
    width: 960px;
    height: 632px;
    left: 960px;
    top: 866px;
  }
  .image17 {
    position: absolute;
    width: 869px;
    height: 430px;
    left: 1006px;
    top: 962px;
    
    background: #C46C3B;
  }
  .text1 {
    position: absolute;
    width: 280px;
    height: 76px;
    left: 611px;
    top: 92px;
    
    font-family: Post No Bills Colombo;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 100%;
    /* or 50px */
    
    
    color: #FFFFFF;
    transform: rotate(-90deg);
  }

  .text2 {
    position: absolute;
    width: 251px;
    height: 76px;
    left: 710.5px;
    top: 57.5px;
    
    font-family: Post No Bills Colombo;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 100%;
    /* or 50px */
    
    
    color: #FFFFFF;
    transform: rotate(-90deg);
  }

  .text3 {
    position: absolute;
    width: 250px;
    height: 76px;
    left: 797px;
    top: 8px;
    
    font-family: Post No Bills Colombo;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 100%;
    /* or 50px */
    
    
    color: #FFFFFF;
    transform: rotate(-90deg);
  }

  .text4 {
    position: absolute;
    width: 503px;
    height: 76px;
    left: 1006px;
    top: 292px;
    
    font-family: Post No Bills Colombo;
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 100%;
    /* or 70px */
    
    
    color: #1C32FF;
    
    text-shadow: rgb(255, 255, 255) 1px 0px 0px, rgb(255, 255, 255) 0.540302px 0.841471px 0px, rgb(255, 255, 255) -0.416147px 0.909297px 0px, rgb(255, 255, 255) -0.989992px 0.14112px 0px, rgb(255, 255, 255) -0.653644px -0.756802px 0px, rgb(255, 255, 255) 0.283662px -0.958924px 0px, rgb(255, 255, 255) 0.96017px -0.279415px 0px;
  }

  .text5 {
    padding-top: 29px;
    padding-left: 31px;
    width: 608px;
    height: 150px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    
    color: #FFFFFF;
  }

  .text6 {
    padding-top: 15px;
    padding-left: 19px;
    width: 227px;
    height: 364px;
    
    font-family: Ramabhadra;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    /* or 187% */
    
    
    color: #000000;
  }

  .text7 {
    padding-top: 11px;
    padding-left: 26px;
    width: 334px;
    height: 224px;
    
    font-family: Ramabhadra;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    color: #000000;
  }

  .text8 {
    padding-top: 23px;
    padding-left: 15px;
    width: 289px;
    height: 112px;

    font-family: Ramabhadra;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    color: #000000;
  }
  .text9 {
    padding-top: 84px;
    padding-left: 75px;
    width: 380px;
    height: 252px;
    font-family: Ramabhadra;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: #7291FF;
  }
  .text10 {
    padding-top: 19px;
    padding-left: 43px;
    width: 816px;
    height: 392px;
    font-family: Ramabhadra;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    /* or 165% */
    
    
    color: #FFFFFF;
  }
  .video1 {
    position: absolute;
    width: 645px;
    height: 390px;
    left: 16px;
    top: 1099px;
  }
}