@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background: #BEFFC5;

  .image1 {
    position: absolute;
    width: 960px;
    height: 986px;
    left: 0px;
    top: -4px;
  }

  .image2 {
    position: absolute;
    width: 960px;
    height: 515px;
    left: 0px;
    top: 979px;
  }

  .image3 {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 960px;
    top: -4px;
  }

  .image4 {
    position: absolute;
    width: 933px;
    height: 903px;
    left: 973px;
    top: 414px;
  }

  .image5 {
    position: absolute;
    width: 427px;
    height: 816px;
    left: 1493px;
    top: 681px;
  }

  .image6 {
    position: absolute;
    width: 383px;
    height: 744px;
    left: 1515px;
    top: 717px;
  }

  .text1 {
    position: absolute;
    width: 346px;
    height: 44px;
    left: 18px;
    top: 18px;
    
    font-family: IM FELL French Canon;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 44px;
    
    color: #DBFF00;
    transition: transform .4s;
    &:hover {
      transform: scale(1.1);
    }
  }

  .text2 {
    position: absolute;
    width: 221px;
    height: 44px;
    left: 18px;
    top: 65px;
    
    font-family: IM FELL French Canon;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 44px;
    
    color: #00C2FF;
    
  }

  .text3 {
    position: absolute;
    width: 212px;
    height: 147px;

    left: 18px;
    top: 110px;
    
    font-family: IM FELL French Canon;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    
    color: #00C2FF;
  }

  .text4 {
    position: absolute;
    width: 828px;
    height: 420px;
    left: 988px;
    top: 16px;

    font-family: Electrolize;
    font-style: normal;
    font-weight: normal;
    font-size: 150px;
    line-height: 140px;
    /* or 93% */


    color: #3B2C9F;
  }

  .text5 {
    position: absolute;
    width: 479px;
    height: 60px;
    left: 1427px;
    top: 1414px;

    font-family: Electrolize;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 120.53%;
    /* or 60px */

    text-align: center;

    color: #FD2F81;
    transition: transform .4s;
    &:hover {
      transform: scale(1.1);
    }
  }
}