@import '../../assets/scss/helpers/grid.scss';

.wrapper {
  .bodyWrapper {
    display: grid;
    gap: 2rem;
    align-items: center;

    .descriptionWrapper {
      grid-row: 2;
      @include lg-width {
        grid-row: 1;
      }
    }

    @include md-width {
      grid-template-columns: 1fr;
    }

    @include lg-width {
      grid-template-columns: 40% auto;
    }

    .imageCardWrapper {
      display: flex;
      align-items: center;
      margin: auto;

      .imageInnerWrapper {
        position: relative;
        padding: 5rem 0;

        .rarity {
          position: absolute;
          width: 100%;
          left: 50%;
          padding: 2rem 0;
          text-align: center;
          text-transform: uppercase;
          color: white;
          font-size: 30px;
          font-family: m12;
          transform: translate(-50%, -100%);
          -webkit-text-stroke: 2px rgb(156, 40, 255);

          @include md-width {
            font-size: 30px;
          }

          @include lg-width {
            font-size: 40px;
          }

          @include xl-width {
            font-size: 50px;
          }

          @include xxl-width {
            font-size: 60px;
          }
        }
      }

      & > img {
        cursor: pointer;
        width: 30px;
        transition: all 0.3s ease;

        @include sm-width {
          width: 30px;
        }

        @include md-width {
          width: 50px;
        }

        @include lg-width {
          width: 60px;
        }

        @include xl-width {
          width: 80px;
        }

        &:hover {
          transform: scale(1.1);
          transition: all 0.3s ease;
        }
      }
    }
  }
}
