.wrapper {
  background: url("/images/hidden_content_background.png");

  .bodyWrapper {

    width: 100%;
    padding: 64px;
    padding-top: 175px;
  
    .panel {
      background: #F7F7F7;
      // height: 1145px;
      position: relative;
      margin-bottom: 350px;
      text-align: center;
      padding: 75px;
  
      .mediumTitle {
        font: 'Inner';
        font-weight: 900;
        font-size: 25px;
        margin-bottom: 1rem;
      }
  
      .largeTitle {
        font: 'Inner';
        font-weight: 900;
        font-size: 40px;
      }
  
      .smallTitle {
        font: 'Inner';
        font-size: 16px;
        margin-bottom: 3rem;
      }
    }
  }
}