.bannerWrapper {
  padding-top: 100px;

  .firstBanner {
    position: relative;

    .viewBundles {
      position: absolute;
      top: 150px;
      right: 50px;
      padding: 0.45rem;

      border: 5px solid #ff7a00;
      box-sizing: border-box;

      font-family: Heebo;
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      text-align: center;

      color: #ff7a00;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .videoItem {
    position: relative;
    overflow: hidden;

    .gif {
      position: absolute;
      right: 20%;
      width: fit-content;
      object-fit: contain;
      transform: rotate(-15deg);
      height: 100%;
    }
  }

  .videoWrapper {
    position: relative;
    overflow: hidden;

    video {
      position: absolute;
      width: 100%;
      object-fit: contain;
      z-index: 1;
      top: -136%;
    }

    .png {
      position: relative;
      z-index: 2;
    }
  }
}
