@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  .background {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 0px;
    top: 0px;
  }

  .image1 {
    position: absolute;
    width: 256px;
    height: 295px;
    left: 28px;
    top: 1152px;    
  }

  .text1 {
    position: absolute;
    width: 47px;
    height: 648px;
    left: 830px;
    top: 48px;
    
    font-family: Internal Rainbows;
    font-size: 60px;
    line-height: 120.53%;
    word-wrap: break-word;
    color: #FF2DD1;
  }

  .text2 {
    position: absolute;
    width: 47px;
    height: 648px;
    left: 836px;
    top: 48px;
    
    font-family: Internal Rainbows;
    font-size: 60px;
    line-height: 120.53%;
    word-wrap: break-word;
    color: #71FFCC;    
  }

  .text3 {
    position: absolute;
    width: 47px;
    height: 648px;
    left: 845px;
    top: 48px;
    
    font-family: Internal Rainbows;
    font-size: 60px;
    line-height: 120.53%;
    word-wrap: break-word;
    color: #AD8700;
  }
}