@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: #5F5BFF;

  .rect1 {
    position: absolute;
    width: 1920px;
    height: 1497px;
    left: 0px;
    top: 0px;
    
    background: linear-gradient(90deg, #FF9B7B 0%, #CE648E 100%);    
  }

  .image1 {
    position: absolute;
    width: 1920px;
    height: 1497px;
    left: 0px;
    top: 0px;    
  }

  .rect2 {
    position: absolute;
    width: 839px;
    height: 1169px;
    left: 70px;
    top: 139px;
    
    background: rgba(255, 255, 255, 0.85);    
  }

  .rect3 {
    position: absolute;
    width: 839px;
    height: 1169px;
    left: 1021px;
    top: 139px;
    
    background: rgba(255, 255, 255, 0.85);
  }

  .text1 {
    position: absolute;
    width: 773px;
    height: 1077px;
    left: 103px;
    top: 185px;
    
    font-family: Pirata One;
    font-size: 20px;
    line-height: 100%;
    color: #FF0000;        
  }

  .text2 {
    position: absolute;
    width: 773px;
    height: 1077px;
    left: 1054px;
    top: 185px;
    
    font-family: Pirata One;
    font-size: 20px;
    line-height: 100%;
    color: #FF0000;
  }
}