@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background: #a5824e;

  .back {
    position: absolute;
    width: 1920px;
    height: 1497px;
    left: 0px;
    top: 0px;
  }
}
