@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: #000000;

  .image1 {
    position: absolute;
    width: 1920px;
    height: 1497px;
    left: 0px;
    top: 0px;
  }
}