@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background: #39DBFF;
  color: black;
  display: flex;
  position: relative;


  .image1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 1920px;
    height: 1497px;
  }
}