@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  .back {
    position: absolute;
    width: 1920px;
    height: 1497px;
    right: 0;
    top: 0;
  }

  .text1 {
    position: absolute;
    width: 845px;
    height: 1261px;
    left: 57px;
    top: 84px;

    font-family: Exo;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 100%;
    /* or 35px */

    color: #2fff82;
  }

  .text2 {
    position: absolute;
    width: 845px;
    height: 817px;
    left: 1044px;
    top: 293px;

    font-family: Exo;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 100%;
    /* or 30px */

    color: #e00087;
  }

  .text3 {
    position: absolute;
    width: 845px;
    height: 311px;
    left: 1045px;
    top: 928px;

    font-family: Exo;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 100%;
    /* or 30px */

    color: #ffffff;
  }
}
