@import "../../assets/scss/helpers/grid.scss";
@import "../../assets/scss/helpers/variables.scss";

.dropdown {
  @include wrapper();
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 25px;

  :global {
    .ui.selection.dropdown {
      border: 1px solid #e6e6e6;
      border-radius: 0;
      box-shadow: none;
      min-width: 164px;

      .divider.text {
        font-size: 0.875rem;
        color: $black;
      }

      &:hover {
        border: 1px solid #e6e6e6;
      }

      &.active {
        &:hover {
          border: 1px solid #e6e6e6;

          .menu {
            border-color: inherit;
          }
        }

        .menu {
          border-color: inherit;
        }

        .divider.text {
          color: $darkGray1;
        }
      }

      .dropdown.icon {
        height: 100%;
        display: flex;
        align-items: center;

        &:before {
          content: "";
          background-image: url("../../../public/images/icons/arrow-bottom.svg") !important;
          width: 8px;
          height: 5px;
          display: block;
          background-position: center center !important;
          background-repeat: no-repeat !important;
          background-size: contain !important;
        }
      }
    }
  }
}

.caption {
  margin-right: 16px;
  font-size: 0.75rem;
  line-height: 15px;
  font-weight: 700;
  color: $darkGray3;
  text-transform: uppercase;
}

.list {
  @include wrapper();
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media screen and (max-width: 1200px) {
    display: flex;
    flex-direction: column;
  }
  row-gap: 68px;
  column-gap: 84px;
  margin-bottom: 100px;
}

.loader {
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 1.5rem;
  text-decoration: underline;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
