@import '../../../../assets/scss/helpers/helpers.scss';

.item {
  @include active();
  
  &:not(:last-child) {
    margin-right: 12px;
    width: 24px;
    height: 24px;
    display: inline-block;
  }
}
