@import '../../../../../assets/scss/helpers/variables.scss';
@import '../../../../../assets/scss/helpers/helpers.scss';

.wrapper {
  background: $lightGray1;
  padding: 15px 25px 30px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chartWrapper {
  background-color:  #eee;
  margin-bottom: 30px;
  padding: 30px 30px 10px 30px;

  :global {
    .highcharts-background {
      fill: #eee!important;
    }
  }
}

.chart {
  margin-bottom: 30px;
}
