@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 629px;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .backImage {
    object-fit: fill;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
  }

  .title{
    position: absolute;
    width: 432px;
    height: 32px;
    left: 201px;
    top: 31px;

    font-family: Didot;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 110%;
    /* or 22px */


    color: #FFFFFF;
  }

  .section{
    position: absolute;
    width: 148px;
    height: 198px;
    left: 201px;
    top: 63px;

    font-family: Dhurjati;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 110%;
    /* or 11px */


    color: #FFA959;
  }
}
