@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 781px;
  background-color: #C4A5AE;
  color: white;
  display: flex;
  position: relative;

  .image2 {
    position: absolute;
    width: 375px;
    height: 602px;
    left: 0px;
    top: 0px;    
  }

  .text3 {
    position: absolute;
    width: 139px;
    height: 70px;
    left: 22px;
    top: 655px;
    
    font-family: Marker Felt;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 0;
    /* identical to box height, or 70px */
    
    text-align: center;
    
    color: #33559A;
    
    transform: rotate(-90deg);
  }

  .text4 {
    position: absolute;
    width: 238px;
    height: 63px;
    left: 116px;
    top: 658px;
    
    font-family: Marker Felt;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    /* or 14px */
    
    display: flex;
    align-items: center;
    
    color: #68296D;
  }
}
