@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.wrapper {
  @include magazineWrapper();
  height: 2527px;
  background-color: black;
  color: white;
  position: relative;
  white-space: normal;
  text-align: left;

  .image21 {
    position: absolute;
    width: 376px;
    height: 2527px;
    left: -1px;
    top: 0px;
  }

  .image22 {
    position: absolute;
    width: 404.55px;
    height: 172.52px;
    left: -18.09px;
    top: 487.81px;

    transform: rotate(10deg);
  }

  .image23 {
    position: absolute;
    width: 127.74px;
    height: 129.83px;
    left: 9.62px;
    top: 1289.02px;
    transform: rotate(-10deg);
  }

  .image24 {
    position: absolute;
    width: 115.13px;
    height: 115.13px;
    left: 266.07px;
    top: 1912.07px;
    transform: rotate(30deg);
  }

  .text7 {
    position: absolute;
    width: 299px;
    height: 122px;
    left: 28px;
    top: 46px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    /* or 133% */
    
    
    color: #FFFFFF;
  }

  .text8 {
    position: absolute;
    width: 277px;
    height: 129px;
    left: 28px;
    top: 125px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    /* or 156% */
    
    
    color: #FFFFFF;
  }

  .text9 {
    position: absolute;
    width: 249px;
    height: 279px;
    left: 63px;
    top: 626px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    /* or 156% */
    
    
    color: #FFFFFF;
  }

  .text10 {
    position: absolute;
    width: 515px;
    height: 122px;
    left: 159px;
    top: 1314px;
    
    font-family: Nimbus-Sans-D-OT;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 60px;
    /* or 200% */
    
    
    color: #FFFFFF;
  }

  .text11 {
    position: absolute;
    width: 249px;
    height: 185px;
    left: 60px;
    top: 1436px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    /* or 156% */
    
    
    color: #FFFFFF;
  }

  .text12 {
    position: absolute;
    width: 214px;
    height: 59px;
    left: 80px;
    top: 1970px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 60px;
    /* or 120% */
    
    
    color: #FFFFFF;
  }

  .text13 {
    position: absolute;
    width: 249px;
    height: 172px;
    left: 70px;
    top: 2026px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    /* or 156% */
    
    text-align: right;
    
    color: #FFFFFF;
  }
}
