@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 3601px;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .image1 {
    position: absolute;
    width: 2383px;
    height: 2383px;
    left: -957px;
    top: 337px;
    transform: rotate(-90deg);
  }

  .image3 {
    position: absolute;
    width: 316px;
    height: 3480px;
    left: 29px;
    top: 76px;

    background: rgba(164, 0, 147, 0.43);
  }
  
  .text2 {
    position: absolute;
    width: 264px;
    height: 1305px;
    left: 55px;
    top: 139px;
    
    font-family: Lexend Giga;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */
    
    text-align: center;
    
    color: #FFFFFF;
  }
}
