@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 375px;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .image1 {
    position: absolute;
    height: 100%;
    left: 0px;
    top: 0px;
  }
  .text1 {
    position: absolute;
    width: 179px;
    height: 85px;
    left: 24px;
    top: 215px;
    
    font-family: Jolly Lodger;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 85px;
    
    color: #FFFFFF;
    
  }
}
