@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.wrapper {
  @include magazineWrapper();
  height: 2784px;
  background-color: black;
  color: white;
  position: relative;
  white-space: normal;
  text-align: left;

  .backImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2784px;
  }

  h1 {
    font-family: Digital Dare;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 110%;
    position: absolute;
    
    &.headTitle1 {
      width: 383px;
      height: 68px;
      left: 38px;
      top: 49px;      
    }

    &.headTitle2 {
      width: 383px;
      height: 68px;
      left: 38px;
      top: 90px;    
    }

    &.headTitle3 {
      width: 459px;
      height: 68px;
      left: 38px;
      top: 131px;     
    }

    &.headTitle4 {
      width: 267px;
      height: 345px;
      left: 38px;
      top: 169px;  
    }
  }

  .image1 {
    position: absolute;
    width: 115px;
    height: 149px;
    left: 10px;
    top: 323px;
  }

  .image2 {
    position: absolute;
    width: 115px;
    height: 149px;
    left: 131px;
    top: 323px;    
  }

  .image3 {
    position: absolute;
    width: 115px;
    height: 149px;
    left: 252px;
    top: 323px;
  }

  .image4 {
    position: absolute;
    width: 115px;
    height: 149px;
    left: 234px;
    top: 485.7px;
  }

  .arrow {
    position: absolute;
    top: 450px;
    left: 30px;
    width: 250px;
    height: 300px;
    transform: rotate(80deg);
  }

  h2 {
    position: absolute;
    width: 114px;
    height: 40px;
    left: 138px;
    top: 494px;
    
    font-family: Finger Paint;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 110%;
    /* or 14px */
    
    text-align: center;
    
    color: #FFFFFF;    
  }

  p {
    font-family: Biryani;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 110%;
    position: absolute;

    &.section1 {
      width: 330px;
      height: 246px;
      left: 18px;
      top: 674px;
    }

    &.section2 {
      width: 316px;
      height: 246px;
      left: 18px;
      top: 934px;
    }

    &.section3 {
      left: 22px;
      top: 1457px;
      width: 321px;
      height: 176px;
    }
    
    &.section4 {
      position: absolute;
      width: 283px;
      height: 34px;
      left: 37px;
      top: 1838px;
      
      font-family: Blacker Display;
      font-size: 12px;
      line-height: 110%;
    }

    &.section5 {
      position: absolute;
      width: 281px;
      height: 166px;
      left: 45px;
      top: 2024px;
      font-family: Blacker Display;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 110%;
      color: #FFFFFF;
      span {
        font-weight: bold;
      }

      ul {
        list-style-type: disc;
        padding: 10px;
      }
    }

    &.section6 {
      position: absolute;
      width: 281px;
      height: 246px;
      left: 42px;
      top: 2318px;
      font-family: Blacker Display;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 110%;
      color: #FFFFFF;
      span {
        font-weight: bold;
      }

      ul {
        list-style-type: disc;
        padding: 10px;
      }
    }
  }

  .image5 {
    position: absolute;
    width: 377px;
    height: 225px;
    left: 0px;
    top: 1202px;
  }

  .image6 {
    position: absolute;
    width: 361px;
    height: 143px;
    left: 7px;
    top: 1665px;    
  }

  .arrow2 {
    position: absolute;
    width: 150px;
    height: 180px;
    left: 80px;
    top: 1840px;
    transform: rotate(120deg)
  }

  .twitterIcon {
    position: absolute;
    width: 36.28px;
    height: 36.28px;
    left: 19px;
    top: 1921px;
  }

  .discordIcon {
    position: absolute;
    width: 32.77px;
    height: 29.26px;
    left: 66px;
    top: 1924px;
  }

  .text1 {
    position: absolute;
    width: 167px;
    height: 40px;
    left: 175px;
    top: 1972.5px;
    
    font-family: Finger Paint;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 110%;
    /* or 14px */
    
    text-align: center;
    
    color: #FFFFFF;
    transform-origin: 0 0;
    transform: rotate(-30deg);    
  }
}
