@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 3679px;
  background-color: white;
  color: white;
  position: relative;

  .image1 {
    position: absolute;
    width: 960px;
    height: 3679px;
    left: -105px;
    top: 0px;
  }

  .image9 {
    position: absolute;
    width: 255px;
    height: 66px;
    left: 0px;
    top: 18px;
  }

  .image13 {
    position: absolute;
    width: 617px;
    height: 160px;
    left: 24px;
    top: 3550px;
  }

  .image10 {
    position: absolute;
    width: 320px;
    height: 161px;
    left: 27px;
    top: 98px;
    
    background: rgba(255, 255, 255, 0.67);
  }

  .image2 {
    position: absolute;
    width: 293px;
    height: 302px;
    left: 27px;
    top: 320px;
    
    background: rgba(0, 0, 0, 0.67);
  }

  .image3 {
    position: absolute;
    width: 473px;
    height: 506px;
    left: -160px;
    top: 683px;
    
    background: rgba(15, 14, 71, 0.67);
  }

  .image4 {
    position: absolute;
    width: 319px;
    height: 543px;
    left: 56px;
    top: 1229px;
    
    background: rgba(0, 0, 0, 0.67);
  }

  .image5 {
    position: absolute;
    width: 346px;
    height: 377px;
    left: 0px;
    top: 1833px;
    
    background: rgba(33, 13, 43, 0.67);
  }

  .image6 {
    position: absolute;
    width: 444px;
    height: 492px;
    left: 24px;
    top: 2250px;
    
    background: rgba(0, 0, 0, 0.67);
  }

  .image7 {
    position: absolute;
    width: 339px;
    height: 339px;
    left: 0px;
    top: 2782px;
    
    background: rgba(15, 14, 71, 0.67);
  }

  .image8 {
    position: absolute;
    width: 483px;
    height: 465px;
    left: -27px;
    top: 3161px;
    
    background: rgba(0, 0, 0, 0.67);
  }

  .text1 {
    position: absolute;
    width: 309px;
    height: 34px;
    left: 38px;
    top: 124px;
    
    font-family: Metal Lord;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 120.53%;
    /* or 36px */
    
    
    color: #3D1550;
  }

  .text2 {
    position: absolute;
    width: 235px;
    height: 229px;
    left: 56px;
    top: 351px;
    
    font-family: Helvetica;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    line-height: 120.53%;
    /* or 18px */
    
    text-align: right;
    
    color: #FFFFFF;
  }

  .text3 {
    position: absolute;
    width: 235px;
    height: 229px;
    left: 56px;
    top: 400px;
    
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 120.53%;
    /* or 18px */
    
    text-align: right;
    
    color: #FFFFFF;
  }

  .text4 {
    position: absolute;
    width: 264px;
    height: 203px;
    left: 27px;
    top: 714px;
    
    font-family: Helvetica;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    line-height: 120.53%;
    /* or 18px */
    
    
    color: #FFFFFF;
  }

  .text5 {
    position: absolute;
    width: 235px;
    height: 229px;
    left: 27px;
    top: 750px;
    
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 120.53%;
    /* or 18px */
    
    text-align: left;
    
    color: #FFFFFF;
  }

  .text6 {
    position: absolute;
    width: 254px;
    height: 176px;
    left: 88px;
    top: 1259px;
    
    font-family: Helvetica;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    line-height: 120.53%;
    /* or 18px */
    
    text-align: right;
    
    color: #FFFFFF;
  }

  .text7 {
    position: absolute;
    width: 254px;
    height: 176px;
    left: 88px;
    top: 1370px;
    
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 120.53%;
    /* or 18px */
    
    text-align: right;
    
    color: #FFFFFF;
  }

  .text8 {
    position: absolute;
    width: 296px;
    height: 224px;
    left: 24px;
    top: 1848px;
    
    font-family: Helvetica;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    line-height: 120.53%;
    /* or 18px */
    
    
    color: #FFFFFF;
  }

  .text9 {
    position: absolute;
    width: 296px;
    height: 224px;
    left: 24px;
    top: 1970px;
    
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 120.53%;
    /* or 18px */
    
    
    color: #FFFFFF;
  }

  .text10 {
    position: absolute;
    width: 249px;
    height: 224px;
    left: 90px;
    top: 2296px;
    
    font-family: Helvetica;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    line-height: 120.53%;
    /* or 18px */
    
    text-align: right;
    
    color: #FFFFFF;    
  }

  .text11 {
    position: absolute;
    width: 249px;
    height: 224px;
    left: 90px;
    top: 2380px;
    
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 120.53%;
    /* or 18px */
    
    text-align: right;
    
    color: #FFFFFF;  
  }

  .text12 {
    position: absolute;
    width: 266px;
    height: 260px;
    left: 35px;
    top: 2828px;
    
    font-family: Helvetica;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    line-height: 120.53%;
    /* or 18px */
    
    
    color: #FFFFFF;
  }

  .text13 {
    position: absolute;
    width: 266px;
    height: 260px;
    left: 35px;
    top: 2950px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 120.53%;
    /* or 18px */


    color: #FFFFFF;
  }

  .text14 {
    position: absolute;
    width: 302px;
    height: 224px;
    left: 38px;
    top: 3207px;
    
    font-family: Helvetica;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    line-height: 120.53%;
    /* or 18px */
    
    
    color: #FFFFFF;
  }

  .text15 {
    position: absolute;
    width: 302px;
    height: 224px;
    left: 38px;
    top: 3360px;
    
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 120.53%;
    /* or 18px */
    
    
    color: #FFFFFF;
  }
}
