@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 3332px;
  background-image: url('/magazine/1/images/mobile/oasis-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  color: black;
  position: relative;
  text-align: left;

  h1 {
    position: absolute;
    width: 340px;
    height: 169px;
    left: 40px;
    top: 82px;

    font-family: Archie Websters;
    font-style: normal;
    font-weight: normal;
    font-size: 130px;
    line-height: 143px;

    color: #FFFFFF;
  }

  p {
    font-family: Mada;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16.5px;
    color: #FFFFFF;
    position: absolute;


    span {
      font-family: Mad Galaxy Demo;
      font-size: 17px;
      line-height: 18.7px;
    }

    &.section1 {
      width: 191px;
      height: 110px;
      left: 136px;
      top: 432px;
    }

    &.section2 {
      width: 275px;
      height: 74px;
      left: 40px;
      top: 591px;
    }

    &.section3 {
      width: 267px;
      height: 102px;
      left: 40px;
      top: 714px;
    }

    &.section4 {
      width: 260px;
      height: 119px;
      left: 40px;
      top: 896px;
    }

    &.section5 {
      width: 157px;
      height: 67px;
      left: 40px;
      top: 1067px;
    }

    &.section6 {
      width: 195px;
      height: 153px;
      left: 142px;
      top: 1249px;
    }

    &.section7 {
      width: 275px;
      height: 153px;
      left: 41px;
      top: 1355px;
    }

    &.section8 {
      width: 293px;
      height: 193px;
      left: 40px;
      top: 1399px;
    }

    &.section9 {
      width: 293px;
      height: 189px;
      left: 38px;
      top: 2139px;
    }

    &.section10 {
      width: 100px;
      height: 100px;
      left: 39px;
      top: 2404px;
    }
    
    &.section11 {
      width: 282px;
      height: 159px;
      left: 38px;
      top: 2506px;
    }

    &.section12 {
      width: 223px;
      height: 448px;
      left: 38px;
      top: 2710px;
    }
  }

  h2 {
    position: absolute;
    font-family: Archie Websters;
    font-style: normal;
    font-weight: normal;
    font-size: 90px;
    line-height: 110%;
    color: #FFFFFF;

    &.title1 {
      width: 326px;
      height: 224px;
      left: 41px;
      top: 1635px;
    }
    
    &.title2 {
      width: 326px;
      height: 224px;
      left: 34px;
      top: 1872px;
    }
  }

  .logoImage1 {
    position: absolute;
    width: 79px;
    height: 79px;
    left: 40px;
    top: 432px;
  }

  .logoImage2 {
    position: absolute;
    width: 84px;
    height: 84px;
    left: 216px;
    top: 1058px;
  }

  .logoImage3 {
    position: absolute;
    width: 89px;
    height: 89px;
    left: 40px;
    top: 1253px;
  }

  .logoImage4 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 154px;
    top: 2385px;
  }

  .logoImage5 {
    position: absolute;
    width: 209px;
    height: 243px;
    left: 39px;
    top: 3179px;
  }

  h3 {
    position: absolute;
    width: 23px;
    height: 630px;
    left: 289px;
    top: 2725px;

    font-family: Archie Websters;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 110%;
    /* or 88px */


    color: #FFFFFF;
  }

  
}
