@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 3819px;
  background-color: #000000;
  color: black;
  position: relative;

  .image1 {
    position: absolute;
    width: 115px;
    height: 3819px;
    left: 340px;
    top: 0px;
    
    background: #FF0000;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  .image2 {
    position: absolute;
    width: 115px;
    height: 3819px;
    left: 340px;
    top: 0px;
    
    background: rgba(185, 65, 130, 0.48);
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  .text1 {
    position: absolute;
    width: 246px;
    height: 1396px;
    left: 47px;
    top: 52px;

    font-family: Lexend Giga;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */

    text-align: center;

    color: #FFFFFF;
    .title {
      font-family: Marker Felt;
      font-weight: 400;
      font-size: 17px;
    }
  }
}
