@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 6623px;
  background-color: white;
  color: black;
  position: relative;
  font-style: normal;
  font-weight: normal;

  .text1 {
    position: absolute;
    width: 283px;
    height: 544px;
    left: 62px;
    top: 52px;
    font-family: Artypa;  
    font-size: 40px;
    line-height: 52px;
  }

  .text2 {
    position: absolute;
    width: 398px;
    height: 141px;
    left: 17px;
    top: 148px;
    
    font-family: The ART;
    font-size: 80px;
    line-height: 92px;
  }

  .text3 {
    position: absolute;
    width: 333px;
    height: 178px;
    left: 187px;
    top: 236px;
    
    font-family: Arthure;
    font-size: 100px;
    line-height: 133px;    
  }

  .orangeBox {
    position: absolute;
    width: 375px;
    height: 297px;
    left: 0px;
    top: 379px;
    
    background: #FF6F50;
    border-top: 9px solid black;
    border-bottom: 9px solid black;
  }

  .blueBox {
    position: absolute;
    width: 375px;
    height: 364px;
    left: 0px;
    top: 2246px;
    border-top: 9px solid black;
    background: #5350FF;    
  }

  .lightBlueBox {
    position: absolute;
    width: 173px;
    height: 288px;
    left: -7px;
    top: 4181px;
    
    background: #50F4FF;
    border-right: 9px solid black;
    border-bottom: 9px solid black;
  }

  .line1 {
    position: absolute;
    width: 1570px;
    height: 0px;
    left: 352px;
    top: 2246px;
    
    border: 5px solid #000000;
    transform-origin: 0 0;
    transform: rotate(-90deg);    
  }

  .line2 {
    position: absolute;
    width: 375px;
    height: 602px;
    top: 676px;
    left: 0px;
    border-bottom: 9px solid #000000;
  }

  .line3 {
    position: absolute;
    width: 43px;
    height: 274px;
    left: 0;
    top: 2625px;
    border-right: 9px solid #000000;
  }

  .line4 {
    position: absolute;
    width: 375px;
    height: 274px;
    left: 0;
    top: 2625px;
    border-top: 9px solid #000000;
    border-bottom: 9px solid #000000;
  }

  .line5 {
    position: absolute;
    width: 404px;
    height: 0px;
    left: 0px;
    top: 3629px;

    border: 9px solid #000000;
  }

  .line6 {
    position: absolute;
    width: 375px;
    height: 288px;
    left: 0px;
    top: 4181px;
    
    border-bottom: 9px solid black;
  }

  .line7 {
    position: absolute;
    width: 375px;
    height: 539px;
    left: 0px;
    top: 5485px;
    
    border-top: 9px solid black;
    border-bottom: 9px solid black;
  }


  .line8 {
    position: absolute;
    width: 187px;
    height: 539px;
    left: 0px;
    top: 5485px;
    
    border-right: 9px solid black;
  }

  .imagePath {
    position: absolute;
    left: 0;
    top: 0px;
  }

  .image1 {
    position: absolute;
    width: 289px;
    height: 289px;
    left: 43px;
    top: 698px
  }
  
  .image2 {
    position: absolute;
    width: 297px;
    height: 283px;
    left: 37px;
    top: 1361px;    
  }
  
  .image3 {
    position: absolute;
    width: 299px;
    height: 407px;
    left: 33px;
    top: 1683px;
  }
  
  .image4 {
    position: absolute;
    width: 428px;
    height: 487px;
    left: -24px;
    top: 2311px;
  }
  
  .image5 {
    position: absolute;
    width: 338px;
    height: 252px;
    left: 68px;
    top: 3929px;
  }
  
  .image6 {
    position: absolute;
    width: 347px;
    height: 433px;
    left: 14px;
    top: 6154px;
  }

  .image7 {
    position: absolute;
    width: 47px;
    height: 47px;
    left: 209px;
    top: 4369px;    
  }

  .image8 {
    position: absolute;
    width: 47px;
    height: 47px;
    left: 236px;
    top: 4378px;
  }

  .image9 {
    position: absolute;
    width: 47px;
    height: 47px;
    left: 264px;
    top: 4392px;
  }

  .image10 {
    position: absolute;
    width: 47px;
    height: 47px;
    left: 295px;
    top: 4402px;
  }

  .image11 {
    position: absolute;
    width: 128px;
    height: 77px;
    left: 26px;
    top: 3663px;      
  }

  .image12 {
    position: absolute;
    width: 128px;
    height: 77px;
    left: 154px;
    top: 3663px;
  }

  .image13 {
    position: absolute;
    width: 128px;
    height: 77px;
    left: 278px;
    top: 3663px;    
  }

  .image14 {
    position: absolute;
    width: 128px;
    height: 77px;
    left: 26px;
    top: 3740px;
  }

  .image15 {
    position: absolute;
    width: 128px;
    height: 77px;
    left: 154px;
    top: 3740px;
  }

  .image16 {
    position: absolute;
    width: 128px;
    height: 77px;
    left: 278px;
    top: 3740px;    
  }

  .image17 {
    position: absolute;
    width: 128px;
    height: 77px;
    left: 26px;
    top: 3816px;
  }

  .image18 {
    position: absolute;
    width: 128px;
    height: 77px;
    left: 154px;
    top: 3816px;
  }

  .image19 {
    position: absolute;
    width: 128px;
    height: 77px;
    left: 278px;
    top: 3816px;
  }

  .image20 {
    position: absolute;
    width: 375px;
    height: 322px;
    left: 0px;
    top: 4891px;
  }

  .nftVideo {
    position: absolute;
    width: 392px;
    height: 504px;
    left: -17px;
    top: 2910px;
    object-fit: fill;
  }
  
  .nftVideo2 {
    position: absolute;
    width: 474px;
    height: 494px;
    left: -64px;
    top: 4493px;   
    object-fit: fill; 
  }

  .text4 {
    position: absolute;
    width: 332px;
    height: 125px;
    left: 37px;
    top: 1009px;
    
    font-family: 'Atures 900 PERSONAL USE ONLY';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 120.53%;
    color: #0099EF;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
  }
  .text5 {
    position: absolute;
    width: 128px;
    height: 18px;
    left: 37px;
    top: 1138px;
    
    font-family: B612 Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 120.53%;
  }
  .text6 {
    position: absolute;
    width: 291px;
    height: 47px;
    left: 37px;
    top: 1179px;
    
    font-family: B612 Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 120.53%;
    color: #D600FE;
  }
  .text7 {
    position: absolute;
    width: 128px;
    height: 18px;
    left: 43px;
    top: 1300px;
    
    font-family: B612 Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 120.53%;
    
    color: #000000;
    
  }
  .text8 {
    position: absolute;
    width: 44px;
    height: 33px;
    left: 167px;
    top: 1300px;
    
    font-family: Delius;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 120.53%;
    /* or 36px */
    
    text-align: center;
    
    color: #E75F64;
    text-shadow: -1px 0 #9C5C87, 0 1px #9C5C87, 1px 0 #9C5C87, 0 -1px #9C5C87;
  }
  .text9 {
    position: absolute;
    width: 279px;
    height: 22px;
    left: 47px;
    top: 1337px;
    
    font-family: TS Block;
    font-size: 20px;
    line-height: 120.53%;
    /* or 24px */
    
    text-align: center;
    
    color: #18CD1F;
  }
  .text10 {
    position: absolute;
    width: 233px;
    height: 72px;
    left: 42px;
    top: 2109px;
    
    font-family: Maker Van;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 120.53%;
  }
  .text11 {
    position: absolute;
    width: 257px;
    height: 52px;
    left: 29px;
    top: 2171px;
    
    font-family: Medula One;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 150%;
    
    color: #B95524;
    
  }
  .text12 {
    position: absolute;
    width: 207px;
    height: 18px;
    left: 286px;
    top: 2231px;
    
    font-family: B612 Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 120.53%;
    transform-origin: 0 0;
    transform: rotate(-90deg);
  }
  .text13 {
    position: absolute;
    width: 83px;
    height: 18px;
    left: 68px;
    top: 2821px;
    
    font-family: B612 Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 120.53%;
  }
  .text14 {
    position: absolute;
    width: 174px;
    height: 25px;
    left: 68px;
    top: 2839px;
    
    font-family: B612 Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120.53%;
  }
  .text15 {
    position: absolute;
    width: 113px;
    height: 40px;
    left: 236px;
    top: 2824px;
    
    font-family: Haarlem Deco DEMO;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 120.53%;
  }

  .text16 {
    position: absolute;
    width: 298px;
    height: 86px;
    left: 43px;
    top: 3436px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 57px;
    line-height: 150%;    
  }

  .text17 {
    position: absolute;
    width: 98px;
    height: 18px;
    left: 233px;
    top: 3522px;

    font-family: B612 Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 120.53%;
  }

  .text18 {
    position: absolute;
    width: 264px;
    height: 60px;
    left: 41px;
    top: 3547px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 150%;
      
    color: #B03405;  
  }

  .text19 {
    position: absolute;
    width: 207px;
    height: 18px;
    left: 34px;
    top: 4177px;

    font-family: B612 Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120.53%;
    transform-origin: 0 0;
    transform: rotate(-90deg);

  }

  .text20 {
    position: absolute;
    width: 128px;
    height: 25px;
    left: 205px;
    top: 4222px;
    
    font-family: Habbo;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 120.53%;
  }

  .text21 {
    position: absolute;
    width: 137px;
    height: 18px;
    left: 205px;
    top: 4317px;

    font-family: Averia Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120.53%;
  }
  .text22 {
    position: absolute;
    width: 307px;
    height: 93px;
    left: -19px;
    top: 5217px;

    font-family: Burst My Bubble;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 120.53%;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .text23 {
    position: absolute;
    width: 207px;
    height: 18px;
    left: 58px;
    top: 5434px;
    
    font-family: B612 Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120.53%;
  }
  .text24 {
    position: absolute;
    width: 414px;
    height: 121px;
    left: 28px;
    top: 5971px;
    
    font-family: Maker Van;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 120.53%;
    transform-origin: 0 0;
    transform: rotate(-90deg);
    
  }
  .text25 {
    position: absolute;
    width: 420px;
    height: 181px;
    left: 209px;
    top: 5971px;
    
    font-family: Arthure;
    font-style: normal;
    font-weight: normal;
    font-size: 150px;
    line-height: 120.53%;
    transform-origin: 0 0;
    transform: rotate(-90deg);
    
  }
  .text26 {
    position: absolute;
    width: 305px;
    height: 62px;
    left: 14px;
    top: 6059px;
    
    font-family: Cool Chaos;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 120.53%;
    
    color: #DE823D;
  }
  .text27 {
    position: absolute;
    width: 98px;
    height: 18px;
    left: 14px;
    top: 6131px;
    
    font-family: B612 Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 120.53%;
  }

  .text28 {
    position: absolute;
    width: 188px;
    height: 18px;
    left: 192px;
    top: 6059px;
    
    font-family: 'Pixel Berry 08/84 Ltd.Edition';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 120.53%;

    color: #5350FF;
  }

  .text29 {
    position: absolute;
    width: 188px;
    height: 18px;
    left: 192px;
    top: 6090px;
    
    font-family: 'Pixel Berry 08/84 Ltd.Edition';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 120.53%;
    /* or 30px */
    
    
    color: #5350FF;
  }

  .text30 {
    position: absolute;
    width: 188px;
    height: 18px;
    left: 192px;
    top: 6122px;
    
    font-family: 'Pixel Berry 08/84 Ltd.Edition';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 120.53%;
    /* or 30px */
    
    
    color: #5350FF;
  }

}
