@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.wrapper {
  @include magazineWrapper();
  height: 3741px;
  background-color: white;
  color: black;
  position: relative;
  white-space: normal;
  text-align: left;

  .back {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .text1 {
    position: absolute;
    width: 284.5px;
    height: 493.2px;
    left: 32px;
    top: 180.89px;

    font-family: Ayuthaya;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 150%;
    /* or 25px */

    color: #ffffff;

    transform: rotate(-3deg);
  }

  .text2 {
    position: absolute;
    width: 297.38px;
    height: 658.34px;
    left: 32px;
    top: 1008.74px;

    font-family: Ayuthaya;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 150%;
    /* or 25px */

    color: #ffffff;

    transform: rotate(-4deg);
  }

  .text3 {
    position: absolute;
    width: 224.17px;
    height: 152px;
    left: 66px;
    top: 1562.32px;

    font-family: Ayuthaya;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 150%;
    /* or 25px */

    color: #ffffff;

    transform: rotate(-7deg);
  }

  .text4 {
    position: absolute;
    width: 286.73px;
    height: 257.11px;
    left: 44px;
    top: 2288px;

    font-family: Ayuthaya;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 150%;
    /* or 25px */

    color: #ffffff;
  }
}
