@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .image1 {
    position: absolute;
    width: 869px;
    height: 988px;
    left: -341px;
    top: 0px;
  }

  .text1 {
    position: absolute;
    width: 252px;
    height: 60px;
    left: 26px;
    top: 31px;
    
    font-family: Poor Story;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 100%;
    /* identical to box height, or 60px */
    
    text-align: right;
    
    color: #FF0000;
  }

  .text2 {
    position: absolute;
    width: 461px;
    height: 30px;
    left: 26px;
    top: 91px;
    
    font-family: Poor Story;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 100%;
    /* identical to box height, or 30px */
    
    
    color: #FF0000;
  }
}
