@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 9698px;
  overflow: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;
  
  .image1 {
    position: absolute;
    height: 9698px;
    left: -642px;
    top: 0px;
    
  }

  .image2 {
    position: absolute;
    width: 1068px;
    height: 9698px;
    left: -534px;
    top: 0px;
    
    background: rgba(0, 0, 0, 0.6);
  }

  .image4 {
    position: absolute;
    width: 295px;
    height: 237px;
    left: 40px;
    top: 1361px;
  }

  .image5 {
    position: absolute;
    width: 295px;
    height: 237px;
    left: 40px;
    top: 1598px;
  }

  .image6 {
    position: absolute;
    width: 295px;
    height: 237px;
    left: 41px;
    top: 1835px;
  }

  .image7 {
    position: absolute;
    width: 295px;
    height: 345px;
    left: 41px;
    top: 2264px;
  }

  .image8 {
    position: absolute;
    width: 295px;
    height: 344px;
    left: 41px;
    top: 2912px;
  }

  .image9 {
    position: absolute;
    width: 295px;
    height: 437px;
    left: 41px;
    top: 3256px;
  }

  .image10 {
    position: absolute;
    width: 295px;
    height: 304px;
    left: 41px;
    top: 2609px;
  }

  .image11 {
    position: absolute;
    width: 295px;
    height: 548px;
    left: 41px;
    top: 3693px;
  }

  .image12 {
    position: absolute;
    width: 295px;
    height: 519px;
    left: 41px;
    top: 4241px;
  }

  .image13 {
    position: absolute;
    width: 285px;
    height: 286px;
    left: 51px;
    top: 5019px;
  }

  .image24 {
    position: absolute;
    width: 285px;
    height: 286.86px;
    left: 50px;
    top: 5305px;
  }

  .image14 {
    position: absolute;
    width: 285px;
    height: 285.75px;
    left: 50px;
    top: 5592px;
  }

  .image15 {
    position: absolute;
    width: 262px;
    height: 248px;
    left: 56px;
    top: 6715px;
  }

  .image16 {
    position: absolute;
    width: 262px;
    height: 247.71px;
    left: 56px;
    top: 6963px;
  }

  .image17 {
    position: absolute;
    width: 262px;
    height: 247.71px;
    left: 56px;
    top: 7211px;
  }

  .image18 {
    position: absolute;
    width: 262px;
    height: 247.71px;
    left: 56px;
    top: 7459px;
  }

  .image19 {
    position: absolute;
    width: 280px;
    height: 238px;
    left: 47px;
    top: 7985px;
  }

  .image20 {
    position: absolute;
    width: 280px;
    height: 238.18px;
    left: 47px;
    top: 8223px;
  }

  .image21 {
    position: absolute;
    width: 265.94px;
    height: 309.29px;
    left: 54px;
    top: 8809px;
  }

  .image23 {
    position: absolute;
    width: 266px;
    height: 264px;
    left: 54px;
    top: 9118px;
  }

  .text1 {
    position: absolute;
    height: 160px;
    left: 30px;
    top: 43px;
    font-family: Neon Lights;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 100%;
    /* or 80px */
    
    
    color: #FFB800;
  }

  .text2 {
    position: absolute;
    width: 309px;
    height: 360px;
    left: 27px;
    top: 222px;
    
    font-family: Muna;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 110%;
    /* or 18px */
    
    
    color: #FFFFFF;
  }

  .text3 {
    position: absolute;
    width: 251px;
    height: 66px;
    left: 80px;
    top: 659px;
    font-family: Neon Vortex;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 110%;
    /* or 33px */
    
    
    color: #FFFFFF;
  }

  .text4 {
    position: absolute;
    width: 237px;
    height: 381px;
    left: 83px;
    top: 740px;
    
    font-family: NATS;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 110%;
    /* or 33px */
    
    
    color: #FFFFFF;
  }

  .text5 {
    position: absolute;
    width: 309px;
    height: 66px;
    left: 27px;
    top: 1256px;
    
    font-family: Neon Vortex;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 110%;
    /* or 22px */
    
    
    color: #FFFFFF;
  }

  .text6 {
    position: absolute;
    width: 286px;
    height: 66px;
    left: 40px;
    top: 2167px;
    
    font-family: Neon Vortex;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 110%;
    /* or 22px */
    
    text-align: right;
    
    color: #FFFFFF;
  }

  .text7 {
    position: absolute;
    width: 239px;
    height: 110px;
    left: 89px;
    top: 4878px;
    
    font-family: Neon Vortex;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 110%;
    /* or 22px */
    
    text-align: right;
    
    color: #FFFFFF;
  }

  .text8 {
    position: absolute;
    width: 254px;
    height: 33px;
    left: 60px;
    top: 6655px;
    
    font-family: Neon Vortex;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 110%;
    /* or 22px */
    
    
    color: #FFFFFF;
  }

  .text9 {
    position: absolute;
    width: 197px;
    height: 110px;
    left: 56px;
    top: 7854px;
    
    font-family: Neon Vortex;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 110%;
    /* or 22px */
    
    
    color: #FFFFFF;
  }

  .text10 {
    position: absolute;
    width: 256px;
    height: 132px;
    left: 59px;
    top: 8653px;
    
    font-family: Neon Vortex;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 110%;
    /* or 22px */
    
    
    color: #FFFFFF;
  }
}
