@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 1496px;
  background-color: black;
  color: white;
  position: relative;

  .image1 {
    position: absolute;
    width: 1715px;
    height: 1544px;
    left: -1038px;
    top: -48px;
  }

  .text1 {
    position: absolute;
    width: 337px;
    height: 44px;
    left: 60px;
    top: 15px;
    
    font-family: Knife Princess;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 110%;
    /* identical to box height, or 44px */
    
    text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
    color: #0038FF;
  }

  .text2  {
    position: absolute;
    width: 322px;
    height: 88px;
    left: 13px;
    top: 1352px;
    
    font-family: Jungle;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 110%;
    /* or 44px */
    
    
    color: #FFFFFF;
    
    text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px; 
  }
}