@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 3076px;
  overflow: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;
 
  .image6{
    position: absolute;
    width: 389px;
    height: 567px;
    left: -14px;
    top: 0px;
  }

  .image7 {
    position: absolute;
    width: 389px;
    height: 485px;
    left: -7px;
    top: 567px;
  }

  .image9 {
    position: absolute;
    width: 571px;
    height: 744px;
    left: -105px;
    top: 1051px;
  }

  .image10 {
    position: absolute;
    width: 571px;
    height: 779px;
    left: -7px;
    top: 1794px;
  }

  .image8 {
    position: absolute;
    width: 389px;
    height: 504px;
    left: 0px;
    top: 2572px;
  }

  .text2 {
    position: absolute;
    width: 184px;
    height: 50px;
    left: 180px;
    top: 17px;
    
    font-family: Sahitya;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    /* identical to box height, or 50px */
    
    text-align: center;
    
    color: #FFFFFF;
  }

  .text3 {
    position: absolute;
    width: 162px;
    height: 40px;
    left: 188px;
    top: 67px;
    
    font-family: Sahitya;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
    /* or 20px */
    
    text-align: center;
    
    color: #FFFFFF;
  }
}
