@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 2599px;
  background-color: white;
  color: black;
  position: relative;
  text-align: left;

  .backImage1 {
    position: absolute;
    width: 375px;
    height: 1300px;
    left: 0px;
    top: 0;
    transform-origin: 0 0;
    transform: scale(1.05, 2.4);
  }

  .textDiv1 {
    position: absolute;
    width: 280px;
    height: 2403px;
    left: 46px;
    top: 98px;

    background: rgba(255, 138, 0, 0.8);
  }

  .text1 {
    position: absolute;
    width: 246px;
    height: 1166px;
    left: 65px;
    top: 133px;

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */


    color: #FFFFFF;

    .subText {
      font-weight: 800;
      font-size: 22px;
    }
  }
}
