@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 811px;
  overflow: scroll;
  overflow-x: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .image1 {
    position: absolute;
    height: 811px;
    left: -120px;
    top: 0px;
  }

  .text1 {
    position: absolute;
    width: 280px;
    left: 14px;
    top: 100px;
    
    font-family: Romanesco;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 70px;
    /* or 140% */
    
    
    color: #FF00E5;
  }
  
  .text2 {
    position: absolute;
    width: 249px;
    height: 59px;
    left: 14px;
    top: 160px;

    font-family: Public Secret DEMO;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    /* or 50px */

    text-align: left;
    background: -webkit-linear-gradient(to bottom, #FFB800 0%, #64065A 100%);
    background: -moz-linear-gradient(to bottom, #FFB800 0%, #64065A 100%);
    background: linear-gradient(to bottom, #FFB800 0%, #64065A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
