@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 2368px;
  background-color: white;
  color: white;
  position: relative;
  white-space: normal;
  text-align: left;

  .back {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .text1 {
    position: absolute;
    width: 189px;
    height: 1151px;
    left: 100px;
    top: 108px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 100%;
    /* or 15px */

    color: #ffffff;
  }
}
