@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 1527px;
  overflow: hidden;
  background-color: #BEFFC5;
  color: white;
  display: flex;
  position: relative;
  .image2 {
    position: absolute;
    width: 377px;
    height: 205px;
    left: -2px;
    top: 200px;
  }

  .image4 {
    position: absolute;
    width: 230px;
    height: 439px;
    left: 72px;
    top: 475px;
    
    background: linear-gradient(180deg, #1C7E38 0%, rgba(28, 126, 56, 0) 100%);
  }

  .image5 {
    position: absolute;
    width: 230px;
    height: 435px;
    left: 72px;
    top: 983px;
    
    background: linear-gradient(180deg, #1C7E38 0%, rgba(28, 126, 56, 0) 100%);
  }

  .image3 {
    position: absolute;
    width: 198px;
    height: 401px;
    left: 87px;
    top: 494px;
  }

  .image6 {
    position: absolute;
    width: 198px;
    height: 385.32px;
    left: 87px;
    top: 1008px;
  }
  .text2 {
    position: absolute;
    width: 249px;
    height: 59px;
    left: 108px;
    top: 40px;
    
    font-family: Public Secret DEMO;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    /* or 50px */
    
    text-align: right;
    
    color: #003789;
  }

  .text3 {
    position: absolute;
    width: 338px;
    height: 59px;
    left: 19px;
    top: 107px;
    
    font-family: Minecrafter;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    /* or 50px */
    
    text-align: right;
    
    color: #003789;
  }
}
