@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 3324px;
  background-color: #000000;
  color: #FFFFFF;
  display: flex;
  position: relative;

  .image1 {
    position: absolute;
    width: 1023px;
    height: 1050px;
    left: -445px;
    top: -113px;
  }

  .image2 {
    position: absolute;
    width: 689px;
    height: 707px;
    left: -370px;
    top: 1182px;
  }

  .image3 {
    position: absolute;
    width: 689px;
    height: 707px;
    left: -111px;
    top: 412px;
  }

  .image4 {
    position: absolute;
    width: 1023px;
    height: 1050px;
    left: -511px;
    top: 1778px;
  }

  .image5 {
    position: absolute;
    width: 329px;
    height: 2865px;
    left: 23px;
    top: 87px;
    
    background: #000000;
  }

  .text1 {
    position: absolute;
    width: 246px;
    height: 1149px;
    left: 64px;
    top: 119px;
    
    font-family: Lexend Giga;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */
    
    text-align: center;
    
    color: #FFFFFF;

    .text2 {
      font-family: Marker Felt;
      font-size: 20px;
    }
  }
}
