@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 584.77px;
  position: relative;
  color: white;
  white-space: normal;
  text-align: left;

  .back {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
