@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 640px;
  overflow: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;
  
  .image1 {
    position: absolute;
    width: 411px;
    height: 640px;
    left: -36px;
    top: 0px;
  }

  .text1 {
    position: absolute;
    width: 302px;
    height: 50px;
    left: 19px;
    top: 11px;
    
    font-family: Public Secret DEMO;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    /* identical to box height, or 50px */
    
    text-align: center;
    
    color: #8219B4;
  }
}
