@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 983px;
  overflow: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .rightBack {
    position: absolute;
    width: 629px;
    height: 983px;
    left: -127px;
    top: 0px;
  }

  .text3 {
    position: absolute;
    width: 166px;
    height: 20px;
    top: 688px;
    left: 105px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    /* identical to box height, or 20px */
    
    text-align: center;
    
    color: #FF9D9D;
  }

  .text4 {
    position: absolute;
    width: 205px;
    height: 249px;
    top: 720px;
    left: 85px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
    /* or 20px */
    
    text-align: center;
    
    color: #FF9D9D;
  }

  .text5 {
    position: absolute;
    width: 241px;
    height: 33px;
    left: 16px;
    top: 8px;
    
    font-family: Kohinoor Devanagari;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 110%;
    /* identical to box height, or 33px */
    
    
    color: #FFFFFF;
    
    text-shadow: rgb(255, 153, 0) 2px 0px 0px, rgb(255, 153, 0) 1.75517px 0.958851px 0px, rgb(255, 153, 0) 1.0806px 1.68294px 0px, rgb(255, 153, 0) 0.141474px 1.99499px 0px, rgb(255, 153, 0) -0.832294px 1.81859px 0px, rgb(255, 153, 0) -1.60229px 1.19694px 0px, rgb(255, 153, 0) -1.97998px 0.28224px 0px, rgb(255, 153, 0) -1.87291px -0.701566px 0px, rgb(255, 153, 0) -1.30729px -1.5136px 0px, rgb(255, 153, 0) -0.421592px -1.95506px 0px, rgb(255, 153, 0) 0.567324px -1.91785px 0px, rgb(255, 153, 0) 1.41734px -1.41108px 0px, rgb(255, 153, 0) 1.92034px -0.558831px 0px;
  }
}
