@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 3120px;
  background-color: white;
  color: black;
  position: relative;
  text-align: left;

  .backImage1 {
    position: absolute;
    width: 375px;
    height: 1300px;
    left: 0px;
    top: 0;
    transform-origin: 0 0;
    transform: scale(1.05, 2.4);
  }

  p {
    position: absolute;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #000000;

    &.section1 {
      width: 294px;
      height: 1800px;
      left: 42px;
      top: 41px;
    }

    &.section2 {
      width: 294px;
      height: 1108px;
      left: 42px;
      top: 1722px;
    }

    span {
      font-weight: 700;
    }
  }
}
