@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 100%;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .image1 {
    position: relative;
    width: 375px;
    height: 100%;
  }

  .text1 {
    position: absolute;
    width: 363px;
    height: 84px;
    left: 107px;
    top: 24px;
    
    font-family: fairy wings;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 100%;
    /* or 70px */
    /* or 100px */
    
    -webkit-text-stroke: #FFFFFF;
    -webkit-text-stroke-width: 0.5px;
    color: #FFFFFF;
    box-sizing: border-box;
  }

  .text2 {
    position: absolute;
    width: 98px;
    height: 34px;
    left: 11px;
    top: 583px;
    
    font-family: Marker Felt;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    /* or 20px */
    
    -webkit-text-stroke: #00E0FF;
    -webkit-text-stroke-width: 0.5px;
    color: #FFFFFF;
}

}