@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 2879px;
  background-color: white;
  color: black;
  display: flex;
  position: relative;

  .image {
    position: absolute;
    width: 375px;
    left: 0px;
    top: 0px;
  }
  
  .text1 {
    position: absolute;
    width: 396px;
    height: 171px;
    left: -8px;
    top: 68px;

    font-family: Silom;
    font-style: normal;
    font-weight: bold;
    font-size: 130px;
    line-height: 120.53%;
    /* or 157px */

    text-align: center;

    color: #00FFD1;
  }

  .text2 {
    position: absolute;
    width: 339px;
    height: 72px;
    left: 18px;
    top: 245px;

    font-family: Zilla Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 120.53%;
    /* or 36px */

    text-align: center;

    color: #00FFD1;
  }

  .text3 {
    position: absolute;
    width: 78px;
    height: 18px;
    left: 18px;
    top: 315px;
    
    font-family: Zilla Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 120.53%;
    /* identical to box height, or 18px */
    
    
    color: #00FFD1;
    
  }

  .text4 {
    position: absolute;
    width: 246px;
    height: 882px;
    left: 72px;
    top: 422px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */
    
    
    color: #FFFFFF;
  }

  .textDiv1 {
    position: absolute;
    width: 280px;
    height: 2320px;
    left: 48px;
    top: 400px;
    background: rgba(111, 87, 255, 0.8);
    transform: matrix(1, 0, 0, -1, 0, 0);
  }

  .subtitle {
    font-weight: 600;
    font-size: 22px;
  }
}
