@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 660px;
  overflow: scroll;
  overflow-x: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .image1 {
    position: absolute;
    height: 660px;
    left: -130px;
    top: 0px;
  }

  .text2 {
    position: absolute;
    width: 226px;
    height: 50px;
    left: 129px;
    top: 22px;
    
    font-family: Fjalla One;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    /* identical to box height, or 50px */
    
    text-align: center;
    
    color: #FFFFFF;
  }
}
