@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 805px;
  overflow: scroll;
  overflow-x: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .image1 {
    position: absolute;
    width: 475px;
    height: 805px;
    left: -50px;
    top: 0px;
  }

  .text1 {
    position: absolute;
    width: 243px;
    height: 70px;
    left: 16px;
    top: 0px;
    
    font-family: Encode Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 70px;
    /* identical to box height, or 233% */
    
    
    color: #FFFFFF;
  }
}
