@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.wrapper {
  @include magazineWrapper();
  height: 4430px;
  background-color: white;
  color: white;
  position: relative;
  white-space: normal;
  text-align: left;

  .back {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .text1 {
    position: absolute;
    width: 229px;
    height: 973px;
    left: 85px;
    top: 29px;

    font-family: Saphira DEMO;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */

    color: #000000;

    li {
      list-style: disc;
      margin-left: 1rem;
    }
  }

  .text2 {
    position: absolute;
    width: 229px;
    height: 1395px;
    left: 92px;
    top: 2153px;

    font-family: Saphira DEMO;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */

    color: #000000;
    li {
      list-style: disc;
      margin-left: 1rem;
    }
  }
}
