@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 8352px;
  overflow: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;
  
  .img1{
    position: absolute;
    width: 100%;
    height: 9205px;
     
  }
  .img2{
    position: absolute;
    width: 193px;
    height: 263px;
    left: 84px;
    top: 1419px;
  }
  .img3{
    position: absolute;
    width: 192px;
    height: 263px;
    left: 85px;
    top: 1682px;

  }
  .img4{
    position: absolute;
    width: 192px;
    height: 263px;
    left: 85px;
    top: 1945px;
  }
  .img5{
    position: absolute;
    width: 200px;
    height: 266px;
    left: 87px;
    top: 2387px;
  }
  .img6{
    position: absolute;
    width: 200px;
    height: 266px;
    left: 87px;
    top: 2653px;
  }
  .img7{
    position: absolute;
    width: 200px;
    height: 266px;
    left: 87px;
    top: 2919px;
  }
  .img8{
    position: absolute;
    width: 192.67px;
    height: 262.9px;
    left: 91px;
    top: 3361px;
  }
  .img9{
    position: absolute;
    width: 192.67px;
    height: 262.9px;
    left: 94px;
    top: 3624px;
  }
  .img10{
    position: absolute;
    width: 192.67px;
    height: 262.9px;
    left: 94px;
    top: 3887px;
  }

  .img11{
    position: absolute;
    width: 202px;
    height: 259px;
    left: 86px;
    top: 4341px;
  }
  .img12{
    position: absolute;
    width: 202px;
    height: 258.85px;
    left: 86px;
    top: 4599px;   
  }
  .img13{
    position: absolute;
    width: 202px;
    height: 258.64px;
    left: 89px;
    top: 4858px;  
  }
  .img14{
    position: absolute;
    width: 202px;
    height: 258.56px;
    left: 89px;
    top: 5117px;
  }
  .img15{
    position: absolute;
    width: 235px;
    height: 326px;
    left: 70px;
    top: 5589px;
  }
  .img16{    
    position: absolute;
    width: 235px;
    height: 326px;
    left: 70px;
    top: 5915px;
  }
  .img17{  
    position: absolute;
    width: 235px;
    height: 326px;
    left: 70px;
    top: 6241px;  
  }
  .img18{
    position: absolute;
    width: 312px;
    height: 252px;
    left: 31px;
    top: 6754px;  
  }
  .img19{
    position: absolute;
    width: 312px;
    height: 252px;
    left: 31px;
    top: 7006px;  
  }
  .img20{
    position: absolute;
    width: 254.57px;
    height: 252px;
    left: 60px;
    top: 7428px;
  }
  .img21{
    position: absolute;
    width: 254.57px;
    height: 251.58px;
    left: 60px;
    top: 7680px;
  }

  .img22{
    position: absolute;
    width: 254.57px;
    height: 252.78px;
    left: 60px;
    top: 7932px;
  }

  .img23{
    position: absolute;
    width: 375px;
    height: 8352px;
    left: 0px;
    top: 0px;
  }

  h1{
    position: absolute;
    width: 384px;
    height: 180px;

    font-family: Neon Lights;
    font-style: normal;
    font-weight: normal;
    font-size: 90px;
    line-height: 100%;
    /* or 90px */
    left: 20px;

    color: #00FFF0;
  }

  p{
    position: absolute;
    width: 298px;
    height: 378px;
    left: 39px;
    top: 267px;

    font-family: Muna;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 110%;
    /* or 18px */


    color: #FFFFFF;
  }

  .title1{
    position: absolute;
    width: 290px;
    height: 88px;
    left: 47px;
    top: 695px;

    font-family: Neon Vortex;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 110%;
    /* or 44px */


    color: #FFFFFF;
  }

  .title2{
    position: absolute;
    width: 290px;
    height: 264px;
    left: 47px;
    top: 802px;

    font-family: NATS;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 110%;
    /* or 33px */


    color: #FFFFFF;
  }

  .title3{
    position: absolute;
    width: 240px;
    height: 108px;
    left: 37px;
    top: 1179px;

    font-family: Noto Sans Armenian;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 90%;
    /* or 54px */


    color: #00FFF0;
  }
  h3{
     
    font-family: Neon Vortex;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 110%;
    /* or 22px */

    text-align: center;

    color: #FFFFFF;

  }
  .title4{
    position: absolute;
    width: 266px;
    height: 44px;
    left: 48px;
    top: 1354px;           
  }

  .title5{
    position: absolute;
    width: 291px;
    height: 44px;
    left: 35px;
    top: 2301px;    
  }

  .title6{
    position: absolute;
    width: 451px;
    height: 22px;
    left: -38px;
    top: 3303px;
  }

  .title7{
    position: absolute;
    width: 364px;
    height: 44px;
    left: 5px;
    top: 4259px;
  }

  .title8{
    position: absolute;
    width: 372px;
    height: 66px;
    left: 4px;
    top: 5485px;

  }
  .title9{
    position: absolute;
    width: 372px;
    height: 44px;
    left: 4px;
    top: 6676px;
  }
  .title10{
    position: absolute;
    width: 279px;
    height: 44px;
    left: 48px;
    top: 7350px;
  }
   
}
