@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 1671px;
  background-color: black;
  color: white;
  position: relative;

  .image1 {
    position: absolute;
    width: 1023px;
    height: 1050px;
    left: -327px;
    top: -128px
  }

  .image2 {
    position: absolute;
    width: 689px;
    height: 707px;
    left: -338px;
    top: -94px;
  }

  .image3 {
    position: absolute;
    width: 960px;
    height: 254px;
    left: -264px;
    top: -24px;
    
    background: rgba(0, 0, 0, 0.31);
  }

  .image4 {
    position: absolute;
    height: 1240px;
    left: -95px;
    top: 431px;
  }

  .image5 {
    position: absolute;
    width: 1023px;
    height: 1050px;
    left: -474px;
    top: 613px;
  }

  .text1 {
    position: absolute;
    width: 319px;
    height: 305px;
    left: 28px;
    top: 78px;
    
    font-family: Chinese Dragon;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 80%;
    /* or 80px */
    
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
  }

  .text2 {
    position: absolute;
    width: 196px;
    height: 43px;
    left: 28px;
    top: 350px;
    
    font-family: Marker Felt;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 150%;
    /* or 45px */
    
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
  }
}
