@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.wrapper {
  @include magazineWrapper();
  height: 2315px;
  background-color: white;
  color: white;
  position: relative;
  white-space: normal;
  text-align: left;

  .box1 {
    position: absolute;
    width: 375.15px;
    height: 372px;
    left: 0px;
    top: 0px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);        
  }

  .indiaNecklaceVideo {
    position: absolute;
    width: 336.61px;
    height: 339.75px;
    left: 18.87px;
    top: 15.73px;    
  }

  .circleImg1 {
    position: absolute;
    width: 357.12px;
    height: 349px;
    left: 9px;
    top: 398px;

    border-radius: 231px;
  }

  .circleText1 {
    position: absolute;
    width: 264.15px;
    height: 126.91px;
    left: 56px;
    top: 514px;

    font-family: Rochester;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 120%;
    text-align: center;

    color: #FFFFFF;
  }

  .box2 {
    position: absolute;
    width: 375.15px;
    height: 372px;
    left: 0px;
    top: 773px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);    
  }
  .indiaSuitVideo {
    position: absolute;
    width: 336.61px;
    height: 339.75px;
    left: 18.88px;
    top: 788.73px;    
  }  

  .circleImg2 {
    position: absolute;
    width: 357.12px;
    height: 349px;
    left: 8px;
    top: 1166px;
    
    border-radius: 246px;
  }

  .circleText2 {
    position: absolute;
    width: 264.15px;
    height: 192.58px;
    left: 54.48px;
    top: 1257.49px;
    
    font-family: Rochester;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    
    text-align: center;
    
    color: #FFFFFF;
  }

  .box3 {
    position: absolute;
    width: 375.15px;
    height: 372px;
    left: 0px;
    top: 1541px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .indiaSuit2Video {
    position: absolute;
    width: 336.61px;
    height: 339.75px;
    left: 18.88px;
    top: 1547.29px;
  }

  .circleImg3 {
    position: absolute;
    width: 355.65px;
    height: 349px;
    left: 9px;
    top: 1939px;
    border-radius: 237px;
  }

  .circleText3 {
    position: absolute;
    width: 241.02px;
    height: 258.44px;
    left: 67.79px;
    top: 1989.07px;
    
    font-family: Rochester;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 120%;
    text-align: center;
    
    color: #FFFFFF;
    
  }
}
