@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 3562px;
  overflow: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .image3 {
    position: absolute;
    height: 3562px;
    left: -2000px;
    top: 0px;
  }

  .image6 {
    position: absolute;
    width: 257px;
    height: 257px;
    left: -60px;
    top: 1035px;
  }

  .image7 {
    position: absolute;
  width: 141px;
  height: 141px;
  left: 215px;
  top: 1064px;
  }

  .image8 {
    position: absolute;
    width: 269px;
    height: 269px;
    left: -82px;
    top: 2380px;
  }
  .text2 {
    position: absolute;
    width: 325px;
    height: 160px;
    left: 25px;
    top: 45px;
    
    font-family: DJB Emilys Garden;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 85px;
    /* or 85% */
    
    -webkit-text-stroke: #5C3700;
    -webkit-text-stroke-width: 1px;
    color: #000000;
  }
  .text3 {
    position: absolute;
    width: 256px;
    height: 92px;
    left: 59px;
    top: 252px;
    
    font-family: Inter;
    font-style: italic;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;;
    /* or 120% */
    
    -webkit-text-stroke: #5C3700;
    -webkit-text-stroke-width: 1px;
    color: #FFFFFF;
  }

  .text4 {
    position: absolute;
    width: 295px;
    height: 92px;
    left: 68px;
    top: 512px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 85px;
    /* or 170% */
    
    -webkit-text-stroke: #5C3700;
    -webkit-text-stroke-width: 1px;
    color: #FFFFFF;
  }

  .text5 {
    position: absolute;
    width: 308px;
    height: 163px;
    left: 39px;
    top: 594px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 30px;
    /* or 176% */
    
    text-align: right;
    -webkit-text-stroke: #5C3700;
    -webkit-text-stroke-width: 0.5px;
    color: #FFFFFF;
  }

  .text6 {
    position: absolute;
    width: 308px;
    height: 610px;
    left: 39px;
    top: 1302px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 30px;
    /* or 176% */
    
    text-align: right;
    -webkit-text-stroke: #5C3700;
    -webkit-text-stroke-width: 0.5px;
    color: #FFFFFF;
  }

  .text7 {
    position: absolute;
    width: 308px;
    height: 391px;
    left: 39px;
    top: 2712px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 30px;
    /* or 176% */
    
    -webkit-text-stroke: #5C3700;
    -webkit-text-stroke-width: 0.5px;
    color: #FFFFFF;
  }

  .text8 {
    position: absolute;
    width: 925px;
    height: 160px;
    left: 0px;
    top: 3453px;
    
    font-family: DJB Emilys Garden;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 85px;
    /* or 85% */
    
    -webkit-text-stroke: #5C3700;
    -webkit-text-stroke-width: 1px;
    color: #000000;
  }
}
