@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 1766px;
  overflow: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  
  .image1 {
    position: absolute;
    width: 505px;
    height: 546px;
    left: -65px;
    top: 0px;
  }

  .image2 {
    position: absolute;
    width: 517px;
    height: 562px;
    left: -142px;
    top: 545px;
  }

  .image3 {
    position: absolute;
    width: 654px;
    height: 659px;
    left: -164px;
    top: 1107px;
  }

  .text1 {
    position: absolute;
    width: 392px;
    height: 44px;
    left: 25px;
    top: 25px;
    
    font-family: Marck Script;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 90%;
    /* or 36px */
    
    
    color: #80FF00;
  }
}
