@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 3362px;
  overflow: hidden;
  background-color: #000000;
  color: white;
  display: flex;
  position: relative;

  .right1{
    position: absolute;
    width: 542px;
    height: 542px;
    left: -83px;
    top: 0px;
  }

  .right3 {
    position: absolute;
    width: 794px;
    height: 896px;
    left: -209px;
    top: 785px;
  }

  .right2 {
    position: absolute;
    width: 560px;
    height: 560px;
    left: -92px;
    top: 2740px;
  }

  .right4 {
    position: absolute;
    width: 339px;
    height: 474px;
    left: 33.58px;
    top: 2194.83px;
  }

  .text3 {
    position: absolute;
    width: 392px;
    height: 44px;
    left: -36px;
    top: 1790px;
    
    font-family: Lexend Zetta;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 90%;
    /* or 22px */
    
    text-align: right;
    
    color: #926BFF;
  }

  .text4 {
    position: absolute;
    width: 392px;
    height: 44px;
    left: -36px;
    top: 1823px;
    
    font-family: Lexend Zetta;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 90%;
    /* or 22px */
    
    text-align: right;
    
    color: #FFFFFF;
  }

  .text5 {
    position: absolute;
    width: 392px;
    height: 277px;
    left: -36px;
    top: 1879px;
    
    font-family: Lexend Zetta;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 90%;
    /* or 13px */
    
    text-align: right;
    
    color: #FFFFFF;    
  }
}
