@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 781px;
  background-color: #000000;
  color: white;
  display: flex;
  position: relative;

  .image1 {
    position: absolute;
    height: 580px;
    left: -330px;
    top: 0px;
  }

  .text1 {
    position: absolute;
    width: 318px;
    height: 154px;
    left: 28px;
    top: 599px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    /* or 14px */
    
    color: #FFFFFF;
  }

  .text2 {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    /* or 14px */
    color: #FFFFFF;
    text-decoration-line: underline;
  }
}
