@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.wrapper {
  @include magazineWrapper();
  height: 1491px;
  background-color: white;
  color: black;
  position: relative;
  text-align: left;

  .image1 {
    position: absolute;
    width: 615px;
    height: 1501px;
    left: -120px;
    top: 0px;
  }

  .image2 {
    position: absolute;
    width: 401px;
    height: 1102px;
    left: -26px;
    top: 38px;
    
    background: #000000;
  }

  .text1 {
    position: absolute;
    width: 246px;
    height: 385px;
    left: 58px;
    top: 89px;
    
    font-family: Lexend Giga;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */
    
    text-align: center;
    
    color: #FFFFFF;
  }
}
