@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 3658px;
  background-color: #000000;
  color: #FFFFFF;
  position: relative;

  .image1 {
    position: absolute;
    width: 115px;
    height: 3658px;
    left: 340px;
    top: 0px;
    
    background: #FF0000;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  .image2 {
    position: absolute;
    width: 115px;
    height: 3658px;
    left: 340px;
    top: 0px;
    
    background: rgba(185, 65, 130, 0.48);
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  .text1 {
    position: absolute;
    width: 312px;
    height: 320px;
    left: 31px;
    top: 50px;
    
    font-family: Marker Felt;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 150%;
    /* or 45px */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
  }

  .text2 {
    position: absolute;
    width: 246px;
    height: 1267px;
    left: 64px;
    top: 344px;
    
    font-family: Lexend Giga;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */
    
    text-align: center;
    
    color: #FFFFFF;

    .text3 {
      font-family: Marker Felt;
      font-size: 20px;
    }
  }
}
