@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.wrapper {
  @include magazineWrapper();
  height: 2960px;
  background-color: white;
  color: white;
  position: relative;
  white-space: normal;
  text-align: left;

  .back {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .gif {
    position: absolute;
    width: 929px;
    height: 1599px;
    left: -172px;
    top: -165px;

    transform: rotate(-180deg);
  }

  .text1 {
    position: absolute;
    width: 250px;
    height: 45px;
    left: 34px;
    top: 1461px;

    font-family: Jungle;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 150%;
    /* identical to box height, or 45px */

    color: #e87d00;
  }

  .text2 {
    position: absolute;
    width: 367px;
    height: 66px;
    left: 34px;
    top: 1506px;

    font-family: PAC LIBERTAS;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 24px;
    /* or 96% */

    color: #e87d00;
  }

  .text3 {
    position: absolute;
    width: 305px;
    height: 377px;
    left: 34px;
    top: 1572px;

    font-family: Saphira DEMO;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */

    color: #000000;
  }

  .text4 {
    position: absolute;
    width: 305px;
    height: 398px;
    left: 35px;
    top: 2085px;

    font-family: Saphira DEMO;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */

    color: #000000;
  }

  .text5 {
    position: absolute;
    width: 305px;
    height: 639px;
    left: 35px;
    top: 2233px;

    font-family: Saphira DEMO;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */

    color: #000000;
  }
}
