@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 835px;
  background-color: white;
  color: black;
  display: flex;
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
  }
}
