@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 4280px;
  background-color: white;
  color: black;
  display: flex;
  position: relative;
  
  .image7 {
    position: absolute;
    width: 375px;
    height: 4280px;
    left: 0px;
    top: 0px;
  }  

  .image8 {
    position: absolute;
    width: 408px;
    height: 272px;
    left: 37px;
    top: 563px;
  }

  .image9 {
    position: absolute;
    width: 159px;
    height: 210px;
    left: 162px;
    top: 1075px;
  }

  .text1 {
    position: absolute;
    width: 273px;
    height: 112px;
    left: 50px;
    top: 46px;
    
    font-family: Bahiana;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 110%;
    /* or 66px */
    -webkit-text-stroke: #000000;
    -webkit-text-stroke-width: 1px;
    
    color: #FFFFFF;
  }

  .text2 {
    position: absolute;
    width: 134px;
    height: 40px;
    left: 37px;
    top: 582px;
    
    font-family: Knife Princess;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 100%;
    /* identical to box height, or 40px */
    
    
    color: #FFFFFF;   
  }

  .text3 {
    position: absolute;
    width: 273px;
    height: 124px;
    left: 50px;
    top: 189px;
    
    font-family: DM Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
    /* or 20px */
    
    -webkit-text-stroke: #000000;
    -webkit-text-stroke-width: 1px;
    color: #FFFFFF;
  }

  .text5 {
    position: absolute;
    width: 312px;
    height: 27px;
    left: 33px;
    top: 850px;

    font-family: DM Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
    /* or 20px */

    -webkit-text-stroke: #000000;
    -webkit-text-stroke-width: 1px;
    color: #FFFFFF;
  }

  .text4 {
    position: absolute;
    width: 276px;
    height: 112px;
    left: 50px;
    top: 914px;   

    font-family: Bahiana;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 110%;
    /* or 66px */

    -webkit-text-stroke: #000000;
    -webkit-text-stroke-width: 1px;
    color: #FFFFFF;
  }

  .text6 {
    position: absolute;
    width: 260px;
    height: 168px;
    left: 37px;
    top: 1387px;
    
    font-family: DM Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
    /* or 20px */
    
    -webkit-text-stroke: #000000;
    -webkit-text-stroke-width: 1px;
    color: #FFFFFF;
  }

  .text7 {
    position: absolute;
    width: 278px;
    height: 40px;
    left: 19px;
    top: 1294px;
    
    font-family: Knife Princess;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 100%;
    /* identical to box height, or 40px */
    
    
    color: #FFFFFF;
  }

  .text8 {
    position: absolute;
    width: 312px;
    height: 27px;
    left: 25px;
    top: 1345px;
    
    font-family: DM Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
    /* or 20px */
    
    -webkit-text-stroke: #000000;
    -webkit-text-stroke-width: 1px;
    color: #FFFFFF;
  }

  .text9 {
    position: absolute;
    width: 289px;
    height: 128px;
    left: 37px;
    top: 1555px;

    font-family: DM Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
    /* or 20px */

    -webkit-text-stroke: #000000;
    -webkit-text-stroke-width: 1px;
    color: #FFFFFF;
  }

  .image10 {
    position: absolute;
    width: 335px;
    height: 130px;
    left: 37px;
    top: 1768px;
  }

  .text10 {
    display: flex;
    align-items: center;
    position: absolute;
    width: 255px;
    height: 132px;
    left: 51px;
    top: 1919px;
    
    font-family: Masterblast;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 100%;
    /* or 30px */
    
    -webkit-text-stroke: #0009EA;
    -webkit-text-stroke-width: 1px;
    color: #FFFFFF;
  }

  .text11 {
    position: absolute;
    width: 276px;
    height: 127px;
    left: 51px;
    top: 2051px;

  font-family: DM Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
  /* or 20px */

  -webkit-text-stroke: #000000;
  -webkit-text-stroke-width: 1px;
  color: #FFFFFF;
  }

  .text12 {
    position: absolute;
    width: 324px;
    height: 72px;
    left: 51px;
    top: 3067px;
    
    font-family: Masterblast;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 100%;
    /* or 30px */
    
    -webkit-text-stroke: #009220;
    -webkit-text-stroke-width: 1px;
    color: #FFFFFF;
  }

  .text13 {
    position: absolute;
    width: 264px;
    height: 282px;
    left: 51px;
    top: 3137px;  

    font-family: DM Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
    /* or 20px */

    -webkit-text-stroke: #000000;
    -webkit-text-stroke-width: 1px;
    color: #FFFFFF;
  }
  .text14 {
    position: absolute;
    width: 288px;
    height: 132px;
    left: 51px;
    top: 2308px;
    
    font-family: Masterblast;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 100%;
    /* or 30px */
    
    -webkit-text-stroke: #FF002E;
    -webkit-text-stroke-width: 1px;
    color: #FFFFFF;
  }

  .text15 {
    position: absolute;
    width: 288px;
    height: 461px;
    left: 51px;
    top: 2383px;
    
    font-family: DM Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
    /* or 20px */
    -webkit-text-stroke: #000000;
    -webkit-text-stroke-width: 1px;
    
    color: #FFFFFF;
  }

  .text16 {
    position: absolute;
    width: 288px;
    height: 132px;
    left: 51px;
    top: 3527px;
    
    font-family: Masterblast;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 100%;
    /* or 30px */
    
    -webkit-text-stroke: #BB00EA;
    -webkit-text-stroke-width: 1px;
    color: #FFFFFF;   
  }

  .text17 {
    position: absolute;
    width: 264px;
    height: 414px;
    left: 51px;
    top: 3596px;
    
    font-family: DM Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
    /* or 20px */
    
    -webkit-text-stroke: #000000;
    -webkit-text-stroke-width: 1px;
    color: #FFFFFF;
  }
}
