@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 2670px;
  background-color: #7B7C7E;;
  color: white;
  display: flex;
  position: relative;
  
  .image2 {
    position: absolute;
    width: 1181px;
    height: 1181px;
    left: -345px;
    top: 1585px;
  }
   .image3 {
    position: absolute;
    width: 608px;
    height: 634px;
    left: -20px;
    top: 0px;
   }

   .image4 {
    position: absolute;
    width: 884px;
    height: 859px;
    left: -546px;
    top: 840px;
   }
   .text3 {
    position: absolute;
    width: 66px;
    height: 84px;
    left: 284px;
    top: 448px;

    font-family: Erica One;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 100%;
    /* or 70px */

    text-align: center;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    color: #E56615;
  }

  .text4 {
    position: absolute;
    width: 212px;
    height: 168px;
    left: 33px;
    top: 1531px;
    
    font-family: EB Garamond;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    /* or 14px */
    
    
    color: #FFFFFF;
  }
}