@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 697px;
  overflow: scroll;
  overflow-x: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .image2 {
    position: absolute;
    height: 697px;
    left: -150px;
    top: 0px;
  }
}
