@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 2433px;
  overflow: hidden;
  background-color: #00D2C2;
  color: white;
  display: flex;
  position: relative;

  .image1   {
    position: absolute;
    width: 885px;
    height: 1394px;
    left: -255px;
    top: -4px;  
  }

  .image2 {
    position: absolute;
    height: 127px;
    left: 23px;
    top: 52px;
  }

  .image3 {
    position: absolute;
    width: 430px;
    height: 430px;
    left: 0px;
    top: 835px;
  }

  .image4 {
    position: absolute;
    width: 430px;
    height: 430px;
    left: -61px;
    top: 1908px;
  }

  .image5 {
    position: absolute;
    width: 430px;
    height: 430px;
    left: -23px;
    top: 1390px;    
  }

  .text1 {
    position: absolute;
    width: 292px;
    height: 300px;
    left: 76px;
    top: 891px;
    
    font-family: ExodusDemo-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 100%;
    /* or 15px */
    
    
    color: #FFFFFF;
  }

  .text2 {
    position: absolute;
    width: 547px;
    height: 30px;
    left: 41px;
    top: 193px;
    
    font-family: ExodusDemo-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    /* identical to box height, or 50px */
    
    
    color: #FFFFFF;
  }
  .text3 {
    position: absolute;
    width: 282px;
    height: 350px;
    left: 37px;
    top: 1965px;

    font-family: ExodusDemo-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    /* or 14px */


    color: #FFFFFF;
  }
.text4 {
  position: absolute;
  width: 309px;
  height: 252px;
  left: 37px;
  top: 1478px;
  
  font-family: ExodusDemo-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 100%;
  /* or 28px */
  
  
  color: #FFFFFF;
}
}
