@import './styles.module.scss';

@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(-605px); }
}


.wrapper {
  @include magazineWrapper();
  height: 1190px;
  background-color: white;
  color: black;
  position: relative;
  
  .image1 {
    position: absolute;
    width: 333px;
    height: 1139px;
    left: 21px;
    top: 24px;
    
    background: #DB95A2;
  }

  .image2 {
    position: absolute;
    width: 401px;
    height: 332px;
    left: -71px;
    top: -39px;
  }

  .image3 {
    position: absolute;
    width: 654px;
    height: 590px;
    left: -140px;
    top: 127px
  }

  .text1 {
    position: absolute;
    width: 735px;
    height: 165px;
    left: -170px;
    top: 749px;
    /* or 82px */
    
    text-align: center;
    
    color: #ECBE1D;

    .text2 {
      font-family: PLAYPULL;
      font-style: normal;
      font-weight: normal;
      font-size: 55px;
      line-height: 150%;
    }

    .text3 {
      font-family: Rugsnatcher DEMO;
      font-style: normal;
      font-weight: normal;
      font-size: 55px;
      line-height: 82.5px;
      color: #ff1111bd;
    }

    .text5 {
      font-family: PLAYPULL;
      font-style: normal;
      font-weight: normal;
      font-size: 55px;
      line-height: 150%;
      color: #ff1111bd;
    }

    .text4 {
      font-family: Rugrats;
      font-style: normal;
      font-weight: normal;
      font-size: 55px;
      line-height: 82.5px;
    }
  }

  .text6 {
    position: absolute;
    width: 657px;
    height: 52px;
    left: -134px;
    top: 832px;
    
    font-family: Mervale Script;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 150%;
    /* or 45px */
    
    text-align: center;
    
    color: #000000;
  }

  .text7 {
    position: absolute;
    width: 249px;
    height: 120px;
    left: 63px;
    top: 892px;
    
    font-family: Beth Ellen;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 150%;
    /* or 25px */
    
    
    color: #FFFFFF;
  }

}