@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 1507px;
  background-color: white;
  color: black;
  display: flex;
  position: relative;

    .image1 {
      position: relative;
      width: 375px;
      height: 1507px;
    }
}
