@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 2809px;
  background-color: black;
  color: white;
  position: relative;

  .image1 {
    position: absolute;
    width: 1514px;
    height: 195px;
    left: -570px;
    top: -2px;
  }

  .image2 {
    position: absolute;
    width: 1018px;
    height: 47px;
    left: -241px;
    top: 43px;
  }

  .image3 {
    position: absolute;
    width: 433px;
    height: 223px;
    left: -77px;
    top: 167px;
  }

  .image4 {
    position: absolute;
    width: 375px;
    height: 2489px;
    left: 0px;
    top: 125px;    
  }

  .image5 {
    position: absolute;
    width: 705px;
    height: 2249px;
    left: -165px;
    top: 368px;
    
    background: rgba(0, 0, 0, 0.41);
  }

  .image6 {
    position: absolute;
    left: 29.87%;
    right: 30.13%;
    top: 68.67%;
    bottom: 25.99%;

    .image7 {
      width: 100%;
      height: 100%;
      -webkit-animation:spin 4s linear infinite;
      -moz-animation:spin 4s linear infinite;
      animation:spin 4s linear infinite;
    }

    .image8 {
      position: absolute;
      width: 46.81px;
      height: 46.08px;
      left: 52px;
      top: 52px;
      background: none;
      border: none;
    }
  }

  .image9 {
    position: absolute;
    left: 29.87%;
    right: 30.13%;
    top: 81.1%;
    bottom: 13.56%;
    .image10 {
      width: 100%;
      height: 100%;
      -webkit-animation:spin 4s linear infinite;
      -moz-animation:spin 4s linear infinite;
      animation:spin 4s linear infinite;
    }
    .image11 {
      position: absolute;
      width: 46.81px;
      height: 46.08px;
      left: 52px;
      top: 52px;
      background: none;
      border: none;
    }
  }

  .image12 {
    position: absolute;
    width: 1514px;
    height: 195px;
    left: -570px;
    top: 2614px;
  }

  .image13 {
    position: absolute;
    width: 785px;
    height: 1261px;
    left: -280px;
    top: 481px;
  }

  .image14 {
    position: absolute;
    width: 464.91px;
    height: 490.95px;
    left: -38px;
    top: 481px;
  }

  .image15 {
    position: absolute;
    width: 364px;
    height: 364px;
    left: 1px;
    top: 1260px;
    .image16 {
      width: 100%;
      height: 100%;
    }
    .image17 {
      position: absolute;
      width: 359.75px;
      height: 139.41px;
      left: -52.63px;
      top: 187.18px;

      font-family: Krub;
      font-style: normal;
      font-weight: bold;
      font-size: 50px;
      line-height: 120.53%;
      /* or 60px */

      text-align: center;

      color: #FF7A00;
      text-shadow: rgb(255, 255, 255) 1px 0px 0px, rgb(255, 255, 255) 0.540302px 0.841471px 0px, rgb(255, 255, 255) -0.416147px 0.909297px 0px, rgb(255, 255, 255) -0.989992px 0.14112px 0px, rgb(255, 255, 255) -0.653644px -0.756802px 0px, rgb(255, 255, 255) 0.283662px -0.958924px 0px, rgb(255, 255, 255) 0.96017px -0.279415px 0px;
      transform: rotate(-10deg);
      background: none;
      border: none;
    }
  }

  .image18 {
    position: absolute;
    width: 1610px;
    height: 50px;
    left: -510px;
    top: 2496px;
  }

  .image19 {
    position: absolute;
    width: 59px;
    height: 59px;
    left: 187px;
    top: 361px;
    .image20 {
      width: 100%;
      height: 100%;
    }

    .image21 {
      background: none;
      border: none;
    }
  }

  .image22 {
    position: absolute;
    width: 1018px;
    height: 47px;
    left: -241px;
    top: 2690px;    
  }

  .text1 {
    position: absolute;
    width: 431px;
    height: 77px;
    left: 21px;
    top: 309px;
    
    font-family: Mansalva;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 44px;
    
    color: #FFFFFF;
  }

  .text2 {
    position: absolute;
    width: 301px;
    height: 660px;
    left: 45px;
    top: 386px;
    
    font-family: Arvo;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    
    color: #FF9900;
  }

  .text3 {
    position: absolute;
    width: 282px;
    height: 77px;
    left: 46px;
    top: 1828px;
    
    font-family: Mansalva;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    
    color: #FFFFFF;
  }

  .text4 {
    position: absolute;
    width: 431px;
    height: 77px;
    left: -28px;
    top: 2201px;
    
    font-family: Mansalva;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    
    color: #FFFFFF;
  }

  .text5 {
    position: absolute;
    width: 364.11px;
    height: 262px;
    left: 4.98px;
    top: 1028.62px;
    
    font-family: Julietta Messie Demo;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 120.53%;
    /* or 60px */
    
    text-align: center;
    
    color: #FFFFFF;    
  }

  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}
