@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 2273px;
  overflow: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;
  
  .img1{
    position: absolute;
    width: 375px;
    height: 100%;
    left: 0px;
     
  }
  .img2{
    position: absolute;
    width: 881px;
    height: 375px;
    left: 0px;
    top: 881px;
  }
  .img3{
    position: absolute;
    width: 100%;
    height: 646px;     
    top: 1040px;
  }
  .img4{
    position: absolute;
    width: 100%;    
    top: 266px;
  }
  .img5{
    position: absolute;
    width: 100%;
    height: 647px;    
    top: 1686px;
  }
  h1{
    position: absolute;
    width: 300px;
    height: 40px;
    left: 21px;
    top: 28px;

    font-family: Empirez;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 100%;
    /* identical to box height, or 40px */


    color: #FFB115;
  }

  p{
    position: absolute;
    width: 300px;
    height: 350px;
    left: 22px;
    top: 86px;

    font-family: EB Garamond;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    /* or 14px */


    color: #FFFFFF;
  }
}
