@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 2027px;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .image1 {
    position: absolute;
    width: 960px;
    height: 2260px;
    left: -386px;
    top: -233px;
  }

  .image2 {
    position: absolute;
    width: 960px;
    height: 2142px;
    left: -480px;
    top: -86px;
  }

  .image3 {
    position: absolute;
    width: 960px;
    height: 696px;
    left: -456px;
    top: 856px;
  }

  .image4 {
    position: absolute;
    width: 960px;
    height: 512px;
    left: -269px;
    top: 950px;
    
    background: #000000;
  }

  .text7 {
    position: absolute;
    width: 262px;
    height: 60px;
    left: 24px;
    top: 61px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 100%;
    /* or 30px */
    
    
    color: #FFFFFF;
  }

  .text8 {
    position: absolute;
    width: 797px;
    height: 50px;
    left: -189px;
    top: 185px;
    
    font-family: Jockey One;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    /* identical to box height, or 50px */
    
    text-align: center;
    
    color: #FFFFFF;
  }

  .text9 {
    position: absolute;
    width: 797px;
    height: 50px;
    left: -244px;
    top: 250px;
    
    font-family: Jockey One;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    /* identical to box height, or 50px */
    
    text-align: center;
    
    color: #FFFFFF;
  }

  .text10 {
    position: absolute;
    width: 797px;
    height: 50px;
    left: -223px;
    top: 315px;
    
    font-family: Jockey One;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    /* identical to box height, or 50px */
    
    text-align: center;
    
    color: #FFFFFF;
  }

  .text11 {
    position: absolute;
    width: 255px;
    height: 180px;
    left: 60px;
    top: 425px;
    
    font-family: Inter;
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    /* or 20px */
    
    text-align: center;
    
    color: #FFFFFF;
  }

  .text12 {
    position: absolute;
    width: 320px;
    height: 230px;
    left: 28px;
    top: 665px;
    
    font-family: Ligconsolata;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 100%;
    /* or 23px */
    
    text-align: center;
    
    color: #FFFFFF;
  }

  .text13 {
    position: absolute;
    width: 234px;
    height: 279px;
    left: 71px;
    top: 1615px;
    
    font-family: Ligconsolata;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 100%;
    /* or 30px */
    
    text-align: center;
    
    color: #FFFFFF;
  }

  .text14 {
    position: absolute;
    width: 262px;
    height: 267px;
    left: 53px;
    top: 1026px;
    
    font-family: Ligconsolata;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 100%;
    /* or 23px */
    
    text-align: center;
    
    color: #FFFFFF;
  }

  .text15 {
    font-family: Ligconsolata;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 100%;
    /* or 23px */
    
    text-align: center;
    
    color: #FF0000;
  }
}
