@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 2752px;
  overflow: scroll;
  overflow-x: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .image1 {
    position: absolute;
    width: 839px;
    height: 472px;
    left: -372px;
    top: -120px;
  }

  .text1 {
    position: absolute;
    width: 283px;
    height: 72px;
    left: 48px;
    top: 229px;
    
    font-family: Courier;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 120.53%;
    /* or 36px */
    
    
    color: #000000;
  }

  .text2 {
    position: absolute;
    width: 288px;
    height: 1061px;
    left: 48px;
    top: 336px;
    
    font-family: Courier New;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120.53%;
    /* or 22px */
    
    
    color: #000000;
  }

  .text3 {
    position: absolute;
    width: 288px;
    height: 22px;
    left: 44px;
    top: 2674px;
    
    font-family: Courier New;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120.53%;
    /* identical to box height, or 22px */
    
    
    color: #000000;
  }
}
