.hintWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 15px;
  margin-right: -75px;
}

.title {
  font-style: normal;
  font-weight: 900;
  font-size: 0.5625rem;
  line-height: 11px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #b6b6b6;
  margin-right: 10px;
}

.hintText {
  background: #ffffff;
  border: 1px solid #000000;
  padding: 10px;
  width: 200px;

  font-weight: 600;
  font-size: 0.625rem;
  line-height: 10px;
  text-align: center;

  color: #000000;
  margin-bottom: 5px;
}
