@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: rgba(189, 61, 169, 0.47);;
  color: white;
  display: flex;
  position: relative;

  .image1 {
    position: absolute;
    width: 1922px;
    height: 336px;
    left: -2px;
    top: 0px;
    background: rgba(189, 61, 169, 0.47);
  }
  .image2 {
    position: absolute;
    width: 1921px;
    height: 112px;
    left: -1px;
    top: 0px;
    
    background: #BA0C76;
  }
  .image3 {
    position: absolute;
    width: 1921px;
    height: 112px;
    left: -1px;
    top: 112px;
    
    background: #A500FD;
  }
  .image4 {
    position: absolute;
    width: 1921px;
    height: 112px;
    left: -2px;
    top: 224px;
    
    background: #000000;
  }
  .image8 {
    position: absolute;
    width: 1919px;
    height: 1161px;
    left: 0px;
    top: 336px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    .image9 {
      height: 100%;
    }
  }
  .text1 {
    position: absolute;
    width: 1433px;
    height: 75px;
    left: 243px;
    top: 19px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 75px;
    /* identical to box height */
    
    text-align: center;
    
    color: #FFFFFF;
  }
  .text2 {
    position: absolute;
    width: 1433px;
    height: 75px;
    left: 242px;
    top: 131px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 75px;
    /* identical to box height */
    
    text-align: center;
    
    color: #FFFFFF;
  }
  .text3 {
    position: absolute;
    width: 1598px;
    height: 75px;
    left: 160px;
    top: 243px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 75px;
    /* identical to box height */
    
    text-align: center;
    
    color: #FFFFFF;
  }
  .text4 {
    position: absolute;
    width: 844px;
    height: 105px;
    left: 70px;
    top: 368px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 23px;
    line-height: 34px;
    
    color: #FFFFFF;
  }
  .text5 {
    position: absolute;
    width: 91px;
    height: 45px;
    left: 5px;
    top: 479px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */
    
    
    color: #E9A0D9;
  }
  .text6 {
    position: absolute;
    width: 185px;
    height: 45px;
    left: 480px;
    top: 512px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */
    
    
    color: #FF43EC;
  }
  .text7 {
    position: absolute;
    width: 207px;
    height: 45px;
    left: 25px;
    top: 782px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */
    
    
    color: #00A3FF;
  }
  .text8 {
    position: absolute;
    width: 332px;
    height: 45px;
    left: 179px;
    top: 1087px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */
    
    
    color: #00B453;
  }
  .text9 {
    position: absolute;
    width: 118px;
    height: 46px;
    left: 514px;
    top: 801px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    
    color: #6BCFB3;
  }
  .text10 {
    position: absolute;
    width: 332px;
    height: 45px;
    left: 490px;
    top: 1190px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */
    
    
    color: #EA1C00;
  }
  .image2 {
    position: absolute;
    width: 223px;
    height: 225.27px;
    left: 0px;
    top: 524px;
  }
  .image3 {
    position: absolute;
    width: 223px;
    height: 225.27px;
    left: 223px;
    top: 524px;
  }
  .image4 {
    position: absolute;
    width: 223px;
    height: 225px;
    left: 480px;
    top: 557px;
  }
  .image5 {
    position: absolute;
    width: 223px;
    height: 225px;
    left: 703px;
    top: 557px;
  }
  .image6 {
    position: absolute;
    width: 223px;
    height: 223px;
    left: 25px;
    top: 827px;
  }
  .image7 {
    position: absolute;
    width: 223px;
    height: 224px;
    left: 248px;
    top: 827px;
  }
  .image8 {
    position: absolute;
    width: 223px;
    height: 223px;
    left: 0px;
    top: 1132px;
  }
  .image9 {
    position: absolute;
    width: 223px;
    height: 224px;
    left: 223px;
    top: 1132px;
  }
  .image10 {
    position: absolute;
    width: 223px;
    height: 225px;
    left: 515px;
    top: 848px;
  }
  .image11 {
    position: absolute;
    width: 223px;
    height: 225px;
    left: 738px;
    top: 896px;
  }
  .image12 {
    position: absolute;
    width: 223px;
    height: 223px;
    left: 490px;
    top: 1235px;
  }
  .image13 {
    position: absolute;
    width: 223px;
    height: 224px;
    left: 713px;
    top: 1235px;
  }
  .image14 {
    position: absolute;
    width: 223px;
    height: 225.27px;
    left: 961px;
    top: 735px;
  }
  .image15 {
    position: absolute;
    width: 223px;
    height: 225.27px;
    left: 1184px;
    top: 735px;
  }
  .image16 {
    position: absolute;
    width: 223px;
    height: 225.27px;
    left: 961px;
    top: 998px;
  }
  .image17 {
    position: absolute;
    width: 223px;
    height: 225.27px;
    left: 1184px;
    top: 998px;
  }
  .image18 {
    position: absolute;
    width: 223px;
    height: 225.27px;
    left: 961px;
    top: 1272px;
  }
  .image19 {
    position: absolute;
    width: 223px;
    height: 225.27px;
    left: 1184px;
    top: 1272px;
  }
  .image20 {
    position: absolute;
    width: 223px;
    height: 225.27px;
    left: 1473px;
    top: 712px;
  }
  .image21 {
    position: absolute;
    width: 223px;
    height: 225.27px;
    left: 1696px;
    top: 712px;
  }
  .image22 {
    position: absolute;
    width: 223px;
    height: 225.27px;
    left: 1450px;
    top: 1000px;
  }
  .image23 {
    position: absolute;
    width: 223px;
    height: 225.27px;
    left: 1673px;
    top: 1000px;
  }
  .image24 {
    position: absolute;
    width: 223px;
    height: 225.27px;
    left: 1473px;
    top: 1272px;
  }
  .text11 {
    position: absolute;
    width: 230px;
    height: 46px;
    left: 1184px;
    top: 681px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    
    color: #FFFFFF;
  }
  .text12 {
    position: absolute;
    width: 118px;
    height: 46px;
    left: 1801px;
    top: 668px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    
    color: #C293FF;
  }
  .image25 {
    position: absolute;
    width: 223px;
    height: 225.27px;
    left: 1696px;
    top: 1272px;
  }
  .text13 {
    position: absolute;
    width: 230px;
    height: 46px;
    left: 965px;
    top: 961px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    
    color: #62FF7B;
  }
  .text14 {
    position: absolute;
    width: 230px;
    height: 46px;
    left: 1414px;
    top: 956px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    
    color: #7000FF;
  }
  .text15 {
    position: absolute;
    width: 230px;
    height: 46px;
    left: 1187px;
    top: 1232px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    
    color: #FF54E4;
  }
  .text16 {
    position: absolute;
    width: 230px;
    height: 46px;
    left: 1515px;
    top: 1232px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    
    color: #FFB800;
  }
}