@import '../../assets/scss/base/responsive.scss';

.wrapper {
  padding-top: 80px;
  background: url('/images/nft/1/ejml13 hires 1.png');
  background-size: cover;

  .bodyWrapper {
    @include media-xs {
      padding: 1rem;
    }

    @include media-sm {
      padding: 2rem;
    }

    @include media-md {
      padding: 5rem;
    }

    @include media-lg {
      padding: 7.5rem;
    }

    .mainText {
      font-family: Internal Rainbows;
      font-style: normal;
      font-weight: normal;
      line-height: 110%;
      margin-bottom: 25px;
      /* identical to box height, or 165px */

      @include media-xs {
        font-size: 30px;
      }

      @include media-sm {
        font-size: 50px;
      }

      @include media-md {
        font-size: 70px;
      }

      @include media-lg {
        font-size: 90px;
      }

      @include media-xl {
        font-size: 120px;
      }

      color: #ffffff;

      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
        0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
        0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
        0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .subText {
      margin: auto;
      font-family: Nella Sue Demo;
      font-style: normal;
      font-weight: normal;
      line-height: 110%;
      margin-bottom: 50px;
      /* identical to box height, or 99px */

      @include media-xs {
        font-size: 20px;
      }

      @include media-sm {
        font-size: 40px;
      }

      @include media-md {
        font-size: 60px;
      }

      @include media-lg {
        font-size: 70px;
      }

      @include media-xl {
        font-size: 90px;
      }

      color: #ffffff;

      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
        0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
        0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
        0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .issues {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
      align-items: center;

      @include media-sm {
        grid-template-columns: repeat(2, 1fr);
      }

      @include media-lg {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
