@import "../../assets/scss/helpers/variables.scss";
@import "../../assets/scss/helpers/helpers.scss";

.smallWhite {
  margin: 10px;
  background-color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 640px) {
    flex-direction: column;
    .leftWrapper {
      width: 100% !important;
    }
    .footerBoxRight {
      width: 100%;
    }
  }
  
  .leftWrapper {
    width: 260px;
    max-width: 100%;
  }

  .priceDescription {
    font-size: 1rem;
    line-height: 29px;
    margin-bottom: 8px;
    font-weight: 900;
  }

  .priceWrapper {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  .priceEth {
    font-size: 1.5rem;
    line-height: 29px;
    margin-right: 12px;
    font-weight: 900;
  }

  .priceUsd {
    font-size: 1.25rem;
    line-height: 24px;
    color: $darkGray3;
    font-weight: 400;
  }

  .estimateWrapper {
    position: relative;
  }

  .estimateApy {
    font-size: 1.5rem;
    line-height: 29px;
    display: block;
    font-weight: 400;
  }

  .estimateApyTextWrapper {
    display: flex;
    align-items: flex-end;
  }

  .estimateApyText {
    color: $darkGray1;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    font-size: 0.5625rem;
    line-height: 11px;
    font-weight: 900;
  }

  .questionMark {
    width: 15px;
    height: 15px;
    border: 1px solid #e6e6e6;
    border-radius: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5625rem;
    line-height: 11px;
    font-weight: 600;
    margin-left: 2px;
    cursor: pointer;
  }

  .hint {
    display: block;
    position: absolute;
    width: 165px;
    padding: 4px;
    border: 0.5px solid #000000;
    background: #fff;
    font-size: 0.5625rem;
    line-height: 120%;
    top: -7px;
    right: -9px;
  }

  .button {
    min-width: 188px;
  }

  .rarityLabel {
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: $darkGray1;
    font-size: 1rem;
    line-height: 11px;
    margin-bottom: 12px;
    font-weight: 900;
  }

  .rarityText {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 1.25rem;
    line-height: 16px;
    text-transform: uppercase;
    color: #111111;
  }

  .espaButton {
    background: #855098;
    border: 1px solid #000000;
    box-sizing: border-box;
    color: white;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    padding: .5rem 1rem;
    text-transform: uppercase;
  }

  .footerBoxRight .buttonSold {
    min-width: 188px;

    &:hover,
    &:active {
      opacity: 0.7;
      background-color: #111;
      color: #fff;
    }
  }
}

.largeTransparent {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .leftWrapper {
    width: 260px;
    max-width: 100%;
  }

  .priceWrapper {
    margin-bottom: 40px;
  }

  .priceEth {
    font-size: 2.25rem;
    line-height: 44px;
    font-weight: 900;
    margin-right: 10px;
  }

  .priceUsd {
    font-size: 1.25rem;
    line-height: 24px;
    font-weight: 400;
    color: $darkGray3;
  }

  .estimateApyTextWrapper {
    min-height: 24px;
    align-items: center;
    display: inline-flex;
  }

  .estimateWrapper {
    display: flex;
    position: relative;
    align-items: flex-end;
  }

  .estimateApyText {
    letter-spacing: 0.12em;
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 17px;
    font-weight: 400;
    margin-right: 5px;
  }

  .estimateApy {
    font-size: 1.25rem;
    line-height: 24px;
    font-weight: 400;
    margin-left: 12px;
    order: 1;
  }

  .questionMark {
    width: 15px;
    height: 15px;
    border: 1px solid #e6e6e6;
    border-radius: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5625rem;
    line-height: 11px;
    font-weight: 600;
    transform: translateY(-9px);
    background: #fff;
    cursor: pointer;
  }

  .hint {
    display: block;
    position: absolute;
    width: 165px;
    padding: 4px;
    border: 0.5px solid #000000;
    background: #fff;
    font-size: 0.5625rem;
    line-height: 120%;
    top: -26px;
    right: -48px;
  }

  .footerBoxRight {
    display: flex;
    flex-direction: column;

    .buttonSold {
      min-width: 265px;
      opacity: 0.7;
      cursor: initial;
      order: 3;
      margin-top: 30px;

      &:hover,
      &:active {
        opacity: 0.7;
        background-color: #111;
        color: #fff;
        cursor: initial;
      }
    }
  }

  .expirationDateText {
    font-size: 0.5625rem;
    line-height: 11px;
    color: $darkGray1;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 5px;
    order: 1;
  }

  .timer {
    order: 2;
  }

  .button {
    padding: 12px 0 10px 0;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    font-size: 0.5625rem;
    line-height: 11px;
    min-width: 265px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    order: 3;
  }

  .buttonText {
    font-size: 0.75rem;
    line-height: 15px;
  }

  .buttonGray {
    color: $darkGray3;
    font-size: 0.5625rem;
    line-height: 11px;
  }
}

.wrapperButtonWithdraw {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  order: 4;
}
