.textCenter {
  text-align: center;
}

.espamodal {
  padding: 93px 0px 32px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subTitle {
  margin-top: -130px;
  margin-bottom: 80px;
  font-size: 1.875rem;
  font-weight: 400;
  color: #111111;
}

.description {
  font-size: 1rem;
  font-weight: 400;
  color: #111111;
  width: 488px;
  text-align: center;
  margin-bottom: 18px;
}

.button {
  width: 173px;
  height: 37px;
  a {
    color: white;
    &:hover {
      color: white;
    }
  }
}
