@import '../../assets/scss/helpers/grid.scss';

.wrapper {
  position: relative;
  width: 100%;

  .mainWrapper {
    position: relative;
    min-height: 50px;

    .backImage {
      width: 100%;
    }

    .mainText {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: wrap-reverse;

      p {
        font-family: Gilroy;
        font-size: 20px;
        color: white;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        word-wrap: normal;
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        span {
          font-weight: normal;
        }

        @include md-width {
          font-size: 20px;
        }

        @include lg-width {
          font-size: 22px;
        }

        @include xxl-width {
          font-size: 30px;
        }

        &.oswaldFont {
          font-family: Oswald;
          font-style: italic;
          font-weight: 600;
          font-size: 20px;
        }
      }
    }
  }

  .subText {
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 9px;
    text-transform: uppercase;
    line-height: 11px;
    /* identical to box height */

    letter-spacing: 0.56em;
    padding-left: 0.56em;
    margin: auto;
    text-align: center;
    white-space: nowrap;
    color: #FFFFFF;
  }
}