@import '../../../assets/scss/helpers/grid.scss';

.wrapper {
  margin-top: -2rem;
  .cardBodyWrapper {
    .link {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;

      img {
        width: 200px;
      }

      span {
        position: absolute;
        font-family: Oswald;
        font-style: italic;
        font-weight: 600;
        font-size: 20px;
        
        line-height: 49px;
        text-align: center;
        text-transform: uppercase;
        
        color: #FFFFFF;        
      }

      &:hover {
        img {
          animation: rightMove 1s infinite;
        }
      }
    }

    .pricesWrapper {
      // display: grid;
      // grid-template-columns: repeat(2, 1fr);
      // gap: 1rem;
      // align-items: start;
    }

    .lookText {
      font-family: Gilroy;
      font-style: normal;
      font-weight: 800;
      font-size: 3rem;
      white-space: nowrap;
      line-height: 91px;
      text-align: center;

      color: #ffffff;

      text-shadow: 0px 4px 20px #ff12f6;
    }

    // @include md-width {
    //   .link {
    //     img {
    //       width: 80%;
    //     }

    //     span {
    //       font-size: 36px;
    //     }
    //   }
    // }

    @include lg-width {
      .link {
        img {
          width: 350px;
        }

        span {
          font-size: 36px;
        }
      }
    }
  }
}
