@import '../../../assets/scss/helpers/grid.scss';

.wrapper {
  .cardBodyWrapper {
    .link {
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      padding: 1rem;
      font-family: Gilroy;
      background: rgba(247, 207, 207, 0.47);
      color: white;
      font-weight: bold;
      margin-bottom: 1rem;

      img {
        height: 2rem;
      }

      &:hover {
        img {
          animation: rightMove 1s infinite;
        }
      }
    }

    .pricesWrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      align-items: start;
    }

    .lookText {
      font-family: Gilroy;
      font-style: normal;
      font-weight: 800;
      font-size: 3rem;
      white-space: nowrap;
      line-height: 91px;
      text-align: center;

      color: #ffffff;

      text-shadow: 0px 4px 20px #ff12f6;
    }
  }
}
