@import '../../../../assets/scss/helpers/variables.scss';
@import '../../../../assets/scss/helpers/helpers.scss';

.leftBox {
  max-width: 618px;
  margin-right: 85px;
  flex-shrink: 0;
  z-index: 2;
  position: relative;
  flex: 1;
  @media only screen and (max-width: 1200px) {
    margin-right: 0;
  }
}

.garmentTypeWrapper {
  position: absolute;
  z-index: 4;
  display: flex;
  flex-direction: row;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9375rem;
  color: #999999;
  left: 0;
  top: 11px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  .gap {
    width: 0;
    height: 0;
    border-right: 51px solid transparent;
    border-top: 51px solid #e5e5e5;
    display: block;
  }

  .bannerText {
    background-color: #e5e5e5;
    display: block;
    padding: 16px 20px 16px 34px;
  }
}

.countTag {
  position: absolute;
  z-index: 4;
  display: flex;
  flex-direction: row;
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.625rem;
  color: white;
  left: 0;
  top: 11px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  .gap {
    width: 0;
    height: 0;
    border-right: 16px solid transparent;
    border-top: 16px solid #FD6553;
    display: block;
  }

  .bannerText {
    background-color: #FD6553;
    display: block;
    padding: 2px 0px 2px 4px;
  }
}