@import '../../assets/scss/helpers/grid.scss';

.wrapper {
  width: 100%;
  margin: auto;

  @include sm-width {
    width: 400px;

    .bodyWrapper {
      height: 400px;
    }
  }

  @include md-width {
    width: 500px;

    .bodyWrapper {
      height: 500px;
    }
  }

  @include lg-width {
    width: 350px;

    .bodyWrapper {
      height: 350px;
    }
  }

  @include xl-width {
    width: 400px;

    .bodyWrapper {
      height: 400px;
    }
  }

  @include xxl-width {
    width: 500px;

    .bodyWrapper {
      height: 500px;
    }
  }

  .designerWrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    .photo {
      width: 50px;
      margin-right: 1rem;
    }

    .name {
      font-family: Gilroy;
      font-style: normal;
      font-weight: 800;
      font-size: 22px;
      line-height: 27px;
      /* identical to box height */


      color: #FFFFFF;
    }
  }

  // .name {
  //   position: relative;
  //   color: white;
  //   font-family: Gilroy;
  //   font-style: normal;
  //   font-weight: 800;
  //   font-size: 36px;
  //   line-height: 44px;
  //   margin-bottom: 1rem;
  //   margin-left: 2rem;
  //   width: calc(100% - 4rem);
  // }

  .bodyWrapper {
    position: relative;
    padding: 2rem;
    border-radius: 2rem;
    border: 2px solid #9c28ff;
    box-shadow: inset 0px 0px 30px 20px rgba(197, 32, 129, 0.5),
      0px 0px 30px 20px rgba(197, 32, 129, 0.5);

    .libon {
      position: absolute;
      top: 0;
      right: 0;
      width: 30%;
      transform: translate(44%, -46%);
    }

    .video {
      width: 100%;
    }

    .buyNow {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
    }
  }
}
