@import '../../assets/scss/helpers/grid.scss';

.imageCardWrapper {
  width: 100%;
  margin: auto;

  .additionalImages {
    margin-top: 5rem;
    margin-bottom: 3rem;
    display: flex;

    img,
    video {
      width: 53px;
      height: 65px;
      margin-right: 1rem;
      object-fit: cover;
      box-shadow: 0px 4px 20px 10px #ffffff;
    }
  }

  @include sm-width {
    width: 400px;

    .bodyWrapper {
      height: 400px !important;
    }
  }

  @include md-width {
    width: 500px;

    .bodyWrapper {
      height: 500px !important;
    }
  }

  @include lg-width {
    width: 350px;

    .bodyWrapper {
      height: 350px !important;
    }
  }

  @include xl-width {
    width: 400px;

    .bodyWrapper {
      height: 400px !important;
    }
  }

  @include xxl-width {
    width: 500px;

    .bodyWrapper {
      height: 500px !important;
    }
  }

  .collectionName {
    color: white;
    position: relative;
    font-family: Gilroy;
    font-style: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
  }

  .designerLink {
    .designerWrapper .photo,
    .designerWrapper .name {
      transition: all 0.4s ease;
    }

    &:hover {
      .designerWrapper .photo,
      .designerWrapper .name {
        transform: scale(1.05);
        transition: all 0.4s ease;
      }
    }
  }

  .designerWrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    .photo {
      width: 50px;
      border-radius: 25px;
      margin-right: 1rem;
    }

    .name {
      font-family: Gilroy;
      font-style: normal;
      font-weight: 800;
      font-size: 22px;
      line-height: 27px;
      /* identical to box height */

      color: #ffffff;
    }
  }

  .bodyWrapper {
    position: relative;
    padding: 2rem;
    border-radius: 2rem;
    height: 80vw;
    border: 2px solid #9c28ff;
    // background: black;
    // box-shadow: inset 0px 0px 30px 20px rgba(197, 32, 129, 0.5),
      // 0px 0px 30px 20px rgba(197, 32, 129, 0.5);

    &.white {
      z-index: 0;
      border: 3px solid #C2EABA;
      &:before {
        content: "";
        position: absolute;
        border-radius: 2rem;
        background: linear-gradient(319deg, #C2EABA 0%, #C5F4E0 37%, #EFC2CF 100%);
        z-index: -1;
        left: -2%;
        top: -2%;
        height: 104%;
        width: 104%;
        filter: blur(15px);
      }
      &:after {
        content: "";
        position: absolute;
        border-radius: 2rem;
        background: black;
        z-index: -1;
        left: 2%;
        top: 2%;
        height: 96%;
        width: 96%;
        filter: blur(10px);
      }
    }

    .rarity {
      position: absolute;
      top: -10px;
      right: 0;
      text-transform: uppercase;
      font-style: normal;
      font-weight: 800;
      font-size: 22px;
      line-height: 27px;
      color: #ffffff;
      font-family: m12;
      -webkit-text-stroke: 1px rgb(156, 40, 255);
    }

    .video {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
    }

    .image {
      width: 100%;
      height: 100%;
    }

    .buyNow {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
    }

    .zoomButton {
      position: absolute;
      right: 15px;
      bottom: 15px;
      border: none;
      padding: 0;

      transition: 0.3s;
      &:hover {
        background: transparent;
        transform: scale(1.1);
      }
    }

    .muteButton {
      position: absolute;
      left: 40px;
      bottom: 37px;
      width: 25px;
      height: 25px;
      border: none;
      padding: 0;

      img {
        width: 100%;
      }

      &:hover {
        background: transparent;
        transform: scale(1.1);
      }
    }

    .mediaWrapper {
      position: relative;
      width: 100%;
      height: 100%;
      // transition: all 0.3s;
      video,
      img {
        object-fit: cover;
      }
    }

    .zoomWrapper {
      width: 100vw;
      height: 100vh;
      left: 0;
      top: 0;
      z-index: 1000;
      position: fixed;
      background: rgba(0, 0, 0, 0.9);
      transition: all 0.3s;

      video,
      img {
        margin-top: 100px;
        height: 80vh;
        object-fit: contain;
        transition: all 0.3s;
      }

      .muteButton {
        left: 150px;
        top: calc(80vh + 10px);
      }
    }
  }
}
