.modalWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  span {
    font-size: 1rem;
    margin-top: -24px;
    margin-bottom: 15px;
  }
}
.modalButton {
  width: 201px;
  height: 32px;
  font-size: 1.125rem;
  line-height: 22px;
}
.inputItem {
  display: flex;
  flex-direction: column;
  label {
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 9px;
    color: white;
  }
  input {
    width: 268px;
    height: 44px;
    border: 1px solid #e6e6e6;
    margin-bottom: 20px;
    padding-left: 12px;
  }
  p {
    width: 268px;
    margin-bottom: .5rem;
    font-size: 0.75rem;
    color: red!important;
  }
}

.loader {
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: auto !important;
}

.questionMark {
  width: 15px;
  height: 15px;
  border: 1px solid #e6e6e6;
  border-radius: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5625rem !important;
  line-height: 11px;
  font-weight: 600;
  background: transparent;
  cursor: pointer;
  margin-left: 6px;
}

.hint {
  display: none;
  position: absolute;
  width: 165px;
  padding: 4px;
  border: 0.5px solid #000000;
  background: #fff;
  font-size: 0.5625rem !important;
  line-height: 120%;
  top: 25px;
  left: 75px;
}

.questionMark:hover + .hint {
  display: block;
}

.userIdRow {
  position: relative;
}