@import "../../../assets/scss/helpers/grid.scss";
@import "../../../assets/scss/helpers/variables.scss";

.dropdown {
  @include wrapper();
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 25px;

  :global {
    .ui.selection.dropdown {
      border: 1px solid #E6E6E6;
      border-radius: 0;
      box-shadow: none;
      min-width: 164px;

      .divider.text {
        font-size: 14px;
        color: $black;
      }

      &:hover {
        border: 1px solid #E6E6E6;
      }

      &.active {
        &:hover {
          border: 1px solid #E6E6E6;
  
          .menu {
            border-color: inherit;
          }
        }

        .menu {
          border-color: inherit;
        }

        .divider.text {
          color: $darkGray1;
        }
      }

      .dropdown.icon {
        height: 100%;
        display: flex;
        align-items: center;

        &:before {
          content: '';
          background-image: url('../../../../public/images/icons/arrow-bottom.svg') !important;
          width: 8px;
          height: 5px;
          display: block;
          background-position: center center !important;
          background-repeat: no-repeat !important;
          background-size: contain !important;
        }
      }
    }
  }
}

.caption {
  margin-right: 16px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  color: $darkGray3;
  text-transform: uppercase;
}

.list {
  @include wrapper();
  display: flex;
  flex-wrap: wrap;
}

.loader {
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.empty {
  @include wrapper();
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
