.mainWrapper {
  padding-top: 80px;
  background: url("/images/nft/ejml13 hires 1.png");
  background-size: cover;

  .wrapper {
    color: white;
    width: 100%;
    font-family: "Inter";
    margin-top: 225px;
    padding: 64px;
    position: relative;

    .mainText {
      margin: auto;

      font-family: Internal Rainbows;
      font-style: normal;
      font-weight: normal;
      font-size: 120px;
      line-height: 110%;
      /* identical to box height, or 132px */

      text-align: center;

      color: #FFFFFF;

      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .panels {
      display: flex;
      justify-content: space-between;

      .panel {
        position: relative;
        background: #F7F7F7;
        height: 1145px;
        margin-bottom: 350px;
        width: 30%;
        height: 600px;

        .thumbnail {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          background: transparent;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;

          button {
            display: none;
            color: bloack;
            background: white;
            font-weight: 600;
            padding: 1rem;
            border: 2px solid grey;

            &:hover {
              opacity: .8;
            }
          }
        }

        &:hover {
          .overlay {
            background: linear-gradient(0deg, #B57A90, #B57A90), #F7F7F7;;

            button {
              display: block;
            }
          }
        }
      }
    }

    .unlockable {
      position: absolute;
      top: 50px;
      left: 50%;
      transform: translate(-50%, -30%);
      width: calc(100% - 200px);
    }
  }
}
