@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 2402px;
  overflow: hidden;
  background-color: #FF2727;
  color: white;
  display: flex;
  position: relative;

  .textPatternWrapper {
    position: absolute;
    top: 787px;
    left: 50px;
    opacity: 0.8;

    .textPattern {
      width: 558px;
      height: 76px;
      margin-left: 0px;
      margin-top: 20px;
      
      font-family: Gelasio;
      font-size: 60px;
      line-height: 76px;

      color: #009B7F;
    }
  }

  .image1 {
    position: absolute;
    width: 375px;
    height: 218px;
    left: 0px;
    top: 551px;    
  }

  .image2 {
    position: absolute;
    width: 473px;
    height: 266px;
    left: 0px;
    top: 1883px;
    
  }

  .video1 {
    position: absolute;
    width: 361px;
    height: 209px;
    left: 7px;
    top: 1423px;
    
    border: 10px solid #00FF38;
    box-sizing: border-box;
  }

  .circle1 {
    position: absolute;
    width: 599px;
    height: 599px;
    left: -189px;
    top: 487px;
    
    background: radial-gradient(50% 50% at 50% 50%, #7AFFA7 0%, rgba(0, 56, 19, 0) 100%);    
  }

  .circle2 {
    position: absolute;
    width: 599px;
    height: 599px;
    left: -56px;
    top: 903px;
    
    background: radial-gradient(50% 50% at 50% 50%, #7AFFA7 0%, rgba(0, 56, 19, 0) 100%);
  }

  .circle3 {
    position: absolute;
    width: 599px;
    height: 599px;
    left: -108px;
    top: 1262px;
    
    background: radial-gradient(50% 50% at 50% 50%, #7AFFA7 0%, rgba(0, 56, 19, 0) 100%);
  }

  .text1 {
    position: absolute;
    width: 360px;
    height: 69px;
    left: 9px;
    top: 34px;
    
    font-family: Romanesco;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 69px;
    /* identical to box height */
    
    
    color: #FFFFFF;
        
  }

  .text2 {
    position: absolute;
    width: 360px;
    height: 69px;
    left: 9px;
    top: 97px;
    
    font-family: Romanesco;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 69px;
    /* identical to box height */
    
    
    color: #FFFFFF;
  }

  .text3 {
    position: absolute;
    width: 334px;
    height: 324px;
    left: 12px;
    top: 182px;
    
    font-family: ROMANUS;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    
    color: #F4FF78;
  }
}
