@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: white;
  display: flex;
  height: 3048px;
  position: relative;

  .back1 {
    position: absolute;
    width: 375px;
    height: 3048px;
    left: 0px;
    top: 0px;
    
    background: rgba(128, 150, 230, 0.51);    
  }

  .back2 {
    position: absolute;
    width: 375px;
    height: 1517px;
    left: 0px;
    top: 0px;
  }

  .image1 {
    position: absolute;
    width: 335px;
    height: 55px;
    left: 17px;
    top: 36px;    
  }

  .image2 {
    position: absolute;
    width: 334px;
    height: 119px;
    left: 17px;
    top: 73px;
  }

  .image3 {
    position: absolute;
    width: 178px;
    height: 178px;
    left: 96px;
    top: 729px;
  }

  .image4 {
    position: absolute;
    width: 217px;
    height: 217px;
    left: 17px;
    top: 192px;
  }

  .image5 {
    position: absolute;
    width: 217px;
    height: 217px;
    left: 146px;
    top: 419px;        
  }

  .image6 {
    position: absolute;
    width: 217px;
    height: 217px;
    left: 17px;
    top: 654px;
  }

  .image7 {
    position: absolute;
    width: 217px;
    height: 217px;
    left: 146px;
    top: 888px;
  }

  .image8 {
    position: absolute;
    width: 217px;
    height: 217px;
    left: 146px;
    top: 1205px;    
  }

  .image9 {
    position: absolute;
    width: 217px;
    height: 217px;
    left: 17px;
    top: 1443px;
  }

  .image10 {
    position: absolute;
    width: 217px;
    height: 217px;
    left: 126px;
    top: 1685px;
  }

  .image11 {
    position: absolute;
    width: 217px;
    height: 217px;
    left: 29px;
    top: 1964px;
  }

  .image12 {
    position: absolute;
    width: 217px;
    height: 217px;
    left: 108px;
    top: 2222px;
  }

  .image13 {
    position: absolute;
    width: 217px;
    height: 217px;
    left: 146px;
    top: 2501px;
  }

  .image14 {
    position: absolute;
    width: 217px;
    height: 217px;
    left: 12px;
    top: 2759px;
  }

  .video1 {
    position: absolute;
    width: 217px;
    height: 217px;
    left: 17px;
    top: 192px;
    padding: 25px;
  }

  .video2 {
    position: absolute;
    width: 217px;
    height: 217px;
    left: 146px;
    top: 419px;
    padding: 25px;
  }

  .video3 {
    position: absolute;
    width: 217px;
    height: 217px;
    left: 17px;
    top: 654px;
    padding: 25px;
  }

  .video4 {
    position: absolute;
    width: 217px;
    height: 217px;
    left: 146px;
    top: 888px;
    padding: 25px;
  }

  .video5 {
    position: absolute;
    width: 217px;
    height: 217px;
    left: 146px;
    top: 1205px;
    padding: 25px;
    object-fit: cover;
  }

  .video6 {
    position: absolute;
    width: 217px;
    height: 217px;
    left: 17px;
    top: 1443px;
    padding: 25px;
    object-fit: cover;
  }

  .video7 {
    position: absolute;
    width: 217px;
    height: 217px;
    left: 126px;
    top: 1685px;
    padding: 25px;
  }

  .video8 {
    position: absolute;
    width: 217px;
    height: 217px;
    left: 29px;
    top: 1964px;
    padding: 25px;
    object-fit: cover;
  }

  .video9 {
    position: absolute;
    width: 217px;
    height: 217px;
    left: 108px;
    top: 2222px;
    padding: 25px;
    object-fit: cover;
  }

  .video10 {
    position: absolute;
    width: 217px;
    height: 217px;
    left: 146px;
    top: 2501px;
    padding: 25px;
    object-fit: cover;
  }

  .video11 {
    position: absolute;
    width: 217px;
    height: 217px;
    left: 12px;
    top: 2759px;
    padding: 25px;
  }
}
