@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 3553px;
  background-color: #FFA800;
  color: white;
  display: flex;
  position: relative;

  .image1 {
    position: absolute;
    width: 1429px;
    height: 1429px;
    left: -605px;
    top: -253px;    
  }

  .image2 {
    position: absolute;
    width: 603px;
    height: 565px;
    left: -302px;
    top: 815px;
  }

  .image3 {
    position: absolute;
    width: 1429px;
    height: 1429px;
    left: -664px;
    top: 2467px;    
  }

  .image4 {
    position: absolute;
    width: 900px;
    height: 843.96px;
    left: -262px;
    top: 2097px;    
  }

  .circle1 {
    position: absolute;
    width: 630px;
    height: 727px;
    left: -144px;
    top: 2214px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.44);    
  }

  .image5 {
    position: absolute;
    width: 233px;
    height: 270px;
    left: 28px;
    top: 70px;    
  }

  .image6 {
    position: absolute;
    width: 226px;
    height: 377px;
    left: 18px;
    top: 1143px;
  }

  .image7 {
    position: absolute;
    width: 312px;
    height: 312px;
    left: 51px;
    top: 1477px;
  }

  .image8 {
    position: absolute;
    width: 516px;
    height: 263px;
    left: -35px;
    top: 2253px;
  }

  .catacText1 {
    position: absolute;
    width: 340px;
    height: 50px;
    left: 298px;
    top: 340px;
    
    font-family: PT Sans Caption;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 100%;
    color: #AA0000;
    
    transform: rotate(-90deg);
    transform-origin: 0 0;    
  }

  .catacText2 {
    position: absolute;
    width: 340px;
    height: 50px;
    left: 18px;
    top: 811px;
    
    font-family: PT Sans Caption;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 100%;
    color: #AA0000;
  }

  .catacText3 {
    position: absolute;
    width: 340px;
    height: 50px;
    left: 18px;
    top: 868px;
    
    font-family: PT Sans Caption;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 100%;
    color: #AA0000;
  }

  .catacText4 {
    position: absolute;
    width: 340px;
    height: 50px;
    left: 18px;
    top: 929px;
    
    font-family: PT Sans Caption;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 100%;
    color: #AA0000;
  }

  .catacText5 {
    position: absolute;
    width: 340px;
    height: 50px;
    left: 18px;
    top: 990px;
    
    font-family: PT Sans Caption;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 100%;
    color: #AA0000;
  }

  .catacText6 {
    position: absolute;
    width: 340px;
    height: 50px;
    left: 18px;
    top: 1047px;
    
    font-family: PT Sans Caption;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 100%;
    color: #AA0000;
  }

  .text1 {
    position: absolute;
    width: 340px;
    height: 80px;
    left: 18px;
    top: 720px;
    
    font-family: PT Sans Caption;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;        
  }

  .text2 {
    position: absolute;
    width: 283px;
    height: 200px;
    left: 48px;
    top: 1868px;
    
    font-family: Digitalino;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 100%;
    color: #FFDE36;
    -webkit-text-stroke: 3px black;
    box-sizing: border-box;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .text3 {
    position: absolute;
    width: 478px;
    height: 76px;
    left: -37px;
    top: 2147px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-align: right;
    
    color: #FFFFFF;
    -webkit-text-stroke: 5px #FF0000;
  }

  .text4 {
    position: absolute;
    width: 340px;
    height: 340px;
    left: 18px;
    top: 2530px;
    
    font-family: PT Sans Caption;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    /* or 20px */
    
    
    color: #FFFFFF;
  }

  .text5 {
    position: absolute;
    width: 332.26px;
    height: 112.23px;
    left: 30.79px;
    top: 3015.25px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 100%;
    /* or 30px */
    
    
    color: #FFFFFF;
    
    text-shadow: -1px 0 black, 0 -1px black, 1px 0 black, 0 1px black;
    transform-origin: 0 0;
    transform: matrix(1, -0.18, -0.02, 0.99, 0, 0);
  }

  .text6 {
    position: absolute;
    width: 332.26px;
    height: 112.23px;
    left: 26.31px;
    top: 3013.7px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 100%;
    color: #FF0000;
    text-shadow: -1px 0 black, 0 -1px black, 1px 0 black, 0 1px black;
    transform: matrix(1, -0.18, -0.02, 0.99, 0, 0);
    transform-origin: 0 0;
  }

  .text7 {
    position: absolute;
    width: 434px;
    height: 221px;
    left: 51px;
    top: 3512px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 100%;
    color: #9A6600;
    
    transform: rotate(-90deg);
    transform-origin: 0 0;
  }

  .text8 {
    position: absolute;
    width: 434px;
    height: 221px;
    left: 171px;
    top: 3512px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 100%;
    color: #9A6600;
    
    transform: rotate(-90deg);
    transform-origin: 0 0;
  }

  .playButton {
    position: absolute;
    width: 87px;
    height: 85.64px;
    left: 236px;
    top: 616px;    
  }
}
