@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 4525px;
  overflow: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .image1 {
    position: absolute;
    width: 375px;
    height: 4525px;
    left: 0px;
    top: 0px;
  }

  .image2 {
    position: absolute;
    width: 255px;
    height: 255px;
    left: 52px;
    top: 516px;        
  }

  .image3 {
    position: absolute;
    width: 289px;
    height: 293px;
    left: 13px;
    top: 1069px;
  }

  .text1 {
    position: absolute;
    width: 93px;
    height: 40px;
    left: 141px;
    top: 40px;
    
    font-family: Knife Princess;
    font-size: 40px;
    line-height: 100%;
    color: #FFFFFF;    
  }

  .text2 {
    position: absolute;
    width: 348px;
    height: 112px;
    left: 23px;
    top: 101px;
    
    font-family: Bahiana;
    font-size: 60px;
    line-height: 110%;
    color: #FFFFFF;
    text-shadow: -1px 0 black, 0 -1px black, 1px 0 black, 0 1px black;
  }

  .text3 {
    position: absolute;
    width: 314px;
    height: 124px;
    left: 23px;
    top: 259px;
    
    font-family: DM Mono;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
    
    text-shadow: -1px 0 black, 0 -1px black, 1px 0 black, 0 1px black;
  }

  .text4 {
    position: absolute;
    width: 261px;
    height: 55px;
    left: 62px;
    top: 784px;
    
    font-family: DM Mono;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
    
    text-shadow: -1px 0 black, 0 -1px black, 1px 0 black, 0 1px black;
  }

  .text5 {
    position: absolute;
    width: 278px;
    height: 40px;
    left: 24px;
    top: 885px;
    
    font-family: Knife Princess;
    font-size: 40px;
    line-height: 100%;
    color: #FFFFFF;    
  }

  .text6 {
    position: absolute;
    width: 324px;
    height: 112px;
    left: 23px;
    top: 936px;
    
    font-family: Bahiana;
    font-size: 60px;
    line-height: 110%;
    color: #FFFFFF;
    
    text-shadow: -1px 0 black, 0 -1px black, 1px 0 black, 0 1px black;
  }

  .text7 {
    position: absolute;
    width: 164px;
    height: 59px;
    left: 188px;
    top: 1402px;
    
    font-family: DM Mono;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
    
    text-shadow: -1px 0 black, 0 -1px black, 1px 0 black, 0 1px black;
  }

  .text8 {
    position: absolute;
    width: 321px;
    height: 261px;
    left: 23px;
    top: 1491px;
    
    font-family: DM Mono;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
    
    text-shadow: -1px 0 black, 0 -1px black, 1px 0 black, 0 1px black;
  }

  .text9 {
    position: absolute;
    width: 462px;
    height: 112px;
    left: 13px;
    top: 2039px;
    
    font-family: Ceviche One;
    font-size: 80px;
    line-height: 110%;
    color: #FFFFFF;
    
    text-shadow: -1px 0 black, 0 -1px black, 1px 0 black, 0 1px black;
  }

  .text10 {
    position: absolute;
    width: 462px;
    height: 112px;
    left: 27px;
    top: 2049px;
    
    font-family: Ceviche One;
    font-size: 80px;
    line-height: 110%;
    color: #0400D8;
    text-shadow: -1px 0 #BD00FF, 0 -1px #BD00FF, 1px 0 #BD00FF, 0 1px #BD00FF;
  }

  .text11 {
    position: absolute;
    width: 462px;
    height: 112px;
    left: 46px;
    top: 2055px;
    
    font-family: Ceviche One;
    font-size: 80px;
    line-height: 110%;
    color: #39D8A8;
    text-shadow: -1px 0 #BD00FF, 0 -1px #BD00FF, 1px 0 #BD00FF, 0 1px #BD00FF;
  }

  .text12 {
    position: absolute;
    width: 462px;
    height: 112px;
    left: 60px;
    top: 2057px;
    
    font-family: Ceviche One;
    font-size: 80px;
    line-height: 110%;
    color: #FFFFFF;
    
    text-shadow: -1px 0 black, 0 -1px black, 1px 0 black, 0 1px black;
  }

  .text13 {
    position: absolute;
    width: 325px;
    height: 132px;
    left: 30px;
    top: 2223px;
    
    font-family: Masterblast;
    font-size: 30px;
    line-height: 100%;
    color: #FFFFFF;
    text-shadow: -1px 0 #EA00D2, 0 -1px #EA00D2, 1px 0 #EA00D2, 0 1px #EA00D2;
  }

  .text14 {
    position: absolute;
    width: 313px;
    height: 577px;
    left: 31px;
    top: 2392px;
    
    font-family: DM Mono;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
    
    text-shadow: -1px 0 black, 0 -1px black, 1px 0 black, 0 1px black;
  }

  .text15 {
    position: absolute;
    width: 324px;
    height: 72px;
    left: 31px;
    top: 3190px;
    
    font-family: Masterblast;
    font-size: 30px;
    line-height: 100%;
    color: #FFFFFF;
    text-shadow: -1px 0 #009220, 0 -1px #009220, 1px 0 #009220, 0 1px #009220;
  }

  .text16 {
    position: absolute;
    width: 295px;
    height: 296px;
    left: 31px;
    top: 3245px;
    
    font-family: DM Mono;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
    
    text-shadow: -1px 0 black, 0 -1px black, 1px 0 black, 0 1px black;
  }

  .text17 {
    position: absolute;
    width: 295px;
    height: 132px;
    left: 31px;
    top: 3762px;
    
    font-family: Masterblast;
    font-size: 30px;
    line-height: 100%;

    color: #FFFFFF;
    text-shadow: -1px 0 #FF002E, 0 -1px #FF002E, 1px 0 #FF002E, 0 1px #FF002E;
  }

  .text18 {
    position: absolute;
    width: 264px;
    height: 343px;
    left: 31px;
    top: 3894px;
    
    font-family: DM Mono;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
    
    text-shadow: -1px 0 black, 0 -1px black, 1px 0 black, 0 1px black;
  }
}
