@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 2155px;
  background-color: #000000;
  color: black;
  display: flex;
  position: relative;

  .image1 {
    position: absolute;
    width: 431px;
    height: 144px;
    left: -28px;
    top: 37px;    
  }

  .image2 {
    position: absolute;
    width: 1090px;
    height: 1736px;
    left: -288px;
    top: 407px;    
  }

  .video1 {
    position: absolute;
    width: 375px;
    height: 215px;
    left: 0px;
    top: 181px;
  }

  .image3 {
    position: absolute;
    width: 261px;
    height: 261px;
    left: -69px;
    top: 637px;   
  }

  .image4 {
    position: absolute;
    width: 261px;
    height: 261px;
    left: 52px;
    top: 1763px;
  }

  .image5 {
    position: absolute;
    width: 261px;
    height: 261px;
    left: 11px;
    top: 1923px;
  }

  .image6 {
    position: absolute;
    width: 261px;
    height: 261px;
    left: 211px;
    top: 2103px;
  }

  .text1 {
    position: absolute;
    width: 288px;
    height: 114px;
    left: 44px;
    top: 435px;
    
    font-family: DARTHCHOWDER;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    
    color: #34005C;

    -webkit-text-stroke: 1px #F05050;
    text-shadow: 0px 4px 20px rgba(255, 0, 0, 0.7);    
  }

  .text2 {
    position: absolute;
    width: 261px;
    height: 459px;
    left: 57px;
    top: 959px;
    
    font-family: DARTHCHOWDER;
    font-size: 35px;
    line-height: 35px;
    
    color: #34005C;
    
    -webkit-text-stroke: 1px #F05050;
    text-shadow: 0px 4px 20px rgba(255, 0, 0, 0.7);    
  }
}