@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 3518px;
  background-color: rgba(255, 202, 15, 0.81);
  color: white;
  position: relative;

  .textPatternWrapper {
    position: absolute;
    top: 20px;
    opacity: 0.5;

    .textPattern {
      width: 486px;
      height: 24px;
      margin-left: -78px;
      margin-top: 20px;
      
      font-family: MUSICNET;
      font-size: 20px;
      line-height: 120.53%;
      color: #FF5C00;
    }
  }

  .rect1 {
    position: absolute;
    width: 375px;
    height: 1887px;
    left: 0px;
    top: 1578px;
    
    background: rgba(3, 3, 3, 0.37);    
  }

  .circle1 {
    position: absolute;
    width: 352px;
    height: 1822px;
    left: 12px;
    top: -114px;
    border-radius: 50%;
    background: radial-gradient(89.98% 89.98% at 50% 50%, #33FFDA 0%, rgba(244, 239, 255, 0.09) 73.44%);    
  }

  .circle2 {
    position: absolute;
    width: 352px;
    height: 1822px;
    left: 12px;
    top: 606px;
    border-radius: 50%;
    background: radial-gradient(89.98% 89.98% at 50% 50%, #33FFDA 0%, rgba(244, 239, 255, 0.09) 73.44%);    
  }

  .circle3 {
    position: absolute;
    width: 352px;
    height: 1822px;
    left: 12px;
    top: 1348px;
    border-radius: 50%;
    background: radial-gradient(89.98% 89.98% at 50% 50%, #33FFDA 0%, rgba(244, 239, 255, 0.09) 73.44%);
  }

  .image1 {
    position: absolute;
    width: 256px;
    height: 256px;
    left: 66px;
    top: -75px;    
  }

  .image2 {
    position: absolute;
    width: 960px;
    height: 217px;
    left: -27px;
    top: 142px;    
  }

  .playButton {
    position: absolute;
    width: 105px;
    height: 105px;
    left: 31px;
    top: 249px;
    cursor: pointer;
  }

  .imageBack {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .imagePlay {
    position: absolute;
    width: 43px;
    height: 50px;
    left: 37px;
    top: 25px;
  }
  
  .imagePause {
    position: absolute;
    width: 45px;
    height: 51px;
    left: 30px;
    top: 25px;
  }

  .text1 {
    position: absolute;
    width: 418px;
    height: 225px;
    left: -139px;
    top: 391px;
    
    font-family: Molengo;
    font-size: 80px;
    line-height: 120.53%;
    text-align: right;
    
    color: #FF007A;    
  }

  .text2 {
    position: absolute;
    width: 418px;
    height: 225px;
    left: 190px;
    top: 384px;
    
    font-family: Molengo;
    font-size: 80px;
    line-height: 120.53%;
    text-align: right;
    
    color: #FF007A;
  }

  .text3 {
    position: absolute;
    width: 418px;
    height: 225px;
    left: -162px;
    top: 585px;
    
    font-family: Molengo;
    font-size: 80px;
    line-height: 120.53%;
    text-align: right;
    
    color: #FF007A;
  }

  .text4 {
    position: absolute;
    width: 418px;
    height: 225px;
    left: 190px;
    top: 582px;
    
    font-family: Molengo;
    font-size: 80px;
    line-height: 120.53%;
    text-align: right;
    
    color: #FF007A;
  }

  .text5 {
    position: absolute;
    width: 418px;
    height: 225px;
    left: -162px;
    top: 778px;
    
    font-family: Molengo;
    font-size: 80px;
    line-height: 120.53%;
    text-align: right;
    
    color: #FF007A;
  }

  .text6 {
    position: absolute;
    width: 418px;
    height: 225px;
    left: 190px;
    top: 778px;
    
    font-family: Molengo;
    font-size: 80px;
    line-height: 120.53%;
    text-align: right;
    
    color: #FF007A;
  }

  .text7 {
    position: absolute;
    width: 418px;
    height: 225px;
    left: -149px;
    top: 973px;
    
    font-family: Molengo;
    font-size: 80px;
    line-height: 120.53%;
    text-align: right;
    
    color: #FF007A;
  }

  .text8 {
    position: absolute;
    width: 418px;
    height: 225px;
    left: 180px;
    top: 966px;
    
    font-family: Molengo;
    font-size: 80px;
    line-height: 120.53%;
    text-align: right;
    
    color: #FF007A;
  }

  .text9 {
    position: absolute;
    width: 418px;
    height: 225px;
    left: -172px;
    top: 1167px;
    
    font-family: Molengo;
    font-size: 80px;
    line-height: 120.53%;
    text-align: right;
    
    color: #FF007A;
  }

  .text10 {
    position: absolute;
    width: 418px;
    height: 225px;
    left: 180px;
    top: 1164px;
    
    font-family: Molengo;
    font-size: 80px;
    line-height: 120.53%;
    text-align: right;
    
    color: #FF007A;
  }

  .text11 {
    position: absolute;
    width: 418px;
    height: 225px;
    left: -172px;
    top: 1360px;
    
    font-family: Molengo;
    font-size: 80px;
    line-height: 120.53%;
    text-align: right;
    
    color: #FF007A;
  }

  .text12 {
    position: absolute;
    width: 418px;
    height: 225px;
    left: 180px;
    top: 1360px;
    
    font-family: Molengo;
    font-size: 80px;
    line-height: 120.53%;
    text-align: right;
    
    color: #FF007A;
  }

  .text13 {
    position: absolute;
    width: 299px;
    height: 730px;
    left: 38px;
    top: 2064px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120.53%;
    color: #FFFFFF;    
  }

  h1 {
    position: absolute;
    width: 290px;
    height: 24px;
    left: 43px;
    top: 1634px;
    
    font-family: JMH Extra Wide;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120.53%;
    color: #FFFFFF;    
  }

  .image3 {
    position: absolute;
    width: 316px;
    height: 316px;
    left: 30px;
    top: 1681px;    
  }
}
