@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 3553px;
  overflow: hidden;
  color: white;
  display: flex;
  position: relative;

  .backgroundImage {
    position: absolute;
    width: 375px;
    height: 3553px;
    left: 0px;
    top: 0px;
  }

  h1 {
    position: absolute;
    width: 338px;
    height: 120px;
    left: -30px;
    top: 56px;
    
    font-family: Knife Princess;
    font-size: 60px;
    line-height: 100%;
    text-align: right;
    
    color: #FFFFFF;    
  }

  h2 {
    position: absolute;
    width: 375px;
    height: 26px;
    left: 39px;
    top: 227px;
    
    font-family: Barlow;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 110%;
    color: #FFFFFF;    
  }

  h3 {
    position: absolute;
    width: 284px;
    height: 1034px;
    left: 39px;
    top: 258px;
    
    font-family: Basic;
    font-size: 20px;
    line-height: 110%;
    color: #FFFFFF;
  }

  .text1 {
    position: absolute;
    width: 227px;
    height: 24px;
    left: 63px;
    top: 1357px;
    
    font-family: Courier Prime;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 110%;
    color: #FFFFFF;    
  }

  .text2 {
    position: absolute;
    width: 325px;
    height: 22px;
    left: 63px;
    top: 1386px;
    
    font-family: Courier Prime;
    font-size: 20px;
    line-height: 110%;
    color: #FFFFFF;
  }

  .text3 {
    position: absolute;
    width: 227px;
    height: 24px;
    left: 45px;
    top: 1841px;
    
    font-family: Courier Prime;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 110%;
    color: #FFFFFF;
  }

  .text4 {
    position: absolute;
    width: 325px;
    height: 22px;
    left: 45px;
    top: 1869px;
    
    font-family: Courier Prime;
    font-size: 20px;
    line-height: 110%;
    color: #FFFFFF;
  }

  .text5 {
    position: absolute;
    width: 282px;
    height: 24px;
    left: 31px;
    top: 2331px;
    
    font-family: Courier Prime;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 110%;
    color: #FFFFFF;
  }

  .text6 {
    position: absolute;
    width: 325px;
    height: 22px;
    left: 31px;
    top: 2359px;
    
    font-family: Courier Prime;
    font-size: 20px;
    line-height: 110%;
    color: #FFFFFF;
  }

  .text7 {
    position: absolute;
    width: 252px;
    height: 24px;
    left: 43px;
    top: 2816px;
    
    font-family: Courier Prime;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 110%;
    color: #FFFFFF;
  }

  .text8 {
    position: absolute;
    width: 325px;
    height: 22px;
    left: 43px;
    top: 2844px;
    
    font-family: Courier Prime;
    font-size: 20px;
    line-height: 110%;
    color: #FFFFFF;
  }

  .image1 {
    position: absolute;
    width: 360px;
    height: 360px;
    left: 19px;
    top: 1416px;        
  }

  .image2 {
    position: absolute;
    width: 360px;
    height: 360px;
    left: 6px;
    top: 1906px;
  }

  .image3 {
    position: absolute;
    width: 360px;
    height: 360px;
    left: -8px;
    top: 2391px;
    
  }

  .image4 {
    position: absolute;
    width: 360px;
    height: 360px;
    left: 3px;
    top: 2883px;
  }
}
