@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Emblema+One&display=swap');

.wrapper {
  @include magazineWrapper();
  height: 2935px;
  overflow: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;
 
  .image1 {
    position: absolute;
    width: 375px;
    height: 2935px;
    left: 0px;
    top: 0px;    
  }

  .image2 {
    position: absolute;
    width: 235px;
    height: 157px;
    left: 32px;
    top: 1394px;    
  }

  .text1 {
    position: absolute;
    width: 342.15px;
    height: 160px;
    left: 31px;
    top: 508px;
    
    font-family: Cormorant Upright;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 120.53%;
    color: #000000;    
  }

  .text2 {
    position: absolute;
    width: 342.15px;
    height: 160px;
    left: 32.85px;
    top: 508px;
    
    font-family: Cormorant Upright;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 120.53%;
    color: #3038FF;
  }

  .text3 {
    position: absolute;
    width: 314px;
    height: 108px;
    left: 32px;
    top: 1564px;
    
    font-family: Copperplate;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 90%;

    color: #2400FF;
    -webkit-text-stroke: 1px #F04CC5;
    // text-shadow: -1px 0 #F04CC5, 0 -1px #F04CC5, 1px 0 #F04CC5, 0 1px #F04CC5;
  }

  .text4 {
    position: absolute;
    width: 314px;
    height: 528px;
    left: 32px;
    top: 1701px;
    
    font-family: Cutive;
    font-size: 20px;
    line-height: 120.53%;
    color: #FFFFFF;    
  }

  .text5 {
    position: absolute;
    width: 267px;
    height: 144px;
    left: 32px;
    top: 2258px;
    
    font-family: Copperplate;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 120.53%;
    /* or 48px */
    
    
    color: #2400FF;
    -webkit-text-stroke: 2px #F04CC5;
  }

  .text6 {
    position: absolute;
    width: 297px;
    height: 266px;
    left: 32px;
    top: 2431px;
    
    font-family: Electrolize;
    font-size: 18px;
    line-height: 120.53%;
    text-align: right;
    color: #000000;
    
    span {
      font-family: Emblema One;
      font-size: 20px;
    }
  }

  .playButton {
    position: absolute;
    width: 125px;
    height: 125px;
    left: 31px;
    top: 790px;
    background: transparent;
    border: none;
  }
}
