@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 3366px;
  background-color: #A368FF;
  color: white;
  position: relative;

  .back {
    position: absolute;
    width: 375px;
    height: 2613px;
    left: 0;
    top: 0;
    background: rgba(163, 104, 255, 0.5);    
  }

  .bitcoin1 {
    position: absolute;
    width: 71px;
    height: 69px;
    left: 211px;
    top: 1px;    
  }

  .bitcoin2 {
    position: absolute;
    width: 82px;
    height: 80px;
    left: 64px;
    top: 297px;
  }

  .bitcoin3 {
    position: absolute;
    width: 121px;
    height: 117px;
    left: 338px;
    top: 270px;
  }

  .bitcoin4 {
    position: absolute;
    width: 132px;
    height: 128px;
    left: 224px;
    top: 599px;
    
  }

  .bitcoin5 {
    position: absolute;
    width: 82px;
    height: 80px;
    left: 146px;
    top: 1049px;
  }

  .bitcoin6 {
    position: absolute;
    width: 132px;
    height: 128px;
    left: 59px;
    top: 1318px;
  }

  .bitcoin7 {
    position: absolute;
    width: 132px;
    height: 128px;
    left: 306px;
    top: 1351px;
  }

  .bitcoin8 {
    position: absolute;
    width: 82px;
    height: 80px;
    left: -15px;
    top: 1826px;
  }

  .bitcoin9 {
    position: absolute;
    width: 132px;
    height: 128px;
    left: 145px;
    top: 2128px;
  }

  .image1 {
    position: absolute;
    width: 259px;
    height: 366px;
    left: 236px;
    top: -83px;    
  }

  .image2 {
    position: absolute;
    width: 128px;
    height: 181px;
    left: 330px;
    top: 522px;
    
  }

  .image3 {
    position: absolute;
    width: 259px;
    height: 366px;
    left: 71px;
    top: 636px;
    
  }

  .image4 {
    position: absolute;
    width: 259px;
    height: 366px;
    left: 318px;
    top: 669px;
  }

  .image5 {
    position: absolute;
    width: 259px;
    height: 366px;
    left: 157px;
    top: 1446px;
  }

  .image6 {
    position: absolute;
    width: 180.56px;
    height: 306.91px;
    left: 136.49px;
    top: 255.96px;
    
    transform: rotate(-20deg);
    transform-origin: 0 0;
  }

  .image7 {
    position: absolute;
    width: 180.56px;
    height: 306.91px;
    left: 67.97px;
    top: 414.84px;
    
    transform-origin: 0 0;
    transform: rotate(20deg);
  }

  .image8 {
    position: absolute;
    width: 180.56px;
    height: 306.91px;
    left: -28.51px;
    top: 974.96px;
    
    transform-origin: 0 0;
    transform: rotate(-20deg);
  }

  .image9 {
    position: absolute;
    width: 180.56px;
    height: 306.91px;
    left: 218.49px;
    top: 1007.96px;
    
    transform-origin: 0 0;
    transform: rotate(-20deg);
  }

  .image10 {
    position: absolute;
    width: 180.56px;
    height: 306.91px;
    left: 57.49px;
    top: 1784.96px;
    
    transform-origin: 0 0;
    transform: rotate(-20deg);
  }

  .image11 {
    position: absolute;
    width: 138px;
    height: 214px;
    left: 8px;
    top: 109px;    
  }

  .image12 {
    position: absolute;
    width: 236px;
    height: 106px;
    left: 0px;
    top: -3px;
  }

  .image13 {
    position: absolute;
    width: 107px;
    height: 108px;
    left: 211px;
    top: 43px;
  }

  .circle1 {
    position: absolute;
    width: 319px;
    height: 323px;
    left: -29px;
    top: 109px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.28);    
  }

  .circle2 {
    position: absolute;
    width: 597px;
    height: 565px;
    left: -52px;
    top: 409px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.28);
  }

  .circle3 {
    position: absolute;
    width: 789px;
    height: 789px;
    left: -176px;
    top: 934px;
    border-radius: 50%;  
    background: rgba(0, 0, 0, 0.28);    
  }

  .circle4 {
    position: absolute;
    width: 789px;
    height: 789px;
    left: -194px;
    top: 1665px;
    border-radius: 50%;    
    background: rgba(0, 0, 0, 0.28);
  }

  .circle5 {
    position: absolute;
    width: 943px;
    height: 943px;
    left: -271px;
    top: 2423px;
    border-radius: 50%;    
    background: rgba(0, 0, 0, 0.28);
  }

  .text1 {
    position: absolute;
    width: 247px;
    height: 210px;
    left: 15px;
    top: 173px;
    
    font-family: Bangla MN;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 110%;
    color: #FFFFFF;

    span {
      font-weight: bold;
    }
  }

  .text2 {
    position: absolute;
    width: 282px;
    height: 168px;
    left: 53px;
    top: 487px;
    
    font-family: Bangla MN;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 110%;
    color: #FFFFFF;
    span {
      font-weight: bold;
    }
  }

  .text3 {
    position: absolute;
    width: 313px;
    height: 252px;
    left: 53px;
    top: 644px;
    
    font-family: Bangla MN;
    font-size: 13px;
    line-height: 110%;
    color: #FFFFFF;
  }

  .text4 {
    position: absolute;
    width: 327px;
    height: 252px;
    left: 37px;
    top: 991px;
    
    font-family: Bangla MN;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 110%;
    color: #FFFFFF;

    span {
      font-weight: bold;
    }
  }

  .text5 {
    position: absolute;
    width: 327px;
    height: 154px;
    left: 37px;
    top: 1227px;
    
    font-family: Bangla MN;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 110%;
    color: #FFFFFF;        
  }

  .text6 {
    position: absolute;
    width: 299px;
    height: 280px;
    left: 37px;
    top: 1364px;
    
    font-family: Bangla MN;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 110%;
    color: #FFFFFF;
  }

  .text7 {
    position: absolute;
    width: 292px;
    height: 280px;
    left: 33px;
    top: 1732px;
    
    font-family: Bangla MN;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 110%;
    color: #FFFFFF;

    span {
      font-weight: bold;
    }
  }

  .text8 {
    position: absolute;
    width: 317px;
    height: 378px;
    left: 33px;
    top: 2023px;
    
    font-family: Bangla MN;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 110%;
    color: #FFFFFF;
  }

  .text9 {
    position: absolute;
    width: 291px;
    height: 728px;
    left: 37px;
    top: 2493px;
    
    font-family: Bangla MN;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 110%;

    color: #FFFFFF;

    span {
      font-weight: bold;
    }
  }
}
