@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 3553px;
  overflow: hidden;
  background-color: #FFA800;
  color: white;
  display: flex;
  position: relative;

  .backgroundImage {
    position: absolute;
    width: 375px;
    height: 5716px;
    left: 0px;
    top: 0px;
  }

  .text1 {
    position: absolute;
    width: 288px;
    height: 363px;
    left: 49px;
    top: 64px;
    
    font-family: Neon Vortex;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 110%;
    /* or 33px */
    
    
    color: #FFFFFF;
  }

  .text2 {
    position: absolute;
    width: 273px;
    height: 132px;
    left: 75px;
    top: 1447px;
    
    font-family: Neon Vortex;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 110%;
    /* or 33px */
    
    
    color: #FFFFFF;
    
  }

  .text3 {
    position: absolute;
    width: 308px;
    height: 198px;
    left: 28px;
    top: 2351px;
    
    font-family: Neon Vortex;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 110%;

    color: #FFFFFF;
  }

  .image1 {
    position: absolute;
    width: 229px;
    height: 325px;
    left: 73px;
    top: 473px;    
  }

  .image2 {
    position: absolute;
    width: 229px;
    height: 290px;
    left: 73px;
    top: 798px;
  }

  .image3 {
    position: absolute;
    width: 323px;
    height: 318px;
    left: 26px;
    top: 1611px;    
  }

  .image4 {
    position: absolute;
    width: 322px;
    height: 318px;
    left: 26px;
    top: 1929px;
  }

  .image5 {
    position: absolute;
    width: 335px;
    height: 439px;
    left: 15px;
    top: 2591px;
  }

  .image6 {
    position: absolute;
    width: 230px;
    height: 286px;
    left: 72px;
    top: 1088px;    
  }

  .text4 {
    position: absolute;
    width: 240px;
    height: 76px;
    left: 118px;
    top: 2966px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 100%;
    /* or 40px */
    
    text-align: right;
    
    color: #FFFFFF;
    -webkit-text-stroke: 5px #FF0000;
  }

  .text5 {
    position: absolute;
    width: 240px;
    height: 144px;
    left: 43px;
    top: 3194px;
    
    font-family: Noto Sans Armenian;
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 90%;
    color: #FFFFFF;        
  }

  .text6 {
    position: absolute;
    width: 240px;
    height: 144px;
    left: 46px;
    top: 3199px;
    
    font-family: Noto Sans Armenian;
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 90%;
    color: #FFC83A;    
  }
}
