@import '../../assets/scss/helpers/grid.scss';

.wrapper {
  .browseRarity {
    position: absolute;
    right: 2rem;
    bottom: 0rem;
    padding: 0 1rem;
    color: white;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 1.5rem;
    text-transform: uppercase;
    background0-color: #a500fd;
    display: flex;
    align-items: center;

    img {
      width: 3rem;
      margin-left: 0.5rem;
    }
  }

  .productsSection {
    position: relative;
    margin-bottom: -5px;
    overflow: hidden;
    background-color: #000;

    .backVideo {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .gamePad {
      position: absolute;
      width: 250px;
      left: 0rem;
      top: -3rem;
    }

    .body {
      display: grid;
      padding: 2rem;
      grid-template-columns: 1fr;
      align-items: flex-end;
      gap: 5rem;

      @include sm-width {
        padding: 5rem 3rem;
      }

      @include lg-width {
        grid-template-columns: repeat(2, 1fr);
      }

      @include md-width {
        padding: 7.5rem 0;
      }

      @include xl-width {
        padding: 7.5rem 5rem;
      }
    }
  }
}
