@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Wallpoet');

.wrapper {
  @include magazineWrapper();
  background-color: #000000;
  color: white;
  display: flex;
  position: relative;

  .image1 {
    position: absolute;
    width: 1047px;
    height: 1497px;
    left: 873px;
    top: 0px;    
  }

  .image2 {
    position: absolute;
    width: 873px;
    height: 1497px;
    left: 0px;
    top: 0px;    
  }

  .text1 {
    position: absolute;
    width: 133px;
    height: 50px;
    left: 25px;
    top: 1195px;
    
    font-family: A DAY WITHOUT SUN;
    font-size: 50px;
    line-height: 100%;
    color: #FFFFFF;        
  }

  .text2 {
    position: absolute;
    width: 227px;
    height: 40px;
    left: 25px;
    top: 1472px;
    
    font-family: Arial;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
    transform-origin: 0 0;
    transform: rotate(-90deg);    
  }

  .textLand1 {
    position: absolute;
    width: 648px;
    height: 160px;
    left: 901px;
    top: 101px;
    
    font-family: Wallpoet;
    font-size: 80px;
    line-height: 100%;
    color: #FFFFFF;        
  }

  .textLand2 {
    position: absolute;
    width: 648px;
    height: 160px;
    left: 1421px;
    top: 101px;
    
    font-family: Wallpoet;
    font-size: 80px;
    line-height: 100%;
    color: #FFFFFF;
  }

  .textLand3 {
    position: absolute;
    width: 648px;
    height: 160px;
    left: 901px;
    top: 261px;
    
    font-family: Wallpoet;
    font-size: 80px;
    line-height: 100%;
    color: #FFFFFF;
  }

  .textLand4 {
    position: absolute;
    width: 648px;
    height: 160px;
    left: 1421px;
    top: 261px;
    
    font-family: Wallpoet;
    font-size: 80px;
    line-height: 100%;
    color: #FFFFFF;
  }

  .textLand5 {
    position: absolute;
    width: 648px;
    height: 160px;
    left: 901px;
    top: 421px;
    
    font-family: Wallpoet;
    font-size: 80px;
    line-height: 100%;
    color: #FFFFFF;  
  }

  .textLand6 {
    position: absolute;
    width: 648px;
    height: 160px;
    left: 1421px;
    top: 421px;
    
    font-family: Wallpoet;
    font-size: 80px;
    line-height: 100%;
    color: #FFFFFF;
  }

  .textLand7 {
    position: absolute;
    width: 648px;
    height: 160px;
    left: 901px;
    top: 596px;
   
    
    font-family: Wallpoet;
    font-size: 80px;
    line-height: 100%;
    color: #FFFFFF;  
  }

  .textLand8 {
    position: absolute;
    width: 648px;
    height: 160px;
    left: 1421px;
    top: 596px;
    
    font-family: Wallpoet;
    font-size: 80px;
    line-height: 100%;
    color: #FFFFFF;
  }

  .textLand9 {
    position: absolute;
    width: 648px;
    height: 160px;
    left: 901px;
    top: 756px;
    
    font-family: Wallpoet;
    font-size: 80px;
    line-height: 100%;
    color: #FFFFFF;
  }

  .textLand10 {
    position: absolute;
    width: 648px;
    height: 160px;
    left: 1421px;
    top: 756px;
    
    font-family: Wallpoet;
    font-size: 80px;
    line-height: 100%;
    color: #FFFFFF;
  }

  .textLand11 {
    position: absolute;
    width: 648px;
    height: 160px;
    left: 901px;
    top: 916px;
    
    font-family: Wallpoet;
    font-size: 80px;
    line-height: 100%;
    color: #FFFFFF;    
  }

  .textLand12 {
    position: absolute;
    width: 648px;
    height: 160px;
    left: 1421px;
    top: 916px;
    
    font-family: Wallpoet;
    font-size: 80px;
    line-height: 100%;
    color: #FFFFFF;
  }

  .textLand13 {
    position: absolute;
    width: 648px;
    height: 160px;
    left: 901px;
    top: 1076px;
    
    font-family: Wallpoet;
    font-size: 80px;
    line-height: 100%;
    color: #FFFFFF;
  }

  .textLand14 {
    position: absolute;
    width: 648px;
    height: 160px;
    left: 1421px;
    top: 1076px;
    
    font-family: Wallpoet;
    font-size: 80px;
    line-height: 100%;
    color: #FFFFFF;
  }

  .textLand15 {
    position: absolute;
    width: 648px;
    height: 160px;
    left: 901px;
    top: 1236px;
    
    font-family: Wallpoet;
    font-size: 80px;
    line-height: 100%;
    color: #FFFFFF;
  }

  .textLand16 {
    position: absolute;
    width: 648px;
    height: 160px;
    left: 1421px;
    top: 1236px;
    
    font-family: Wallpoet;
    font-size: 80px;
    line-height: 100%;
    color: #FFFFFF;
  }

  .text3 {
    position: absolute;
    width: 648px;
    height: 30px;
    left: 901px;
    top: 1402px;
    
    font-family: Wallpoet;
    font-size: 30px;
    line-height: 100%;
    color: #FFFFFF;    
  }
}