@import './styles.module.scss';

@keyframes scrolling {
  0% { transform: translateY(0); }
  100% { transform: translateY(-602px); }
}

.wrapper {
  @include magazineWrapper();
  color: black;
  display: flex;
  position: relative;

  .image1 {
    position: absolute;
    width: 310px;
    height: 305px;
    left: 155px;
    top: 13px;    
  }

  .image2 {
    position: absolute;
    width: 310px;
    height: 305px;
    left: 480px;
    top: 13px;
  }

  .image3 {
    position: absolute;
    width: 310px;
    height: 305px;
    left: 805px;
    top: 13px;    
  }

  .image4 {
    position: absolute;
    width: 310px;
    height: 305px;
    left: 1137px;
    top: 13px;
  }

  .image5 {
    position: absolute;
    width: 310px;
    height: 305px;
    left: 1470px;
    top: 13px;
  }


  .image6 {
    position: absolute;
    width: 310px;
    height: 305px;
    left: 155px;
    top: 319px;
  }

  .image7 {
    position: absolute;
    width: 310px;
    height: 305px;
    left: 480px;
    top: 319px;
  }

  .image8 {
    position: absolute;
    width: 310px;
    height: 305px;
    left: 805px;
    top: 319px;
  }

  .image9 {
    position: absolute;
    width: 310px;
    height: 305px;
    left: 1144px;
    top: 318px;
  }

  .image10 {
    position: absolute;
    width: 310px;
    height: 305px;
    left: 1477px;
    top: 318px;
  }

  .image11 {
    position: absolute;
    width: 310px;
    height: 305px;
    left: 155px;
    top: 625px;
  }

  .image12 {
    position: absolute;
    width: 310px;
    height: 305px;
    left: 480px;
    top: 625px;    
  }

  .image13 {
    position: absolute;
    width: 310px;
    height: 305px;
    left: 805px;
    top: 625px;
  }

  .image14 {
    position: absolute;
    width: 310px;
    height: 305px;
    left: 1144px;
    top: 625px;
  }

  .image15 {
    position: absolute;
    width: 310px;
    height: 305px;
    left: 1477px;
    top: 625px;
    
  }

  .image16 {
    position: absolute;
    width: 310px;
    height: 305px;
    left: 155px;
    top: 947px;
    
  }

  .image17 {
    position: absolute;
    width: 310px;
    height: 305px;
    left: 480px;
    top: 947px;
  }

  .image18 {
    position: absolute;
    width: 310px;
    height: 305px;
    left: 805px;
    top: 947px;
  }

  .image19 {
    position: absolute;
    width: 310px;
    height: 305px;
    left: 1144px;
    top: 947px;
  }

  .image20 {
    position: absolute;
    width: 310px;
    height: 305px;
    left: 1477px;
    top: 947px;
    
  }

  .image21 {
    position: absolute;
    width: 310px;
    height: 305px;
    left: 155px;
    top: 1269px;
    
  }

  .image22 {
    position: absolute;
    width: 310px;
    height: 305px;
    left: 480px;
    top: 1269px;
  }

  .image23 {
    position: absolute;
    width: 310px;
    height: 305px;
    left: 805px;
    top: 1269px;
    
  }

  .image24 {
    position: absolute;
    width: 310px;
    height: 305px;
    left: 1144px;
    top: 1252px;
  }

  .image25 {
    position: absolute;
    width: 310px;
    height: 305px;
    left: 1477px;
    top: 1252px;
  }

  .image26 {
    position: absolute;
    width: 286px;
    height: 286px;
    left: 179px;
    top: 120px;
  }

  .leftSideFrame {
    position: absolute;
    width: 149px;
    height: 1497px;
    left: 0px;
    top: 0px;
    background-color: #1C92D4;
    border-left: 10px solid black;
    border-right: 10px solid black;
  }

  .rightSideFrame {
    position: absolute;
    width: 152px;
    height: 1497px;
    left: 1768px;
    top: 0px;
    background-color: #1C92D4;
    border-left: 10px solid black;
    border-right: 10px solid black;
  }

  .animationFrame {
    animation: scrolling 4s linear infinite;
  }


  .leftSideImageWrapper {
    position: absolute;
    width: 92.28px;
    left: 31px;
    top: 36px;
  }

  .rightSideImageWrapper {
    position: absolute;
    width: 83px;
    height: 1660px;
    right: 31px;
    top: 36px;
  }

  a {
    img, div {
      transition: 0.3s all;
      &:hover {
        transition: 0.3s all;
        transform: scale(0.9);
      }
    }
  }

  .text1 {
    position: absolute;
    width: 648px;
    height: 80px;
    left: 230px;
    top: 14px;
    
    font-family: SeoulHangang CBL;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 100%;
    /* identical to box height, or 80px */
    
    
    color: #FF0000;    
  }

  .text2 {
    position: absolute;
    width: 648px;
    height: 80px;
    left: 602px;
    top: 13px;
    
    font-family: SeoulHangang CBL;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 100%;
    /* identical to box height, or 80px */
    
    
    color: #FF0000;
    
  }

  .text3 {
    position: absolute;
    width: 648px;
    height: 80px;
    left: 974px;
    top: 13px;
    
    font-family: SeoulHangang CBL;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 100%;
    /* identical to box height, or 80px */
    
    
    color: #FF0000;
  }

  .text4 {
    position: absolute;
    width: 648px;
    height: 80px;
    left: 1352px;
    top: 13px;
    
    font-family: SeoulHangang CBL;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 100%;
    /* identical to box height, or 80px */
    
    
    color: #FF0000;
  }
}