@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Tangerine');

.wrapper {
  @include magazineWrapper();
  background-color: #6B975B;
  color: black;
  display: flex;
  position: relative;

  .rect1 {
    position: absolute;
    width: 961px;
    height: 1497px;
    left: 959px;
    top: 0px;
    
    background: linear-gradient(90deg, #6B975B 0%, rgba(102, 57, 3, 0.94) 100%);    
  }

  .image1 {
    position: absolute;
    width: 1165.2px;
    height: 1541px;
    left: -23px;
    top: -44px;    
  }

  .image2 {
    position: absolute;
    width: 442px;
    height: 515px;
    right: 0;
    top: 0;    
  }

  h1 {
    position: absolute;
    width: 905px;
    height: 130px;
    left: 18px;
    top: 846px;
    
    font-family: Tangerine;
    font-size: 130px;
    line-height: 100%;
    color: #FFFFFF;
    transform-origin: 0 0;
    transform: rotate(-90deg);

    transition: 0.3s all;
    cursor: pointer;

    &:hover {
      transition: 0.3s all;
      transform: scale(0.95) rotate(-90deg);
    }
  }
}