@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  color: white;
  display: flex;
  position: relative;
  background-color: #E81CEC;

  h1 {
    position: absolute;
    width: 1401px;
    height: 1878px;
    left: 133px;
    top: 100px;
    
    font-family: A DAY WITHOUT SUN;
    font-weight: normal;
    font-size: 1900px;
    line-height: 1900px;
  }

  .text1 {
    position: absolute;
    width: 1343px;
    height: 85px;
    left: 48px;
    top: 1428px;
    
    font-family: Abel;
    font-size: 20px;
    line-height: 25px;
    
    color: #FFFFFF;
    transform-origin: 0 0;
    transform: rotate(-90deg);
  }

  .text2 {
    position: absolute;
    width: 1585px;
    height: 500px;
    left: 1550px;
    top: 1428px;
    
    font-family: A DAY WITHOUT SUN;
    font-size: 300px;
    line-height: 374px;
        
    color: #FFFFFF;
    transform-origin: 0 0;
    transform: rotate(-90deg);
  }
}


