@import '../../../assets/scss/helpers/grid.scss';

.container {
  margin: auto;
  position: relative;
  background: #0A0A0A;
  background-size: cover;
  padding: 150px 1rem 100px;

  @include sm-width {
    padding: 170px 0 120px;
    width: unset;
  }
}

.cardWrapper {
  width: -webkit-fill-available;

  @include sm-width {
    margin: auto;
    width: fit-content;
  }
}

.profileWrapper {
  display: grid;
  grid-template-columns: 1;

  @include md-width {
    grid-template-columns: auto auto;
    gap: 10rem;
  }
}

.avatarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 150px;
    height: 150px;
    margin-bottom: 1rem;
    border-radius: 50%;
  }
  span {
    font-weight: 900;
    font-size: 0.4375rem;
    letter-spacing: 0.12em;
    color: #b6b6b6;
  }
}

.uploadButton {
  width: 154px;
  height: 41px;
  background-color: black;
  color: white;
  font-size: 0.9375rem;
  margin-bottom: 26px;
}

.detailsWrapper {
  padding-top: 20px;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
}

.inputSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  span {
    font-size: 0.75rem;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
  }
  p {
    font-size: 0.5625rem;
    font-weight: 900;
    letter-spacing: 0.12em;
    color: white;
    margin-bottom: 6px;
  }
  input {
    width: 100%;
    height: 44px;
    background-color: black;
    color: white;
    border: none;
    padding-left: 12px;

    @include sm-width {
      width: 260px;
    }
  }
}

.saveButton {
  width: 154px;
  height: 41px;
  font-size: 0.9375rem;
  background-color: black;
  color: white;
}

.pageLoader,
.loader {
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: auto;
}

.pageLoader {
  // padding-top: 20px;
  margin-top: -200px;
}

.ipInput {
  display: flex;

  input {
    flex-grow: 1;
    width: unset;
    margin-right: 12px;
  }
}

.detectIpButton {
  height: 44px;
  font-size: 0.9375rem;
  background-color: black;
  color: white;
}

.questionMark {
  width: 15px;
  height: 15px;
  border: 1px solid #e6e6e6;
  border-radius: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5625rem;
  line-height: 11px;
  font-weight: 600;
  background: #fff;
  cursor: pointer;
  margin-left: 6px;
}

.hint {
  display: none;
  position: absolute;
  width: 165px;
  padding: 4px;
  border: 0.5px solid #000000;
  background: #fff;
  font-size: 0.5625rem;
  line-height: 120%;
  top: 0px;
  left: 94px;
}

.questionMark:hover + .hint {
  display: block;
}

.ipAddrLabel {
  display: flex;
  align-items: center;
  position: relative;
}

.backProfileButton {
  height: 41px;
  font-size: 0.9375rem;
  color: white;
  margin-left: -3rem;
  background-color: black;
  white-space: nowrap;
  @media only screen and (max-width: 480px) {
    top: 10px;
    left: 10px;
  }
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
}

.padding5 {
  padding: 5rem 5rem 2rem 5rem !important;
}