.wrapper {
  background: black;

  .innerWrapper {
    padding: 1rem;

    .title {
      padding: 4rem 0;
      border-bottom: 1px solid white;

      h1 {
        font-family: Gilroy;
        font-style: normal;
        font-weight: 800;
        font-size: 50px;
        line-height: 53px;
        /* identical to box height, or 106% */

        text-align: center;

        color: #ffffff;
      }
    }

    .description {
      padding: 3rem 0;
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 23px;
      line-height: 24px;
      /* or 104% */

      text-transform: uppercase;

      color: #d3d3d3;
    }

    .itemName {
      margin-bottom: 3rem;
      font-family: Gilroy;
      font-style: normal;
      font-weight: 800;
      font-size: 36px;
      line-height: 44px;

      color: #ffffff;
    }

    .body {
      display: flex;

      .formInput {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        .label {
          font-family: Poppins;
          font-style: normal;
          font-weight: bold;
          font-size: 25px;
          line-height: 37px;
          margin-bottom: 5px;
          text-transform: uppercase;

          color: #ff2cb2;
        }

        .input {
          border: 4px solid #ff2cb2;
          box-sizing: border-box;
          outline: none;
          background: transparent;
          height: 52px;
          color: #ff2cb2;
          padding: 5px;
          font-size: 25px;
        }
      }

      .actions {
        margin-left: 3rem;
        flex-grow: 1;

        .options {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 2rem;
        }
      }
    }
  }
}
