@import '../../assets/scss/base/responsive.scss';

.mainWrapper {
  padding-top: 80px;
  background: url('/images/nft/1/ejml13 hires 1.png');
  background-size: cover;

  .bodyWrapper {
    @include media-xs {
      padding: 1rem;
    }

    @include media-sm {
      padding: 2rem;
    }

    @include media-md {
      padding: 5rem;
    }

    @include media-lg {
      padding: 7.5rem;
    }

    .issues {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
      align-items: center;

      @include media-sm {
        grid-template-columns: repeat(2, 1fr);
      }

      @include media-lg {
        grid-template-columns: repeat(3, 1fr);
      }

      .issue {
        height: 100%;
      }
    }
  }
}
