@import '../../assets/scss/helpers/variables.scss';

.item {
  display: grid;
  column-gap: 20px;
  grid-template-columns: 70px 215fr 100fr 135fr;
  align-items: center;
  padding: 12px 0;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }

  &:first-child {
    border-top: 0;
  }
}

.imgWrapper {
  padding: 8px;
  background-color: white;
  width: 72px;
  min-height: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  object-fit: contain;
  max-width: 100%;
  margin-bottom: 8px;
  cursor: pointer;
}

.textCenter {
  text-align: center;
}

.video {
  width: 56px;
  height: 56px;
  cursor: pointer;
}

.addressWrapper {
  max-width: 230px;
}

.textForImg {
  font-size: 0.5rem;
  font-weight: 700;
  max-width: 57px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.name {
  font-weight: bold;
  font-size: 1rem;
  line-height: 19px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}

.address {
  font-size: 0.875rem;
  line-height: 17px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.priceWrapper {
  margin-left: auto;
  width: 100%;
  cursor: pointer;
}

.twitterIcon {
  margin-left: 5px;
}

.price, .estimate {
  font-size: 0.75rem;
  line-height: 15px;
  min-height: 35px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  min-width: 125px;
  max-width: 125px;
  width: 125px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #E6E6E6;
  background-color: #fff;
  padding: 10px;
  font-weight: bold;
}

.estimate {
  width: 100%;
}

.estimateInnerGray {
  color: $darkGray3;
  margin-right: 4px;
  text-transform: uppercase;
}

