@import '../../../assets/scss/helpers/variables.scss';
@import '../../../assets/scss/helpers/helpers.scss';

.button {
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 15px;
  padding: 15px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;

  &:focus {
    outline: none;
  }
}

.transparent {
  border: 1px solid #E5E5E5;
  background: transparent;
  transition: color 0.3, background-color 0.3;

  &:not([disabled]) {
    &:hover {
      color: rgba(#111, 0.8);
      background-color: rgba($lightGray1, 0.9);
    }
    &:active {
      color: rgba(#111, 0.5);
      background-color: rgba($lightGray1, 0.7);
    }
  }
}

.black {
  background: $black;
  color: #fff;
  border: 0;

  &:not([disabled]) {
    @include active();
  }

  &[disabled]  {
    background-color: rgba(#111, 0.9);
    color: $darkGray3;
  }
}


