.wrapper {
  display: flex;
  margin-top: 68px;
  margin-bottom: 80px;
}

.photo {
  width: 256px;
  height: 256px;
  object-fit: cover;
  object-position: center center;
  flex-shrink: 0;
  margin-right: 155px;
  border-radius: 256px;
}

.title {
  font-weight: 800;
  margin-bottom: 26px;
  font-size: 48px;
  line-height: 52px;
  max-width: 870px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.titleWrapper {
  display: flex;
  align-items: flex-start;
}

.description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  max-width: 690px;
  margin-bottom: 54px;
}

.countryWrapper {
  display: flex;
  align-items: center;
  justify-self: center;
  margin-left: 40px;
}

.designerCountryFlagIcon {
  width: 27px;
  height: 18px;
  object-fit: contain;
}

.designerCountry {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin-left: 11px;
  font-weight: bold;
}
