.wrapper {
  display: flex;
  margin-top: 118px;
  margin-bottom: 80px;
  @media screen and (max-width: 980px) {
    flex-direction: column;
  }
}

.photo {
  width: 256px;
  height: 256px;
  object-fit: cover;
  object-position: center center;
  flex-shrink: 0;
  margin-right: 155px;
  border-radius: 256px;
  @media screen and (max-width: 1200px) {
    margin-right: 50px;
  }
}

.title {
  font-weight: 800;
  margin-bottom: 26px;
  font-size: 3rem;
  line-height: 52px;
  max-width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.titleWrapper {
  display: flex;
  align-items: flex-start;
  @media only screen and (max-width: 640px) {
    flex-direction: column;
    .title {
      margin-bottom: 0px;
    }
    .countryWrapper {
      margin-left: 0px;
    }
  }
}

.descriptionWrapper {
  max-width: 690px;
  margin-bottom: 54px;
}

.descriptionItem {
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.countryWrapper {
  display: flex;
  align-items: center;
  justify-self: center;
  margin-left: 40px;
}

.flag {
  width: 27px;
}

.designerCountryFlagIcon {
  width: 27px;
  height: 18px;
  object-fit: contain;
}

.designerCountry {
  font-size: 0.75rem;
  line-height: 15px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin-left: 11px;
  font-weight: bold;
}
