@import '../../../../assets/scss/helpers/helpers.scss';

.wrapper:hover {
  @include active();
}

.description {
  color: white;
  font-weight: 600;
  font-size: 0.5rem;
  line-height: 10px;
  letter-spacing: 0.1em;
  margin-top: 2px;
}

.logo {
  font-family: Internal Rainbows;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */
}
