@import '../../../../assets/scss/helpers/helpers.scss';

.wrapper:hover {
  @include active();
}

.description {
  color: #9E9E9E;
  font-weight: 600;
  font-size: 0.5rem;
  line-height: 10px;
  letter-spacing: 0.1em;
  margin-top: 2px;
}
