$color-sliver-chalice: #9e9e9e;

// FONT-FAMILY
$font-inter: "Inter", sans-serif;
$font-inter-rainbows: "Internal Rainbows";
$font-digital: "Digital";
$font-courier: "Courier";
$font-armata: "Armata";
$font-gilroy: "Gilroy";

// FONT-SIZE
$f1: 60px;
$f2: 48px;
$f3: 36px;
$f4: 32px;
$f5: 24px;
$f6: 20px;
$f7: 16px;
$f8: 14px;
$f9: 13px;
$f10: 12px;
$f11: 10px;
$f13: 7px;


// FONT-WEIGHT
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semiBold: 600;
$fw-bold: 700;
$fw-black: 900;


.avatar-style {
  margin-left: 10px;
}

.navigationBar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  padding-left: 50px;
  z-index: 1;

  .branding {
    display: flex;
    flex-direction: row;
    height: 45px;
    justify-content: space-between;
    padding-top: 10px;

    .brand {
      text-transform: uppercase;
      font-family: "Internal Rainbows";
      font-size: 20px;
      line-height: 23px;
      color: #74A3F3;

      &.black {
        color: black !important;
      }
    }

    .subBrand {
      display: block;
      color: $color-sliver-chalice;
      font-size: 8px;
      font-weight: $fw-semiBold;
      line-height: 10px;

      &.black:not(.marketplace) {
        color: black !important;
      }
      &.marketplace {
        color: #9E9E9E !important;
      }
      &.whitepaper, &.careers, &.espa {
        color: white !important;
      }
    }
  }

  .brand-home {
    display: none;
  }

  .listLink {
    ul {
      line-height: 44px;
      li {
        display: inline-block;
        margin-right: 20px;
        a {
          font-size: 16px;
          color: #74A3F3;
          border-bottom: thin solid #74A3F3;
          // padding-bottom: 2px;
        }
      }
    }
  }

  // @media (max-width: 640px) {
  //   padding-left: 0;
  //   .listLink {
  //     font-size: 0.5vw;
  //   }
  // }
}

@media (max-width: 1300px) {
  .branding {
    .brand {
      font-size: 18px!important;
    }
    .subBrand {
      font-size: 6px!important;
    }
  }
}


@media all and (max-width: 590px) {
  .navigationBar {
    padding: 2px 0 0 14px !important;
    .branding {
      height: 35px;
      .brand {
        font-size: 10px !important;
        line-height: 12px;
        color: #74A3F3 !important;
      }
      .subBrand {
        font-weight: 600;
        font-size: 4px !important;
        line-height: 5px;
        letter-spacing: 0.1em;
        color: #9E9E9E;
      }
    }
    .listLink {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      margin-right: 5px;

      ul {
        line-height: 30px;
        li {
          margin-right: 10px;
          a {
            font-size: 8px;
            color: #74A3F3 !important;
            border-bottom: thin solid #74A3F3 !important;
          }
        }
      }

      @media (max-width: 340px) {
        margin-right: 0;
        ul {
          li {
            a {
              font-size: 8px;
            }
          }
        }
      }
    }
  }
}