.webPageWrapper {
  // height: 1497px;
  background-color: green;
  border-color: red;
  overflow: hidden;

  width: 160px;
  min-width: 160px;
  height: calc(1497px * 320 / 1920);

  @media (min-width: 1481px) {
    width: 700px;
    min-width: 700px;
    height: calc(1497px * 1400 / 1920);
  }

  @media (min-width: 1281px) and (max-width: 1480px) {
    min-width: 600px;
    width: 600px;
    height: calc(1497px * 1200 / 1920);
  }

  @media (min-width: 961px) and (max-width: 1280px) {
    min-width: 425px;
    width: 425px;
    height: calc(1497px * 850 / 1920);
  }

  @media (min-width: 641px) and (max-width: 960px) {
    min-width: 320px;
    width: 320px;
    height: calc(1497px * 640 / 1920);
  }
  
  .contentWrapper {
    width: 1920px;
    height: 1497px;
    transform-origin: 0 0;
    transform: scale(calc(320 / 1920));

    &.secondPart {
      margin-left: -100%;
    }

    @media (min-width: 1481px) {
      transform: scale(calc(1400 / 1920));
    }
  
    @media (min-width: 1281px) and (max-width: 1480px) {
      transform: scale(calc(1200 / 1920));
    }
  
    @media (min-width: 961px) and (max-width: 1280px) {
      transform: scale(calc(850 / 1920));
    }
  
    @media (min-width: 641px) and (max-width: 960px) {
      transform: scale(calc(640 / 1920));
    }
  }
}