.footer {
  .footerCaption {
    margin-top: 48px;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
}

.selectWrapper {
  display: flex;
}

.inputWithArrows {
  margin-right: 12px;  
}

.button {
  min-width: 170px;
  height: 44px;
}

.error {
  font-size: 9px;
  line-height: 6px;
  letter-spacing: 0.12em;
  text-decoration-line: underline;
  max-width: 260px;
  margin-top: 6px;
  line-height: 170%;
  text-decoration: underline;
}
