@import './styles.module.scss';
.wrapper {
  @include magazineWrapper();
  color: white;
  display: flex;
  position: relative;
  background-color: #E5E5E5;
  height: 1180px;

  .back {
    position: absolute;
    width: 1427px;
    height: 1497px;
    left: -277px;
    top: 0px;
    object-fit: cover;
  }

  .rect1 {
    position: absolute;
    width: 375px;
    height: 242px;
    left: 0px;
    top: 0px;
    
    background: rgba(86, 30, 30, 0.61);    
  }

  .rect2 {
    position: absolute;
    width: 375px;
    height: 33px;
    left: 0px;
    top: 300px;
    
    background: rgba(199, 101, 101, 0.67);      
  }

  .rect3 {
    position: absolute;
    width: 375px;
    height: 33px;
    left: 0px;
    top: 352px;
    
    background: rgba(199, 177, 101, 0.67);
  }

  .rect4 {
    position: absolute;
    width: 375px;
    height: 33px;
    left: 0px;
    top: 404px;
    
    background: rgba(34, 147, 140, 0.67);
  }

  .rect5 {
    position: absolute;
    width: 375px;
    height: 33px;
    left: 0px;
    top: 456px;
    
    background: rgba(147, 34, 54, 0.67);
  }

  .rect6 {
    position: absolute;
    width: 375px;
    height: 110px;
    left: 0px;
    top: 1073px;
    
    background: rgba(199, 101, 101, 0.67);
  }

  .image1 {
    position: absolute;
    width: 77px;
    height: 88.44px;
    left: 30px;
    top: 27px;    
  }

  .text1 {
    position: absolute;
    width: 304px;
    height: 184px;
    left: 132px;
    top: 27px;

    font-family: BAZAR COSTA;
    font-size: 36px;
    line-height: 41px;

    color: #00C4B8;
    text-shadow: -5px 0 black, 0 -5px black, 5px 0 black, 0 5px black, -4px -2px black, -2px -4px black,
      2px 4px black, 4px 2px black, 2px -4px black, -4px 2px black, -2px 4px black, 4px -2px black;
  }

  .text2 {
    position: absolute;
    width: 329px;
    height: 54px;
    left: 30px;
    top: 173px;

    font-family: Gayathri;
    font-size: 20px;
    line-height: 90%;

    color: #FFFFFF;
  }

  .text3 {
    position: absolute;
    width: 26px;
    height: 288px;
    left: 19px;
    top: 460px;

    font-family: Jua;
    font-size: 30px;
    line-height: 80%;
    text-align: center;

    color: #FFFFFF;
    word-wrap: break-word;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .text4 {
    position: absolute;
    width: 35px;
    height: 216px;
    left: 38px;
    top: 532px;
    
    font-family: Jua;
    font-size: 30px;
    line-height: 80%;
    text-align: center;
    
    color: #FFFFFF;
    word-wrap: break-word;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .text5 {
    position: absolute;
    width: 708px;
    height: 98px;
    left: 73px;
    top: 462px;
    
    font-family: Burst My Bubble;
    font-size: 60px;
    line-height: 30px;
    color: #3F0000;
  }

  .text6 {
    position: absolute;
    width: 247px;
    height: 90px;
    left: 73px;
    top: 503px;
    
    font-family: Neon Vortex;
    font-size: 30px;
    line-height: 30px;
    color: #28FF71;
    
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  }

  .text7 {
    position: absolute;
    width: 202px;
    height: 72px;
    left: 73px;
    top: 607px;
    
    font-family: Cool Chaos;
    font-size: 30px;
    line-height: 80%;
    color: #FA00FF;
    
    text-shadow: -1px 0 #FFFFFF, 0 1px #FFFFFF, 1px 0 #FFFFFF, 0 -1px #FFFFFF;
  }

  .text8 {
    position: absolute;
    width: 548px;
    height: 24px;
    left: 73px;
    top: 695px;
    
    font-family: Corben;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 80%;
    color: #FFFFFF;    
  }

  .text9 {
    position: absolute;
    width: 501px;
    height: 27px;
    left: 19px;
    top: 771px;
    
    font-family: Fresca;
    font-size: 30px;
    line-height: 90%;
    color: #3F0000;
    
  }

  .text10 {
    position: absolute;
    width: 283px;
    height: 54px;
    left: -148px;
    top: 812px;
    
    font-family: Fresca;
    font-size: 60px;
    line-height: 90%;
    text-align: right;
    color: #FF5252;
  }

  .text11 {
    position: absolute;
    width: 193px;
    height: 54px;
    left: 19px;
    top: 870px;
    
    font-family: Fresca;
    font-size: 30px;
    line-height: 90%;
    color: #BC0000;
  }

  .text12 {
    position: absolute;
    width: 32px;
    height: 432px;
    left: 293px;
    top: 748px;
    
    font-family: Internal Rainbows;
    font-size: 40px;
    line-height: 120.53%;
    word-wrap: break-word;
    color: #074DFF;
  }

  .text13 {
    position: absolute;
    width: 32px;
    height: 432px;
    left: 299px;
    top: 748px;
    
    font-family: Internal Rainbows;
    font-size: 40px;
    line-height: 120.53%;
    word-wrap: break-word;
    color: #00916E;
  }

  .text14 {
    position: absolute;
    width: 32px;
    height: 432px;
    left: 308px;
    top: 748px;
    
    font-family: Internal Rainbows;
    font-size: 40px;
    line-height: 120.53%;
    word-wrap: break-word;
    color: #00F59D;
  }

  .text15 {
    position: absolute;
    width: 13px;
    height: 216px;
    left: 348px;
    top: 952px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 120.53%;
    text-align: center;
    
    color: #FFFFFF;
    word-wrap: break-word;
    text-shadow: 0px 4px 4px rgba(241, 241, 241, 0.25), 0px 4px 4px rgba(211, 211, 211, 0.25), 0px 4px 4px rgba(255, 255, 255, 0.25), 0px 4px 4px rgba(255, 255, 255, 0.25);
  }

  .text16 {
    position: absolute;
    width: 13px;
    height: 216px;
    left: 352px;
    top: 952px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 120.53%;
    text-align: center;
    color: #00E693;
    word-wrap: break-word;
    text-shadow: 0px 4px 4px rgba(241, 241, 241, 0.25), 0px 4px 4px rgba(211, 211, 211, 0.25), 0px 4px 4px rgba(255, 255, 255, 0.25), 0px 4px 4px rgba(255, 255, 255, 0.25);
  }
  
}