@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 2048px;
  overflow: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;
  
  .image1 {
    position: relative;
    width: 375px;
    height: 2048px;
  }
}
