@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.wrapper {
  @include magazineWrapper();
  height: 3106px;
  background-color: #1D1916 ;
  color: white;
  position: relative;
  white-space: normal;
  text-align: left;

  .text7 {
    position: absolute;
    width: 502px;
    height: 130px;
    left: 22px;
    top: 78px;
    
    font-family: Evil Highway;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 130%;
    /* or 91px */
    
    
    color: #D9111B;
    
    text-shadow: rgb(239, 207, 108) 1px 0px 0px, rgb(239, 207, 108) 0.540302px 0.841471px 0px, rgb(239, 207, 108) -0.416147px 0.909297px 0px, rgb(239, 207, 108) -0.989992px 0.14112px 0px, rgb(239, 207, 108) -0.653644px -0.756802px 0px, rgb(239, 207, 108) 0.283662px -0.958924px 0px, rgb(239, 207, 108) 0.96017px -0.279415px 0px;
  }
  .text8 {
    position: absolute;
    width: 502px;
    height: 65px;
    left: 22px;
    top: 256px;
    
    font-family: Evil Highway;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 130%;
    /* identical to box height, or 91px */
    
    
    color: #204FA7;
    
    text-shadow: rgb(240, 216, 68) 1px 0px 0px, rgb(240, 216, 68) 0.540302px 0.841471px 0px, rgb(240, 216, 68) -0.416147px 0.909297px 0px, rgb(240, 216, 68) -0.989992px 0.14112px 0px, rgb(240, 216, 68) -0.653644px -0.756802px 0px, rgb(240, 216, 68) 0.283662px -0.958924px 0px, rgb(240, 216, 68) 0.96017px -0.279415px 0px;
  }
  .image9 {
    position: absolute;
    width: 225px;
    height: 225px;
    left: 118px;
    top: 348px;
  }
  .image8 {
    position: absolute;
    width: 169px;
    height: 160px;
    left: 32px;
    top: 321px;
  }
  .text9 {
    position: absolute;
    width: 271px;
    height: 136px;
    left: 43px;
    top: 621px;
    
    font-family: Cantora One;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    
    color: #FFFFFF;
  }
  .text13 {
    position: absolute;
    width: 207.27px;
    height: 391.13px;
    left: 84.38px;
    top: 912.02px;
    
    font-family: Cantora One;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    
    color: #FFFFFF;
    transform: rotate(-10deg);

    .text14 {
      color: #3787FF;
    }
  }
  .text15 {
    position: absolute;
    width: 197px;
    height: 151px;
    left: 63px;
    top: 1557px;
    
    font-family: Cantora One;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    
    color: #FFFFFF;
    .text16 {
      color: #3787FF;
    }
  }
  .text17 {
    position: absolute;
    width: 223px;
    height: 114px;
    left: 62px;
    top: 2119px;
    
    font-family: Cantora One;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    
    color: #FFFFFF;
    .text18 {
      color: #FF0000;
    }
  }
  .text21 {
    position: absolute;
    width: 201px;
    height: 178px;
    left: 69.37px;
    top: 2477.42px;
    
    font-family: Cantora One;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    
    color: #FFFFFF;
    .text22 {
      color: #E99F57;
    }
  }
}
