@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 4957px;
  background-color: white;
  color: white;
  position: relative;
  white-space: normal;
  text-align: left;

  .image1 {
    position: absolute;
    width: 703px;
    height: 178px;
    left: -2px;
    top: -12px;
    
    background: #06A5C8;
  }

  .image2 {
    position: absolute;
    width: 624px;
    height: 178px;
    left: -124px;
    top: 222px;
    
    background: #1D0DB1;
  }

  .image3 {
    position: absolute;
    width: 129px;
    height: 849px;
    left: 246px;
    top: 1488px;
    
    background: #6A94FF;
  }

  .image4 {
    position: absolute;
    width: 1344px;
    height: 0px;
    left: -18px;
    top: 200px;
    background-color: #000000;
    border: 5px solid #000000;
  }

  .image5 {
    position: absolute;
    width: 849px;
    height: 0px;
    left: -256px;
    top: 1894px;
    background-color: #000000;
    border: 5px solid #000000;
  }

  .image6 {
    position: absolute;
    width: 849px;
    height: 0px;
    left: -178.5px;
    top: 1907px;
    transform: rotate(90deg);
    background-color: #000000;
    border: 5px solid #000000;
  }

  .image7 {
    position: absolute;
    width: 1344px;
    height: 0px;
    left: -59px;
    top: 1033px;
    background-color: #000000;
    border: 5px solid #000000;
  }

  .image8 {
    position: absolute;
    width: 849px;
    height: 0px;
    left: -256px;
    top: 1871px;
    background-color: #000000;
    border: 5px solid #000000;
  }

  .image9 {
    position: absolute;
    width: 849px;
    height: 0px;
    left: -255px;
    top: 2333px;
    background-color: #000000;
    border: 5px solid #000000;
  }

  .video1 {
    position: absolute;
    width: 375px;
    height: 360px;
    left: 0px;
    top: 400px;
  }

  .image10 {
    position: absolute;
    width: 373px;
    height: 344px;
    left: 0px;
    top: 2371px;
  }

  .image11 {
    position: absolute;
    width: 378px;
    height: 416px;
    left: -3px;
    top: 2964px;
  }

  .image12 {
    position: absolute;
    width: 417px;
    height: 414px;
    left: -21px;
    top: 1075px;
  }

  .video2 {
    position: absolute;
    width: 368px;
    height: 273px;
    left: 4px;
    top: 3889px;
    overflow: hidden;
    video {
      height: 100%;
      position: absolute;
      left: -90px;
    }
  }

  .image13 {
    position: absolute;
    width: 552px;
    height: 438px;
    left: 1351px;
    top: 1047px;
  }

  .image14 {
    position: absolute;
    width: 1004px;
    height: 932px;
    left: -132px;
    top: -329px;
    pointer-events: none;
  }

  .image15 {
    position: absolute;
    width: 958px;
    height: 770px;
    left: -272.59px;
    top: 85.82px;
    transform: rotate(-40deg);
    pointer-events: none;
  }

  .text1 {
    position: absolute;
    width: 511px;
    height: 151px;
    left: -80px;
    top: 14px;
    
    font-family: Artypa;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 78px;
    text-align: center;
    
    color: #FFFFFF;
  }

  .image16 {
    position: absolute;
    width: 759px;
    height: 84px;
    left: -60.5px;
    top: 1861.5px;
    transform: rotate(-90deg);
  }

  .image17 {
    position: absolute;
    width: 830px;
    height: 50px;
    left: -356px;
    top: 1458px;
    transform: rotate(-90deg);
  }

  .text2 {
    position: absolute;
    width: 367px;
    height: 48px;
    left: 4px;
    top: 775px;
    
    font-family: Africa;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 120.53%;
    /* or 48px */
    
    text-align: center;
    /* or 72px */
    
    text-align: center;
    
    color: #D95CE7;
  }
  .image18 {
    position: absolute;
    width: 452px;
    height: 168px;
    left: 19px;
    top: 823px;
  }

  .text3 {
    position: absolute;
    width: 308px;
    height: 39px;
    left: 63px;
    top: 972px;
    
    font-family: B612 Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120.53%;
    /* or 24px */
    
    
    color: #000000;
    
  }
  .text4 {
    position: absolute;
    width: 308px;
    height: 39px;
    left: -3.5px;
    top: 1658.5px;
    
    font-family: B612 Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120.53%;
    /* or 24px */
    
    
    color: #000000;
    transform: rotate(-90deg);
  }
  .text5 {
    position: absolute;
    width: 308px;
    height: 39px;
    left: 34.5px;
    top: 1658.5px;
    
    font-family: B612 Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120.53%;
    /* or 24px */
    
    
    color: #000000;
    transform: rotate(-90deg);

  }

  .text6 {
    position: absolute;
    width: 321px;
    height: 60px;
    left: -112.5px;
    top: 1641.5px;
    
    font-family: Modak;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 120.53%;
    /* or 60px */
    
    transform: rotate(-90deg);
    color: #4ECA71;
  }

  .text7 {
    position: absolute;
    width: 321px;
    height: 60px;
    left: -59.5px;
    top: 1641.5px;
    
    font-family: Modak;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 120.53%;
    /* or 60px */
    
    
    color: #4ECA71;
    transform: rotate(-90deg);
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;
    box-sizing: border-box;    
  }
  .text8 {
    position: absolute;
    width: 152px;
    height: 72px;
    left: 20px;
    top: 2740px;
    
    font-family: Akronim;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 120.53%;
    /* or 72px */
    
    
    color: #070D14;
  }
  .text20 {
    position: absolute;
    width: 308px;
    height: 39px;
    left: 20px;
    top: 2803px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120.53%;
    /* or 24px */
    
    
    color: #000000;    
  }
  .text9 {
    position: absolute;
    width: 287px;
    height: 54px;
    left: 20px;
    top: 2837px;

    font-family: Big Shoulders Text;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 120.53%;
    /* or 54px */


    color: #F70000;
  }
  .image29 {
    position: absolute;
    width: 849px;
    height: 0px;
    left: -255px;
    top: 2939px;
    background-color: #000000;
    border: 5px solid #000000;
  }
  .text10 {
    position: absolute;
    width: 308px;
    height: 39px;
    left: 726px;
    top: 812px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120.53%;
    /* or 24px */
    
    
    color: #000000;
  }
  .text11 {
    position: absolute;
    width: 353px;
    height: 140px;
    left: 9px;
    top: 3416px;
    
    font-family: Haarlem Deco DEMO;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    /* or 50px */
    
    text-align: right;
    
    color: rgba(0, 0, 0, 0.7);
  }
  .text12 {
    position: absolute;
    width: 328px;
    height: 72px;
    left: 14px;
    top: 3526px;
    
    font-family: Big Shoulders Text;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 120.53%;
    /* or 36px */
    
    
    color: #189925;
  }
  .image30 {
    position: absolute;
    width: 849px;
    height: 0px;
    left: -255px;
    top: 3641px;
    
    background-color: #000000;
    border: 5px solid #000000;
  }
  .text13 {
    position: absolute;
    width: 169px;
    height: 58px;
    left: -3px;
    top: 3468px;
    
    font-family: Hanuman;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 120.53%;
    /* or 60px */
    
    text-align: right;
    
    color: #9C78FF;
  }
  .text14 {
    position: absolute;
    width: 319px;
    height: 65px;
    left: 11px;
    top: 4800px;
    
    font-family: Hanuman;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 120.53%;
    /* or 60px */
    
    
    color: rgba(0, 34, 210, 0.7);
  }
  .text15 {
    position: absolute;
    width: 319px;
    height: 65px;
    left: 114px;
    top: 4800px;
    
    font-family: Hanuman;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 120.53%;
    /* or 60px */
    
    
    color: rgba(0, 34, 210, 0.7);
  }
  .text16 {
    position: absolute;
    width: 319px;
    height: 65px;
    left: 1671px;
    top: 880px;
    
    font-family: Hanuman;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 120.53%;
    /* or 60px */
    
    
    color: rgba(0, 34, 210, 0.7);
  }
  .text17 {
    position: absolute;
    width: 340px;
    height: 66px;
    left: 11px;
    top: 4843px;
    
    font-family: Hanuman;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 120.53%;
    /* or 66px */
    
    
    color: #EB48BD;
  }
  .text18 {
    position: absolute;
    width: 158px;
    height: 27px;
    left: 217px;
    top: 4800px;
    
    font-family: Mate;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 120.53%;
    /* identical to box height, or 27px */
    color: #000000;
  }
  .text21 {
    position: absolute;
    width: 158px;
    height: 27px;
    left: 269.5px;
    top: 4252.5px;
    
    font-family: Mate;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 120.53%;
    /* identical to box height, or 27px */
    
    
    color: #C080CA;
    transform: rotate(-90deg);
  }
  .image31 {
    position: absolute;
    width: 849px;
    height: 0px;
    left: -255px;
    top: 4418px;
    background-color: #000000;
    border: 5px solid #000000;
  }
  .video3 {
    position: absolute;
    width: 456px;
    height: 362px;
    left: -40px;
    top: 4418px;
    video {
      height: 100%;
    }
  }
  .image19 {
    position: absolute;
    width: 84px;
    height: 126px;
    left: 40px;
    top: 3656px;
    transform: rotate(90deg);
  }
  .image20 {
    position: absolute;
    width: 84px;
    height: 126px;
    left: 40px;
    top: 3731px;
    
    transform: rotate(90deg);
  }
  .text19 {
    position: absolute;
    width: 447px;
    height: 168px;
    left: -125px;
    top: 4193px;
    
    font-family: Walter Turncoat;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 120.53%;
    /* or 84px */
    
    text-align: right;
    
    color: #06D2FF;
  }

  .image21 {
    position: absolute;
    width: 112px;
    height: 89px;
    left: 872px;
    top: 1312px;
  }
  .image22 {
    position: absolute;
    width: 187px;
    height: 89px;
    left: 137px;
    top: 3726px;
    transform: rotate(-90deg);
  }
  .image23 {
    position: absolute;
    width: 47px;
    height: 156px;
    left: 31px;
    top: 1939px;
  }
  .image24 {
    position: absolute;
    width: 47px;
    height: 156px;
    left: 96px;
    top: 1939px;
  }
  .image25 {
    position: absolute;
    width: 47px;
    height: 156px;
    left: 161px;
    top: 1939px;
  }
  .image26 {
    position: absolute;
    width: 47px;
    height: 156px;
    left: 31px;
    top: 2127px;    
  }
  .image27 {
    position: absolute;
    width: 47px;
    height: 156px;
    left: 96px;
    top: 2127px;
  }
  .image28 {
    position: absolute;
    width: 47px;
    height: 156px;
    left: 161px;
    top: 2127px;
  }
}
