@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 2570px;
  color: white;
  position: relative;
  white-space: normal;
  text-align: left;
  
  .background {
    position: absolute;
    width: 375px;
    height: 2570px;
    left: 0px;
    top: 0px;
  }

  .image1 {
    position: absolute;
    width: 152px;
    height: 152px;
    left: 18px;
    top: 96px;    
  }

  .image2 {
    position: absolute;
    width: 96px;
    height: 96px;
    left: 140px;
    top: 172px;
  }

  .image3 {
    position: absolute;
    width: 305px;
    height: 305px;
    left: 140px;
    top: -37px;
  }

  .image4 {
    position: absolute;
    width: 443px;
    height: 418px;
    left: -38px;
    top: 2010px;
  }
  
  .image5 {
    position: absolute;
    width: 282px;
    height: 283px;
    left: 0px;
    top: 1687px;    
  }

  .text1 {
    position: absolute;
    width: 599px;
    height: 88px;
    left: 18px;
    top: 268px;
    
    font-family: Empirez;
    font-size: 80px;
    line-height: 110%;
    color: #3A6B6B;
    -webkit-text-stroke: 3px white;   
    text-shadow: 0px 4px 30px #000000;    
  }

  .text2 {
    position: absolute;
    width: 269.39px;
    height: 700.3px;
    left: 41px;
    top: 414.4px;
    
    font-family: 'Think Thick';
    font-size: 7px;
    line-height: 12.6px;
    color: #FFB9B9;
    transform: rotate(-2deg);
    transform-origin: 0 0;

    span {
      font-family: 'Cool Chaos';
      font-size: 30px;
      line-height: 33px;

      img {
        margin-left: 10px;
      }
    }
  }

  .text3 {
    position: absolute;
    width: 152.97px;
    height: 49.61px;
    left: 184px;
    top: 1970.33px;
    
    font-family: Cool Chaos;
    font-size: 30px;
    line-height: 110%;
    color: #FFB9B9;
    transform: rotate(-5deg);
    transform-origin: 0 0;
  }

  .text4 {
    position: absolute;
    width: 966px;
    height: 88px;
    left: 11px;
    top: 2384px;
    
    font-family: Empirez;
    font-size: 80px;
    line-height: 110%;
    color: #3A6B6B;
    -webkit-text-stroke: 3px white;
  }
}
