@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 647px;
  background-color: black;
  color: white;
  display: flex;
  position: relative;

  .image1 {
    position: absolute;
    width: 375px;
    height: 647px;
    left: 0px;
    top: 0px;
  }

  .text1 {
    position: absolute;
    width: 264px;
    height: 36px;
    left: 21px;
    top: 30px;
    
    font-family: Digital Numbers;
    font-size: 30px;
    line-height: 120.53%;
    color: #FFFFFF;    
  }

  .text2 {
    position: absolute;
    width: 202px;
    height: 104px;
    left: 153px;
    top: 518px;
    
    font-family: Electrolize;
    font-size: 11px;
    line-height: 120.53%;
    /* or 13px */
    
    text-align: right;
    
    color: #FF00C7;        
  }
}
