@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: white;
  display: flex;
  height: 1517px;
  position: relative;

  .back1 {
    position: absolute;
    width: 375px;
    height: 1517px;
    left: 0px;
    top: 0px;
    
    background: rgba(128, 150, 230, 0.51);    
  }

  .back2 {
    position: absolute;
    width: 375px;
    height: 1517px;
    left: 0px;
    top: 0px;
  }

  .image1 {
    position: absolute;
    width: 335px;
    height: 55px;
    left: 17px;
    top: 36px;    
  }

  .image2 {
    position: absolute;
    width: 334px;
    height: 119px;
    left: 17px;
    top: 73px;
  }

  .image3 {
    position: absolute;
    width: 178px;
    height: 178px;
    left: 96px;
    top: 729px;
  }
}
