@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 2247px;
  background-color: black;
  color: white;
  position: relative;
  white-space: normal;
  text-align: left;

  .image1 {
    position: absolute;
    width: 328px;
    height: 72px;
    left: 24px;
    top: 24px;    
  }

  .image2 {
    position: absolute;
    width: 422px;
    height: 67px;
    left: -31px;
    top: 112px;
        
  }

  .image3 {
    position: absolute;
    width: 422px;
    height: 67px;
    left: -12px;
    top: 518px;
  }

  .image4 {
    position: absolute;
    width: 1186px;
    height: 188px;
    left: -378px;
    top: 1335px;
  }

  .video1 {
    position: absolute;
    width: 375px;
    height: 272px;
    left: 0px;
    top: 179px;
    object-fit: cover;
  }

  .text1 {
    position: absolute;
    width: 260px;
    height: 539px;
    left: 58px;
    top: 627px;
    
    font-family: Cormorant Garamond;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120.53%;
    color: #FFFFFF;        
  }
}
