@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Caudex:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crushed&display=swap');

.wrapper {
  @include magazineWrapper();

  height: 2254px;
  overflow: hidden;
  background-color: black;
  color: white;
  display: flex;
  position: relative;
  
  .rect1 {
    position: absolute;
    width: 375px;
    height: 502px;
    left: 0px;
    top: 0px;
    
    background: radial-gradient(50% 50% at 50% 50%, #6D6F12 0%, #000000 100%);    
  }
  .rect2 {
    position: absolute;
    width: 960px;
    height: 1754px;
    left: -275px;
    top: 500px;
    
    background: radial-gradient(50% 50% at 50% 50%, #A68123 0%, #000000 100%);
  }

  .video1 {
    position: absolute;
    width: 375px;
    height: 201px;
    left: 0px;
    top: 276px;
    object-fit: fill;
  }

  .video2 {
    position: absolute;
    width: 328px;
    height: 324px;
    left: 24px;
    top: 1771px;
    object-fit: fill;
    border: 7px solid #00FFC2;
    box-sizing: border-box; 
  }

  .text1 {
    position: absolute;
    width: 375px;
    height: 36px;
    left: 0px;
    top: 18px;
    
    font-family: Caudex;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 120.53%;
    text-align: center;
    background: linear-gradient(90deg, #FF3A3A 2.51%, #AB0000 91.48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text2 {
    position: absolute;
    width: 308px;
    height: 96px;
    left: 34px;
    top: 79px;
    
    font-family: Caudex;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 120.53%;
    text-align: center;
    
    color: #FFFFFF;    
  }

  .text3 {
    position: absolute;
    width: 220px;
    height: 48px;
    left: 78px;
    top: 203px;
    
    font-family: Caudex;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 120.53%;
    /* or 24px */
    
    text-align: center;
    
    color: #FF8A00;

    a {
      color: #FF8A00;
      text-decoration: underline;
    }
  }

  .text4 {
    position: absolute;
    width: 308px;
    height: 112px;
    left: 34px;
    top: 502px;
    
    font-family: Caudex;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 120.53%;
    color: #FFFFFF;
  }

  .text5 {
    position: absolute;
    width: 121px;
    height: 144px;
    left: 236px;
    top: 664px;
    
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    
    color: #FFD600;
  }

  .text6 {
    position: absolute;
    width: 253px;
    height: 36px;
    left: 17px;
    top: 823px;
    
    font-family: Carrois Gothic SC;
    font-size: 30px;
    line-height: 120.53%;
    text-align: center;
    color: #FF8A00;
  }

  .text7 {
    position: absolute;
    width: 188px;
    height: 216px;
    left: 22px;
    top: 1534px;
    
    font-family: Chalkduster;
    font-size: 20px;
    line-height: 120.53%;
    text-align: right;
    
    color: #FFFFFF;
  }

  .text8 {
    position: absolute;
    width: 138px;
    height: 96px;
    left: 209px;
    top: 1443px;
    
    font-family: Chalkduster;
    font-size: 20px;
    line-height: 120.53%;
    text-align: right;
    color: #FFFFFF;
  }

  .circle1 {
    position: absolute;
    width: 332px;
    height: 332px;
    left: -27px;
    top: 1130px;
    border-radius: 50%;
    background: #0836D8;    
  }

  .circle2 {
    position: absolute;
    width: 233px;
    height: 233px;
    left: 22px;
    top: 1179px;
    border-radius: 50%;
    background: #03A4E3;
  }

  .circle3 {
    position: absolute;
    width: 145px;
    height: 145px;
    left: 66px;
    top: 1223px;
    border-radius: 50%;
    background: #02DAE3;
  }

  .image1 {
    position: absolute;
    width: 88.85px;
    height: 88.85px;
    left: 133px;
    top: 1420.5px;
    transform: rotate(-80deg);
    transform-origin: 0 0;
  }

  .image2 {
    position: absolute;
    width: 88.85px;
    height: 88.85px;
    left: 301.5px;
    top: 1662px;
    
    transform: rotate(80deg);
    transform-origin: 0 0;
  }

  .image3 {
    position: absolute;
    width: 182px;
    height: 182px;
    left: 9px;
    top: 676.25px;
    
    transform: rotate(-20deg);
    transform-origin: 0 0;
  }

  .image4 {
    position: absolute;
    width: 299px;
    height: 174px;
    left: 76px;
    top: 1000px;    
  }
}
