@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 481px;
  overflow: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .image1 {
    position: absolute;
    width: 481px;
    height: 375px;
    left: 0px;
    top: 481.53px;
    transform: rotate(-90deg);
    transform-origin: 0 0;
  }
}
