@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 1982px;
  background-color: black;
  color: white;
  position: relative;

  .image1 {
    position: absolute;
    width: 375px;
    height: 2220px;
    left: 0px;
    top: 0px;
  }
  .image2 {
    position: absolute;
    width: 343px;
    height: 330px;
    left: 16px;
    top: 42px;
    border-radius: 100%;
    overflow: hidden;
    .image3 {
      height: 100%;
    }
  }
  .image4 {
    position: absolute;
    width: 420px;
    height: 404px;
    left: 16px;
    top: 701px;
    border-radius: 100%;
    overflow: hidden;
    .image5 {
      height: 100%;
    }
  }
  .image6 {
    position: absolute;
    width: 284px;
    height: 273px;
    left: -58px;
    top: 1516px;
    border-radius: 100%;
    overflow: hidden;
    .image7 {
      height: 100%;
    }
  }
  .image8 {
    position: absolute;
    width: 330px;
    height: 313px;
    left: 150px;
    top: 145px;
  }
  .image9 {
    position: absolute;
    width: 512px;
    height: 486px;
    left: -124px;
    top: 965px;
  }
  .image10 {
    position: absolute;
    width: 256px;
    height: 243px;
    left: 119px;
    top: 1667px;
  }
  .text1 {
    position: absolute;
    width: 366px;
    height: 264px;
    left: 19px;
    top: 372px;
    
    font-family: Eczar;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 110%;
    /* or 132px */
    
    
    color: #FFA41B;
    
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-fill-color: #ffa41b;
    text-shadow: 0px 4px 30px #000000;
  }
  .text2 {
    position: absolute;
    width: 225px;
    height: 55px;
    left: 19px;
    top: 641px;
    
    font-family: Eczar;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 110%;
    /* identical to box height, or 55px */
    
    
    color: #FFA41B;
    
    text-shadow: 0px 4px 30px #000000;
  }
}
