@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 2653px;
  overflow: hidden;
  background-color: #000000;
  color: white;
  display: flex;
  position: relative;

  .image1 {
    position: absolute;
    width: 375px;
    height: 2653px;
    left: 0px;
    top: 0px;
  }
  .image3 {
    position: absolute;
    width: 308px;
    height: 2552px;
    left: 33px;
    top: 70px;
    
    background: #E93504;
  }
  .text4 {
    position: absolute;
    width: 245px;
    height: 1119px;
    left: 65px;
    top: 129px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    
    color: #FFFFFF;
  }
}
