@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 3450px;
  background: white;
  color: white;
  display: flex;
  position: relative;

  .image1 {
    position: absolute;
    width: 375px;
    height: 3450px;
    left: 0px;
    top: 0px;
  }

  .image2 {
    position: absolute;
    width: 82.86px;
    height: 132.35px;
    left: 71.23px;
    top: 2587px;
    
    transform: rotate(20.91deg);
    transform-origin: 0 0;
  }

  .image3 {
    position: absolute;
    width: 139.56px;
    height: 222.92px;
    left: 244.56px;
    top: 2522px;
    
    transform: rotate(20.91deg);
    transform-origin: 0 0;
  }

  .image4 {
    position: absolute;
    width: 320.19px;
    height: 511.45px;
    left: 128.53px;
    top: 2780px;
    
    transform: rotate(20.91deg);
    transform-origin: 0 0;
  }

  .rect1 {
    position: absolute;
    width: 375px;
    height: 940px;
    left: 0px;
    top: 464px;
    
    background: rgba(0, 0, 0, 0.47);    
  }

  .rect2 {
    position: absolute;
    width: 153px;
    height: 42px;
    left: 24px;
    top: 1513px;
    
    background: #FFC700;
    border: 3px solid #000000;
    box-sizing: border-box;    
  }

  .rect3 {
    position: absolute;
    width: 375px;
    height: 44px;
    left: 24px;
    top: 1555px;
    
    background: rgba(0, 0, 0, 0.47);
  }

  .rect4 {
    position: absolute;
    width: 105px;
    height: 42px;
    left: 24px;
    top: 1631px;
    
    background: #FFC700;
    border: 3px solid #000000;
    box-sizing: border-box;
  }

  .rect5 {
    position: absolute;
    width: 709px;
    height: 44px;
    left: 24px;
    top: 1673px;
    
    background: rgba(0, 0, 0, 0.47);
  }

  .rect6 {
    position: absolute;
    width: 286px;
    height: 42px;
    left: 24px;
    top: 1750px;
    
    background: #FFC700;
    border: 3px solid #000000;
    box-sizing: border-box;
  }

  .rect7 {
    position: absolute;
    width: 709px;
    height: 44px;
    left: 24px;
    top: 1792px;
    
    background: rgba(0, 0, 0, 0.47);
  }

  .rect8 {
    position: absolute;
    width: 350px;
    height: 42px;
    left: 24px;
    top: 1885px;
    
    background: #FFC700;
    border: 3px solid #000000;
    box-sizing: border-box;
  }

  .rect9 {
    position: absolute;
    width: 709px;
    height: 44px;
    left: 24px;
    top: 1927px;
    
    background: rgba(0, 0, 0, 0.47);
  }

  .rect10 {
    position: absolute;
    width: 325px;
    height: 370px;
    left: 25px;
    top: 2026px;
    
    background: rgba(0, 0, 0, 0.47);
  }

  .text1 {
    position: absolute;
    width: 262px;
    height: 358px;
    left: 52px;
    top: 106px;
    
    font-family: Zorque;
    font-size: 20px;
    line-height: 120%;
    color: #65FF3F;    
  }

  .text2 {
    position: absolute;
    width: 262px;
    height: 284px;
    left: 52px;
    top: 496px;
    
    font-family: Zorque;
    font-size: 24px;
    line-height: 120%;
    color: #33FF00;
  }

  .text3 {
    position: absolute;
    width: 855px;
    height: 32px;
    left: 41px;
    top: 1524px;
    
    font-family: Zorque;
    font-size: 15px;
    line-height: 120%;
    color: #FFFFFF;
  }

  .text4 {
    position: absolute;
    width: 479px;
    height: 32px;
    left: 41px;
    top: 1567px;
    
    font-family: Zorque;
    font-size: 15px;
    line-height: 120%;
    color: #FF04E6;
  }

  .text5 {
    position: absolute;
    width: 855px;
    height: 32px;
    left: 41px;
    top: 1641px;
    
    font-family: Zorque;
    font-size: 15px;
    line-height: 120%;
    color: #FFFFFF;
  }

  .text6 {
    position: absolute;
    width: 479px;
    height: 32px;
    left: 41px;
    top: 1686px;
    
    font-family: Zorque;
    font-size: 15px;
    line-height: 120%;
    color: #FF04E6;
  }

  .text7 {
    position: absolute;
    width: 855px;
    height: 32px;
    left: 41px;
    top: 1760px;
    
    font-family: Zorque;
    font-size: 15px;
    line-height: 120%;
    color: #FFFFFF;
  }

  .text8 {
    position: absolute;
    width: 479px;
    height: 32px;
    left: 41px;
    top: 1804px;
    
    font-family: Zorque;
    font-size: 15px;
    line-height: 120%;
    color: #FF04E6;
  }

  .text9 {
    position: absolute;
    width: 855px;
    height: 32px;
    left: 41px;
    top: 1895px;
    
    font-family: Zorque;
    font-size: 15px;
    line-height: 120%;
    color: #FFFFFF;
  }

  .text10 {
    position: absolute;
    width: 479px;
    height: 32px;
    left: 41px;
    top: 1940px;
    
    font-family: Zorque;
    font-size: 15px;
    line-height: 120%;
    color: #FF04E6;
  }

  .text11 {
    position: absolute;
    width: 264px;
    height: 284px;
    left: 60px;
    top: 2069px;
    
    font-family: Zorque;
    font-size: 24px;
    line-height: 120%;
    color: #33FF00;
  }

}
