@import './styles.module.scss';
@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(-1400px); }
}
.wrapper {
  @include magazineWrapper();
  background-color: white;
  height: 2656px;
  color: black;
  position: relative;
  white-space: normal;
  text-align: left;
}
