@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 677px;
  overflow: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

 .image1 {
  position: absolute;
  width: 434px;
  height: 677px;
  left: -25px;
  top: 0px;
 }
 .image2 {
  position: absolute;
  width: 318px;
  height: 90px;
  left: -33px;
  top: 14px;
 }
 .image3 {
  position: absolute;
  width: 381px;
  height: 133px;
  left: -25px;
  top: 556px;
 }
}
