@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 3659px;
  background-color: white;
  color: black;
  position: relative;

  .video1 {
    position: relative;
    width: 375px;
    height: 4840px;
    left: 0;
    top: 0;
    object-fit: cover;    
  }

  .image1 {
    position: absolute;
    width: 116px;
    height: 423px;
    left: 130px;
    top: 3236px;    
  }

  .line1 {
    position: absolute;
    width: 423px;
    height: 0px;
    left: 187px;
    top: 3236px;
    
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
    transform-origin: 0 0;    
  }

  .rect1 {
    position: absolute;
    width: 375px;
    height: 3659px;
    left: 0px;
    top: 0px;
    
    background: rgba(0, 0, 0, 0.25);    
  }

  .image2 {
    position: absolute;
    width: 507px;
    height: 339px;
    left: -66px;
    top: 0px;
  }

  .image3 {
    position: absolute;
    width: 242px;
    height: 162px;
    left: 67px;
    top: 297px;
  }

  .image4 {
    position: absolute;
    width: 273px;
    height: 102px;
    left: 51px;
    top: 488px;    
  }

  .image5 {
    position: absolute;
    width: 273px;
    height: 102px;
    left: 51px;
    top: 590px;    
  }

  .text1 {
    position: absolute;
    width: 529px;
    height: 76px;
    left: -78px;
    top: 692px;
    
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 120.53%;
    text-align: center;
    
    color: #FFFFFF;    
  }

  .text2 {
    position: absolute;
    width: 283px;
    height: 674px;
    left: 43px;
    top: 768px;
    
    font-family: Poor Story;
    font-size: 23px;
    line-height: 120.53%;
    color: #FFFFFF;
  }

  .text3 {
    position: absolute;
    width: 281px;
    height: 462px;
    left: 43px;
    top: 1517px;
    
    font-family: 'Post No Bills Colombo';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 120.53%;
    color: #FFFFFF;
  }
}
