@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 2831px;
  background: linear-gradient(180deg, #EF5296 0%, #CA47A9 46.88%, #E869A2 100%);
  color: #FFFFFF;
  display: flex;
  position: relative;
}
