@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: #FFFFFF;
  height: 2842px;
  position: relative;
  color: white;
  white-space: normal;
  text-align: left;

  .image1 {
    position: absolute;
    width: 375px;
    height: 2842px;
    left: 0px;
    top: 0px;
  }

  .rect1 {
    position: absolute;
    width: 323px;
    height: 2416px;
    left: 26px;
    top: 179px;
    
    background: #00D0DA;
    border: 10px solid #000000;
    box-sizing: border-box;
  }

  .text1 {
    position: absolute;
    width: 231px;
    height: 972px;
    left: 72px;
    top: 229px;
    
    font-family: Lacquer;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 150%;
    /* or 33px */
    
    text-align: center;
    
    color: #FFFFFF;    
  }
}
