@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 605px;
  overflow: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .background {
    position: relative;
    width: 375px;
    height: 605px;
    left: 0;
    top: 0;    
  }

  .text1 {
    position: absolute;
    width: 249px;
    height: 118px;
    left: 27px;
    top: 72px;

    font-family: Corben;
    font-weight: bold;
    font-size: 20px;
    line-height: 120.53%;
    color: #FFFFFF;

    span {
      color: #FF0000;
    }
  }

  .text2 {
    position: absolute;
    width: 156px;
    height: 38px;
    left: 118px;
    top: 171px;
    
    font-family: Corben;
    font-weight: bold;
    font-size: 13px;
    line-height: 120.53%;
    color: #9D2626;
        
  }
}
