@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

.wrapper {
  @include magazineWrapper();
  height: 3450px;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .video1 {
    position: absolute;
    width: 900px;
    height: 3450px;
    left: -200px;
    top: 0px;
    object-fit: fill;
  }

  .image1 {
    position: absolute;
    width: 627px;
    height: 737px;
    left: -50px;
    top: 74px;    
  }

  .image2 {
    position: absolute;
    width: 512px;
    height: 584px;
    left: 0px;
    top: 2842px;
  }

  .text1 {
    position: absolute;
    width: 393px;
    height: 240px;
    left: 0px;
    top: 843px;
    
    font-family: Jura;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 80px;
    /* or 114% */
    
    
    color: #FFFFFF;    
  }

  .text2 {
    position: absolute;
    width: 393px;
    height: 240px;
    left: 0px;
    top: 1083px;
    
    font-family: Jura;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 80px;
    /* or 114% */
    
    
    color: #FFFFFF;
  }

  .text3 {
    position: absolute;
    width: 393px;
    height: 240px;
    left: 0px;
    top: 1323px;
    
    font-family: Jura;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 80px;
    /* or 114% */
    
    
    color: #FFFFFF;
  }

  .text4 {
    position: absolute;
    width: 393px;
    height: 240px;
    left: 0px;
    top: 1563px;
    
    font-family: Jura;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 80px;
    /* or 114% */
    
    
    color: #FFFFFF;
    
  }

  .text5 {
    position: absolute;
    width: 393px;
    height: 240px;
    left: 67px;
    top: 2282px;
    
    font-family: Jura;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 80px;
    /* or 114% */
    
    
    color: #FF0000;
  }

  .text6 {
    position: absolute;
    width: 393px;
    height: 240px;
    left: 67px;
    top: 2522px;
    
    font-family: Jura;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 80px;
    /* or 114% */
    
    
    color: #FF0000;
    
  }

  .text7 {
    position: absolute;
    width: 393px;
    height: 240px;
    left: 67px;
    top: 2762px;
    
    font-family: Jura;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 80px;
    /* or 114% */
    
    
    color: #FF0000;
  }

  .text8 {
    position: absolute;
    width: 393px;
    height: 240px;
    left: 67px;
    top: 3002px;
    
    font-family: Jura;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 80px;
    /* or 114% */
    
    
    color: #FF0000;
    
  }
}
