@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 4840px;
  background-color: white;
  color: black;
  position: relative;
  text-align: left;

  .video1 {
    position: relative;
    width: 375px;
    height: 4840px;
    left: 0;
    top: 0;
    object-fit: cover;    
  }

  h1 {
    position: absolute;
    width: 364px;
    height: 120px;
    left: 6px;
    top: 34px;
    
    font-family: Heaven Wanders DEMO;
    font-size: 60px;
    line-height: 100%;   
    text-align: center;
    
    color: #FFFFFF;
    
  }

  .image1 {
    position: absolute;
    width: 116px;
    height: 423px;
    left: 130px;
    top: 4417px;    
  }

  .line1 {
    position: absolute;
    width: 423px;
    height: 0px;
    left: 187px;
    top: 4417px;
    
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
    transform-origin: 0 0;    
  }

  .rect1 {
    position: absolute;
    width: 375px;
    height: 4840px;
    left: 0px;
    top: 0px;
    
    background: rgba(0, 0, 0, 0.25);    
  }

  .text1 {
    position: absolute;
    width: 759px;
    height: 54px;
    left: -305px;
    top: 232px;

    font-family: Donegal One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 120.53%;
    /* or 48px */


    color: rgba(255, 255, 255, 0.5);

    transform: matrix(1, 0, 0, -1, 0, 0);
    transform-origin: 0 0;
  }

  .text2 {
    position: absolute;
    width: 759px;
    height: 62px;
    left: -32px;
    top: 230px;
    
    font-family: Donegal One; 
    font-size: 40px;
    line-height: 120.53%; 
    color: #FFFFFF;    
  }

  .text3 {
    position: absolute;
    width: 759px;
    height: 54px;
    left: -32px;
    top: 330px;
    
    font-family: Donegal One;
    font-size: 40px;
    line-height: 120.53%;
    color: rgba(255, 255, 255, 0.5);
    
    transform: matrix(1, 0, 0, -1, 0, 0);
    transform-origin: 0 0;
  }

  .text4 {
    position: absolute;
    width: 759px;
    height: 54px;
    left: -305px;
    top: 384px;
    
    font-family: Donegal One;
    font-size: 40px;
    line-height: 120.53%;
    color: rgba(255, 255, 255, 0.5);
    
    transform: matrix(1, 0, 0, -1, 0, 0);
    transform-origin: 0 0;
  }

  .text5 {
    position: absolute;
    width: 759px;
    height: 62px;
    left: -32px;
    top: 382px;
    
    font-family: Donegal One;
    font-size: 40px;
    line-height: 120.53%;
    color: #FFFFFF;
  }

  .text6 {
    position: absolute;
    width: 759px;
    height: 54px;
    left: -32px;
    top: 482px;
    
    font-family: Donegal One;
    font-size: 40px;
    line-height: 120.53%;
    color: rgba(255, 255, 255, 0.5);
    
    transform: matrix(1, 0, 0, -1, 0, 0);
    transform-origin: 0 0;
  }

  .text7 {
    position: absolute;
    width: 255px;
    height: 2303px;
    left: 59px;
    top: 572px;
    
    font-family: Fira Code;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 120.53%;
    color: #FFFFFF;    
  }
}
