@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 3450px;
  background-color: #F43C41;
  color: white;
  display: flex;
  position: relative;

  .image1 {
    position: absolute;
    width: 375px;
    height: 3450px;
    left: 0px;
    top: 0px;
  }

  .image2 {
    position: absolute;
    width: 375px;
    height: 219px;
    left: 0px;
    top: 0px;

  }

  .image3 {
    position: absolute;
    width: 109px;
    height: 109px;
    left: 19px;
    top: 195px;
  }

  .image4 {
    position: absolute;
    width: 375px;
    height: 703px;
    left: 0px;
    top: 2731px;
  }

  .image5 {
    position: absolute;
    width: 100.59px;
    height: 160.68px;
    left: 244.34px;
    top: 195px;
    
    transform: rotate(20.91deg);
    transform-origin: 0 0;
  }

  .text1 {
    position: absolute;
    width: 265px;
    height: 358px;
    left: 73px;
    top: 453px;
    
    font-family: Zorque;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;    
  }

  .text2 {
    position: absolute;
    width: 274px;
    height: 478px;
    left: 72px;
    top: 1187px;
    
    font-family: '.Aqua Kana';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    color: #53FFD6;
  }
}
