@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 1308px;
  overflow: hidden;
  background-color: #010103;
  color: white;
  display: flex;
  position: relative;

  .image1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 375px;
    height: 3748px; 
  }
}
