@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 2308px;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .text1 {
    position: absolute;
    width: 308px;
    height: 1120px;
    left: 33px;
    top: 41px;
    
    font-family: Griffy;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 120.53%;
    /* or 18px */
    
    text-align: center;
    
    color: #000000;
  }
  .image1 {
    position: absolute;
    width: 444px;
    height: 389px;
    left: -69px;
    top: 1845px;  
  }
}