@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 3450px;
  background-color: #F43C41;
  color: white;
  display: flex;
  position: relative;
  justify-content: center;

  .image1 {
    position: absolute;
    width: 375px;
    height: 3450px;
    left: 0px;
    top: 0px;
  }

  h1 {
    position: absolute;
    width: 359px;
    height: 99px;
    left: 3px;
    top: 34px;
    
    font-family: Dro;
    font-size: 70px;
    line-height: 65px;
    text-align: right;
    
    color: #FF6FB4;
    text-shadow: -3px 0 #5E008A, 0 -3px #5E008A, 3px 0 #5E008A, 0 3px #5E008A;
  }

  h2 {
    position: absolute;
    width: 261px;
    height: 226px;
    left: 57px;
    top: 907px;
    
    font-family: Thonburi;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    /* or 20px */
    
    
    color: #FFFFFF;
  }
}