@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 2929px;
  overflow: hidden;
  background-color: #ffffff;
  color: white;
  display: flex;
  position: relative;

  .image1 {
    position: absolute;
    width: 375px;
    height: 3277px;
    left: 0px;
    top: 0px;
  }

  .image5 {
    position: absolute;
    width: 364px;
    height: 215px;
    left: 0px;
    top: 40px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid #00FFF0;
    box-sizing: border-box;
    .image6 {
      height: 100%;
    }
  }
  .image9 {
    position: absolute;
    width: 405px;
    height: 228px;
    left: -15px;
    top: 255px;
  }
  .text10 {
    position: absolute;
    width: 350px;
    height: 40px;
    left: 12px;
    top: 535px;
    
    font-family: Plaster;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 100%;
    /* identical to box height, or 40px */
    
    text-align: center;
    
    color: #FFFFFF;
  }
  .text11 {
    position: absolute;
    width: 350px;
    height: 40px;
    left: 12.48px;
    top: 545.25px;
    
    font-family: Plaster;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 100%;
    /* identical to box height, or 40px */
    
    text-align: center;
    
    color: #FA00FF;
  }
  .image12 {
    position: absolute;
    width: 377px;
    height: 712px;
    left: 0px;
    top: 615px;
    
    background: #00B7E5;
  }
  .text12 {
    position: absolute;
    width: 315px;
    height: 624px;
    left: 37px;
    top: 648px;
    
    font-family: Rosarivo;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    /* or 24px */
    
    text-align: right;
    
    color: #5F0FFF;
  }
  .image13 {
    position: absolute;
    width: 377px;
    height: 420px;
    left: 0px;
    top: 1376px;
    
    background: rgba(0, 0, 0, 0.47);
  }
  .text13 {
    position: absolute;
    width: 290px;
    height: 360px;
    left: 35px;
    top: 1398px;
    
    font-family: Sedgwick Ave Display;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    /* or 24px */
    
    
    color: #FF7A00;    
  }
  .image14 {
    position: absolute;
    width: 412px;
    height: 231px;
    left: 0px;
    top: 1845px;
  }
  .image15 {
    position: absolute;
    width: 409px;
    height: 230px;
    left: -17px;
    top: 2109px;
  }
  .image16 {
    position: absolute;
    width: 379px;
    height: 370px;
    left: 0px;
    top: 2393px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .image17 {
      width: 100%;
    }
  }
}
