@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 4604px;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .image1 {
    position: relative;
    width: 375px;
    height: 4604px;
  }
  .image2 {
    position: absolute;
    width: 375px;
    height: 4166px;
    left: 0px;
    top: 0px;
    
    background: rgba(0, 91, 111, 0.44);
  }
  .image20 {
    position: absolute;
    width: 263px;
    height: 370px;
    left: 0px;
    top: 0px;
  }
  .image19 {
    position: absolute;
    width: 293px;
    height: 521px;
    left: 82px;
    top: 227px;
  }
  .image21 {
    position: absolute;
    width: 375px;
    height: 229px;
    left: 0px;
    top: 793px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .image22 {
      width: 100%;
    }
  }
  .text11 {
    position: absolute;
    width: 369px;
    height: 194px;
    left: 6px;
    top: 997px;
    
    font-family: Chakra Petch;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 115%;
    /* or 92px */
    
    letter-spacing: 0.07em;
    
    color: #FFADF2;
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;
  }
  .image23 {
    position: absolute;
    width: 222px;
    height: 222px;
    left: 84px;
    top: 1162px;
  }
  .image24 {
    position: absolute;
    width: 375px;
    height: 407px;
    left: 0px;
    top: 1433px;
    
    background: #000000;
  }
  .text12 {
    position: absolute;
    width: 377px;
    height: 49px;
    left: 6px;
    top: 1384px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    
    color: #FFFFFF;
  }
  .text34 {
    position: absolute;
    width: 269px;
    height: 340px;
    left: 56px;
    top: 1462px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 115%;
    /* or 17px */
    
    letter-spacing: 0.07em;
    
    color: #FFADF2;
  }
  .image30 {
    position: absolute;
    width: 361px;
    height: 298px;
    left: 6px;
    top: 1946px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #32CEFF;
    box-sizing: border-box;
    overflow: hidden;
    .image31 {
      height: 100%;
    }
  }
  .image26 {
    position: absolute;
    width: 275px;
    height: 499px;
    left: 0px;
    top: 2282px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
  .image25 {
    position: absolute;
    width: 494px;
    height: 494px;
    left: 28px;
    top: 2606px;
  }
  .image28 {
    position: absolute;
    width: 178px;
    height: 178px;
    left: 10px;
    top: 3138px;
  }
  .text13 {
    position: absolute;
    width: 377px;
    height: 49px;
    left: -71px;
    top: 3326px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    
    color: #FFFFFF;
  }
  .image29 {
    position: absolute;
    width: 339px;
    height: 831px;
    left: 99px;
    top: 3138px;
  }
  .image32 {
    position: absolute;
    width: 352px;
    height: 291px;
    left: 12px;
    top: 4020px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 5px solid #32CEFF;
    box-sizing: border-box;
    .image33 {
      height: 100%;
    }
  }
  .image27 {
    position: absolute;
    width: 357px;
    height: 218px;
    left: 12px;
    top: 4349px;
  }
}
