@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: white;
  height: 1308px;

  color: black;
  position: relative;

  .image1 {
    position: absolute;
    width: 243px;
    height: 476px;
    left: 0px;
    top: 0px;
  }

  h1 {
    position: absolute;
    width: 264px;
    height: 81px;
    left: 59px;
    top: 106px;
    
    font-family: Courier;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 120.53%;
    color: #000000;    
  }
  
  h2 {
    position: absolute;
    width: 264px;
    height: 1279px;
    left: 59px;
    top: 198px;
    
    font-family: Courier New;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120.53%;
    color: #000000;
  }
}
