@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.wrapper {
  @include magazineWrapper();
  height: 3106px;
  background-color: #1D1916 ;
  color: white;
  position: relative;
  white-space: normal;
  text-align: left;
}
