@import './styles.module.scss';

@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(-605px); }
}

.wrapper {
  @include magazineWrapper();

  height: 3093px;
  background-color: white;
  color: black;
  position: relative;
  white-space: normal;

  .image1 {
    position: absolute;
    width: 375px;
    height: 2784px;
    left: 0px;
    top: 155px;
  }

  .image2 {
    position: absolute;
    width: 375px;
    height: 1361px;
    left: 0px;
    top: 201px;
  }

  .image3 {
    position: absolute;
    width: 375px;
    height: 1361px;
    left: 0px;
    top: 1578px;
  }

  .topSideFrame {
    position: absolute;
    width: 1497px;
    height: 155px;
    left: 0;
    top: 0;
    background-color: #ff3636;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
  }

  .bottomSideFrame {
    position: absolute;
    width: 1497px;
    height: 155px;
    left: 0;
    bottom: 0;
    background-color: #ff3636;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
  }

  .animationFrame {
    animation: scrolling 4s linear infinite;
  }

  .topSideImageWrapper {
    position: absolute;
    left: 0px;
    top: 50px;
    width: 2400px;
    height: 47px;
    display: flex;
  }

  .bottomSideImageWrapper {
    position: absolute;
    left: 0px;
    width: 2400px;
    top: 2990px;
    height: 47px;
    display: flex;
  }

  .circle1 {
    position: absolute;
    left: -52.27%;
    right: -124.27%;
    top: 11.83%;
    bottom: 19.79%;
    
    background: rgba(0, 0, 0, 0.54);
    border-radius: 50%;
    border: 10px solid #FF0000;
    box-sizing: border-box;    
  }
  
  .text1 {
    position: absolute;
    left: 15.47%;
    right: 4.53%;
    top: 17.65%;
    bottom: 50.82%;
    
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 120.53%;
    color: #FFFFFF;    
  }
}
