@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 2287px;
  overflow: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .image1 {
    position: absolute;
    width: 316px;
    height: 198px;
    left: 26px;
    top: 61px;    
  }

  .image2 {
    position: absolute;
    width: 316px;
    height: 198px;
    left: 26px;
    top: 284px;
  }

  .rect1 {
    position: absolute;
    width: 319.99px;
    height: 242.33px;
    left: 115.74px;
    top: 349.64px;
    
    background: rgba(65, 37, 121, 0.63);
    transform: rotate(-45deg);
    transform-origin: 0 0;    
  }

  .rect2 {
    position: absolute;
    width: 584.78px;
    height: 442.86px;
    left: 90.43px;
    top: 1426px;
    
    background: rgba(65, 37, 121, 0.63);
    transform: rotate(30deg);
    transform-origin: 0 0;    
  }

  .text1 {
    position: absolute;
    width: 293px;
    height: 741px;
    left: 41px;
    top: 548px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #8775AA;    
  }
}
