@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 1102px;
  background-color: black;
  color: white;
  position: relative;
  white-space: normal;
  text-align: left;

  .rect1 {
    position: absolute;
    width: 375px;
    height: 330px;
    left: 0px;
    top: 772px;
    background-color: white;
  }

  .image1 {
    position: absolute;
    width: 348px;
    height: 46px;
    left: 14px;
    top: 15px;    
  }

  .video1 {
    position: absolute;
    width: 375px;
    height: 261px;
    left: 0px;
    top: 511px;
    object-fit: cover;    
  }

  .image2 {
    position: absolute;
    width: 375px;
    height: 330px;
    left: 0px;
    top: 772px;
    
  }

  .text1 {
    position: absolute;
    width: 315px;
    height: 166px;
    left: 31px;
    top: 80px;
    
    font-family: Cormorant Garamond;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120.53%;
    color: #FFFFFF;    
  }
}
