@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 647px;
  background-color: black;
  color: white;
  display: flex;
  position: relative;

  .image1 {
    position: absolute;
    width: 375px;
    height: 647px;
    left: 0px;
    top: 0px;
  }

  .text1 {
    position: absolute;
    width: 206px;
    height: 92px;
    left: 18px;
    top: 576px;
    
    font-family: Bitter;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 110%;
    /* or 22px */
    
    
    color: #DE14FF;    
  }
}
