@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 494px;
  background-color: white;
  color: black;
  position: relative;
  white-space: normal;
  text-align: left;

  .image1 {
    position: absolute;
    width: 494px;
    height: 375px;
    left: -59.5px;
    top: 59.5px;
    transform: rotate(-90deg);
  }
}
