@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 748px;
  overflow: hidden;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .video1 {
    position: relative;
    width: 375px;
    height: 748px;
    left: 0;
    top: 0;
    object-fit: cover;    
  }
}
