@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 3843px;
  background-color: black;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;

  img {
    width: 375px;
  }
}
