@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 2842px;
  background-color: #fff;
  color: #FFFFFF;
  position: relative;

  .image2 {
    position: absolute;
    width: 334px;
    height: 1183px;
    left: 20px;
    top: 76px;
  }
}
