@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 3690px;
  background: linear-gradient(180deg, #5A2DF6 0%, #3B74EC 16.95%, #1CE1D8 30.99%, #69D59B 44.92%, #9CD764 63.09%, #F3C027 83.4%);
  color: black;
  display: flex;
  position: relative;
}
