@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 3165px;
  background: rgba(149, 17, 88, 0.79);
  color: white;
  position: relative;

  .image1 {
    position: absolute;
    width: 960px;
    height: 1493px;
    left: -146px;
    top: -318px;    
  }

  .image2 {
    position: absolute;
    width: 960px;
    height: 1493px;
    left: -146px;
    top: 1582px;    
  }

  .rect1 {
    position: absolute;
    width: 591px;
    height: 845px;
    left: -108px;
    top: 2373px;
    
    background: rgba(0, 0, 0, 0.23);
    border-radius: 295.5px;    
  }

  .text1 {
    position: absolute;
    width: 298px;
    height: 517px;
    left: 27px;
    top: 787px;
    
    font-family: Lacquer;
    font-size: 22px;
    line-height: 150%;
    text-align: right;
    color: #FFFFFF;        
  }

  .text2 {
    position: absolute;
    width: 343px;
    height: 528px;
    left: 16px;
    top: 2512px;
    
    font-family: Lacquer;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
  }
}
