@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');

.wrapper {
  @include magazineWrapper();

  height: 2350px;
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .image1 {
    position: relative;
    width: 375px;
    height: 2850px;
  }

  .image2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 375px;
    height: 623px;
  }

  .image3 {
    position: absolute;
    left: 11px;
    top: 11.16px;
    width: 140px;
    height: 199.88px;    
  }

  .image4 {
    position: absolute;
    left: 0%;
    top: 146.11px;
    width: 171px;
    height: 173.5px;
  }

  h1 {
    position: absolute;
    left: -28.53%;
    right: -50.67%;
    top: 1.5%;
    bottom: 95.12%;
    
    font-family: Writers original;
    font-size: 40px;
    line-height: 120.53%;
    text-align: center;
    
    color: #A700AA;
    text-shadow: -3px 0 white, 0 -3px white, 3px 0 white, 0 3px white;
  }

  h2 {
    position: absolute;
    left: -0.53%;
    right: -19.2%;
    top: 3.8%;
    bottom: 94.54%;
    
    font-family: Writers original;
    font-size: 20px;
    line-height: 120.53%;    
    text-align: center;
    
    color: #DB00FF;
  }

  .text1 {
    position: absolute;
    left: 10.67%;
    right: 9.33%;
    top: 295px;
    bottom: 73.98%;
    
    font-family: Julee;
    font-size: 21px;
    line-height: 120.53%;
    text-align: center;
    color: #9600DC;
  }

  .text2 {
    position: absolute;
    left: 10.67%;
    right: 9.33%;
    top: 638px;
    bottom: 56.8%;
    
    font-family: Julee;
    font-size: 21px;
    line-height: 120.53%;
    text-align: center;
    
    color: #9600DC;
  }

  .text3 {
    position: absolute;
    left: 10.93%;
    right: 10.4%;
    top: 1010px;
    bottom: 51.77%;
    
    font-family: Julee;
    font-size: 21px;
    line-height: 120.53%;
    /* or 25px */
    
    text-align: center;
    
    color: #9600DC;
    
  }

  .text4 {
    position: absolute;
    left: 6.13%;
    right: 6.13%;
    top: 1555px;
    bottom: 4.68%;
    
    font-family: Julee;
    font-size: 21px;
    line-height: 120.53%;
    text-align: center;
    
    color: #9600DC;
  }
}
