@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 1517px;
  color: white;
  position: relative;
  white-space: normal;
  text-align: left;
  background: linear-gradient(90deg, #81DDFA 0%, #7B1DC5 100%);

  .image1 {
    position: absolute;
    width: 962px;
    height: 975px;
    left: 0px;
    top: 0px;
  }

  .image2 {
    position: absolute;
    width: 962px;
    height: 975px;
    left: 0px;
    top: 975px;
  }
}
