@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 975px;
  overflow: hidden;
  background-color: black;
  color: white;
  display: flex;
  position: relative;

  .image1 {
    position: absolute;
    width: 375px;
    height: 975px;
    left: 0px;
    top: 0px;
  }
}
