@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@700&display=swap');

.wrapper {
  @include magazineWrapper();
  height: 647px;
  background-color: black;
  color: white;
  position: relative;
  
  .image1 {
    position: absolute;
    width: 375px;
    height: 647px;
    left: 0px;
    top: 0px;
  }

  .text1 {
    position: absolute;
    width: 121px;
    height: 30px;
    left: 13px;
    top: 614px;

    font-family: Cousine;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 120.53%;
    color: #38C0B0;
  }

  .text2 {
    position: absolute;
    width: 339px;
    height: 110px;
    left: 13px;
    top: 523px;
    
    font-family: Cherry Swash;
    font-style: normal;
    font-weight: bold;
    font-size: 8px;
    line-height: 120.53%;
    color: #0029FF;
  }
}
