@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: #000000;
  height: 1559px;
  position: relative;
  color: white;
  white-space: normal;
  text-align: left;

  .image3 {
    position: absolute;
    width: 829px;
    height: 865px;
    left: -227px;
    top: -796px;
  }

  .image4 {
    position: absolute;
    width: 56px;
    height: 29px;
    left: 263px;
    top: 1478px;
  }
  .text2 {
    position: absolute;
    width: 208px;
    height: 1105px;
    left: 83px;
    top: 97px;
    
    font-family: Asap;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 120.53%;
    /* or 14px */
    
    text-align: center;
    
    color: #FFFFFF;
  }
}
