@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  
  height: 647px;
  background-color: black;
  color: white;
  display: flex;
  position: relative;

  .video1 {
    position: absolute;
    width: 375px;
    height: 667px;
    left: 0px;
    top: -10px;
    object-fit: cover;    
  }
}