@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 3989px;
  color: black;
  display: flex;
  position: relative;

  .image1 {
    position: absolute;
    width: 375px;
    height: 3989px;
    left: 0px;
    top: 0px;
  }

  .image2 {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 175px;
    top: 30px;    
  }

  .image3 {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 175px;
    top: 230px;
  }

  .image4 {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 175px;
    top: 430px;
    
  }

  .image5 {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 175px;
    top: 630px;
        
  }

  .image6 {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 175px;
    top: 830px;
  }

  .image7 {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 175px;
    top: 1030px;
  }

  .text1 {
    position: absolute;
    width: 379px;
    height: 140px;
    left: 18px;
    top: 1250px;
    
    font-family: Electrolize;
    font-size: 60px;
    line-height: 120.53%;   
    color: #FFFFFF;
  }

  h1 {
    position: absolute;
    width: 221px;
    height: 218px;
    left: 17px;
    top: 349px;
    
    font-family: Electrolize;
    font-size: 40px;
    line-height: 120.53%;
    color: #FFFFFF;    
  }

  .image8 {
    position: absolute;
    width: 270px;
    height: 270px;
    left: -83px;
    top: 30px;    
  }

  .text2 {
    position: absolute;
    width: 164px;
    height: 504px;
    left: 23px;
    top: 630px;
    
    font-family: Electrolize;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 120.53%;
    color: #FFFFFF;

    span {
      font-family: Elsie Swash Caps;  
      font-weight: 900;  
    }
  }

  .text3 {
    position: absolute;
    width: 264px;
    height: 238px;
    left: 38px;
    top: 1410px;
    
    font-family: Electrolize;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 120.53%;
    color: #FFFFFF;

    span {
      font-family: Elsie Swash Caps;  
      font-weight: 900;  
    }
  }

  .text4 {
    position: absolute;
    width: 277px;
    height: 238px;
    left: 35px;
    top: 1710px;
    
    font-family: Electrolize;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 120.53%;
    color: #FFFFFF;

    span {
      font-family: Elsie Swash Caps;  
      font-weight: 900;  
    }
  }

  .text5 {
    position: absolute;
    width: 270px;
    height: 238px;
    left: 35px;
    top: 2111px;
    
    font-family: Electrolize;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 120.53%;
    color: #FFFFFF;

    span {
      font-family: Elsie Swash Caps;  
      font-weight: 900;  
    }
  }

  .text6 {
    position: absolute;
    width: 273px;
    height: 238px;
    left: 35px;
    top: 2554px;
    
    font-family: Electrolize;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 120.53%;
    color: #FFFFFF;

    span {
      font-family: Elsie Swash Caps;  
      font-weight: 900;  
    }
  }

  .text7 {
    position: absolute;
    width: 277px;
    height: 238px;
    left: 35px;
    top: 3109px;
    
    font-family: Electrolize;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 120.53%;
    color: #FFFFFF;

    span {
      font-family: Elsie Swash Caps;  
      font-weight: 900;  
    }
  }
}
