@import './styles.module.scss';

@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(-605px); }
}

.wrapper {
  @include magazineWrapper();
  height: 2717px;
  background-color: white;
  color: black;
  position: relative;
  white-space: normal;
}
