@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 3972px;
  background-color: black;
  color: white;
  position: relative;
  white-space: normal;
  text-align: left;
}
