@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.wrapper {
  @include magazineWrapper();
  height: 3398px;
  background-color: #27AFF7;
  color: black;
  position: relative;
  white-space: normal;
}
