@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 6021px;
  background-color: white;
  color: black;
  display: flex;
  position: relative;

  .back {
    position: absolute;
    width: 375px;
    height: 6021px;
    left: 0px;
    top: 0px;    
    background: linear-gradient(180deg, #F1B670 0%, rgba(255, 254, 252, 0.03) 100%);    
  }

  .rect1 {
    position: absolute;
    width: 286px;
    height: 435px;
    left: 44px;
    top: 67px;
    
    background: #FF9595;    
  }

  .image1 {
    position: absolute;
    width: 286px;
    height: 438px;
    left: 44px;
    top: 67px;    
  }

  .rect2 {
    position: absolute;
    width: 286px;
    height: 435px;
    left: 42px;
    top: 558px;
    
    background: #FF6161; 
  }

  .image2 {
    position: absolute;
    width: 286px;
    height: 436px;
    left: 42px;
    top: 557px;    
  }

  .rect3 {
    position: absolute;
    width: 286px;
    height: 435px;
    left: 48px;
    top: 1049px;
    
    background: #C43535;
    border-radius: 143px;
  }

  .image3 {
    position: absolute;
    width: 286px;
    height: 420px;
    left: 40px;
    top: 1059px;
  }

  .rect4 {
    position: absolute;
    width: 286px;
    height: 435px;
    left: 48px;
    top: 1532px;
    
    background: linear-gradient(180deg, #FF5454 0%, rgba(242, 233, 0, 0.51) 52.6%, #0A0704 100%);
  }

  .image4 {
    position: absolute;
    width: 253px;
    height: 253px;
    left: 67px;
    top: 2051px;
  }

  .rect5 {
    position: absolute;
    width: 286px;
    height: 435px;
    left: 42px;
    top: 2041px;
    
    background: radial-gradient(50% 50% at 50% 50%, #FF0000 0%, #9B9C71 100%);
    border-radius: 200px 0px 0px 200px;
  }


  .image5 {
    position: absolute;
    width: 311px;
    height: 435px;
    left: 55px;
    top: 2529px;
        
  }

  .rect6 {
    position: absolute;
    width: 286px;
    height: 435px;
    left: 55px;
    top: 2529px;
    
    // background: radial-gradient(50% 50% at 50% 50%, #FF0000 0%, #FFCCA6 84.81%, #E8BD26 100%);
    background: radial-gradient(50% 50% at 50% 50%, #FF0000 0%, #FFCCA6 84.81%, #E8BD26 100%);

    border-radius: 143px;
  }


  .image6 {
    position: absolute;
    width: 270px;
    height: 435px;
    left: 48px;
    top: 3016px;
  }

  .rect7 {
    position: absolute;
    width: 286px;
    height: 435px;
    left: 48px;
    top: 3016px;
    
    background: #CA7B6C;
  }

  .rect8 {
    position: absolute;
    width: 286px;
    height: 435px;
    left: 48px;
    top: 3499px;
    
    background: #996A6A;
  }

  .rect9 {
    position: absolute;
    width: 286px;
    height: 435px;
    left: 48px;
    top: 3982px;
    
    background: #996A6A;
  }

  .rect10 {
    position: absolute;
    width: 286px;
    height: 435px;
    left: 48px;
    top: 4465px;
    
    background: #D15F15;
  }

  .rect11 {
    position: absolute;
    width: 286px;
    height: 435px;
    left: 44px;
    top: 4964px;
    
    background: #872B2B;
    border-radius: 143px;
  }

  .rect12 {
    position: absolute;
    width: 286px;
    height: 435px;
    left: 44px;
    top: 5463px;
    
    background: #FFCCA6;
  }

  .image7 {
    position: absolute;
    width: 286px;
    height: 430px;
    left: 48px;
    top: 3987px;
  }

  .image8 {
    position: absolute;
    width: 270px;
    height: 419px;
    left: 64px;
    top: 4497px;    
  }

  .text1 {
    position: absolute;
    width: 173px;
    height: 260px;
    left: 96px;
    top: 651px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 120.53%;
    /* or 48px */
    
    
    color: #FFFFFF;        
  }

  .text2 {
    position: absolute;
    width: 276px;
    height: 89px;
    left: 72px;
    top: 1558px;
    
    font-family: Coustard;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 120.53%;
    /* or 36px */
    
    
    color: #FFFFFF;
  }

  .text3 {
    position: absolute;
    width: 276px;
    height: 89px;
    left: 72px;
    top: 1637px;
    
    font-family: Coustard;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 120.53%;
    /* or 36px */
    
    
    color: #FF6060;
    
  }

  .text4 {
    position: absolute;
    width: 224px;
    height: 260px;
    left: 82px;
    top: 3041px;
    
    font-family: Artisual Deco DEMO;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 120.53%;
    /* or 28px */
    
    
    color: #FFFFFF;
  }

  .text5 {
    position: absolute;
    width: 224px;
    height: 260px;
    left: 83px;
    top: 4503px;
    
    font-family: Artisual Deco DEMO;
    font-style: normal;
    font-weight: normal;
    font-size: 39px;
    line-height: 120.53%;
    /* or 47px */
    
    
    color: #FFFFFF;
  }

  .image9 {
    position: absolute;
    width: 238px;
    height: 238px;
    left: 72px;
    top: 1729px;    
  }

  .playButton {
    position: absolute;
    width: 194px;
    height: 194px;
    left: 84px;
    top: 2167px;    
    border-radius: 97px;
    
    background: #000000;

    .imagePlay {
      margin-left: 55px;
      margin-top: 30px;
    }

    .imagePause {
      margin-left: 47px;
      margin-top: 37px;
    }
  }
}
