@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 3748px;
  overflow: hidden;
  background-color: #010103;
  color: white;
  display: flex;
  position: relative;

  .image1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 375px;
    height: 3748px;    
  }


  .rect1 {
    position: absolute;
    width: 311px;
    height: 3449px;
    left: 32px;
    top: 67px;
    
    background: #E335FF;
  }

  .text1 {
    position: absolute;
    width: 187px;
    height: 926px;
    left: 94px;
    top: 133px;
    
    font-family: Cutive;
    font-size: 20px;
    line-height: 120.53%;
    text-align: center;
    
    color: #FFFFFF;    
  }
}
