@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 3215px;
  color: black;
  position: relative;
  overflow: hidden;

  .image1 {
    position: absolute;
    width: 375px;
    height: 3215px;
    left: 0px;
    top: 0px;
    
    object-fit: cover;
  }

  .text3 {
    position: absolute;
    width: 314px;
    height: 84px;
    left: 30px;
    top: 81px;
    
    font-family: Nella Sue Demo;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 120.53%;
    /* or 84px */
    
    
    color: #FFFFFF;
  }
  
  .text4 {
    position: absolute;
    width: 387px;
    height: 384px;
    left: -6px;
    top: 220px;
    
    font-family: Sweetly Broken;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50%;
    /* or 48px */
    
    text-align: center;
    
    color: #FFFFFF;
  }
  
  .text5 {
    position: absolute;
    width: 387px;
    height: 336px;
    left: -6px;
    top: 540px;
    
    font-family: Sweetly Broken;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50%;
    /* or 48px */
    
    text-align: center;
    
    color: #FFFFFF;
  }
  
  .text6 {
    position: absolute;
    width: 387px;
    height: 528px;
    left: -6px;
    top: 850px;
    
    font-family: Sweetly Broken;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50%;
    /* or 48px */
    
    text-align: center;
    
    color: #FFFFFF;
  }
  
  .text7 {
    position: absolute;
    width: 387px;
    height: 303px;
    left: -12px;
    top: 1161px;
    
    font-family: Sweetly Broken;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50%;
    text-align: center;
    
    color: #FFFFFF;
  }

  .text8 {
    position: absolute;
    width: 387px;
    height: 480px;
    left: -12px;
    top: 1488px;
    
    font-family: Sweetly Broken;
    font-size: 40px;
    line-height: 50%;
    /* or 48px */
    
    text-align: center;
    
    color: #FFFFFF;    
  }

  .text9 {
    position: absolute;
    width: 387px;
    height: 288px;
    left: 0px;
    top: 1850px;
    
    font-family: Sweetly Broken;
    font-size: 40px;
    line-height: 50%;
    /* or 48px */
    
    text-align: center;
    
    color: #FFFFFF;
  }

  .text10 {
    position: absolute;
    width: 387px;
    height: 480px;
    left: -2px;
    top: 2250px;
    
    font-family: Sweetly Broken;
    font-size: 40px;
    line-height: 50%;
    /* or 48px */
    
    text-align: center;
    
    color: #FFFFFF;
  }

  .text11 {
    position: absolute;
    width: 387px;
    height: 288px;
    left: -12px;
    top: 2633px;
    
    font-family: Sweetly Broken;
    font-size: 40px;
    line-height: 50%;
    text-align: center;
    
    color: #FFFFFF;
  }
}
