@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.wrapper {
  @include magazineWrapper();
  height: 4899px;
  background-color: white;
  color: black;
  position: relative;
  text-align: left;

  .image1 {
    position: absolute;
    width: 1141px;
    height: 3604px;
    left: -196px;
    top: 0px;    
  }
  .text1 {
    position: absolute;
    width: 322px;
    height: 151px;
    left: 27px;
    top: 48px;
    
    font-family: Artypa;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 65px;
    text-align: center;
    
    color: #001E25;
  }
  .text2 {
    position: absolute;
    width: 398px;
    height: 141px;
    left: 27px;
    top: 168px;

    font-family: The ART;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 92px;

    color: #FF0000;
  }
  .text3 {
    position: absolute;
    width: 177px;
    height: 178px;
    left: 172px;
    top: 271px;
    
    font-family: Arthure;
    font-style: normal;
    font-weight: normal;
    font-size: 140px;
    line-height: 186px;
    
    color: #FF0000;
  }
  .image1 {
    position: absolute;
    width: 930px;
    height: 0px;
    left: -90px;
    top: 449px;
    background-color: #000000;
    transform: rotate(180deg);
    border: 5px solid #000000;
  }
  .image18 {
    position: absolute;
    width: 377px;
    height: 395px;
    left: -2px;
    top: 470px;
  }

  .image21 {
    position: absolute;
    width: 301px;
    height: 513px;
    left: 25px;
    top: 1161px;
  }
  .image5 {
    position: absolute;
    width: 384px;
    height: 512px;
    left: -4px;
    top: 1924px;
  }
  .image22 {
    position: absolute;
    width: 384px;
    height: 400px;
    left: -4px;
    top: 2648px;
  }
  .image23 {
    position: absolute;
    width: 375px;
    height: 476px;
    left: 0px;
    top: 3613px;
  }
  .image24 {
    position: absolute;
    width: auto;
    height: 832px;
    left: 64px;
    top: 4122px;
  }
  .text4 {
    position: absolute;
    width: 451px;
    height: 91px;
    left: 25px;
    top: 894px;
    
    font-family: Baumans;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 120.53%;
    /* or 60px */
    
    
    color: #51A8D5;
  }
  .text6 {
    position: absolute;
    width: 611px;
    height: 91px;
    left: 25px;
    top: 961px;

    font-family: Baumans;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 120.53%;
    /* or 60px */
    
    
    color: #00A3F8;
  }
  .text5 {
    position: absolute;
    width: 147px;
    height: 27px;
    left: 25px;
    top: 993px;
    
    font-family: Averia Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120.53%;
    /* or 24px */
    
    
    color: #000000;
  }
  .image19 {
    position: absolute;
    width: 187px;
    height: 89px;
    left: 157px;
    top: 1020px;
  }
  .image2 {
    position: absolute;
    width: 1070px;
    height: 0px;
    left: -176.5px;
    top: 1384.5px;
    background-color: #000000;
    transform: rotate(90deg);
    border: 5px solid #000000;
  }
  .image3 {
    position: absolute;
    width: 930px;
    height: 0px;
    left: -90px;
    top: 1126px;
    background-color: #000000;
    border: 5px solid #000000;
    transform: rotate(180deg);
  }
  .image4 {
    position: absolute;
    width: 124px;
    height: 790px;
    left: 287px;
    top: 1135px;
    
    background: rgba(244, 21, 222, 0.53);
  }
  .image27 {
    position: absolute;
    width: 330px;
    height: 78px;
    left: 38px;
    top: 1686px
  }
  .text7 {
    position: absolute;
    width: 235px;
    height: 120px;
    left: 28px;
    top: 1769px;
    
    font-family: Miltonian;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 120.53%;
    /* or 60px */
    
    
    color: #000000;
  }
  .text9 {
    position: absolute;
    width: 321px;
    height: 48px;
    left: 12px;
    top: 2464px;
    
    font-family: Bodoni Moda;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 120.53%;
    /* or 48px */
    
    text-decoration-line: underline;

    color: #000000;
  }
  .image25 {
    position: absolute;
    width: 47px;
    height: 156px;
    left: 317px;
    top: 2464px;
  }
  .image28 {
    position: absolute;
    width: 47px;
    height: 156px;
    left: 66.5px;
    top: 2471.5px;
    transform: rotate(-90deg);
  }
  .image29 {
    position: absolute;
    width: 84px;
    height: 47px;
    left: 201px;
    top: 2526px;
  }
  .text8 {
    position: absolute;
    width: 147px;
    height: 18px;
    left: 9px;
    top: 2587px;
    
    font-family: Bayon;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120.53%;
    /* or 24px */
    
    text-align: right;
    
    color: #008425;
  }
  .text11 {
    position: absolute;
    width: 300px;
    height: 84px;
    left: 16px;
    top: 3057px;
    
    font-family: Heiti SC;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 120.53%;
    /* or 42px */
    
    text-align: right;
    
    color: #DE0000;
  }
  .image26 {
    position: absolute;
    width: 264px;
    height: 72px;
    left: 97px;
    top: 3091px;
  }
  .image30 {
    position: absolute;
    width: 260px;
    height: 67px;
    left: 107px;
    top: 3138px;
  }
  .text12 {
    position: absolute;
    width: 247px;
    height: 30px;
    left: 13px;
    top: 3201px;
    
    font-family: Audiowide;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 120.53%;
    /* or 30px */
    
    text-align: right;
    
    color: #881010;
  }
  .text13 {
    position: absolute;
    width: 147px;
    height: 27px;
    left: 15px;
    top: 3231px;
    
    font-family: Averia Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120.53%;
    /* or 24px */
    
    
    color: #FFC148;
  }
  .image15 {
    position: absolute;
    width: 598px;
    height: 174px;
    left: -4px;
    top: 3264px;
    
    background: rgba(82, 30, 83, 0.53);
  }
  .image13 {
    position: absolute;
    width: 114px;
    height: 174px;
    left: 301px;
    top: 3264px;
    
    background: #000000;
  }
  .image14 {
    position: absolute;
    width: 114px;
    height: 174px;
    left: 134px;
    top: 3264px;
    
    background: #000000;
  }
  .image9 {
    position: absolute;
    width: 930px;
    height: 0px;
    left: -90px;
    top: 3438px;
    transform: rotate(-180deg);
    background-color: #000000;
    border: 5px solid #000000;
  }
  .text14 {
    position: absolute;
    width: 423px;
    height: 90px;
    left: 21px;
    top: 3473px;

    font-family: Flamenco;
    font-style: normal;
    font-weight: 300;
    font-size: 55px;
    line-height: 120.53%;
    /* or 66px */


    color: #80466C;
    
    text-shadow: rgb(238, 179, 232) 1px 0px 0px, rgb(238, 179, 232) 0.540302px 0.841471px 0px, rgb(238, 179, 232) -0.416147px 0.909297px 0px, rgb(238, 179, 232) -0.989992px 0.14112px 0px, rgb(238, 179, 232) -0.653644px -0.756802px 0px, rgb(238, 179, 232) 0.283662px -0.958924px 0px, rgb(238, 179, 232) 0.96017px -0.279415px 0px;
  }
  .text15 {
    position: absolute;
    width: 423px;
    height: 90px;
    left: 21px;
    top: 3541px;
    
    font-family: Flamenco;
    font-style: normal;
    font-weight: 300;
    font-size: 55px;
    line-height: 120.53%;
    /* or 66px */
    
    
    color: #FF83D5;
    
    text-shadow: rgb(238, 179, 232) 1px 0px 0px, rgb(238, 179, 232) 0.540302px 0.841471px 0px, rgb(238, 179, 232) -0.416147px 0.909297px 0px, rgb(238, 179, 232) -0.989992px 0.14112px 0px, rgb(238, 179, 232) -0.653644px -0.756802px 0px, rgb(238, 179, 232) 0.283662px -0.958924px 0px, rgb(238, 179, 232) 0.96017px -0.279415px 0px;
  }
  .text16 {
    position: absolute;
    width: 110px;
    height: 52px;
    left: 248px;
    top: 3496px;

    font-family: Averia Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120.53%;
    /* or 24px */

    text-align: right;

    color: #000000;
  }
  .image16 {
    position: absolute;
    width: 348px;
    height: 810px;
    left: 27px;
    top: 4089px;
    
    background: rgba(252, 109, 255, 0.53);
  }
  .image6 {
    position: absolute;
    width: 28px;
    height: 810px;
    left: -1px;
    top: 4089px;
    
    background: rgba(148, 28, 221, 0.53);
  }
  .image7 {
    position: absolute;
    width: 810px;
    height: 0px;
    left: -378px;
    top: 4488px;
    background-color: #000000;
    border: 5px solid #000000;
    transform: rotate(-90deg);
  }
}
