@import './styles.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.wrapper {
  @include magazineWrapper();
  height: 3659px;
  background-color: black;
  position: relative;
  white-space: normal;
  text-align: left;
}
