@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  height: 3058px;
  background-color: white;
  color: black;
  position: relative;

  .image9 {
    position: absolute;
    width: 400px;
    height: 3058px;
    left: -25px;
    top: 0px;
    overflow: hidden;
    .image8 {
      position: absolute;
      height: 100%;
      left: -1300px;
    }
  }
  .image10 {
    position: absolute;
    width: 60px;
    height: 2928px;
    left: 17px;
    top: 0px;
    
    background: #22996E;
  }
  .text16 {
    position: absolute;
    width: 366px;
    height: 122px;
    left: 47px;
    top: 66px;
    
    font-family: Pathway Gothic One;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 120.53%;
    /* or 84px */
    
    display: flex;
    align-items: center;
    
    color: #7987DA;
    text-shadow: rgb(255, 255, 255) 1px 0px 0px, rgb(255, 255, 255) 0.540302px 0.841471px 0px, rgb(255, 255, 255) -0.416147px 0.909297px 0px, rgb(255, 255, 255) -0.989992px 0.14112px 0px, rgb(255, 255, 255) -0.653644px -0.756802px 0px, rgb(255, 255, 255) 0.283662px -0.958924px 0px, rgb(255, 255, 255) 0.96017px -0.279415px 0px;
  }
  .text17 {
    position: absolute;
    width: 227.08px;
    height: 72px;
    left: 156.45px;
    top: 165.16px;
    
    font-family: Pathway Gothic One;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 120.53%;
    /* or 36px */
    
    display: flex;
    align-items: center;
    
    color: #000000;
    transform: rotate(15deg);
  }
  .text18 {
    position: absolute;
    width: 227.08px;
    height: 72px;
    left: 138.45px;
    top: 234.16px;
    
    font-family: Pathway Gothic One;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 120.53%;
    /* or 36px */
    
    display: flex;
    align-items: center;
    
    color: #C8C8C8;
    transform: rotate(15deg);
  }
  .image12 {
    position: absolute;
    width: 375px;
    height: 570px;
    left: 0px;
    top: 352px;
    
    background: #7987DA;
    border: 10px solid #22996E;
    box-sizing: border-box;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.8);
  }
  .image13 {
    position: absolute;
    width: 375px;
    height: 426px;
    left: 0px;
    top: 1156px;
    
    background: #7987DA;
    border: 10px solid #22996E;
    box-sizing: border-box;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.8);
  }
  .image14 {
    position: absolute;
    width: 375px;
    height: 426px;
    left: 0px;
    top: 1750px;
    
    background: #7987DA;
    border: 10px solid #22996E;
    box-sizing: border-box;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.8);
  }
  .image15 {
    position: absolute;
    width: 375px;
    height: 438px;
    left: 0px;
    top: 2437px;
    
    background: #7987DA;
    border: 10px solid #22996E;
    box-sizing: border-box;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.8);
  }
  .text14 {
    position: absolute;
    width: 320px;
    height: 90px;
    left: 27px;
    top: 376px;
    
    font-family: Patrick Hand SC;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 120.53%;
    /* or 18px */
    
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
  }
  .text15 {
    position: absolute;
    width: 326px;
    height: 432px;
    left: 27px;
    top: 470px;
    
    font-family: Pathway Gothic One;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 120.53%;
    /* or 18px */
    
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
  }
  .text20 {
    position: absolute;
    width: 320px;
    height: 90px;
    left: 27px;
    top: 1180px;
    
    font-family: Patrick Hand SC;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 120.53%;
    /* or 18px */
    
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
  }
  .text21 {
    position: absolute;
    width: 326px;
    height: 252px;
    left: 27px;
    top: 1282px;
    
    font-family: Pathway Gothic One;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 120.53%;
    /* or 18px */
    
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
  }
  .text22 {
    position: absolute;
    width: 326px;
    height: 126px;
    left: 27px;
    top: 1775px;
    
    font-family: Patrick Hand SC;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 120.53%;
    /* or 18px */
    
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
  }
  .text23 {
    position: absolute;
    width: 326px;
    height: 270px;
    left: 27px;
    top: 1886px;
    
    font-family: Pathway Gothic One;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 120.53%;
    /* or 18px */
    
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
  }
  .text24 {
    position: absolute;
    width: 326px;
    height: 108px;
    left: 24px;
    top: 2470px;
    
    font-family: Patrick Hand SC;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 120.53%;
    /* or 18px */
    
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
  }
  .text25 {
    position: absolute;
    width: 326px;
    height: 270px;
    left: 24px;
    top: 2572px;
    
    font-family: Pathway Gothic One;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 120.53%;
    /* or 18px */
    
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
  }
  .image16 {
    position: absolute;
    width: 149px;
    height: 149px;
    left: 125.27px;
    top: 954.27px;
    transform: rotate(60deg);
  }
  .image17 {
    position: absolute;
    width: 137.88px;
    height: 136.18px;
    left: 126.15px;
    top: 1600px;
    transform: matrix(0, 1, 1, 0, 0, 0);
  }
  .image18 {
    position: absolute;
    width: 201px;
    height: 199px;
    left: 86.75px;
    top: 2205px;
    
    transform: matrix(-0.98, -0.17, -0.17, 0.98, 0, 0);
  }
}
