@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  height: 975px;
  overflow: hidden;
  background-color: black;
  color: white;
  display: flex;
  position: relative;

  .image1 {
    position: absolute;
    width: 375px;
    height: 975px;
    left: 0px;
    top: 0px;
  }

  .image2 {
    position: absolute;
    width: 369px;
    height: 86px;
    left: 16px;
    top: 10px;    
  }

  .text1 {
    position: absolute;
    width: 756px;
    height: 44px;
    left: 16px;
    top: 105px;
    
    font-family: Julietta Messie Demo;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 110%;
    /* identical to box height, or 44px */
    
    
    color: #0060F1;    
  }

  .text2 {
    position: absolute;
    width: 226px;
    height: 70px;
    left: 126px;
    top: 785px;
    
    font-family: Blacker Display;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 110%;
    text-align: right;
    
    color: #FFFFFF;
    
    text-shadow: -1px 0 black, 0 -1px black, 1px 0 black, 0 1px black;
  }

  .text3 {
    position: absolute;
    width: 258px;
    height: 92px;
    left: 94px;
    top: 861px;
    
    font-family: Bitter;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 110%;
    /* or 17px */
    
    text-align: right;
    
    color: #004BDC;
    
  }
}
