@import '../../../assets/scss/helpers/variables.scss';

.wrapper {
  margin-bottom: 80px;
}

.title {
  font-weight: 800;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 40px;
}

.chartWrapper {
  background-color: $lightGray2;
  padding: 35px 22px 22px 35px;
}

.chartBottomText {
  font-size: 10px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  color: $darkGray3;
}
