@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: white;
  color: black;
  display: flex;
  position: relative;
  
  .background1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 960px;
    height: 1497px;
  }
  
  .background2 {
    position: absolute;
    left: 960px;
    top: 0;
    width: 960px;
    height: 1497px;
  }

  .text1 {
    position: absolute;
    width: 933px;
    height: 135px;
    left: -102px;
    top: 1136px;

    font-family: Inter;
    font-size: 80px;
    line-height: 148px;
    text-align: center;

    color: #00FF47;

    -webkit-text-stroke: 1px #FF0000;
  }

  .text2 {
    position: absolute;
    width: 933px;
    height: 135px;
    left: 13px;
    top: 1249px;
    
    font-family: Faster One;
    font-size: 100px;
    line-height: 106px;
    text-align: center;
    
    color: #FFE600;
    -webkit-text-stroke: 1px #FF0000;

    transition: 0.3s all;
    &:hover {
      transform: scale(0.9);
      transition: 0.3s all;
    }
  }

  .text3 {
    position: absolute;
    width: 933px;
    height: 135px;
    left: 13px;
    top: 1362px;
    
    font-family: Faster One;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 106px;
    text-align: center;
    
    color: #FFE600;
    -webkit-text-stroke: 1px #FF0000;
    transition: 0.3s all;
    &:hover {
      transform: scale(0.9);
      transition: 0.3s all;
    }
  }

  .image1 {
    position: absolute;
    width: 109px;
    height: 128px;
    left: 744px;
    top: 1121px;    
  }

  .playButton {
    position: absolute;
    width: 210px;
    height: 210px;
    left: 724px;
    top: 18px;
    border-radius: 105px;
    
    background: #000000;

    .imagePlay {
      margin-left: 60px;
      margin-top: 37px;
    }

    .imagePause {
      margin-left: 58px;
      margin-top: 38px;
    }

    transition: transform .2s;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  .image2 {
    position: absolute;
    width: 96px;
    height: 96px;
    left: 1021px;
    top: 237px;    
  }

  .image3 {
    position: absolute;
    width: 96px;
    height: 96px;
    left: 1675px;
    top: 50px;
  }

  .image4 {
    position: absolute;
    width: 96px;
    height: 96px;
    left: 1021px;
    top: 665px;
  }

  .image5 {
    position: absolute;
    width: 96px;
    height: 96px;
    left: 1021px;
    top: 1019px;
  }

  .image6 {
    position: absolute;
    width: 96px;
    height: 96px;
    left: 1021px;
    top: 1320px;
  }

  a {
    img {
      transition: 0.3s all;
      &:hover {
        transition: 0.3s all;
        transform: scale(1.1);
      }
    }
  }

  .text4 {
    position: absolute;
    width: 547px;
    height: 169px;
    left: 1021px;
    top: 45px;
    
    font-family: Archie Websters;
    font-size: 130px;
    line-height: 110%;
    color: #FFFFFF;
  }

  .text5 {
    position: absolute;
    width: 700px;
    height: 66px;
    left: 983px;
    top: 487px;
    
    font-family: Archie Websters;
    font-size: 100px;
    line-height: 110%;
    color: #FFFFFF;
  }

  .text6 {
    position: absolute;
    width: 700px;
    height: 121px;
    left: 1007px;
    top: 866px;
    
    font-family: Archie Websters;
    font-size: 100px;
    line-height: 110%;
    color: #FFFFFF;
  }

  .text7 {
    position: absolute;
    width: 700px;
    height: 52px;
    left: 983px;
    top: 1183px;
    
    font-family: Archie Websters;
    font-size: 100px;
    line-height: 110%;
    color: #FFFFFF;
  }

  .text8 {
    position: absolute;
    width: 700px;
    height: 52px;
    left: 1517px;
    top: 1183px;
    
    font-family: Archie Websters;
    font-size: 100px;
    line-height: 110%;
    color: #FFFFFF;
  }

  .text9 {
    position: absolute;
    width: 23px;
    height: 630px;
    left: 1592px;
    top: 46px;
    
    font-family: Archie Websters;
    font-size: 80px;
    line-height: 110%;
    word-break: break-all;
    color: #FFFFFF;
  }

  .text10 {
    position: absolute;
    width: 383px;
    height: 113px;
    left: 1141px;
    top: 241px;
    
    font-family: Mada;
    font-size: 15px;
    line-height: 110%;
    color: #FFFFFF;

    span {
      font-family: Mad Galaxy Demo;
      font-size: 17px;      
    }
  }

  .text11 {
    position: absolute;
    width: 500px;
    height: 111px;
    left: 1021px;
    top: 354px;
    
    font-family: Mada;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 110%;
    color: #FFFFFF;
  }

  .text12 {
    position: absolute;
    width: 83px;
    height: 113px;
    left: 1781px;
    top: 64px;
    
    font-family: Mada;
    font-size: 15px;
    line-height: 110%;
    color: #FFFFFF;
    word-wrap: break-word;

    span {
      font-family: Mad Galaxy Demo;
      font-size: 17px;      
    }
  }

  .text13 {
    position: absolute;
    width: 182px;
    height: 619px;
    left: 1675px;
    top: 156px;
    
    font-family: Mada;
    font-size: 15px;
    line-height: 110%;
    color: #FFFFFF;
  }

  .text14 {
    position: absolute;
    width: 423px;
    height: 211px;
    left: 1145px;
    top: 660px;
    
    font-family: Mada;
    font-size: 15px;
    line-height: 110%;
    color: #FFFFFF;
    word-wrap: break-word;

    span {
      font-family: Mad Galaxy Demo;
      font-size: 17px;      
    }
  }

  .text15 {
    position: absolute;
    width: 708px;
    height: 211px;
    left: 1168px;
    top: 1019px;
    
    font-family: Mada;
    font-size: 15px;
    line-height: 110%;
    color: #FFFFFF;
    word-wrap: break-word;

    span {
      font-family: Mad Galaxy Demo;
      font-size: 17px;      
    }
  }

  .text16 {
    position: absolute;
    width: 710px;
    height: 211px;
    left: 1168px;
    top: 1314px;
    
    font-family: Mada;
    font-size: 15px;
    line-height: 110%;
    color: #FFFFFF;
    word-wrap: break-word;

    span {
      font-family: Mad Galaxy Demo;
      font-size: 17px;      
    }
  }

  .rect1 {
    position: absolute;
    width: 368px;
    height: 1115px;
    left: 592px;
    top: 0px;
    
    background: #000000;    
  }

  .text17 {
    position: absolute;
    width: 304px;
    height: 1002px;
    left: 624px;
    top: 14px;
    
    font-family: Times;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 110%;
    /* or 17px */
    
    text-align: center;
    
    color: #FF7A00;

    a {
      color: #FF7A00;
      text-decoration: underline;
    }
  }
}