@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: black;
  color: white;
  display: flex;
  position: relative;
    
  .image1 {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 0px;
    top: 0px;
  }
  
  .image2 {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 960px;
    top: 0px;    
  }

  .video1 {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 0px;
    top: 0px;
  }
  
  .video2 {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 960px;
    top: 0px;    
  }

  .rect1 {
    position: absolute;
    width: 606px;
    height: 1042px;
    left: 177px;
    top: 226px;
    
    background: #003C73;    
  }

  .rect2 {
    position: absolute;
    width: 606px;
    height: 727px;
    left: 1137px;
    top: 226px;
    
    background: #0068C8;
  }

  .text1 {
    position: absolute;
    width: 525px;
    height: 921px;
    left: 217px;
    top: 264px;
    
    font-family: Jockey One;
    font-size: 19px;
    line-height: 150%;
    text-align: center;
    color: #0286FF;
  }

  .text2 {
    position: absolute;
    width: 525px;
    height: 657px;
    left: 1177px;
    top: 267px;
    
    font-family: Jockey One;
    font-size: 19px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
  }

  .circle1 {
    position: absolute;
    width: 203px;
    height: 203px;
    left: 1291px;
    top: 1161px;
    
    background: #6534FF;
    border: 4px solid #FCCDD3;
    border-radius: 50%;    
  }

  .circleText1 {
    position: absolute;
    width: 167.74px;
    height: 119px;
    left: 1286px;
    top: 1230.51px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 46px;
    text-align: center;
    
    color: #FCCDD3;
    -webkit-text-stroke:  1px #FCCDD3;
    transform-origin: 0 0;
    transform: rotate(-20deg);    
  }

  .circleText2 {
    position: absolute;
    width: 152px;
    height: 119px;
    left: 1333px;
    top: 1291px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
  }

  .poapImage {
    position: absolute;
    width: 154.85px;
    height: 154.85px;
    left: 1409px;
    top: 1195.96px;
    
    transform-origin: 0 0;
    transform: rotate(-20deg);

    transition: all 0.3s;
    &:hover {
      transition: all 0.3s;
      transform: rotate(-20deg) scale(1.1);
    }
  }

  // a {
  //   transition: all 0.3s;
  //   &:hover {
  //     transition: all 0.3s;
  //     transform: scale(1.1);
  //   }
  // }
}