@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: #FFFFFF;
  color: black;
  display: flex;
  position: relative;

  .video1 {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 0px;
    top: 0px;
    object-fit: cover;    
  }
}