@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background: #FFFFFF;

  .image1 {
    position: absolute;
    width: 1920px;
    height: 1497px;
    left: 0;
    top: 0;    
  }
}