@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: #FFA800;

  a {
    div {
      transition: transform .2s;
      &:hover > div {
        transform: scale(1.1);
      }      
    }
  }

  .image1 {
    position: absolute;
    width: 1920px;
    height: 1497px;
    left: 0;
    top: 0;
  }

  .image2 {
    position: absolute;
    width: 412px;
    height: 412px;
    left: -88px;
    top: -74px;
  }

  .image3 {
    position: absolute;
    width: 419px;
    height: 279px;
    left: -19px;
    top: 873px;
  }

  .image4 {
    position: absolute;
    width: 482px;
    height: 322px;
    left: 0px;
    top: 1175px;
  }

  .image5 {
    position: absolute;
    width: 365px;
    height: 244px;
    left: 217px;
    top: 1011px;
  }

  .image6 {
    position: absolute;
    width: 425px;
    height: 376px;
    left: 582px;
    top: 1011px;
  }

  .image7 {
    position: absolute;
    width: 233px;
    height: 270px;
    left: 1558px;
    top: 21px;    
  }

  .image8 {
    position: absolute;
    width: 226px;
    height: 377px;
    left: 1369px;
    top: 238px;
  }

  .image21 {
    position: absolute;
    width: 321px;
    height: 301px;
    left: 463px;
    top: 1196px;
  }

  .image9 {
    position: absolute;
    width: 568px;
    height: 273px;
    left: 973px;
    top: -16px;
  }

  .image10 {
    position: absolute;
    width: 312px;
    height: 312px;
    left: 1575px;
    top: 332px;    
  }

  .image11 {
    position: absolute;
    width: 516px;
    height: 263px;
    left: 1404px;
    top: 769px;    
  }

  .text1 {
    position: absolute;
    width: 393.41px;
    height: 132.89px;
    left: 75.74px;
    top: 41.32px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 100%;
    
    color: #FF0000;
    
    text-shadow: -1px 0 black, 0 -1px black, 1px 0 black, 0 1px black;
    transform: matrix(1, -0.18, -0.02, 0.99, 0, 0);
  }

  .text2 {
    position: absolute;
    width: 393.41px;
    height: 132.89px;
    left: 81.04px;
    top: 43.15px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 100%;
    
    color: #FFFFFF;
    
    text-shadow: -1px 0 black, 0 -1px black, 1px 0 black, 0 1px black;
    transform: matrix(1, -0.18, -0.02, 0.99, 0, 0);
  }

  .text3 {
    position: absolute;
    width: 434px;
    height: 221px;
    left: 480px;
    top: 45px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-align: right;
    color: #FFFFFF;    
  }

  .text4 {
    position: absolute;
    width: 478px;
    height: 76px;
    left: -48px;
    top: 175px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    
    text-align: right;
    color: #FFFFFF;
    -webkit-text-stroke: 5px #FF0000;
  }

  .text5 {
    position: absolute;
    width: 478px;
    height: 76px;
    left: -48px;
    top: 253px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    
    text-align: right;
    color: #FFFFFF;
    -webkit-text-stroke: 5px #FF0000;
  }

  .text6 {
    position: absolute;
    width: 428px;
    height: 218px;
    left: 480px;
    top: 202px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 110%;
    text-align: right;
    
    color: #FF0000;
    span {
      color: #374928;
    }
  }

  .text7 {
    position: absolute;
    width: 836px;
    height: 160px;
    left: 72px;
    top: 601px;
    
    font-family: PT Sans Caption;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
  }

  .text8 {
    position: absolute;
    width: 434px;
    height: 76px;
    left: 501px;
    top: 525px;
    
    font-family: Post No Bills Colombo;
    font-weight: bold;
    font-size: 60px;
    line-height: 100%;
    color: #FFFFFF;
  }

  .text81 {
    position: absolute;
    width: 434px;
    height: 76px;
    left: 99px;
    top: 753px;
    
    font-family: Post No Bills Colombo;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 100%;
    color: #FF0000;    
  }

  .text82 {
    position: absolute;
    width: 434px;
    height: 76px;
    left: 99px;
    top: 807px;
    
    font-family: Post No Bills Colombo;
    font-weight: bold;
    font-size: 60px;
    line-height: 100%;
    color: #FF0000;    
  }

  .text83 {
    position: absolute;
    width: 434px;
    height: 76px;
    left: 501px;
    top: 753px;
    
    font-family: Post No Bills Colombo;
    font-weight: bold;
    font-size: 60px;
    line-height: 100%;
    color: #4D9A00;
  }

  .text84 {
    position: absolute;
    width: 434px;
    height: 76px;
    left: 501px;
    top: 807px;
    
    font-family: Post No Bills Colombo;
    font-weight: bold;
    font-size: 60px;
    line-height: 100%;
    color: #FFFFFF;
  }

  .text9 {
    position: absolute;
    width: 341px;
    height: 60px;
    left: 608px;
    top: 889px;
    
    font-family: Post No Bills Colombo;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
  }

  .playButton {
    position: absolute;
    width: 87px;
    height: 85.64px;
    left: 1403px;
    top: 120px;
    cursor: pointer;
  }

  .circle {
    position: absolute;
    width: 630px;
    height: 632px;
    left: 1295px;
    top: 730px;
    border-radius: 50%;
    
    background: rgba(0, 0, 0, 0.44);
  }

  .text10 {
    position: absolute;
    width: 434px;
    height: 221px;
    left: 1025px;
    top: 1483px;
    
    font-family: Poppins;
    font-weight: 900;
    font-size: 60px;
    line-height: 100%;
    color: #9A6600;
    
    transform: rotate(-90deg);
    transform-origin: 0 0;
  }

  .text11 {
    position: absolute;
    width: 434px;
    height: 221px;
    left: 1145px;
    top: 1483px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 100%;
    color: #9A6600;
    
    transform: rotate(-90deg);
    transform-origin: 0 0;
  }

  .text12 {
    position: absolute;
    width: 393.41px;
    height: 132.89px;
    left: 1499.74px;
    top: 1334.32px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 100%;
    color: #FF0000;
    text-shadow: -1px 0 black, 0 -1px black, 1px 0 black, 0 1px black;
    transform: matrix(1, -0.18, -0.02, 0.99, 0, 0);
  }

  .text13 {
    position: absolute;
    width: 393.41px;
    height: 132.89px;
    left: 1505.04px;
    top: 1336.15px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 100%;
    color: #FFFFFF;
    text-shadow: -1px 0 black, 0 -1px black, 1px 0 black, 0 1px black;
    transform: matrix(1, -0.18, -0.02, 0.99, 0, 0);
  }

  .text14 {
    position: absolute;
    width: 340px;
    height: 80px;
    left: 1026px;
    top: 238px;
    
    font-family: PT Sans Caption;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
  }

  .text15 {
    position: absolute;
    width: 283px;
    height: 200px;
    left: 1104px;
    top: 663px;
    
    font-family: Digitalino;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 100%;
    color: #FFDE36;
    -webkit-text-stroke: 3px black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .text16 {
    position: absolute;
    width: 454px;
    height: 240px;
    left: 1402px;
    top: 1049px;
    
    font-family: PT Sans Caption;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
  }

  .text17 {
    position: absolute;
    width: 478px;
    height: 76px;
    left: 1402px;
    top: 663px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-align: right;
    color: #FFFFFF;
    
    -webkit-text-stroke: 5px#FF0000;
  }

  .textCatac1 {
    position: absolute;
    width: 340px;
    height: 50px;
    left: 1026px;
    top: 329px;
    
    font-family: PT Sans Caption;
    font-weight: bold;
    font-size: 50px;
    line-height: 100%;
    color: #AA0000;    
  }

  .textCatac1 {
    position: absolute;
    width: 340px;
    height: 50px;
    left: 1026px;
    top: 329px;
    
    font-family: PT Sans Caption;
    font-weight: bold;
    font-size: 50px;
    line-height: 100%;
    color: #AA0000;    
  }

  .textCatac2 {
    position: absolute;
    width: 340px;
    height: 50px;
    left: 1026px;
    top: 386px;
    
    font-family: PT Sans Caption;
    font-weight: bold;
    font-size: 50px;
    line-height: 100%;
    color: #AA0000;    
  }

  .textCatac3 {
    position: absolute;
    width: 340px;
    height: 50px;
    left: 1026px;
    top: 447px;
    
    font-family: PT Sans Caption;
    font-weight: bold;
    font-size: 50px;
    line-height: 100%;
    color: #AA0000;    
  }

  .textCatac4 {
    position: absolute;
    width: 340px;
    height: 50px;
    left: 1026px;
    top: 508px;
    
    font-family: PT Sans Caption;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 100%;
    /* identical to box height, or 50px */
    
    
    color: #AA0000;
  }

  .textCatac5 {
    position: absolute;
    width: 340px;
    height: 50px;
    left: 1026px;
    top: 565px;
    
    font-family: PT Sans Caption;
    font-weight: bold;
    font-size: 50px;
    line-height: 100%;
    color: #AA0000;
  }

  .textCatac6 {
    position: absolute;
    width: 340px;
    height: 50px;
    left: 1026px;
    top: 905px;
    
    font-family: PT Sans Caption;
    font-weight: bold;
    font-size: 50px;
    line-height: 100%;
    color: #AA0000;
  }

  .textCatac7 {
    position: absolute;
    width: 340px;
    height: 50px;
    left: 1026px;
    top: 962px;
    
    font-family: PT Sans Caption;
    font-weight: bold;
    font-size: 50px;
    line-height: 100%;
    color: #AA0000;
  }

  .textCatac8 {
    position: absolute;
    width: 340px;
    height: 50px;
    left: 1026px;
    top: 1019px;
    
    font-family: PT Sans Caption;
    font-weight: bold;
    font-size: 50px;
    line-height: 100%;
    color: #AA0000;
  }

  .textCatac9 {
    position: absolute;
    width: 340px;
    height: 50px;
    left: 1828px;
    top: 291px;
    
    font-family: PT Sans Caption;
    font-weight: bold;
    font-size: 50px;
    line-height: 100%;
    color: #AA0000;
    transform: rotate(-90deg);
    transform-origin: 0 0;    
  }

  .video1 {
    position: absolute;
    width: 453px;
    height: 244px;
    left: 0px;
    top: 338px;    
  }
}