@import '../../assets/scss/helpers/grid.scss';

.heroSection {
  position: relative;
  background-color: black;
  margin-top: 76px;
  overflow: hidden;

  .back {
    position: relative;
    width: 100%;
    top: 0;
    min-height: 200px;
  }

  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
  }
}
