@import "../../assets/scss/helpers/helpers.scss";

.wrapper {
  background-origin: border-box;
}

.itemLarge {
  max-width: 618px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.largeImgWrapper {
  width: 100%;
  height: auto;
}

.itemLargeImg {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;

  img {
    width: inherit;
  }
}

.itemLargeImgZoom {
  border: none;
}

.itemSmallWrapper {
  padding-top: 12px;
  margin-top: -12px;
  margin-left: -12px;
  display: flex;
  flex-wrap: wrap;
}

.itemSmall {
  @include reset-button();
  width: 88px;
  height: 120px;
  margin-top: 12px;
  margin-left: 12px;
  padding: 8 10px;
}

.itemSmallImg {
  max-width: 100%;
  max-height: 100%;
  // padding: 8px 10px;
  padding: 8px 0;
  object-fit: contain;
}
